Repository Azure/autorest.java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @weidongxu-microsoft, @srnagar, @jsquire, @ronniegeraghty, @haolingdong-msft, @XiaofeiCao, @JianpingChen, @anuchandy

tsp, support encode for duration (#2131)
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/CodeModelCustomConstructor.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/DurationSchema.java
  javagen/src/main/java/com/azure/autorest/mapper/PrimitiveMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ProxyMethodMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/PrimitiveType.java
  javagen/src/main/java/com/azure/autorest/util/ModelTestCaseUtil.java
  typespec-extension/changelog.md
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/common/schemas/time.ts
  typespec-extension/src/utils.ts
  typespec-tests/src/main/java/com/cadl/builtin/BuiltinAsyncClient.java
  typespec-tests/src/main/java/com/cadl/builtin/BuiltinClient.java
  typespec-tests/src/main/java/com/cadl/builtin/implementation/BuiltinClientImpl.java
  typespec-tests/src/main/java/com/cadl/builtin/models/Builtin.java
  typespec-tests/src/main/java/com/cadl/builtin/models/Encoded.java
  typespec-tests/src/test/java/com/cadl/builtin/EncodeTests.java
  typespec-tests/tsp/builtin.tsp
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

use range deps on typespec libs
  typespec-extension/package.json
  typespec-tests/bump_deps.ts
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

use range deps on typespec libs (#2136)
  typespec-extension/package.json
  typespec-tests/bump_deps.ts
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

generate client method invocation
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/ExampleParser.java
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/MockTestParser.java
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/ResourceParser.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/fluentmodel/ResourceLocalVariables.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/fluentmodel/ResourceOperation.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/fluentmodel/create/ResourceCreate.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/fluentmodel/delete/ResourceDelete.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/fluentmodel/get/ResourceRefresh.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/fluentmodel/method/CollectionMethodOperationByIdTemplate.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/fluentmodel/method/FluentConstructorByInner.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/fluentmodel/update/ResourceUpdate.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/examplemodel/MethodParameter.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodSampleTemplate.java
  javagen/src/main/java/com/azure/autorest/template/example/ClientInitializationExampleWriter.java
  javagen/src/main/java/com/azure/autorest/template/example/ClientMethodExampleWriter.java
  javagen/src/main/java/com/azure/autorest/util/MethodUtil.java
  javagen/src/main/java/com/azure/autorest/util/ModelExampleUtil.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

update method invocation
  javagen/src/main/java/com/azure/autorest/template/example/ClientMethodExampleWriter.java
Owners: @weidongxu-microsoft, @srnagar

extract to prototypeAsLong and prototypeAsDouble
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
Owners: @weidongxu-microsoft, @srnagar

tsp, nightly, disable no-diff
  eng/pipelines/ci-typespec-java-dev-nightly.yaml
Owners: @weidongxu-microsoft, @srnagar

refactor PrimitiveType
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/PrimitiveType.java
Owners: @weidongxu-microsoft, @srnagar

wrapSerializationWithObjectsToString default to false
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/PrimitiveType.java
Owners: @weidongxu-microsoft, @srnagar

tsp, nightly, disable no-diff (#2139)
  eng/pipelines/ci-typespec-java-dev-nightly.yaml
Owners: @weidongxu-microsoft, @srnagar

bug fix
  javagen/src/main/java/com/azure/autorest/model/clientmodel/PrimitiveType.java
Owners: @weidongxu-microsoft, @srnagar

remove dup code
  javagen/src/main/java/com/azure/autorest/model/clientmodel/PrimitiveType.java
Owners: @weidongxu-microsoft, @srnagar

poc, group parameters to Options
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

cadl-ranch 0.15
  typespec-tests/package.json
  typespec-tests/src/main/java/com/encode/duration/DurationClientBuilder.java
  typespec-tests/src/main/java/com/encode/duration/PropertyAsyncClient.java
  typespec-tests/src/main/java/com/encode/duration/PropertyClient.java
  typespec-tests/src/main/java/com/encode/duration/QueryAsyncClient.java
  typespec-tests/src/main/java/com/encode/duration/QueryClient.java
  typespec-tests/src/main/java/com/encode/duration/implementation/DurationClientImpl.java
  typespec-tests/src/main/java/com/encode/duration/implementation/PropertiesImpl.java
  typespec-tests/src/main/java/com/encode/duration/implementation/QueriesImpl.java
  typespec-tests/src/main/java/com/encode/duration/implementation/package-info.java
  typespec-tests/src/main/java/com/encode/duration/models/DefaultDurationProperty.java
  typespec-tests/src/main/java/com/encode/duration/models/FloatSecondsDurationProperty.java
  typespec-tests/src/main/java/com/encode/duration/models/Int32SecondsDurationProperty.java
  typespec-tests/src/main/java/com/encode/duration/models/Iso8601DurationProperty.java
  typespec-tests/src/main/java/com/encode/duration/models/package-info.java
  typespec-tests/src/main/java/com/encode/duration/package-info.java
  typespec-tests/src/main/resources/encode-duration.properties
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

test
  typespec-tests/src/test/java/com/encode/duration/EncodeDurationTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

bug fix
  typespec-extension/src/code-model-builder.ts
  typespec-tests/src/main/java/com/encode/duration/implementation/QueriesImpl.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

enable test
  typespec-tests/src/test/java/com/encode/duration/EncodeDurationTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

use released typespec-bump-deps
  eng/pipelines/ci-typespec-java-dev-nightly.yaml
Owners: @weidongxu-microsoft, @srnagar

delete local script
  typespec-tests/bump_deps.ts
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, upgrade cadl ranch (#2142)
  typespec-extension/src/code-model-builder.ts
  typespec-tests/package.json
  typespec-tests/src/main/java/com/encode/duration/DurationClientBuilder.java
  typespec-tests/src/main/java/com/encode/duration/PropertyAsyncClient.java
  typespec-tests/src/main/java/com/encode/duration/PropertyClient.java
  typespec-tests/src/main/java/com/encode/duration/QueryAsyncClient.java
  typespec-tests/src/main/java/com/encode/duration/QueryClient.java
  typespec-tests/src/main/java/com/encode/duration/implementation/DurationClientImpl.java
  typespec-tests/src/main/java/com/encode/duration/implementation/PropertiesImpl.java
  typespec-tests/src/main/java/com/encode/duration/implementation/QueriesImpl.java
  typespec-tests/src/main/java/com/encode/duration/implementation/package-info.java
  typespec-tests/src/main/java/com/encode/duration/models/DefaultDurationProperty.java
  typespec-tests/src/main/java/com/encode/duration/models/FloatSecondsDurationProperty.java
  typespec-tests/src/main/java/com/encode/duration/models/Int32SecondsDurationProperty.java
  typespec-tests/src/main/java/com/encode/duration/models/Iso8601DurationProperty.java
  typespec-tests/src/main/java/com/encode/duration/models/package-info.java
  typespec-tests/src/main/java/com/encode/duration/package-info.java
  typespec-tests/src/main/resources/encode-duration.properties
  typespec-tests/src/test/java/com/encode/duration/EncodeDurationTests.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, use released typespec-bump-deps 0.1.0 (#2143)
  eng/pipelines/ci-typespec-java-dev-nightly.yaml
  typespec-tests/bump_deps.ts
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

add x-ms-versioning-added
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

support multiple content types with overload
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

add test cases
  typespec-tests/tsp/multi-content-types.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update test
  typespec-tests/tsp/multi-content-types.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

lint
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

improve comments
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

client, extract duplicate code to prototypeAsLong and prototypeAsDouble (#2138)
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/PrimitiveType.java
Owners: @weidongxu-microsoft, @srnagar

use openapi, also use pascalCaseForOperationId
  typespec-extension/package.json
  typespec-extension/src/utils.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

use openapi, also use pascalCaseForOperationId (#2146)
  typespec-extension/package.json
  typespec-extension/src/utils.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

support other type of encode
  typespec-extension/src/code-model-builder.ts
  typespec-tests/tsp/builtin.tsp
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

test
  typespec-tests/src/main/java/com/cadl/builtin/BuiltinAsyncClient.java
  typespec-tests/src/main/java/com/cadl/builtin/BuiltinClient.java
  typespec-tests/src/main/java/com/cadl/builtin/implementation/BuiltinClientImpl.java
  typespec-tests/src/main/java/com/cadl/builtin/models/Encoded.java
  typespec-tests/src/test/java/com/cadl/builtin/EncodeTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

format
  typespec-tests/tsp/builtin.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

remove commented
  typespec-tests/tsp/builtin.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, client sample generate client method invocation (#2137)
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/ExampleParser.java
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/MockTestParser.java
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/ResourceParser.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/fluentmodel/ResourceLocalVariables.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/fluentmodel/ResourceOperation.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/fluentmodel/create/ResourceCreate.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/fluentmodel/delete/ResourceDelete.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/fluentmodel/get/ResourceRefresh.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/fluentmodel/method/CollectionMethodOperationByIdTemplate.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/fluentmodel/method/FluentConstructorByInner.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/fluentmodel/update/ResourceUpdate.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/examplemodel/MethodParameter.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodSampleTemplate.java
  javagen/src/main/java/com/azure/autorest/template/example/ClientInitializationExampleWriter.java
  javagen/src/main/java/com/azure/autorest/template/example/ClientMethodExampleWriter.java
  javagen/src/main/java/com/azure/autorest/util/MethodUtil.java
  javagen/src/main/java/com/azure/autorest/util/ModelExampleUtil.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

tsp, support other encode (#2147)
  typespec-extension/src/code-model-builder.ts
  typespec-tests/src/main/java/com/cadl/builtin/BuiltinAsyncClient.java
  typespec-tests/src/main/java/com/cadl/builtin/BuiltinClient.java
  typespec-tests/src/main/java/com/cadl/builtin/implementation/BuiltinClientImpl.java
  typespec-tests/src/main/java/com/cadl/builtin/models/Encoded.java
  typespec-tests/src/test/java/com/cadl/builtin/EncodeTests.java
  typespec-tests/tsp/builtin.tsp
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

support generating protocol method only for multiple content types
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

regen
  typespec-tests/src/main/java/com/cadl/multicontenttypes/MultiContentTypesAsyncClient.java
  typespec-tests/src/main/java/com/cadl/multicontenttypes/MultiContentTypesClient.java
  typespec-tests/src/main/java/com/cadl/multicontenttypes/implementation/MultiContentTypesClientImpl.java
  typespec-tests/src/main/java/com/cadl/multicontenttypes/models/ContentType.java
  typespec-tests/src/main/java/com/cadl/multicontenttypes/models/Resource.java
  typespec-tests/tsp/multi-content-types.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix lint
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

allow empty model class in tsp
  javagen/src/main/java/com/azure/autorest/mapper/ObjectMapper.java
Owners: @weidongxu-microsoft, @srnagar

.github/CODEOWNERS:

# default
*                           @weidongxu-microsoft @srnagar

# Git Hub bot rules
/.github/fabricbot.json     @jsquire @ronniegeraghty

# fluentgen
/fluent*                    @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/azure-tests                @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

# androidgen
/androidgen                 @JianpingChen @anuchandy

# protocol
/protocol*                  @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update-tests       @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar

# typespec
/typespec-extension         @srnagar @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/typespec-tests             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
