Repository Azure/autorest.java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @weidongxu-microsoft, @srnagar, @jsquire, @ronniegeraghty, @haolingdong-msft, @XiaofeiCao, @JianpingChen, @anuchandy

fix resource identification
  typespec-extension/src/code-model-builder.ts
  typespec-tests/package.json
  typespec-tests/pom.xml
  typespec-tests/tsp/arm.tsp
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

move arm to another folder
  .gitignore
  typespec-tests/Generate.ps1
  typespec-tests/tsp/arm/arm.tsp
  typespec-tests/tsp/arm/tspconfig.yaml
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

format, remove test code
  typespec-extension/src/code-model-builder.ts
  typespec-tests/src/test/java/com/cadl/armresource/generated/ChildResourceInnerTests.java
  typespec-tests/src/test/java/com/cadl/armresource/generated/ChildResourceListResultTests.java
  typespec-tests/src/test/java/com/cadl/armresource/generated/ChildResourcePropertiesTests.java
  typespec-tests/src/test/java/com/cadl/armresource/generated/ChildResourceUpdateTests.java
  typespec-tests/src/test/java/com/cadl/armresource/generated/OperationDisplayTests.java
  typespec-tests/src/test/java/com/cadl/armresource/generated/OperationInnerTests.java
  typespec-tests/src/test/java/com/cadl/armresource/generated/PagedOperationTests.java
  typespec-tests/src/test/java/com/cadl/armresource/generated/ResourceIdTests.java
  typespec-tests/src/test/java/com/cadl/armresource/generated/TopLevelArmResourceInnerTests.java
  typespec-tests/src/test/java/com/cadl/armresource/generated/TopLevelArmResourceListResultTests.java
  typespec-tests/src/test/java/com/cadl/armresource/generated/TopLevelArmResourcePropertiesTests.java
  typespec-tests/src/test/java/com/cadl/armresource/generated/TopLevelArmResourceUpdateTests.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

minor change on casing of description
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/ExtendsFloatAdditionalProperties.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/ExtendsModelAdditionalProperties.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/ExtendsModelArrayAdditionalProperties.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/ExtendsStringAdditionalProperties.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/ExtendsUnknownAdditionalProperties.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/ExtendsUnknownAdditionalPropertiesDiscriminated.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/IsFloatAdditionalProperties.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/IsStringAdditionalProperties.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/IsUnknownAdditionalProperties.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/IsUnknownAdditionalPropertiesDiscriminated.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Generate.ps1
  typespec-tests/Generate.ps1
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

remove arm tsp-output
  typespec-tests/Generate.ps1
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update package.json
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

handle additionalProperties from superclass
  javagen/src/main/java/com/azure/autorest/implementation/ClientModelPropertiesManager.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
Owners: @weidongxu-microsoft, @srnagar

regen
  typespec-tests/src/main/java/com/type/property/additionalproperties/implementation/package-info.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/ExtendsUnknownAdditionalPropertiesDerived.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/ExtendsUnknownAdditionalPropertiesDiscriminatedDerived.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/IsUnknownAdditionalPropertiesDerived.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/IsUnknownAdditionalPropertiesDiscriminatedDerived.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/package-info.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/package-info.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

re-enable test
  typespec-tests/src/test/java/com/type/property/additionalproperties/ExtendsTests.java
  typespec-tests/src/test/java/com/type/property/additionalproperties/IsUnknownClientTest.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

revert
  typespec-tests/src/main/java/com/type/property/additionalproperties/implementation/package-info.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/package-info.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/package-info.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

comment
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
Owners: @weidongxu-microsoft, @srnagar

update according to comments
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/FluentClientMethodMapper.java
  fluentnamer/src/main/java/com/azure/autorest/fluent/transformer/OperationNameNormalization.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
  typespec-tests/Generate.ps1
  typespec-tests/tsp/arm.tsp
  typespec-tests/tsp/arm/tspconfig.yaml
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

update arm.tsp
  .gitignore
  typespec-tests/Generate.ps1
  typespec-tests/tsp/arm.tsp
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

format
  typespec-tests/tsp/arm.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

rename superAdditionalPropertiesProperty
  javagen/src/main/java/com/azure/autorest/implementation/ClientModelPropertiesManager.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
Owners: @weidongxu-microsoft, @srnagar

tsp, fix additionalProperties from superclass (#2504)
  javagen/src/main/java/com/azure/autorest/implementation/ClientModelPropertiesManager.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/ExtendsUnknownAdditionalPropertiesDerived.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/ExtendsUnknownAdditionalPropertiesDiscriminatedDerived.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/IsUnknownAdditionalPropertiesDerived.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/IsUnknownAdditionalPropertiesDiscriminatedDerived.java
  typespec-tests/src/test/java/com/type/property/additionalproperties/ExtendsTests.java
  typespec-tests/src/test/java/com/type/property/additionalproperties/IsUnknownClientTest.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

support list of files in multipart
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/resources/MultipartFormDataHelper.java
Owners: @weidongxu-microsoft, @srnagar

regen and test
  typespec-tests/src/main/java/com/payload/multipart/MultiPartAsyncClient.java
  typespec-tests/src/main/java/com/payload/multipart/MultiPartClient.java
  typespec-tests/src/main/java/com/payload/multipart/implementation/FormDatasImpl.java
  typespec-tests/src/main/java/com/payload/multipart/implementation/MultipartFormDataHelper.java
  typespec-tests/src/main/java/com/payload/multipart/implementation/package-info.java
  typespec-tests/src/main/java/com/payload/multipart/models/Address.java
  typespec-tests/src/main/java/com/payload/multipart/models/BinaryArrayPartsRequest.java
  typespec-tests/src/main/java/com/payload/multipart/models/ComplexPartsRequest.java
  typespec-tests/src/main/java/com/payload/multipart/models/JsonArrayPartsRequest.java
  typespec-tests/src/main/java/com/payload/multipart/models/JsonPartRequest.java
  typespec-tests/src/main/java/com/payload/multipart/models/MultiBinaryPartsRequest.java
  typespec-tests/src/main/java/com/payload/multipart/models/MultiPartRequest.java
  typespec-tests/src/main/java/com/payload/multipart/models/package-info.java
  typespec-tests/src/main/java/com/payload/multipart/package-info.java
  typespec-tests/src/test/java/com/payload/multipart/MultipartTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

nit
  javagen/src/main/resources/MultipartFormDataHelper.java
  typespec-tests/src/main/java/com/payload/multipart/implementation/MultipartFormDataHelper.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

re-generate test code
  typespec-tests/src/main/java/com/cadl/multipart/implementation/MultipartFormDataHelper.java
  typespec-tests/src/main/java/com/payload/multipart/implementation/package-info.java
  typespec-tests/src/main/java/com/payload/multipart/models/Address.java
  typespec-tests/src/main/java/com/payload/multipart/models/BinaryArrayPartsRequest.java
  typespec-tests/src/main/java/com/payload/multipart/models/ComplexPartsRequest.java
  typespec-tests/src/main/java/com/payload/multipart/models/JsonArrayPartsRequest.java
  typespec-tests/src/main/java/com/payload/multipart/models/JsonPartRequest.java
  typespec-tests/src/main/java/com/payload/multipart/models/MultiBinaryPartsRequest.java
  typespec-tests/src/main/java/com/payload/multipart/models/MultiPartRequest.java
  typespec-tests/src/main/java/com/payload/multipart/models/package-info.java
  typespec-tests/src/main/java/com/payload/multipart/package-info.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

add start and end generated comment
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaJavadocComment.java
  javagen/src/main/java/com/azure/autorest/template/EnumTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceAsyncClientTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientBuilderTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientInterfaceTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceSyncClientTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceSyncClientWrapAsyncClientTemplate.java
Owners: @weidongxu-microsoft, @srnagar

update checkstyle
  javagen/src/main/java/com/azure/autorest/template/ServiceClientBuilderTemplate.java
Owners: @weidongxu-microsoft, @srnagar

re-generate test code
  partial-update-tests/generated/src/main/java/fixtures/bodystring/AutoRestSwaggerBatServiceClientBuilder.java
  partial-update-tests/generated/src/main/java/fixtures/bodystring/EnumAsyncClient.java
  partial-update-tests/generated/src/main/java/fixtures/bodystring/EnumClient.java
  partial-update-tests/generated/src/main/java/fixtures/bodystring/StringOperationAsyncClient.java
  partial-update-tests/generated/src/main/java/fixtures/bodystring/StringOperationClient.java
  typespec-tests/src/main/java/com/cadl/partialupdate/PartialUpdateAsyncClient.java
  typespec-tests/src/main/java/com/cadl/partialupdate/PartialUpdateClient.java
  typespec-tests/src/main/java/com/cadl/partialupdate/PartialUpdateClientBuilder.java
  typespec-tests/src/main/java/com/cadl/partialupdate/models/PartialUpdateModel.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

fix arm api-version
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

add comment
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

not add for enum
  javagen/src/main/java/com/azure/autorest/template/EnumTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientTemplate.java
Owners: @weidongxu-microsoft, @srnagar

re-generate test code
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ArmResourceProviderClientImpl.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

only add start/end comment for dpg, to align with addGeneratedAnnotation() logic
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
Owners: @weidongxu-microsoft, @srnagar

mpg, fix api-version (#2511)
  typespec-extension/src/code-model-builder.ts
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ArmResourceProviderClientImpl.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

re-generate test code
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/models/ChildResourceInner.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/models/OperationInner.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/models/TopLevelArmResourceInner.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/ChildResourceListResult.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/ChildResourceProperties.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/ChildResourceUpdate.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/OperationDisplay.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/PagedOperation.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/TopLevelArmResourceListResult.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/TopLevelArmResourceProperties.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/TopLevelArmResourceUpdate.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

convert to constant
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaJavadocComment.java
  javagen/src/main/java/com/azure/autorest/util/TemplateUtil.java
Owners: @weidongxu-microsoft, @srnagar

Enable ARM to override stream-style-serialization
  customization-tests/src/main/java/fixtures/bodycomplex/implementation/models/Cat.java
  customization-tests/swagger/src/main/java/BodyComplexCustomization.java
  typespec-extension/src/main/java/com/azure/autorest/fluent/TypeSpecFluentPlugin.java
  typespec-tests/Generate.ps1
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Regenerate code
  vanilla-tests/src/main/java/fixtures/additionalproperties/models/CatAPTrue.java
  vanilla-tests/src/main/java/fixtures/discriminatorflattening/clientflatten/models/MetricAlertSingleResourceMultipleMetricCriteria.java
  vanilla-tests/src/main/java/fixtures/discriminatorflattening/models/MetricAlertSingleResourceMultipleMetricCriteria.java
  vanilla-tests/src/main/java/fixtures/discriminatorflattening/noflatten/models/MetricAlertSingleResourceMultipleMetricCriteria.java
  vanilla-tests/src/main/java/fixtures/discriminatorflattening/requirexmsflattened/models/MetricAlertSingleResourceMultipleMetricCriteria.java
  vanilla-tests/src/main/java/fixtures/inheritance/donotpassdiscriminator/models/MetricAlertSingleResourceMultipleMetricCriteria.java
  vanilla-tests/src/main/java/fixtures/inheritance/passdiscriminator/models/MetricAlertSingleResourceMultipleMetricCriteria.java
Owners: @weidongxu-microsoft, @srnagar

Update TypeSpecFluentPlugin.java
  typespec-extension/src/main/java/com/azure/autorest/fluent/TypeSpecFluentPlugin.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Update readme.md
  fluentgen/readme.md
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, bump cadl-ranch
  typespec-extension/src/code-model-builder.ts
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

remove error
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

remove dependency on typespec-azure-resource-manager
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/type-utils.ts
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update package-lock.json
  typespec-extension/package-lock.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

.github/CODEOWNERS:

# default
*                           @weidongxu-microsoft @srnagar

# Git Hub bot rules
/.github/fabricbot.json     @jsquire @ronniegeraghty

# fluentgen
/fluent*                    @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/azure-tests                @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

# androidgen
/androidgen                 @JianpingChen @anuchandy

# protocol
/protocol*                  @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update-tests       @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar

# typespec
/typespec-extension         @srnagar @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/typespec-tests             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
