Repository Azure/autorest.java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @weidongxu-microsoft, @srnagar, @jsquire, @ronniegeraghty, @haolingdong-msft, @XiaofeiCao, @JianpingChen, @anuchandy

.github/CODEOWNERS:

# default
*                           @weidongxu-microsoft @srnagar

# Git Hub bot rules
/.github/fabricbot.json     @jsquire @ronniegeraghty

# fluentgen
/fluent*                    @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/azure-tests                @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

# androidgen
/androidgen                 @JianpingChen @anuchandy

# protocol
/protocol*                  @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update-tests       @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar

# typespec
/typespec-extension         @srnagar @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/typespec-tests             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

Add flag to fail Javadoc to ensure maintenance
  extension-base/pom.xml
  pom.xml
Owners: @weidongxu-microsoft, @srnagar

Fix linting problem
  javagen/src/main/java/com/azure/autorest/mapper/ClientParameterMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/CustomClientParameterMapper.java
Owners: @weidongxu-microsoft, @srnagar

escape "at" in Javadoc description
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaJavadocComment.java
  typespec-tests/tsp/naming.tsp
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

bump version
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

re-generate test code
  typespec-tests/src/main/java/com/cadl/naming/NamingAsyncClient.java
  typespec-tests/src/main/java/com/cadl/naming/implementation/NamingOpsImpl.java
  typespec-tests/src/main/java/com/cadl/naming/models/BytesData.java
  typespec-tests/src/main/java/com/cadl/naming/models/Data.java
  typespec-tests/src/main/java/com/client/naming/implementation/package-info.java
  typespec-tests/src/main/java/com/client/naming/models/package-info.java
  typespec-tests/src/main/java/com/client/naming/package-info.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/package-info.java
  typespec-tests/src/main/java/com/client/structure/service/package-info.java
  typespec-tests/src/main/java/com/server/path/single/implementation/package-info.java
  typespec-tests/src/main/java/com/server/path/single/package-info.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

comment
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaJavadocComment.java
  typespec-tests/tsp/naming.tsp
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

format
  typespec-tests/tsp/patch.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

add the test
  typespec-tests/src/test/java/com/cadl/patch/PatchClientTest.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

bump a minor version
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

re-generate test code
  protocol-tests/src/main/java/fixtures/enums/EnumServiceAsyncClient.java
  protocol-tests/src/main/java/fixtures/enums/EnumServiceClient.java
  protocol-tests/src/main/java/fixtures/enums/implementation/EnumServiceClientImpl.java
  protocol-tests/src/main/java/fixtures/url/PathsAsyncClient.java
  protocol-tests/src/main/java/fixtures/url/PathsClient.java
  protocol-tests/src/main/java/fixtures/url/QueriesAsyncClient.java
  protocol-tests/src/main/java/fixtures/url/QueriesClient.java
  protocol-tests/src/main/java/fixtures/url/implementation/PathsImpl.java
  protocol-tests/src/main/java/fixtures/url/implementation/QueriesImpl.java
  protocol-tests/src/main/java/fixtures/url/multi/AutoRestUrlMutliCollectionFormatTestServiceAsyncClient.java
  protocol-tests/src/main/java/fixtures/url/multi/AutoRestUrlMutliCollectionFormatTestServiceClient.java
  protocol-tests/src/main/java/fixtures/url/multi/implementation/QueriesImpl.java
  vanilla-tests/src/main/java/fixtures/additionalproperties/models/PetAPInPropertiesWithAPString.java
  vanilla-tests/src/main/java/fixtures/url/Paths.java
  vanilla-tests/src/main/java/fixtures/url/Queries.java
  vanilla-tests/src/main/java/fixtures/url/multi/Queries.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

update the version
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix access of union variant as property
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

client, escape "at" in Javadoc description (#2587)
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaJavadocComment.java
  protocol-tests/src/main/java/fixtures/enums/EnumServiceAsyncClient.java
  protocol-tests/src/main/java/fixtures/enums/EnumServiceClient.java
  protocol-tests/src/main/java/fixtures/enums/implementation/EnumServiceClientImpl.java
  protocol-tests/src/main/java/fixtures/url/PathsAsyncClient.java
  protocol-tests/src/main/java/fixtures/url/PathsClient.java
  protocol-tests/src/main/java/fixtures/url/QueriesAsyncClient.java
  protocol-tests/src/main/java/fixtures/url/QueriesClient.java
  protocol-tests/src/main/java/fixtures/url/implementation/PathsImpl.java
  protocol-tests/src/main/java/fixtures/url/implementation/QueriesImpl.java
  protocol-tests/src/main/java/fixtures/url/multi/AutoRestUrlMutliCollectionFormatTestServiceAsyncClient.java
  protocol-tests/src/main/java/fixtures/url/multi/AutoRestUrlMutliCollectionFormatTestServiceClient.java
  protocol-tests/src/main/java/fixtures/url/multi/implementation/QueriesImpl.java
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-tests/package.json
  typespec-tests/src/main/java/com/cadl/naming/NamingAsyncClient.java
  typespec-tests/src/main/java/com/cadl/naming/implementation/NamingOpsImpl.java
  typespec-tests/src/main/java/com/cadl/naming/models/BytesData.java
  typespec-tests/src/main/java/com/cadl/naming/models/Data.java
  typespec-tests/src/main/java/com/client/naming/implementation/package-info.java
  typespec-tests/src/main/java/com/client/naming/models/package-info.java
  typespec-tests/src/main/java/com/client/naming/package-info.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/package-info.java
  typespec-tests/src/main/java/com/client/structure/service/package-info.java
  typespec-tests/src/main/java/com/server/path/single/implementation/package-info.java
  typespec-tests/src/main/java/com/server/path/single/package-info.java
  typespec-tests/tsp/naming.tsp
  vanilla-tests/src/main/java/fixtures/additionalproperties/models/PetAPInPropertiesWithAPString.java
  vanilla-tests/src/main/java/fixtures/url/Paths.java
  vanilla-tests/src/main/java/fixtures/url/Queries.java
  vanilla-tests/src/main/java/fixtures/url/multi/Queries.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

script
  PreparePatchRelease.ps1
Owners: @weidongxu-microsoft, @srnagar

sync release version
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

sync patch from main
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaJavadocComment.java
  typespec-extension/src/code-model-builder.ts
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

update test
  typespec-tests/src/test/java/com/type/array/Float32ValueClientTest.java
  typespec-tests/src/test/java/com/type/dictionary/Float32ValueClientTest.java
  typespec-tests/src/test/java/com/type/property/additionalproperties/ExtendsTests.java
  typespec-tests/src/test/java/com/type/property/additionalproperties/IsFloatClientTest.java
  typespec-tests/src/test/java/com/type/property/valuetypes/FloatOperationClientTest.java
  typespec-tests/src/test/java/com/type/property/valuetypes/LiteralTests.java
  typespec-tests/src/test/java/com/type/property/valuetypes/UnionTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update emitter-package-lock.json
  eng/sdk/sync_sdk.py
Owners: @weidongxu-microsoft, @srnagar

update emitter-package-lock.json
  eng/sdk/sync_sdk.py
Owners: @weidongxu-microsoft, @srnagar

Remove non null configuration (#2584)
  androidgen/src/main/java/com/azure/autorest/android/mapper/AndroidServiceClientMapper.java
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientParameterMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/CustomClientParameterMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ServiceClientMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
Owners: @JianpingChen, @anuchandy, @weidongxu-microsoft, @srnagar

update to use New-EmitterPackageJson.ps1
  eng/pipelines/post-publish-sdk.yaml
  eng/sdk/sync_sdk.py
Owners: @weidongxu-microsoft, @srnagar

update to use New-EmitterPackageJson.ps1
  eng/pipelines/post-publish-sdk.yaml
  eng/sdk/sync_sdk.py
Owners: @weidongxu-microsoft, @srnagar

Remove JSON flatten setting
  customization-tests/src/main/java/fixtures/bodycomplex/implementation/models/DotFish.java
  customization-tests/src/main/java/fixtures/bodycomplex/implementation/models/DotSalmon.java
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
  readme.md
  vanilla-tests/src/main/java/fixtures/bodycomplex/models/DotFish.java
  vanilla-tests/src/main/java/fixtures/bodycomplex/models/DotSalmon.java
  vanilla-tests/src/main/java/fixtures/inheritance/passdiscriminator/models/MetricAlertCriteria.java
  vanilla-tests/src/main/java/fixtures/inheritance/passdiscriminator/models/MetricAlertSingleResourceMultipleMetricCriteria.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/DotFish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/DotSalmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/DotFish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/DotSalmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationimmutableoutput/models/DotFish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationimmutableoutput/models/DotSalmon.java
Owners: @weidongxu-microsoft, @srnagar

add test case
  partial-update/src/test/java/com/azure/autorest/partialupdate/util/PartialUpdateHandlerTest.java
  partial-update/src/test/resources/partialupdate/ModelWithStaticBlock.java
  partial-update/src/test/resources/partialupdate/ModelWithStaticBlockGenerated.java
  partial-update/src/test/resources/partialupdate/ModelWithoutStaticBlock.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

a token to test replacement
  partial-update/src/test/resources/partialupdate/ModelWithStaticBlockGenerated.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

more test
  partial-update/src/test/java/com/azure/autorest/partialupdate/util/PartialUpdateHandlerTest.java
  partial-update/src/test/resources/partialupdate/ModelWithoutStaticBlockGenerated.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

verify at most 1 static initializer declaration; and replace it if find both in exist code and generated code
  partial-update/src/main/java/com/azure/autorest/partialupdate/util/PartialUpdateHandler.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

remove generate-models
  docs/generate/dataplane-customization.md
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  javagen/src/main/java/com/azure/autorest/Javagen.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
  protocol-sdk-integration-tests/test.py
  protocol-tests/swagger/dpg-customization.md
  readme.md
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

re-generate test code
  protocol-tests/src/main/java/fixtures/dpgcustomization/implementation/DpgClientImpl.java
  protocol-tests/src/main/java/fixtures/dpgcustomization/implementation/models/ProductResult.java
  protocol-tests/src/main/java/fixtures/dpgcustomization/implementation/models/package-info.java
  protocol-tests/src/main/java/fixtures/dpgcustomization/models/Input.java
  protocol-tests/src/main/java/fixtures/dpgcustomization/models/LroProduct.java
  protocol-tests/src/main/java/fixtures/dpgcustomization/models/Product.java
  protocol-tests/src/main/java/fixtures/dpgcustomization/models/ProductReceived.java
  protocol-tests/src/main/java/fixtures/dpgcustomization/models/package-info.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

remove model in test
  protocol-tests/src/test/java/fixtures/dpgcustomization/DpgCustomizationTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

nit
  protocol-tests/src/test/java/fixtures/dpgcustomization/DpgCustomizationTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

only disable convenient method when stream style is explicitly set to false
  typespec-extension/src/code-model-builder.ts
  typespec-tests/tspconfig.yaml
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

comment
  partial-update/src/main/java/com/azure/autorest/partialupdate/util/PartialUpdateHandler.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

add a includeStaticInitializerDeclaration to hasGeneratedAnnotation
  partial-update/src/main/java/com/azure/autorest/partialupdate/util/PartialUpdateHandler.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

separate isMemberGenerated from hasGeneratedAnnotation
  partial-update/src/main/java/com/azure/autorest/partialupdate/util/PartialUpdateHandler.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

nit
  partial-update/src/main/java/com/azure/autorest/partialupdate/util/PartialUpdateHandler.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

regen
  typespec-tests/src/main/java/com/type/property/nullable/models/DatetimeProperty.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, partial-update, replace static initializer declaration (#2593)
  partial-update/src/main/java/com/azure/autorest/partialupdate/util/PartialUpdateHandler.java
  partial-update/src/test/java/com/azure/autorest/partialupdate/util/PartialUpdateHandlerTest.java
  partial-update/src/test/resources/partialupdate/ModelWithStaticBlock.java
  partial-update/src/test/resources/partialupdate/ModelWithStaticBlockGenerated.java
  partial-update/src/test/resources/partialupdate/ModelWithoutStaticBlock.java
  partial-update/src/test/resources/partialupdate/ModelWithoutStaticBlockGenerated.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

tsp, json-merge-patch, bug fixes (#2576)
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-tests/package.json
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/models/User.java
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/models/UserOrder.java
  typespec-tests/src/main/java/com/cadl/patch/PatchAsyncClient.java
  typespec-tests/src/main/java/com/cadl/patch/PatchClient.java
  typespec-tests/src/main/java/com/cadl/patch/implementation/PatchesImpl.java
  typespec-tests/src/main/java/com/cadl/patch/models/Fish.java
  typespec-tests/src/main/java/com/cadl/patch/models/InnerModel.java
  typespec-tests/src/main/java/com/cadl/patch/models/Resource.java
  typespec-tests/src/main/java/com/cadl/patch/models/Salmon.java
  typespec-tests/src/main/java/com/cadl/patch/models/Shark.java
  typespec-tests/src/main/java/com/cadl/specialheaders/models/Resource.java
  typespec-tests/src/main/java/com/payload/jsonmergepatch/models/InnerModel.java
  typespec-tests/src/main/java/com/payload/jsonmergepatch/models/ResourcePatch.java
  typespec-tests/src/main/java/com/type/property/nullable/models/BytesProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/CollectionsByteProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/CollectionsModelProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/DatetimeProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/DurationProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/InnerModel.java
  typespec-tests/src/main/java/com/type/property/nullable/models/StringProperty.java
  typespec-tests/src/test/java/com/cadl/patch/PatchClientTest.java
  typespec-tests/tsp/patch.tsp
  typespec-tests/tspconfig.yaml
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

eng, sdk repo now contains emitter-package-lock.json (#2590)
  eng/pipelines/post-publish-sdk.yaml
  eng/sdk/sync_sdk.py
Owners: @weidongxu-microsoft, @srnagar
