Repository Azure/autorest.java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @weidongxu-microsoft, @srnagar, @jsquire, @ronniegeraghty, @haolingdong-msft, @XiaofeiCao, @JianpingChen, @anuchandy

.github/CODEOWNERS:

# default
*                           @weidongxu-microsoft @srnagar

# Git Hub bot rules
/.github/fabricbot.json     @jsquire @ronniegeraghty

# fluentgen
/fluent*                    @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/azure-tests                @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

# androidgen
/androidgen                 @JianpingChen @anuchandy

# protocol
/protocol*                  @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update-tests       @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar

# typespec
/typespec-extension         @srnagar @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/typespec-tests             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

tsp, update cadl-ranch
  typespec-tests/src/main/java/com/type/property/valuetypes/UnknownArrayAsyncClient.java
  typespec-tests/src/main/java/com/type/property/valuetypes/UnknownArrayClient.java
  typespec-tests/src/main/java/com/type/property/valuetypes/UnknownDictAsyncClient.java
  typespec-tests/src/main/java/com/type/property/valuetypes/UnknownDictClient.java
  typespec-tests/src/main/java/com/type/property/valuetypes/UnknownIntAsyncClient.java
  typespec-tests/src/main/java/com/type/property/valuetypes/UnknownIntClient.java
  typespec-tests/src/main/java/com/type/property/valuetypes/UnknownStringAsyncClient.java
  typespec-tests/src/main/java/com/type/property/valuetypes/UnknownStringClient.java
  typespec-tests/src/main/java/com/type/property/valuetypes/ValueTypesClientBuilder.java
  typespec-tests/src/main/java/com/type/property/valuetypes/implementation/UnknownArraysImpl.java
  typespec-tests/src/main/java/com/type/property/valuetypes/implementation/UnknownDictsImpl.java
  typespec-tests/src/main/java/com/type/property/valuetypes/implementation/UnknownIntsImpl.java
  typespec-tests/src/main/java/com/type/property/valuetypes/implementation/UnknownStringsImpl.java
  typespec-tests/src/main/java/com/type/property/valuetypes/implementation/ValueTypesClientImpl.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/UnknownArrayProperty.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/UnknownDictProperty.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/UnknownIntProperty.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/UnknownStringProperty.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, warning on unknown query format (#2119)
  typespec-extension/src/code-model-builder.ts
  typespec-tests/Generate.ps1
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, update cadl-ranch (#2120)
  typespec-tests/src/main/java/com/type/property/valuetypes/UnknownArrayAsyncClient.java
  typespec-tests/src/main/java/com/type/property/valuetypes/UnknownArrayClient.java
  typespec-tests/src/main/java/com/type/property/valuetypes/UnknownDictAsyncClient.java
  typespec-tests/src/main/java/com/type/property/valuetypes/UnknownDictClient.java
  typespec-tests/src/main/java/com/type/property/valuetypes/UnknownIntAsyncClient.java
  typespec-tests/src/main/java/com/type/property/valuetypes/UnknownIntClient.java
  typespec-tests/src/main/java/com/type/property/valuetypes/UnknownStringAsyncClient.java
  typespec-tests/src/main/java/com/type/property/valuetypes/UnknownStringClient.java
  typespec-tests/src/main/java/com/type/property/valuetypes/ValueTypesClientBuilder.java
  typespec-tests/src/main/java/com/type/property/valuetypes/implementation/UnknownArraysImpl.java
  typespec-tests/src/main/java/com/type/property/valuetypes/implementation/UnknownDictsImpl.java
  typespec-tests/src/main/java/com/type/property/valuetypes/implementation/UnknownIntsImpl.java
  typespec-tests/src/main/java/com/type/property/valuetypes/implementation/UnknownStringsImpl.java
  typespec-tests/src/main/java/com/type/property/valuetypes/implementation/ValueTypesClientImpl.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/UnknownArrayProperty.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/UnknownDictProperty.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/UnknownIntProperty.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/UnknownStringProperty.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

re-generate test code
  protocol-tests/src/main/java/fixtures/dpgcustomization/models/ProductReceived.java
  protocol-tests/src/main/java/fixtures/url/multi/AutoRestUrlMutliCollectionFormatTestServiceAsyncClient.java
  protocol-tests/src/main/java/fixtures/url/multi/AutoRestUrlMutliCollectionFormatTestServiceClient.java
  protocol-tests/src/main/java/fixtures/url/multi/implementation/QueriesImpl.java
  protocol-tests/src/samples/java/fixtures/url/multi/generated/QueriesArrayStringMultiValid.java
  vanilla-tests/src/main/java/fixtures/url/multi/Queries.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

add overrides for android enums
  androidgen/src/main/java/com/azure/autorest/android/template/AndroidEnumTemplate.java
Owners: @JianpingChen, @anuchandy

tsp, add test for unkown
  typespec-tests/src/test/java/com/type/property/valuetypes/UnknownTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

re-generate test code
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/internal/InternalClient.java
  typespec-tests/src/main/java/com/cadl/visibility/models/Dog.java
  typespec-tests/src/main/java/com/cadl/visibility/models/RoundTripModel.java
  typespec-tests/src/main/java/com/type/property/valuetypes/UnknownArrayAsyncClient.java
  typespec-tests/src/main/java/com/type/property/valuetypes/UnknownArrayClient.java
  typespec-tests/src/main/java/com/type/property/valuetypes/UnknownDictAsyncClient.java
  typespec-tests/src/main/java/com/type/property/valuetypes/UnknownDictClient.java
  typespec-tests/src/main/java/com/type/property/valuetypes/UnknownIntAsyncClient.java
  typespec-tests/src/main/java/com/type/property/valuetypes/UnknownIntClient.java
  typespec-tests/src/main/java/com/type/property/valuetypes/UnknownStringAsyncClient.java
  typespec-tests/src/main/java/com/type/property/valuetypes/UnknownStringClient.java
  typespec-tests/src/main/java/com/type/property/valuetypes/ValueTypesClientBuilder.java
  typespec-tests/src/main/java/com/type/property/valuetypes/implementation/UnknownArraysImpl.java
  typespec-tests/src/main/java/com/type/property/valuetypes/implementation/UnknownDictsImpl.java
  typespec-tests/src/main/java/com/type/property/valuetypes/implementation/UnknownIntsImpl.java
  typespec-tests/src/main/java/com/type/property/valuetypes/implementation/UnknownStringsImpl.java
  typespec-tests/src/main/java/com/type/property/valuetypes/implementation/ValueTypesClientImpl.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/UnknownArrayProperty.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/UnknownDictProperty.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/UnknownIntProperty.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/UnknownStringProperty.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

regen
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/internal/InternalAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/internal/InternalClient.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/internal/implementation/InternalClientImpl.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, add test for unknown (#2121)
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/internal/InternalAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/internal/InternalClient.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/internal/implementation/InternalClientImpl.java
  typespec-tests/src/test/java/com/type/property/valuetypes/UnknownTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, nightly dev build
  eng/pipelines/ci-typespec-java-dev-nightly
Owners: @weidongxu-microsoft, @srnagar

skip cadl-ranch report
  eng/pipelines/ci-typespec-java-dev-nightly
Owners: @weidongxu-microsoft, @srnagar

add UT
  partial-update/src/test/java/com/azure/autorest/partialupdate/util/PartialUpdateHandlerTest.java
  partial-update/src/test/resources/partialupdate/GeneratedModel.java
  partial-update/src/test/resources/partialupdate/Model.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

remove testserver
  eng/pipelines/ci-typespec-java-dev-nightly
  eng/pipelines/ci-typespec-java.yaml
Owners: @weidongxu-microsoft, @srnagar

disable trigger
  eng/pipelines/ci-typespec-java-dev-nightly
Owners: @weidongxu-microsoft, @srnagar

fix file name
  eng/pipelines/ci-typespec-java-dev-nightly.yaml
Owners: @weidongxu-microsoft, @srnagar

update according to comments
  partial-update/src/test/java/com/azure/autorest/partialupdate/util/PartialUpdateHandlerTest.java
  partial-update/src/test/resources/partialupdate/GeneratedModel.java
  partial-update/src/test/resources/partialupdate/Model.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

use --legacy-peer-deps
  typespec-tests/Setup.ps1
  typespec-tests/package.json
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update script
  Generate-TypeSpec.ps1
  eng/pipelines/ci-typespec-java-dev-nightly.yaml
  typespec-tests/Setup.ps1
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

add dependency to dev
  typespec-extension/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

use overrides
  Generate-TypeSpec.ps1
  typespec-extension/package.json
  typespec-tests/Setup.ps1
  typespec-tests/package.json
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

script to bump overrides
  eng/pipelines/ci-typespec-java-dev-nightly.yaml
  typespec-tests/bump_deps.js
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

sync versions
  androidgen/pom.xml
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  fluent-tests/pom.xml
  fluentnamer/pom.xml
  javagen/pom.xml
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  partial-update-tests/pom.xml
  protocol-resilience-test/pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  protocol-tests/pom.xml
  typespec-extension/pom.xml
  typespec-tests/pom.xml
  vanilla-tests/pom.xml
Owners: @JianpingChen, @anuchandy, @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

comments
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ImplementationDetails.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ModuleInfo.java
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  javagen/src/main/java/com/azure/autorest/util/SchemaUtil.java
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/external-schemas.ts
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

sync versions
  androidgen/pom.xml
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  fluent-tests/pom.xml
  fluentnamer/pom.xml
  javagen/pom.xml
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  partial-update-tests/pom.xml
  protocol-resilience-test/pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  protocol-tests/pom.xml
  typespec-extension/pom.xml
  typespec-tests/pom.xml
  vanilla-tests/pom.xml
Owners: @JianpingChen, @anuchandy, @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

fix a reflection upon azure-core update
  fluentgen/src/test/java/com/azure/autorest/fluent/util/RetryOptionsTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

task to list all dependencies
  eng/pipelines/ci-typespec-java-dev-nightly.yaml
  typespec-tests/Setup.ps1
  typespec-tests/package.json
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

fix test upon cadl-ranch upgrade
  typespec-tests/src/test/java/com/_specs_/azure/core/traits/TraitsTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Update ci-typespec-java-dev-nightly.yaml
  eng/pipelines/ci-typespec-java-dev-nightly.yaml
Owners: @weidongxu-microsoft, @srnagar

remove x-ms-client-request-id from method signature, as it always provided by Policy
  typespec-extension/src/utils.ts
  typespec-tests/src/main/java/com/_specs_/azure/core/traits/TraitsAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/traits/TraitsClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/traits/implementation/TraitsClientImpl.java
  typespec-tests/src/test/java/com/_specs_/azure/core/traits/TraitsTests.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix format
  typespec-extension/src/utils.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

client, adapt reflection code, upon sync version with new azure-core (#2124)
  androidgen/pom.xml
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  fluent-tests/pom.xml
  fluentgen/src/test/java/com/azure/autorest/fluent/util/RetryOptionsTests.java
  fluentnamer/pom.xml
  javagen/pom.xml
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  partial-update-tests/pom.xml
  protocol-resilience-test/pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  protocol-tests/pom.xml
  typespec-extension/pom.xml
  typespec-extension/src/utils.ts
  typespec-tests/pom.xml
  typespec-tests/src/main/java/com/_specs_/azure/core/traits/TraitsAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/traits/TraitsClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/traits/implementation/TraitsClientImpl.java
  typespec-tests/src/test/java/com/_specs_/azure/core/traits/TraitsTests.java
  vanilla-tests/pom.xml
Owners: @JianpingChen, @anuchandy, @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

nit
  eng/pipelines/ci-typespec-java-dev-nightly.yaml
  typespec-tests/package.json
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

tsp, nightly dev build (#2123)
  eng/pipelines/ci-typespec-java-dev-nightly.yaml
  typespec-extension/package.json
  typespec-tests/Setup.ps1
  typespec-tests/bump_deps.js
  typespec-tests/package.json
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

mgmt, update google-java-format to latest 1.17
  fluentgen/pom.xml
  fluentgen/src/test/java/com/azure/autorest/fluent/checker/JavaFormatterTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

mgmt, update google-java-format to latest 1.17 (#2125)
  fluentgen/pom.xml
  fluentgen/src/test/java/com/azure/autorest/fluent/checker/JavaFormatterTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

mgmt, disable test as pipeline could be 8
  fluentgen/pom.xml
  fluentgen/src/test/java/com/azure/autorest/fluent/checker/JavaFormatterTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

mgmt, disable test as pipeline could be 8 (#2126)
  fluentgen/pom.xml
  fluentgen/src/test/java/com/azure/autorest/fluent/checker/JavaFormatterTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, fix emitter name
  typespec-extension/src/emitter.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, fix emitter name (#2127)
  typespec-extension/src/emitter.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, fix test
  typespec-tests/tsp/flatten.tsp
  typespec-tests/tsp/union.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao
