Repository Azure/autorest.java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @weidongxu-microsoft, @srnagar, @jsquire, @ronniegeraghty, @haolingdong-msft, @XiaofeiCao, @JianpingChen, @anuchandy

Remove pass discriminator to children setting
  Generate.ps1
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  readme.md
  vanilla-tests/src/main/java/fixtures/inheritance/donotpassdiscriminator/models/MetricAlertCriteria.java
  vanilla-tests/src/main/java/fixtures/inheritance/donotpassdiscriminator/models/MetricAlertSingleResourceMultipleMetricCriteria.java
  vanilla-tests/src/main/java/fixtures/inheritance/passdiscriminator/models/MetricAlertCriteria.java
  vanilla-tests/src/main/java/fixtures/inheritance/passdiscriminator/models/MetricAlertSingleResourceMultipleMetricCriteria.java
Owners: @weidongxu-microsoft, @srnagar

Skip generating clients if there are no operations
  javagen/src/main/java/com/azure/autorest/Javagen.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
Owners: @weidongxu-microsoft, @srnagar

tsp, Generated annotation on method
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
Owners: @weidongxu-microsoft, @srnagar

re-generate test code
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/implementation/models/AbstractModel.java
  typespec-tests/src/main/java/com/cadl/naming/models/Data.java
  typespec-tests/src/main/java/com/cadl/patch/models/Fish.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumdiscriminator/models/Dog.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumdiscriminator/models/Snake.java
  typespec-tests/src/main/java/com/type/model/inheritance/nesteddiscriminator/models/Fish.java
  typespec-tests/src/main/java/com/type/model/inheritance/singlediscriminator/models/Bird.java
  typespec-tests/src/main/java/com/type/model/inheritance/singlediscriminator/models/Dinosaur.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/ExtendsUnknownAdditionalPropertiesDiscriminated.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/IsUnknownAdditionalPropertiesDiscriminated.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, fix missing Generated annotation (#2566)
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/implementation/models/AbstractModel.java
  typespec-tests/src/main/java/com/cadl/naming/models/Data.java
  typespec-tests/src/main/java/com/cadl/patch/models/Fish.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumdiscriminator/models/Dog.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumdiscriminator/models/Snake.java
  typespec-tests/src/main/java/com/type/model/inheritance/nesteddiscriminator/models/Fish.java
  typespec-tests/src/main/java/com/type/model/inheritance/singlediscriminator/models/Bird.java
  typespec-tests/src/main/java/com/type/model/inheritance/singlediscriminator/models/Dinosaur.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/ExtendsUnknownAdditionalPropertiesDiscriminated.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/IsUnknownAdditionalPropertiesDiscriminated.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

tsp, migrate to getUnionAsEnum
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/type-utils.ts
  typespec-tests/src/main/java/com/cadl/enumservice/EnumServiceAsyncClient.java
  typespec-tests/src/main/java/com/cadl/enumservice/EnumServiceClient.java
  typespec-tests/src/main/java/com/cadl/enumservice/implementation/EnumServiceClientImpl.java
  typespec-tests/src/main/java/com/cadl/enumservice/models/PriorityModel.java
  typespec-tests/tsp/enum.tsp
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

bump version
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix
  typespec-extension/src/type-utils.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

skip vision in sdk sync
  eng/sdk/sync_sdk.py
Owners: @weidongxu-microsoft, @srnagar

fix for choice name
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/type-utils.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

re-generate test code
  typespec-tests/src/main/java/com/cadl/enumservice/models/PriorityModel.java
  typespec-tests/src/main/java/com/type/union/EnumsOnlyAsyncClient.java
  typespec-tests/src/main/java/com/type/union/EnumsOnlyClient.java
  typespec-tests/src/main/java/com/type/union/implementation/EnumsOnliesImpl.java
  typespec-tests/src/main/java/com/type/union/models/EnumsOnlyCases.java
  typespec-tests/src/main/java/com/type/union/models/EnumsOnlyCasesLr.java
  typespec-tests/src/main/java/com/type/union/models/EnumsOnlyCasesUd.java
  typespec-tests/src/main/java/com/type/union/models/LR.java
  typespec-tests/src/main/java/com/type/union/models/StringExtensibleNamedUnion.java
  typespec-tests/src/main/java/com/type/union/models/UD.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update
  typespec-extension/src/code-model-builder.ts
  typespec-tests/src/main/java/com/cadl/enumservice/EnumServiceAsyncClient.java
  typespec-tests/src/main/java/com/cadl/enumservice/EnumServiceClient.java
  typespec-tests/src/main/java/com/cadl/enumservice/implementation/EnumServiceClientImpl.java
  typespec-tests/tsp/enum.tsp
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update test
  typespec-tests/src/test/java/com/type/union/UnionsClientTest.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Small update to maintain discriminator and hide getter
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  vanilla-tests/src/main/java/fixtures/inheritance/donotpassdiscriminator/models/MetricAlertCriteria.java
  vanilla-tests/src/main/java/fixtures/inheritance/donotpassdiscriminator/models/MetricAlertSingleResourceMultipleMetricCriteria.java
  vanilla-tests/src/main/java/fixtures/inheritance/passdiscriminator/models/MetricAlertCriteria.java
  vanilla-tests/src/main/java/fixtures/inheritance/passdiscriminator/models/MetricAlertSingleResourceMultipleMetricCriteria.java
Owners: @weidongxu-microsoft, @srnagar

Add back getter
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  vanilla-tests/src/main/java/fixtures/inheritance/donotpassdiscriminator/models/MetricAlertCriteria.java
  vanilla-tests/src/main/java/fixtures/inheritance/passdiscriminator/models/MetricAlertCriteria.java
Owners: @weidongxu-microsoft, @srnagar

delete empty clients
  vanilla-tests/src/main/java/fixtures/annotatedgettersandsetters/DefaultValueClient.java
  vanilla-tests/src/main/java/fixtures/annotatedgettersandsetters/DefaultValueClientBuilder.java
  vanilla-tests/src/main/java/fixtures/clientdefaultvalue/DefaultValueClient.java
  vanilla-tests/src/main/java/fixtures/clientdefaultvalue/DefaultValueClientBuilder.java
  vanilla-tests/src/main/java/fixtures/complexstreamstylexmlserialization/DefaultValueClient.java
  vanilla-tests/src/main/java/fixtures/complexstreamstylexmlserialization/DefaultValueClientBuilder.java
  vanilla-tests/src/main/java/fixtures/complexxmltag/DefaultValueClient.java
  vanilla-tests/src/main/java/fixtures/complexxmltag/DefaultValueClientBuilder.java
  vanilla-tests/src/main/java/fixtures/requiredfieldsascotrargstransformation/RequiredFieldsAsCtorArgsTransformation.java
  vanilla-tests/src/main/java/fixtures/requiredfieldsascotrargstransformation/RequiredFieldsAsCtorArgsTransformationBuilder.java
  vanilla-tests/src/main/java/fixtures/securityinfo/AutorestSecurityInfo.java
  vanilla-tests/src/main/java/fixtures/securityinfo/AutorestSecurityInfoBuilder.java
Owners: @weidongxu-microsoft, @srnagar

tsp, migrate to Azure.Core getUnionAsEnum (#2567)
  eng/sdk/sync_sdk.py
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/type-utils.ts
  typespec-tests/package.json
  typespec-tests/src/main/java/com/cadl/enumservice/models/PriorityModel.java
  typespec-tests/src/main/java/com/type/union/EnumsOnlyAsyncClient.java
  typespec-tests/src/main/java/com/type/union/EnumsOnlyClient.java
  typespec-tests/src/main/java/com/type/union/implementation/EnumsOnliesImpl.java
  typespec-tests/src/main/java/com/type/union/models/EnumsOnlyCases.java
  typespec-tests/src/main/java/com/type/union/models/EnumsOnlyCasesLr.java
  typespec-tests/src/main/java/com/type/union/models/EnumsOnlyCasesUd.java
  typespec-tests/src/main/java/com/type/union/models/LR.java
  typespec-tests/src/main/java/com/type/union/models/StringExtensibleNamedUnion.java
  typespec-tests/src/main/java/com/type/union/models/UD.java
  typespec-tests/src/test/java/com/type/union/UnionsClientTest.java
  typespec-tests/tsp/enum.tsp
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

pick from https://github.com/Azure/autorest.java/pull/2567
  eng/sdk/sync_sdk.py
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/type-utils.ts
  typespec-tests/package.json
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

remove wordWrapWidth
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaClass.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaFile.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaFileContents.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaFileFactory.java
  javagen/src/main/java/com/azure/autorest/model/xmlmodel/XmlFile.java
  javagen/src/main/java/com/azure/autorest/model/xmlmodel/XmlFileContents.java
  javagen/src/main/java/com/azure/autorest/template/MethodGroupInterfaceTemplate.java
  javagen/src/main/java/com/azure/autorest/template/MethodGroupTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ModuleInfoTemplate.java
  javagen/src/main/java/com/azure/autorest/template/PackageInfoTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ProtocolTestBaseTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ProxyTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientBuilderTemplate.java
  javagen/src/main/java/com/azure/autorest/template/util/ModelTemplateHeaderHelper.java
  javagen/src/main/java/com/azure/autorest/util/CodeNamer.java
Owners: @weidongxu-microsoft, @srnagar

fix
  typespec-extension/changelog.md
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

delete test
  javagen/src/test/java/com/azure/autorest/model/JavaFileContentsTests.java
Owners: @weidongxu-microsoft, @srnagar

format
  javagen/src/main/java/com/azure/autorest/template/ProtocolTestBaseTemplate.java
Owners: @weidongxu-microsoft, @srnagar

mpg, migrate fluent naming override from FluentGen (#2558)
  fluentnamer/src/main/java/com/azure/autorest/fluent/transformer/SchemaNameNormalization.java
  typespec-extension/src/main/java/com/azure/autorest/fluent/TypeSpecFluentPlugin.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/TopLevelArmResourceImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/TopLevelArmResource.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/TopLevelArmResourceProperties.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/TopLevelArmResourceUpdate.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/TopLevelArmResourceUpdateProperties.java
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armresourceprovider-generated/reflect-config.json
  typespec-tests/tsp/arm.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

skip azure-communication-messages
  eng/sdk/sync_sdk.py
Owners: @weidongxu-microsoft, @srnagar

tsp, required prop as optional in patch model
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ModelPropertyMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientModelProperty.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientModelPropertyAccess.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientModelPropertyReference.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
Owners: @weidongxu-microsoft, @srnagar

update tests
  typespec-tests/src/test/java/com/_specs_/azure/core/basic/CoreTests.java
  typespec-tests/src/test/java/com/cadl/patch/PatchClientTest.java
  typespec-tests/src/test/java/com/type/property/nullable/BytesClientTest.java
  typespec-tests/src/test/java/com/type/property/nullable/CollectionsByteClientTest.java
  typespec-tests/src/test/java/com/type/property/nullable/CollectionsModelClientTest.java
  typespec-tests/src/test/java/com/type/property/nullable/DatetimeOperationClientTest.java
  typespec-tests/src/test/java/com/type/property/nullable/DurationOperationClientTest.java
  typespec-tests/src/test/java/com/type/property/nullable/StringClientTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, discrimintor value as enum
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

re-generate test code
  typespec-tests/src/main/java/com/type/model/inheritance/enumdiscriminator/EnumDiscriminatorAsyncClient.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumdiscriminator/EnumDiscriminatorClient.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumdiscriminator/implementation/EnumDiscriminatorClientImpl.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumdiscriminator/models/Cobra.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumdiscriminator/models/Dog.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumdiscriminator/models/DogKind.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumdiscriminator/models/Golden.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumdiscriminator/models/Snake.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumdiscriminator/models/SnakeKind.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, discriminator type as enum (#2571)
  typespec-extension/src/code-model-builder.ts
  typespec-tests/src/main/java/com/type/model/inheritance/enumdiscriminator/EnumDiscriminatorAsyncClient.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumdiscriminator/EnumDiscriminatorClient.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumdiscriminator/implementation/EnumDiscriminatorClientImpl.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumdiscriminator/models/Cobra.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumdiscriminator/models/Dog.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumdiscriminator/models/DogKind.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumdiscriminator/models/Golden.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumdiscriminator/models/Snake.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumdiscriminator/models/SnakeKind.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

bug fix - tsp runs partial update twice
  partial-update/src/main/java/com/azure/autorest/partialupdate/util/PartialUpdateHandler.java
  typespec-extension/src/main/java/com/azure/typespec/Main.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

bump version
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update changelog
  typespec-extension/changelog.md
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update changelog
  typespec-extension/changelog.md
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update changelog
  typespec-extension/changelog.md
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Update Jackson polymorphic annotations
  Generate.ps1
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  vanilla-tests/src/main/java/fixtures/inheritance/donotpassdiscriminator/MetricAlerts.java
  vanilla-tests/src/main/java/fixtures/inheritance/donotpassdiscriminator/MonitorManagementClient.java
  vanilla-tests/src/main/java/fixtures/inheritance/donotpassdiscriminator/MonitorManagementClientBuilder.java
  vanilla-tests/src/main/java/fixtures/inheritance/donotpassdiscriminator/models/ApplicationPackageReference.java
  vanilla-tests/src/main/java/fixtures/inheritance/donotpassdiscriminator/models/BackendAddressPool.java
  vanilla-tests/src/main/java/fixtures/inheritance/donotpassdiscriminator/models/LoadBalancer.java
  vanilla-tests/src/main/java/fixtures/inheritance/donotpassdiscriminator/models/MetricAlertCriteria.java
  vanilla-tests/src/main/java/fixtures/inheritance/donotpassdiscriminator/models/MetricAlertResource.java
  vanilla-tests/src/main/java/fixtures/inheritance/donotpassdiscriminator/models/MetricAlertSingleResourceMultipleMetricCriteria.java
  vanilla-tests/src/main/java/fixtures/inheritance/donotpassdiscriminator/models/Odatatype.java
  vanilla-tests/src/main/java/fixtures/inheritance/donotpassdiscriminator/models/VirtualMachineScaleSet.java
  vanilla-tests/src/main/java/fixtures/inheritance/donotpassdiscriminator/models/VirtualMachineScaleSetNetworkConfiguration.java
  vanilla-tests/src/main/java/fixtures/inheritance/donotpassdiscriminator/models/VirtualMachineScaleSetNetworkProfile.java
  vanilla-tests/src/main/java/fixtures/inheritance/donotpassdiscriminator/models/VirtualMachineScaleSetVMProfile.java
  vanilla-tests/src/main/java/fixtures/inheritance/donotpassdiscriminator/models/package-info.java
  vanilla-tests/src/main/java/fixtures/inheritance/donotpassdiscriminator/package-info.java
  vanilla-tests/src/main/java/fixtures/inheritance/passdiscriminator/models/MetricAlertCriteria.java
  vanilla-tests/src/main/java/fixtures/inheritance/passdiscriminator/models/MetricAlertSingleResourceMultipleMetricCriteria.java
Owners: @weidongxu-microsoft, @srnagar

Delete tests for code generation that doesn't exist anymore
  vanilla-tests/src/test/java/fixtures/inheritance/donotpassdiscriminator/ValidateDiscriminatorIsNotPassedTests.java
Owners: @weidongxu-microsoft, @srnagar

Remove pass discriminator to children setting (#2563)
  Generate.ps1
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  readme.md
  vanilla-tests/src/main/java/fixtures/inheritance/donotpassdiscriminator/MetricAlerts.java
  vanilla-tests/src/main/java/fixtures/inheritance/donotpassdiscriminator/MonitorManagementClient.java
  vanilla-tests/src/main/java/fixtures/inheritance/donotpassdiscriminator/MonitorManagementClientBuilder.java
  vanilla-tests/src/main/java/fixtures/inheritance/donotpassdiscriminator/models/ApplicationPackageReference.java
  vanilla-tests/src/main/java/fixtures/inheritance/donotpassdiscriminator/models/BackendAddressPool.java
  vanilla-tests/src/main/java/fixtures/inheritance/donotpassdiscriminator/models/LoadBalancer.java
  vanilla-tests/src/main/java/fixtures/inheritance/donotpassdiscriminator/models/MetricAlertCriteria.java
  vanilla-tests/src/main/java/fixtures/inheritance/donotpassdiscriminator/models/MetricAlertResource.java
  vanilla-tests/src/main/java/fixtures/inheritance/donotpassdiscriminator/models/MetricAlertSingleResourceMultipleMetricCriteria.java
  vanilla-tests/src/main/java/fixtures/inheritance/donotpassdiscriminator/models/Odatatype.java
  vanilla-tests/src/main/java/fixtures/inheritance/donotpassdiscriminator/models/VirtualMachineScaleSet.java
  vanilla-tests/src/main/java/fixtures/inheritance/donotpassdiscriminator/models/VirtualMachineScaleSetNetworkConfiguration.java
  vanilla-tests/src/main/java/fixtures/inheritance/donotpassdiscriminator/models/VirtualMachineScaleSetNetworkProfile.java
  vanilla-tests/src/main/java/fixtures/inheritance/donotpassdiscriminator/models/VirtualMachineScaleSetVMProfile.java
  vanilla-tests/src/main/java/fixtures/inheritance/donotpassdiscriminator/models/package-info.java
  vanilla-tests/src/main/java/fixtures/inheritance/donotpassdiscriminator/package-info.java
  vanilla-tests/src/main/java/fixtures/inheritance/passdiscriminator/models/MetricAlertCriteria.java
  vanilla-tests/src/main/java/fixtures/inheritance/passdiscriminator/models/MetricAlertSingleResourceMultipleMetricCriteria.java
  vanilla-tests/src/test/java/fixtures/inheritance/donotpassdiscriminator/ValidateDiscriminatorIsNotPassedTests.java
Owners: @weidongxu-microsoft, @srnagar

Skip generating clients if there are no operations (#2565)
  javagen/src/main/java/com/azure/autorest/Javagen.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
  vanilla-tests/src/main/java/fixtures/annotatedgettersandsetters/DefaultValueClient.java
  vanilla-tests/src/main/java/fixtures/annotatedgettersandsetters/DefaultValueClientBuilder.java
  vanilla-tests/src/main/java/fixtures/clientdefaultvalue/DefaultValueClient.java
  vanilla-tests/src/main/java/fixtures/clientdefaultvalue/DefaultValueClientBuilder.java
  vanilla-tests/src/main/java/fixtures/complexstreamstylexmlserialization/DefaultValueClient.java
  vanilla-tests/src/main/java/fixtures/complexstreamstylexmlserialization/DefaultValueClientBuilder.java
  vanilla-tests/src/main/java/fixtures/complexxmltag/DefaultValueClient.java
  vanilla-tests/src/main/java/fixtures/complexxmltag/DefaultValueClientBuilder.java
  vanilla-tests/src/main/java/fixtures/requiredfieldsascotrargstransformation/RequiredFieldsAsCtorArgsTransformation.java
  vanilla-tests/src/main/java/fixtures/requiredfieldsascotrargstransformation/RequiredFieldsAsCtorArgsTransformationBuilder.java
  vanilla-tests/src/main/java/fixtures/securityinfo/AutorestSecurityInfo.java
  vanilla-tests/src/main/java/fixtures/securityinfo/AutorestSecurityInfoBuilder.java
Owners: @weidongxu-microsoft, @srnagar

Remove Mockito from mock tests
  fluent-tests/pom.xml
  fluentgen/src/main/java/com/azure/autorest/fluent/FluentGen.java
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/FluentPomMapper.java
  fluentgen/src/main/java/com/azure/autorest/fluent/template/FluentMethodMockTestTemplate.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Fix test
  fluent-tests/src/test/java/com/azure/mgmttest/RuntimeTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

.github/CODEOWNERS:

# default
*                           @weidongxu-microsoft @srnagar

# Git Hub bot rules
/.github/fabricbot.json     @jsquire @ronniegeraghty

# fluentgen
/fluent*                    @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/azure-tests                @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

# androidgen
/androidgen                 @JianpingChen @anuchandy

# protocol
/protocol*                  @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update-tests       @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar

# typespec
/typespec-extension         @srnagar @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/typespec-tests             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
