Repository Azure/autorest.java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @weidongxu-microsoft, @srnagar, @jsquire, @ronniegeraghty, @haolingdong-msft, @XiaofeiCao, @JianpingChen, @anuchandy

.github/CODEOWNERS:

# default
*                           @weidongxu-microsoft @srnagar

# Git Hub bot rules
/.github/fabricbot.json     @jsquire @ronniegeraghty

# fluentgen
/fluent*                    @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/azure-tests                @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

# androidgen
/androidgen                 @JianpingChen @anuchandy

# protocol
/protocol*                  @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update-tests       @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar

# typespec
/typespec-extension         @srnagar @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/typespec-tests             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

fix regression of HEAD as boolean
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ProxyMethodMapper.java
  javagen/src/main/java/com/azure/autorest/util/SchemaUtil.java
  protocol-tests/src/main/java/fixtures/httpinfrastructure/HttpSuccessAsyncClient.java
  protocol-tests/src/main/java/fixtures/httpinfrastructure/HttpSuccessClient.java
  protocol-tests/src/main/java/fixtures/httpinfrastructure/implementation/HttpSuccessImpl.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

case insensitive
  typespec-extension/src/operation-utils.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

extract TemplateUtil.prettyPrintToJson
  javagen/src/main/java/com/azure/autorest/model/clientmodel/GraalVmConfig.java
  javagen/src/main/java/com/azure/autorest/template/TestProxyAssetsTemplate.java
  javagen/src/main/java/com/azure/autorest/util/TemplateUtil.java
Owners: @weidongxu-microsoft, @srnagar

refine graalvm config
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  fluentgen/src/main/java/com/azure/autorest/fluent/FluentGen.java
  fluentnamer/readme.md
  javagen/src/main/java/com/azure/autorest/Javagen.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/DefaultMapperFactory.java
  javagen/src/main/java/com/azure/autorest/mapper/GraalVmConfigMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/MapperFactory.java
  javagen/src/main/java/com/azure/autorest/mapper/Mappers.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/GraalVmConfig.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaPackage.java
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  javagen/src/test/java/com/azure/autorest/template/TestProxyAssertsTemplateTests.java
  readme.md
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

fix enum as body
  javagen/src/main/java/com/azure/autorest/template/ConvenienceAsyncMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceSyncMethodTemplate.java
  typespec-tests/src/main/java/com/cadl/enumservice/EnumServiceAsyncClient.java
  typespec-tests/src/main/java/com/cadl/enumservice/EnumServiceClient.java
  typespec-tests/src/main/java/com/cadl/enumservice/implementation/EnumServiceClientImpl.java
  typespec-tests/src/main/java/com/cadl/multicontenttypes/MultiContentTypesAsyncClient.java
  typespec-tests/src/main/java/com/cadl/multicontenttypes/MultiContentTypesClient.java
  typespec-tests/src/main/java/com/cadl/multicontenttypes/implementation/MultiContentTypesClientImpl.java
  typespec-tests/src/main/java/com/encode/bytes/RequestBodyAsyncClient.java
  typespec-tests/src/main/java/com/encode/bytes/RequestBodyClient.java
  typespec-tests/src/main/java/com/encode/bytes/implementation/RequestBodiesImpl.java
  typespec-tests/src/main/java/com/type/enums/extensible/ExtensibleAsyncClient.java
  typespec-tests/src/main/java/com/type/enums/extensible/ExtensibleClient.java
  typespec-tests/src/main/java/com/type/enums/extensible/implementation/ExtensibleClientImpl.java
  typespec-tests/src/main/java/com/type/enums/fixed/FixedAsyncClient.java
  typespec-tests/src/main/java/com/type/enums/fixed/FixedClient.java
  typespec-tests/src/main/java/com/type/enums/fixed/implementation/FixedClientImpl.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

regen
  typespec-tests/package.json
  typespec-tests/src/main/java/com/client/structure/service/ClientAClientBuilder.java
  typespec-tests/src/main/java/com/client/structure/service/ClientBClientBuilder.java
  typespec-tests/src/main/java/com/client/structure/service/RenamedOperationClientBuilder.java
  typespec-tests/src/main/java/com/client/structure/service/ServiceClientClientBuilder.java
  typespec-tests/src/main/java/com/client/structure/service/TwoOperationGroupClientBuilder.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/ClientAClientImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/ClientBClientImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/Group1sImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/Group2sImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/GroupsImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/RenamedOperationClientImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/ServiceClientClientImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/TwoOperationGroupClientImpl.java
  typespec-tests/src/main/java/com/encode/bytes/RequestBodyAsyncClient.java
  typespec-tests/src/main/java/com/encode/bytes/RequestBodyClient.java
  typespec-tests/src/main/java/com/encode/bytes/implementation/RequestBodiesImpl.java
  typespec-tests/src/main/java/com/resiliency/servicedriven/ResiliencyServiceDrivenClientBuilder.java
  typespec-tests/src/main/java/com/resiliency/servicedriven/implementation/ResiliencyServiceDrivenClientImpl.java
  typespec-tests/src/main/java/com/resiliency/servicedriven/v1/ResiliencyServiceDrivenClientBuilder.java
  typespec-tests/src/main/java/com/resiliency/servicedriven/v1/implementation/ResiliencyServiceDrivenClientImpl.java
  typespec-tests/src/test/java/com/client/structure/DefaultClientTests.java
  typespec-tests/src/test/java/com/client/structure/MultiClientTests.java
  typespec-tests/src/test/java/com/client/structure/OperationGroupClientTests.java
  typespec-tests/src/test/java/com/client/structure/RenameOperationTests.java
  typespec-tests/src/test/java/com/client/structure/service/generated/ClientAClientTestBase.java
  typespec-tests/src/test/java/com/client/structure/service/generated/RenamedOperationClientTestBase.java
  typespec-tests/src/test/java/com/client/structure/service/generated/ServiceClientClientTestBase.java
  typespec-tests/src/test/java/com/client/structure/service/generated/TwoOperationGroupClientTestBase.java
  typespec-tests/src/test/java/com/resiliency/servicedriven/ServiceDrivenTests.java
  typespec-tests/src/test/java/com/resiliency/servicedriven/generated/ResiliencyServiceDrivenClientTestBase.java
  typespec-tests/src/test/java/com/resiliency/servicedriven/v1/generated/ResiliencyServiceDrivenClientTestBase.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Return null by default for byte[] getters
  Generate.ps1
  androidgen/src/main/java/com/azure/autorest/android/mapper/AndroidPrimitiveMapper.java
  androidgen/src/main/java/com/azure/autorest/android/model/clientmodel/AndroidProxyMethodParameter.java
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  javagen/src/main/java/com/azure/autorest/mapper/CustomProxyParameterMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/PrimitiveMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ProxyParameterMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ArrayType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientModelProperty.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ProxyMethodParameter.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceAsyncMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceSyncMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/PatchModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/util/ModelTemplateHeaderHelper.java
  vanilla-tests/src/main/java/fixtures/requiredfieldsascotrargstransformation/models/TransformationAsRequiredFields.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Sawshark.java
  vanilla-tests/src/main/java/fixtures/url/Queries.java
Owners: @weidongxu-microsoft, @srnagar, @JianpingChen, @anuchandy

Rename the setting
  Generate.ps1
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ArrayType.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
Owners: @weidongxu-microsoft, @srnagar

Update TypeSpec code generation
  typespec-tests/src/main/java/com/cadl/builtin/models/Encoded.java
  typespec-tests/src/main/java/com/cadl/wiretype/models/SubClassBothMismatch.java
  typespec-tests/src/main/java/com/encode/bytes/models/Base64UrlBytesProperty.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Return null by default for byte[] getters (#2317)
  Generate.ps1
  androidgen/src/main/java/com/azure/autorest/android/mapper/AndroidPrimitiveMapper.java
  androidgen/src/main/java/com/azure/autorest/android/model/clientmodel/AndroidProxyMethodParameter.java
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  javagen/src/main/java/com/azure/autorest/mapper/CustomProxyParameterMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/PrimitiveMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ProxyParameterMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ArrayType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientModelProperty.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ProxyMethodParameter.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceAsyncMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceSyncMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/PatchModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/util/ModelTemplateHeaderHelper.java
  typespec-tests/src/main/java/com/cadl/builtin/models/Encoded.java
  typespec-tests/src/main/java/com/cadl/wiretype/models/SubClassBothMismatch.java
  typespec-tests/src/main/java/com/encode/bytes/models/Base64UrlBytesProperty.java
  vanilla-tests/src/main/java/fixtures/requiredfieldsascotrargstransformation/models/TransformationAsRequiredFields.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Sawshark.java
  vanilla-tests/src/main/java/fixtures/url/Queries.java
Owners: @weidongxu-microsoft, @srnagar, @JianpingChen, @anuchandy, @haolingdong-msft, @XiaofeiCao

mgmt, add DISBLED to model flatten
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
Owners: @weidongxu-microsoft, @srnagar

tsp, bug fix for response as primitive type
  javagen/src/main/java/com/azure/autorest/template/ConvenienceAsyncMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceSyncMethodTemplate.java
Owners: @weidongxu-microsoft, @srnagar

mgmt, add DISBLED to model flatten (#2318)
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
Owners: @weidongxu-microsoft, @srnagar

readme
  readme.md
Owners: @weidongxu-microsoft, @srnagar

do not do convert from BinaryData, if protocol method does not return BinaryData
  javagen/src/main/java/com/azure/autorest/template/ConvenienceAsyncMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceSyncMethodTemplate.java
Owners: @weidongxu-microsoft, @srnagar

tsp, bug fix for response as primitive type (#2320)
  javagen/src/main/java/com/azure/autorest/template/ConvenienceAsyncMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceSyncMethodTemplate.java
  readme.md
Owners: @weidongxu-microsoft, @srnagar

Geenerate API view properties with CrossLanguageDefinitionId
  androidgen/src/main/java/com/azure/autorest/android/model/clientmodel/AndroidClientMethod.java
  androidgen/src/main/java/com/azure/autorest/android/model/clientmodel/AndroidClientModel.java
  androidgen/src/main/java/com/azure/autorest/android/model/clientmodel/AndroidServiceClient.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/ChoiceSchema.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/Client.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/ObjectSchema.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/Operation.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/MapperUtils.java
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/AsyncSyncClient.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/Client.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientBuilder.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientMethod.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientModel.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientResponse.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/EnumType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ServiceClient.java
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/common/client.ts
  typespec-extension/src/common/operation.ts
  typespec-extension/src/common/schemas/choice.ts
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
  typespec-extension/src/main/java/com/azure/typespec/Main.java
  typespec-extension/src/main/java/com/azure/typespec/mapper/TypeSpecServiceClientMapper.java
Owners: @JianpingChen, @anuchandy, @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

mgmt/dpg, generate graalvm config (#2314)
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  fluentgen/src/main/java/com/azure/autorest/fluent/FluentGen.java
  fluentnamer/readme.md
  javagen/src/main/java/com/azure/autorest/Javagen.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/DefaultMapperFactory.java
  javagen/src/main/java/com/azure/autorest/mapper/GraalVmConfigMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/MapperFactory.java
  javagen/src/main/java/com/azure/autorest/mapper/Mappers.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/Client.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/GraalVmConfig.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaPackage.java
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  javagen/src/main/java/com/azure/autorest/template/TestProxyAssetsTemplate.java
  javagen/src/main/java/com/azure/autorest/util/TemplateUtil.java
  javagen/src/test/java/com/azure/autorest/template/TestProxyAssertsTemplateTests.java
  readme.md
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

tsp, after release
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Update changelog.md
  typespec-extension/changelog.md
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, post 0.9.0 release, bump version to 0.9.1 (#2323)
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

create java name for discriminator
  preprocessor/src/main/java/com/azure/autorest/preprocessor/tranformer/Transformer.java
Owners: @weidongxu-microsoft, @srnagar

create java name for discriminator (#2324)
  preprocessor/src/main/java/com/azure/autorest/preprocessor/tranformer/Transformer.java
Owners: @weidongxu-microsoft, @srnagar

include widget manager tsp
  typespec-tests/main.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Handle empty Javadocs
  partial-update/src/main/java/com/azure/autorest/partialupdate/util/PartialUpdateHandler.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

Handle one line Javadocs
  partial-update/src/main/java/com/azure/autorest/partialupdate/util/PartialUpdateHandler.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

Use buffered reader to get lines
  partial-update/src/main/java/com/azure/autorest/partialupdate/util/PartialUpdateHandler.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

mgmt, minor change
  azure-dataplane-tests/pom.xml
  extension-base/src/main/java/com/azure/autorest/extension/base/model/extensionmodel/AllowedResource.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/extensionmodel/XmsArmIdDetails.java
  typespec-tests/pom.xml
  vanilla-tests/pom.xml
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

mgmt, minor change (#2327)
  azure-dataplane-tests/pom.xml
  extension-base/src/main/java/com/azure/autorest/extension/base/model/extensionmodel/AllowedResource.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/extensionmodel/XmsArmIdDetails.java
  typespec-tests/pom.xml
  vanilla-tests/pom.xml
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

bug in formatter.ts in @azure-tools/codegen
  typespec-extension/src/prenamer/formatter.ts
  typespec-extension/src/prenamer/naming-utils.ts
  typespec-extension/src/prenamer/prenamer.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

add one more test
  typespec-tests/src/test/java/com/specialwords/ModelPropertyClientTest.java
  typespec-tests/src/test/java/com/specialwords/OperationClientTest.java
  typespec-tests/src/test/java/com/specialwords/ReflectHelper.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

disable
  typespec-tests/src/test/java/com/specialwords/ModelPropertyClientTest.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

client, readme, use learn site
  fluentgen/src/main/resources/Readme.txt
  javagen/src/main/resources/Readme_protocol.txt
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

use Microsoft Entra ID
  fluentgen/src/main/resources/Readme.txt
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

client, readme, use learn site and Microsoft Entra ID (#2329)
  fluentgen/src/main/resources/Readme.txt
  javagen/src/main/resources/Readme_protocol.txt
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

mgmt, null-byte-array-maps-to-empty-array
  fluentnamer/readme.md
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

mgmt, null-byte-array-maps-to-empty-array (#2334)
  fluentnamer/readme.md
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

partial update, fix bug of getting wrong base directory
  postprocessor/src/main/java/com/azure/autorest/postprocessor/Postprocessor.java
Owners: @weidongxu-microsoft, @srnagar

partial update, fix bug of getting wrong base directory (#2335)
  postprocessor/src/main/java/com/azure/autorest/postprocessor/Postprocessor.java
Owners: @weidongxu-microsoft, @srnagar

Update tsconfig.json
  typespec-extension/tsconfig.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao
