Repository Azure/autorest.java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @weidongxu-microsoft, @srnagar, @jsquire, @ronniegeraghty, @haolingdong-msft, @XiaofeiCao, @JianpingChen, @anuchandy

.github/CODEOWNERS:

# default
*                           @weidongxu-microsoft @srnagar

# Git Hub bot rules
/.github/fabricbot.json     @jsquire @ronniegeraghty

# fluentgen
/fluent*                    @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/azure-tests                @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

# androidgen
/androidgen                 @JianpingChen @anuchandy

# protocol
/protocol*                  @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update-tests       @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar

# typespec
/typespec-extension         @srnagar @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/typespec-tests             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

bug fix on lroMetadata.statusMonitorStep
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/operation-utils.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

remove OperationLink
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/Operation.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/OperationLink.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
Owners: @weidongxu-microsoft, @srnagar

test
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/RpcAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/RpcClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/implementation/RpcClientImpl.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/models/JobDataJobResultJobPollResultLongRunningFinalLocationJobResult.java
  typespec-tests/src/test/java/com/_specs_/azure/core/lro/rpc/LroRpcTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix checkstyle
  javagen/src/main/java/com/azure/autorest/template/ServiceVersionTemplate.java
Owners: @weidongxu-microsoft, @srnagar

re-generate test code
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/BasicServiceVersion.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/RpcServiceVersion.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/standard/StandardServiceVersion.java
  typespec-tests/src/main/java/com/_specs_/azure/core/traits/TraitsServiceVersion.java
  typespec-tests/src/main/java/com/cadl/apiversion/ApiVersionServiceVersion.java
  typespec-tests/src/main/java/com/cadl/flatten/FlattenServiceVersion.java
  typespec-tests/src/main/java/com/cadl/multipleapiversion/FirstServiceVersion.java
  typespec-tests/src/main/java/com/cadl/multipleapiversion/SecondServiceVersion.java
  typespec-tests/src/main/java/com/cadl/protocolandconvenient/ProtocolAndConvenientServiceVersion.java
  typespec-tests/src/main/java/com/cadl/response/ResponseServiceVersion.java
  typespec-tests/src/main/java/com/cadl/server/ContosoServiceVersion.java
  typespec-tests/src/main/java/com/cadl/specialheaders/SpecialHeadersServiceVersion.java
  typespec-tests/src/main/java/com/cadl/union/UnionServiceVersion.java
  typespec-tests/src/main/java/com/cadl/versioning/VersioningServiceVersion.java
  typespec-tests/src/main/java/com/resiliency/servicedriven/ServiceDrivenServiceVersion.java
  typespec-tests/src/main/java/com/resiliency/servicedriven/v1/ServiceDrivenServiceVersion.java
  typespec-tests/src/main/java/com/server/path/multiple/MultipleServiceVersion.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

re-generate test code
  azure-dataplane-tests/src/main/java/com/azure/ai/formrecognizer/documentanalysis/dpg/FormRecognizerServiceVersion.java
  partial-update-tests/generated/src/main/java/fixtures/bodystring/AutoRestSwaggerBatServiceVersion.java
  protocol-resilience-test/llcinitial/src/main/java/fixtures/llcresi/DpgServiceVersion.java
  protocol-resilience-test/llcupdate1/src/main/java/fixtures/llcresi/DpgServiceVersion.java
  protocol-tests/src/main/java/fixtures/bodycomplex/AutoRestComplexTestServiceVersion.java
  protocol-tests/src/main/java/fixtures/bodyfile/AutoRestSwaggerBatFileServiceVersion.java
  protocol-tests/src/main/java/fixtures/bodystring/AutoRestSwaggerBatServiceVersion.java
  protocol-tests/src/main/java/fixtures/constantandclientparam/ConstantAndClientParameterServiceVersion.java
  protocol-tests/src/main/java/fixtures/constants/AutoRestSwaggerConstantServiceVersion.java
  protocol-tests/src/main/java/fixtures/dpgcustomization/DpgServiceVersion.java
  protocol-tests/src/main/java/fixtures/endpointlro/LroEndpointServiceVersion.java
  protocol-tests/src/main/java/fixtures/enums/EnumServiceVersion.java
  protocol-tests/src/main/java/fixtures/header/AutoRestSwaggerBatHeaderServiceVersion.java
  protocol-tests/src/main/java/fixtures/headexceptions/AutoRestHeadExceptionTestServiceVersion.java
  protocol-tests/src/main/java/fixtures/httpinfrastructure/AutoRestHttpInfrastructureTestServiceVersion.java
  protocol-tests/src/main/java/fixtures/llcinitial/DpgServiceVersion.java
  protocol-tests/src/main/java/fixtures/llcupdate1/DpgServiceVersion.java
  protocol-tests/src/main/java/fixtures/lro/AutoRestLongRunningOperationTestServiceVersion.java
  protocol-tests/src/main/java/fixtures/mediatypes/MediaTypesServiceVersion.java
  protocol-tests/src/main/java/fixtures/multimediatypes/DpgMultiMediaTypesServiceVersion.java
  protocol-tests/src/main/java/fixtures/paging/AutoRestPagingTestServiceVersion.java
  protocol-tests/src/main/java/fixtures/parameterizedendpoint/ParmaterizedEndpointServiceVersion.java
  protocol-tests/src/main/java/fixtures/requiredheaderquery/DpgRequiredHeaderQueryServiceVersion.java
  protocol-tests/src/main/java/fixtures/requiredoptionalbody/RequiredOptionalBodyServiceVersion.java
  protocol-tests/src/main/java/fixtures/specialheader/SpecialHeaderServiceVersion.java
  protocol-tests/src/main/java/fixtures/url/AutoRestUrlTestServiceVersion.java
  protocol-tests/src/main/java/fixtures/url/multi/AutoRestUrlMutliCollectionFormatTestServiceVersion.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

regen
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/models/JobDataJobResultJobPollResultLongRunningFinalLocationJobResult.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, switch all LRO logic to getLroMetadata (#2173)
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/Operation.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/OperationLink.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/common/operation.ts
  typespec-extension/src/operation-utils.ts
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/RpcAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/RpcClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/implementation/RpcClientImpl.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/models/JobDataJobResultJobPollResultLongRunningFinalLocationJobResult.java
  typespec-tests/src/test/java/com/_specs_/azure/core/lro/rpc/LroRpcTests.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

bump azure-core
  androidgen/pom.xml
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  fluent-tests/pom.xml
  fluentnamer/pom.xml
  javagen/pom.xml
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  partial-update-tests/pom.xml
  protocol-resilience-test/pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  protocol-tests/pom.xml
  typespec-extension/pom.xml
  typespec-tests/pom.xml
  vanilla-tests/pom.xml
Owners: @JianpingChen, @anuchandy, @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

support https://github.com/Azure/autorest.java/issues/2162
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/Scheme.java
  javagen/src/main/java/com/azure/autorest/mapper/ServiceClientMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/SecurityInfo.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientBuilderTemplate.java
  typespec-extension/src/code-model-builder.ts
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

test
  typespec-tests/src/main/java/com/authentication/http/custom/CustomClientBuilder.java
  typespec-tests/src/test/java/com/authentication/http/custom/CustomAuthTests.java
  typespec-tests/src/test/java/com/authentication/util/AzureKeyCredentialPolicy.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

ignore format=eTag
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

bump version
  androidgen/pom.xml
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  fluent-tests/pom.xml
  fluentnamer/pom.xml
  javagen/pom.xml
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  partial-update-tests/pom.xml
  protocol-resilience-test/pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  protocol-tests/pom.xml
  typespec-extension/pom.xml
  typespec-tests/pom.xml
  vanilla-tests/pom.xml
Owners: @JianpingChen, @anuchandy, @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

tsp, ignore string format=eTag for nightly build (#2175)
  androidgen/pom.xml
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  fluent-tests/pom.xml
  fluentnamer/pom.xml
  javagen/pom.xml
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  partial-update-tests/pom.xml
  protocol-resilience-test/pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  protocol-tests/pom.xml
  typespec-extension/pom.xml
  typespec-extension/src/code-model-builder.ts
  typespec-tests/pom.xml
  vanilla-tests/pom.xml
Owners: @JianpingChen, @anuchandy, @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

changelog
  typespec-extension/changelog.md
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

remove in mgmt test
  fluent-tests/src/test/java/com/azure/mgmttest/RuntimeTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

try AssertingClient in test
  typespec-tests/src/test/java/com/_specs_/azure/core/basic/CoreTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, support custom auth (#2174)
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/Scheme.java
  javagen/src/main/java/com/azure/autorest/mapper/ServiceClientMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/SecurityInfo.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientBuilderTemplate.java
  typespec-extension/changelog.md
  typespec-extension/src/code-model-builder.ts
  typespec-tests/src/main/java/com/authentication/http/custom/CustomClientBuilder.java
  typespec-tests/src/test/java/com/authentication/http/custom/CustomAuthTests.java
  typespec-tests/src/test/java/com/authentication/util/AzureKeyCredentialPolicy.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Fix typos
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  vanilla-tests/src/main/java/fixtures/complexstreamstylexmlserialization/models/BlobName.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/AccessPolicy.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/AppleBarrel.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/Banana.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/Blob.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/BlobPrefix.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/BlobProperties.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/Blobs.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/ComplexTypeNoMeta.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/ComplexTypeWithMeta.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/Container.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/ContainerProperties.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/CorsRule.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/Error.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/JsonInput.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/JsonOutput.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/ListBlobsResponse.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/ListContainersResponse.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/Logging.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/Metrics.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/ModelWithByteProperty.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/ModelWithUrlProperty.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/ObjectWithXMsTextProperty.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/RetentionPolicy.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/RootWithRefAndMeta.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/RootWithRefAndNoMeta.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/SignedIdentifier.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/Slide.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/Slideshow.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/StorageServiceProperties.java
Owners: @weidongxu-microsoft, @srnagar

Update azure-xml dependency to 1.0.0-beta.2 for the new APIs being generated
  azure-dataplane-tests/pom.xml
  customization-base/pom.xml
  customization-base/src/main/resources/pom.xml
  javagen/pom.xml
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  vanilla-tests/pom.xml
Owners: @weidongxu-microsoft, @srnagar

Fix missing import
  javagen/src/main/java/com/azure/autorest/template/XmlSequenceWrapperTemplate.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/implementation/BananasWrapper.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/implementation/SignedIdentifiersWrapper.java
Owners: @weidongxu-microsoft, @srnagar

Add a Python wrapper to PowerShell script
  typespec-tests/setup.py
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Verify Java Version when running Customizations
  postprocessor/src/main/java/com/azure/autorest/postprocessor/Postprocessor.java
Owners: @weidongxu-microsoft, @srnagar

sync azure-identity
  fluent-tests/pom.xml
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  typespec-tests/pom.xml
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

bump version to 0.7.4
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

warning instead of error, on unknown format
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, version 0.7.4 (#2178)
  fluent-tests/pom.xml
  fluent-tests/src/test/java/com/azure/mgmttest/RuntimeTests.java
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-tests/package.json
  typespec-tests/pom.xml
  typespec-tests/src/test/java/com/_specs_/azure/core/basic/CoreTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

change powershell to pwsh
  typespec-tests/setup.py
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Add a Python wrapper to PowerShell script (#2176)
  typespec-tests/setup.py
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Verify Java Version when running Customizations (#2177)
  postprocessor/src/main/java/com/azure/autorest/postprocessor/Postprocessor.java
Owners: @weidongxu-microsoft, @srnagar

Remove required = true from Jackson property annotation
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  javagen/src/main/java/com/azure/autorest/mapper/ModelPropertyMapper.java
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

tsp, upgrade compiler to 0.45
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-extension/readme.md
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, lro-rpc
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/RpcAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/RpcClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/RpcClientBuilder.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/implementation/RpcClientImpl.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/models/ErrorResponse.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/models/JobData.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/models/JobDataJobResultJobPollResultLongRunningFinalLocationJobResult.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/models/JobPollResult.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/models/JobResult.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/models/OperationState.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/models/Status.java
  typespec-tests/src/test/java/com/_specs_/azure/core/lro/rpc/LroRpcTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/RpcAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/RpcClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/implementation/RpcClientImpl.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/models/JobResult.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/models/JobStatus.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/models/Status.java
  typespec-tests/src/test/java/com/_specs_/azure/core/lro/rpc/LroRpcTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Fix XML Wrapper as the Response Type
  javagen/src/main/java/com/azure/autorest/Javagen.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ProxyMethodMapper.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/XmlSequenceWrapperTemplate.java
  javagen/src/main/java/com/azure/autorest/util/SchemaUtil.java
Owners: @weidongxu-microsoft, @srnagar

Inline deserialization when the constructor is empty
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
Owners: @weidongxu-microsoft, @srnagar

Regenerate code
  vanilla-tests/src/main/java/fixtures/complexstreamstylexmlserialization/models/BlobName.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/Xmls.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/implementation/BananasWrapper.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/implementation/SignedIdentifiersWrapper.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/AccessPolicy.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/AppleBarrel.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/Banana.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/Blob.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/BlobPrefix.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/BlobProperties.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/Blobs.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/ComplexTypeNoMeta.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/ComplexTypeWithMeta.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/Container.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/ContainerProperties.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/CorsRule.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/Error.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/JsonInput.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/JsonOutput.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/ListBlobsResponse.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/ListContainersResponse.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/Logging.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/Metrics.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/ModelWithByteProperty.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/ModelWithUrlProperty.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/ObjectWithXMsTextProperty.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/RetentionPolicy.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/RootWithRefAndMeta.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/RootWithRefAndNoMeta.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/SignedIdentifier.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/SignedIdentifiers.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/Slide.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/Slideshow.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/StorageServiceProperties.java
  vanilla-tests/src/main/java/fixtures/xmlservice/Xmls.java
  vanilla-tests/src/main/java/fixtures/xmlservice/models/AppleBarrel.java
  vanilla-tests/src/main/java/fixtures/xmlservice/models/ListContainersResponse.java
  vanilla-tests/src/main/java/fixtures/xmlservice/models/SignedIdentifiers.java
  vanilla-tests/src/main/java/fixtures/xmlservice/models/StorageServiceProperties.java
Owners: @weidongxu-microsoft, @srnagar

Simplify how XML wrapper fix is done
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/CustomProxyParameterMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/MapperUtils.java
  javagen/src/main/java/com/azure/autorest/mapper/ProxyMethodMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ProxyParameterMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/XmlSequenceWrapper.java
Owners: @weidongxu-microsoft, @srnagar

Regenerate code
  javagen/src/main/java/com/azure/autorest/mapper/MapperUtils.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/Xmls.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/implementation/models/BananaWrapper.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/implementation/models/SignedIdentifierWrapper.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/SignedIdentifiers.java
  vanilla-tests/src/main/java/fixtures/xmlservice/Xmls.java
  vanilla-tests/src/main/java/fixtures/xmlservice/implementation/models/BananaWrapper.java
  vanilla-tests/src/main/java/fixtures/xmlservice/implementation/models/SignedIdentifierWrapper.java
  vanilla-tests/src/main/java/fixtures/xmlservice/models/SignedIdentifiers.java
Owners: @weidongxu-microsoft, @srnagar

regen cadl-ranch
  typespec-tests/package.json
  typespec-tests/src/main/java/com/_specs_/azure/core/traits/TraitsAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/traits/TraitsClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/traits/implementation/TraitsClientImpl.java
  typespec-tests/src/main/java/com/_specs_/azure/core/traits/models/UserActionParam.java
  typespec-tests/src/main/java/com/_specs_/azure/core/traits/models/UserActionResponse.java
  typespec-tests/src/main/java/com/parameters/bodyoptionality/BodyOptionalityAsyncClient.java
  typespec-tests/src/main/java/com/parameters/bodyoptionality/BodyOptionalityClient.java
  typespec-tests/src/main/java/com/parameters/bodyoptionality/BodyOptionalityClientBuilder.java
  typespec-tests/src/main/java/com/parameters/bodyoptionality/OptionalExplicitAsyncClient.java
  typespec-tests/src/main/java/com/parameters/bodyoptionality/OptionalExplicitClient.java
  typespec-tests/src/main/java/com/parameters/bodyoptionality/implementation/BodyOptionalityClientImpl.java
  typespec-tests/src/main/java/com/parameters/bodyoptionality/implementation/OptionalExplicitsImpl.java
  typespec-tests/src/main/java/com/parameters/bodyoptionality/implementation/package-info.java
  typespec-tests/src/main/java/com/parameters/bodyoptionality/models/BodyModel.java
  typespec-tests/src/main/java/com/parameters/bodyoptionality/models/package-info.java
  typespec-tests/src/main/java/com/parameters/bodyoptionality/package-info.java
  typespec-tests/src/main/java/com/specialheaders/repeatability/RepeatabilityAsyncClient.java
  typespec-tests/src/main/java/com/specialheaders/repeatability/RepeatabilityClient.java
  typespec-tests/src/main/java/com/specialheaders/repeatability/RepeatabilityClientBuilder.java
  typespec-tests/src/main/java/com/specialheaders/repeatability/implementation/RepeatabilityClientImpl.java
  typespec-tests/src/main/java/com/specialheaders/repeatability/implementation/package-info.java
  typespec-tests/src/main/java/com/specialheaders/repeatability/package-info.java
  typespec-tests/src/main/resources/parameters-bodyoptionality.properties
  typespec-tests/src/main/resources/specialheaders-repeatability.properties
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao
