Repository Azure/autorest.java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @weidongxu-microsoft, @srnagar, @jsquire, @ronniegeraghty, @haolingdong-msft, @XiaofeiCao, @JianpingChen, @anuchandy

.github/CODEOWNERS:

# default
*                           @weidongxu-microsoft @srnagar

# Git Hub bot rules
/.github/fabricbot.json     @jsquire @ronniegeraghty

# fluentgen
/fluent*                    @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/azure-tests                @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

# androidgen
/androidgen                 @JianpingChen @anuchandy

# protocol
/protocol*                  @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update-tests       @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar

# typespec
/typespec-extension         @srnagar @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/typespec-tests             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

Fix known media type evaluation
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
Owners: @weidongxu-microsoft, @srnagar

update version
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

ignore error media type
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
Owners: @weidongxu-microsoft, @srnagar

Fix known media type evaluation (#2597)
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

dpg, settings, remove generate-models (#2594)
  docs/generate/dataplane-customization.md
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  javagen/src/main/java/com/azure/autorest/Javagen.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
  protocol-sdk-integration-tests/test.py
  protocol-tests/src/main/java/fixtures/dpgcustomization/implementation/DpgClientImpl.java
  protocol-tests/src/main/java/fixtures/dpgcustomization/implementation/models/ProductResult.java
  protocol-tests/src/main/java/fixtures/dpgcustomization/implementation/models/package-info.java
  protocol-tests/src/main/java/fixtures/dpgcustomization/models/Input.java
  protocol-tests/src/main/java/fixtures/dpgcustomization/models/LroProduct.java
  protocol-tests/src/main/java/fixtures/dpgcustomization/models/Product.java
  protocol-tests/src/main/java/fixtures/dpgcustomization/models/ProductReceived.java
  protocol-tests/src/main/java/fixtures/dpgcustomization/models/package-info.java
  protocol-tests/src/test/java/fixtures/dpgcustomization/DpgCustomizationTests.java
  protocol-tests/swagger/dpg-customization.md
  readme.md
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Update codgen to support latest generic APIs (#2598)
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  javagen/pom.xml
  javagen/src/main/java/com/azure/autorest/mapper/PrimitiveMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ProxyMethodMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/Annotation.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientModel.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ProxyMethod.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ProxyMethodParameter.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaPackage.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/EnumTemplate.java
  javagen/src/main/java/com/azure/autorest/template/MethodGroupTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ProxyTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceAsyncClientTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientBuilderTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceSyncClientTemplate.java
  javagen/src/main/java/com/azure/autorest/template/WrapperClientMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
  javagen/src/main/resources/GenericMultipartFormDataHelper.java
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

add a case for enum as discriminator value
  Generate.ps1
  vanilla-tests/swagger/discriminator-enum.json
Owners: @weidongxu-microsoft, @srnagar

re-generate test code
  vanilla-tests/src/main/java/fixtures/discriminatorenum/EnumDiscriminator.java
  vanilla-tests/src/main/java/fixtures/discriminatorenum/EnumDiscriminatorBuilder.java
  vanilla-tests/src/main/java/fixtures/discriminatorenum/models/Dog.java
  vanilla-tests/src/main/java/fixtures/discriminatorenum/models/DogKind.java
  vanilla-tests/src/main/java/fixtures/discriminatorenum/models/Golden.java
  vanilla-tests/src/main/java/fixtures/discriminatorenum/models/package-info.java
  vanilla-tests/src/main/java/fixtures/discriminatorenum/package-info.java
Owners: @weidongxu-microsoft, @srnagar

eng, sdk repo now contains emitter-package-lock.json (#2590)
  eng/pipelines/post-publish-sdk.yaml
  eng/sdk/sync_sdk.py
Owners: @weidongxu-microsoft, @srnagar

version 0.13.11
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

pick https://github.com/Azure/autorest.java/pull/2597
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
Owners: @weidongxu-microsoft, @srnagar

add flavor option and make nonbranding as default
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/emitter.ts
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
  typespec-extension/src/main/java/com/azure/typespec/model/EmitterOptions.java
  typespec-tests/tspconfig.yaml
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, update changelog
  typespec-extension/changelog.md
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Update changelog.md
  typespec-extension/changelog.md
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

first change on processSchema
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Remove JSON flatten setting (#2592)
  customization-tests/src/main/java/fixtures/bodycomplex/implementation/models/DotFish.java
  customization-tests/src/main/java/fixtures/bodycomplex/implementation/models/DotSalmon.java
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
  readme.md
  vanilla-tests/src/main/java/fixtures/bodycomplex/models/DotFish.java
  vanilla-tests/src/main/java/fixtures/bodycomplex/models/DotSalmon.java
  vanilla-tests/src/main/java/fixtures/inheritance/passdiscriminator/models/MetricAlertCriteria.java
  vanilla-tests/src/main/java/fixtures/inheritance/passdiscriminator/models/MetricAlertSingleResourceMultipleMetricCriteria.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/DotFish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/DotSalmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/DotFish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/DotSalmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationimmutableoutput/models/DotFish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationimmutableoutput/models/DotSalmon.java
Owners: @weidongxu-microsoft, @srnagar

tsp, patch + flatten
  typespec-tests/tsp/flatten.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

re-generate test code
  typespec-tests/src/main/java/com/cadl/flatten/FlattenAsyncClient.java
  typespec-tests/src/main/java/com/cadl/flatten/FlattenClient.java
  typespec-tests/src/main/java/com/cadl/flatten/implementation/FlattenClientImpl.java
  typespec-tests/src/main/java/com/cadl/flatten/implementation/JsonMergePatchHelper.java
  typespec-tests/src/main/java/com/cadl/flatten/implementation/models/UpdateRequest.java
  typespec-tests/src/main/java/com/cadl/flatten/models/TodoItem.java
  typespec-tests/src/main/java/com/cadl/flatten/models/TodoItemPatch.java
  typespec-tests/src/main/java/com/cadl/flatten/models/TodoItemPatchStatus.java
  typespec-tests/src/main/java/com/cadl/flatten/models/TodoItemStatus.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

skip flatten for application/merge-patch+json
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

re-generate test code
  typespec-tests/src/main/java/com/cadl/flatten/FlattenAsyncClient.java
  typespec-tests/src/main/java/com/cadl/flatten/FlattenClient.java
  typespec-tests/src/main/java/com/cadl/flatten/implementation/JsonMergePatchHelper.java
  typespec-tests/src/main/java/com/cadl/flatten/models/UpdateRequest.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Update changelog.md
  typespec-extension/changelog.md
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

bump dependencies
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

switch to isErrorOrChildOfError
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

changelog
  typespec-extension/changelog.md
  typespec-extension/readme.md
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

re-generate test code
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/ChildResourceListResult.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/PagedOperation.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/TopLevelArmResourceListResult.java
  typespec-tests/src/main/java/com/client/structure/service/ClientAClientBuilder.java
  typespec-tests/src/main/java/com/client/structure/service/ClientBClientBuilder.java
  typespec-tests/src/main/java/com/client/structure/service/RenamedOperationClientBuilder.java
  typespec-tests/src/main/java/com/client/structure/service/ServiceClientClientBuilder.java
  typespec-tests/src/main/java/com/client/structure/service/ServiceServiceVersion.java
  typespec-tests/src/main/java/com/client/structure/service/TwoOperationGroupClientBuilder.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/BarsImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/BazFoosImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/ClientAClientImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/ClientBClientImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/FoosImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/Group1sImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/Group2sImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/GroupsImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/QuxBarsImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/QuxesImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/RenamedOperationClientImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/ServiceClientClientImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/TwoOperationGroupClientImpl.java
  typespec-tests/src/main/java/com/type/property/optional/FloatLiteralAsyncClient.java
  typespec-tests/src/main/java/com/type/property/optional/FloatLiteralClient.java
  typespec-tests/src/main/java/com/type/property/optional/UnionFloatLiteralAsyncClient.java
  typespec-tests/src/main/java/com/type/property/optional/UnionFloatLiteralClient.java
  typespec-tests/src/main/java/com/type/property/optional/implementation/FloatLiteralsImpl.java
  typespec-tests/src/main/java/com/type/property/optional/implementation/UnionFloatLiteralsImpl.java
  typespec-tests/src/main/java/com/type/property/optional/models/FloatLiteralPropertyProperty.java
  typespec-tests/src/main/java/com/type/property/optional/models/UnionFloatLiteralPropertyProperty.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix package
  typespec-extension/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update test
  typespec-tests/src/test/java/com/type/array/NullableFloatValueClientTest.java
  typespec-tests/src/test/java/com/type/dictionary/NullableFloatValueClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/FloatLiteralClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/UnionFloatLiteralClientTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

deprecate ServiceAuthentication
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

deprecate service.version
  typespec-extension/src/code-model-builder.ts
  typespec-tests/tsp/arm.tsp
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

target 2024-03-07
  typespec-extension/changelog.md
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

bump cadl-ranch
  typespec-tests/package.json
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

bump java dependencies as well, after core release
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  fluent-tests/pom.xml
  fluentnamer/pom.xml
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  protocol-tests/pom.xml
  typespec-tests/pom.xml
  vanilla-tests/pom.xml
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

client, test case, discriminator value type as enum (#2599)
  Generate.ps1
  vanilla-tests/src/main/java/fixtures/discriminatorenum/EnumDiscriminator.java
  vanilla-tests/src/main/java/fixtures/discriminatorenum/EnumDiscriminatorBuilder.java
  vanilla-tests/src/main/java/fixtures/discriminatorenum/models/Dog.java
  vanilla-tests/src/main/java/fixtures/discriminatorenum/models/DogKind.java
  vanilla-tests/src/main/java/fixtures/discriminatorenum/models/Golden.java
  vanilla-tests/src/main/java/fixtures/discriminatorenum/models/package-info.java
  vanilla-tests/src/main/java/fixtures/discriminatorenum/package-info.java
  vanilla-tests/swagger/discriminator-enum.json
Owners: @weidongxu-microsoft, @srnagar

use suffix PatchRequest, if json-merge-patch got an anonymous model
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

use PatchRequest as suffix
  typespec-tests/src/main/java/com/cadl/flatten/FlattenAsyncClient.java
  typespec-tests/src/main/java/com/cadl/flatten/FlattenClient.java
  typespec-tests/src/main/java/com/cadl/flatten/implementation/JsonMergePatchHelper.java
  typespec-tests/src/main/java/com/cadl/flatten/models/UpdatePatchRequest.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

latest updates from generic core
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientBuilderTrait.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientMethod.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientBuilderTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientTemplate.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  javagen/src/main/java/com/azure/autorest/util/TemplateUtil.java
  javagen/src/main/resources/GenericMultipartFormDataHelper.java
  typespec-extension/src/code-model-builder.ts
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

tsp, patch, skip payload flatten (#2603)
  typespec-extension/src/code-model-builder.ts
  typespec-tests/src/main/java/com/cadl/flatten/FlattenAsyncClient.java
  typespec-tests/src/main/java/com/cadl/flatten/FlattenClient.java
  typespec-tests/src/main/java/com/cadl/flatten/implementation/FlattenClientImpl.java
  typespec-tests/src/main/java/com/cadl/flatten/implementation/JsonMergePatchHelper.java
  typespec-tests/src/main/java/com/cadl/flatten/models/TodoItem.java
  typespec-tests/src/main/java/com/cadl/flatten/models/TodoItemPatch.java
  typespec-tests/src/main/java/com/cadl/flatten/models/TodoItemPatchStatus.java
  typespec-tests/src/main/java/com/cadl/flatten/models/TodoItemStatus.java
  typespec-tests/src/main/java/com/cadl/flatten/models/UpdatePatchRequest.java
  typespec-tests/tsp/flatten.tsp
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, ci, add step to verify test code
  eng/pipelines/ci-typespec-java.yaml
  typespec-tests/pom.xml
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

update pom to add repositories section
  javagen/pom.xml
  javagen/src/main/java/com/azure/autorest/mapper/PomMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/Pom.java
  javagen/src/main/java/com/azure/autorest/template/PomTemplate.java
Owners: @weidongxu-microsoft, @srnagar

fix checkstyle
  javagen/src/main/java/com/azure/autorest/mapper/ProxyMethodMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/Annotation.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientBuilderTrait.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ProxyMethod.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/EnumTemplate.java
Owners: @weidongxu-microsoft, @srnagar
