Repository Azure/autorest.java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @weidongxu-microsoft, @srnagar, @jsquire, @ronniegeraghty, @haolingdong-msft, @XiaofeiCao, @JianpingChen, @anuchandy

.github/CODEOWNERS:

# default
*                           @weidongxu-microsoft @srnagar

# Git Hub bot rules
/.github/fabricbot.json     @jsquire @ronniegeraghty

# fluentgen
/fluent*                    @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/azure-tests                @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

# androidgen
/androidgen                 @JianpingChen @anuchandy

# protocol
/protocol*                  @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update-tests       @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar

# typespec
/typespec-extension         @srnagar @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/typespec-tests             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

abort external model if not DPG
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
Owners: @weidongxu-microsoft, @srnagar

add test case (that fails)
  typespec-tests/src/main/java/com/cadl/visibility/VisibilityAsyncClient.java
  typespec-tests/src/main/java/com/cadl/visibility/VisibilityClient.java
  typespec-tests/src/main/java/com/cadl/visibility/implementation/VisibilityClientImpl.java
  typespec-tests/src/main/java/com/cadl/visibility/models/RoundTripModel.java
  typespec-tests/src/test/java/com/cadl/visibility/PropertyVisibilityTests.java
  typespec-tests/tsp/visibility.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

for visibility without read, treat is as m4 secret, and it will not be required for Jackson
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/CodeModelCustomConstructor.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/extensionmodel/XmsExtensions.java
  javagen/src/main/java/com/azure/autorest/mapper/ModelPropertyMapper.java
  typespec-extension/src/code-model-builder.ts
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

regen test (now pass)
  typespec-tests/src/main/java/com/cadl/visibility/models/Dog.java
  typespec-tests/src/main/java/com/cadl/visibility/models/RoundTripModel.java
  typespec-tests/src/main/java/com/type/model/visibility/models/VisibilityModel.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

prepare 0.6.2
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-extension/readme.md
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

set nullable=false for secret
  typespec-extension/src/code-model-builder.ts
  typespec-tests/src/main/java/com/type/model/visibility/VisibilityAsyncClient.java
  typespec-tests/src/main/java/com/type/model/visibility/VisibilityClient.java
  typespec-tests/src/main/java/com/type/model/visibility/implementation/VisibilityClientImpl.java
  typespec-tests/src/main/java/com/type/model/visibility/models/VisibilityModel.java
  typespec-tests/src/test/java/com/type/model/visibility/AutomaticClientTest.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Update changelog.md
  typespec-extension/changelog.md
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, bug fix on secret model property (#2107)
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/CodeModelCustomConstructor.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/extensionmodel/XmsExtensions.java
  javagen/src/main/java/com/azure/autorest/mapper/ModelPropertyMapper.java
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-extension/readme.md
  typespec-extension/src/code-model-builder.ts
  typespec-tests/package.json
  typespec-tests/src/main/java/com/cadl/visibility/VisibilityAsyncClient.java
  typespec-tests/src/main/java/com/cadl/visibility/VisibilityClient.java
  typespec-tests/src/main/java/com/cadl/visibility/implementation/VisibilityClientImpl.java
  typespec-tests/src/main/java/com/cadl/visibility/models/Dog.java
  typespec-tests/src/main/java/com/cadl/visibility/models/RoundTripModel.java
  typespec-tests/src/main/java/com/type/model/visibility/VisibilityAsyncClient.java
  typespec-tests/src/main/java/com/type/model/visibility/VisibilityClient.java
  typespec-tests/src/main/java/com/type/model/visibility/implementation/VisibilityClientImpl.java
  typespec-tests/src/main/java/com/type/model/visibility/models/VisibilityModel.java
  typespec-tests/src/test/java/com/cadl/visibility/PropertyVisibilityTests.java
  typespec-tests/src/test/java/com/type/model/visibility/AutomaticClientTest.java
  typespec-tests/tsp/visibility.tsp
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

mgtm, fix ResourceTypeNormalization on subclass same name as superclass (#2105)
  fluentgen/src/test/java/com/azure/autorest/fluent/TestUtils.java
  fluentgen/src/test/resources/code-model-fluentnamer-botservice.yaml
  fluentgen/src/test/resources/code-model-fluentnamer-locks.yaml
  fluentgen/src/test/resources/code-model-fluentnamer-policy.yaml
  fluentgen/src/test/resources/code-model-fluentnamer-signalr.yaml
  fluentgen/src/test/resources/code-model-fluentnamer-storage.yaml
  fluentnamer/src/main/java/com/azure/autorest/fluent/transformer/ResourceTypeNormalization.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

support adding package for external model in POM
  javagen/src/main/java/com/azure/autorest/Javagen.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ModuleInfo.java
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
Owners: @weidongxu-microsoft, @srnagar

Fix Stream Style Serialization Generation for Unix Times
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
Owners: @weidongxu-microsoft, @srnagar

Fix Stream Style Serialization Generation for Unix Times (#2108)
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
Owners: @weidongxu-microsoft, @srnagar

PollResult change client name id to operationId
  typespec-extension/src/external-schemas.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

refactor LongRunningMetadata
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/common/long-running-metadata.ts
  typespec-extension/src/common/operation.ts
  typespec-extension/src/models.ts
  typespec-extension/src/utils.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

test for Spread
  typespec-tests/src/test/java/com/parameters/spread/SpreadTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix projectname on query
  typespec-extension/src/code-model-builder.ts
  typespec-tests/src/main/java/com/projection/projectedname/ProjectedNameAsyncClient.java
  typespec-tests/src/main/java/com/projection/projectedname/ProjectedNameClient.java
  typespec-tests/src/main/java/com/projection/projectedname/implementation/ProjectedNameClientImpl.java
  typespec-tests/src/test/java/com/projection/projectedname/ProjectedNameClientTest.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

add string nullable test
  typespec-tests/src/test/java/com/type/property/nullable/StringClientTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, add tests (#2109)
  typespec-extension/src/code-model-builder.ts
  typespec-tests/src/main/java/com/projection/projectedname/ProjectedNameAsyncClient.java
  typespec-tests/src/main/java/com/projection/projectedname/ProjectedNameClient.java
  typespec-tests/src/main/java/com/projection/projectedname/implementation/ProjectedNameClientImpl.java
  typespec-tests/src/test/java/com/parameters/spread/SpreadTests.java
  typespec-tests/src/test/java/com/projection/projectedname/ProjectedNameClientTest.java
  typespec-tests/src/test/java/com/type/property/nullable/StringClientTests.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

add generated annotatin to models
  fluentgen/src/main/java/com/azure/autorest/fluent/template/FluentModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

Prepare Autorest JARs for release
  androidgen/pom.xml
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/CHANGELOG.md
  customization-base/README.md
  customization-base/pom.xml
  customization-tests/pom.xml
  customization-tests/swagger/pom.xml
  extension-base/pom.xml
  fluent-tests/pom.xml
  fluentgen/pom.xml
  fluentnamer/pom.xml
  javagen/pom.xml
  partial-update-tests/pom.xml
  partial-update/pom.xml
  partial-update/src/test/java/com/azure/autorest/partialupdate/util/PartialUpdateHandlerTest.java
  pom.xml
  postprocessor/pom.xml
  postprocessor/src/main/resources/readme/pom.xml
  preprocessor/pom.xml
  protocol-resilience-test/pom.xml
  protocol-tests/pom.xml
  typespec-extension/pom.xml
  typespec-tests/pom.xml
  vanilla-tests/pom.xml
Owners: @JianpingChen, @anuchandy, @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Regenerate
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/internal/InternalClient.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/internal/InternalClientBuilder.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/internal/SharedAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/internal/SharedClient.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/internal/implementation/SharedsImpl.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/internal/models/PublicModel.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/internal/models/SharedModel.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/internal/models/package-info.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Remove test reference generated code that doesn't exist anymore
  typespec-tests/src/test/java/com/_specs_/azure/clientgenerator/core/internal/InternalTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Prepare Autorest JARs for release (#2110)
  androidgen/pom.xml
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/CHANGELOG.md
  customization-base/README.md
  customization-base/pom.xml
  customization-tests/pom.xml
  customization-tests/swagger/pom.xml
  extension-base/pom.xml
  fluent-tests/pom.xml
  fluentgen/pom.xml
  fluentnamer/pom.xml
  javagen/pom.xml
  partial-update-tests/pom.xml
  partial-update/pom.xml
  partial-update/src/test/java/com/azure/autorest/partialupdate/util/PartialUpdateHandlerTest.java
  pom.xml
  postprocessor/pom.xml
  postprocessor/src/main/resources/readme/pom.xml
  preprocessor/pom.xml
  protocol-resilience-test/pom.xml
  protocol-tests/pom.xml
  typespec-extension/pom.xml
  typespec-tests/pom.xml
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/internal/InternalClient.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/internal/InternalClientBuilder.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/internal/SharedAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/internal/SharedClient.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/internal/implementation/SharedsImpl.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/internal/models/PublicModel.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/internal/models/SharedModel.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/internal/models/package-info.java
  typespec-tests/src/test/java/com/_specs_/azure/clientgenerator/core/internal/InternalTests.java
  vanilla-tests/pom.xml
Owners: @JianpingChen, @anuchandy, @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

eng, add junit-jupiter-params to version sync
  azure-dataplane-tests/pom.xml
  eng/versioning/external_dependencies.txt
Owners: @weidongxu-microsoft, @srnagar

add a few cadl-ranch test
  typespec-tests/src/test/java/com/_specs_/azure/core/basic/CoreTests.java
  typespec-tests/src/test/java/com/projection/projectedname/ProjectedNameClientTest.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, add case for resilliency test
  typespec-tests/src/test/java/com/resiliency/servicedriven/ServiceDrivenTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, add case for resilliency test (#2112)
  typespec-tests/src/test/java/com/resiliency/servicedriven/ServiceDrivenTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Add @Generated for enum
  javagen/src/main/java/com/azure/autorest/template/EnumTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
Owners: @weidongxu-microsoft, @srnagar

eng, add junit-jupiter-params to version sync (#2111)
  azure-dataplane-tests/pom.xml
  eng/versioning/external_dependencies.txt
  typespec-tests/src/test/java/com/_specs_/azure/core/basic/CoreTests.java
  typespec-tests/src/test/java/com/projection/projectedname/ProjectedNameClientTest.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

tsp, resiliency, generate v1 client
  typespec-tests/Generate.ps1
  typespec-tests/src/main/java/com/resiliency/servicedriven/v1/ResiliencyServiceDrivenAsyncClient.java
  typespec-tests/src/main/java/com/resiliency/servicedriven/v1/ResiliencyServiceDrivenClient.java
  typespec-tests/src/main/java/com/resiliency/servicedriven/v1/ResiliencyServiceDrivenClientBuilder.java
  typespec-tests/src/main/java/com/resiliency/servicedriven/v1/ServiceDrivenServiceVersion.java
  typespec-tests/src/main/java/com/resiliency/servicedriven/v1/implementation/ResiliencyServiceDrivenClientImpl.java
  typespec-tests/src/main/java/com/resiliency/servicedriven/v1/implementation/package-info.java
  typespec-tests/src/main/java/com/resiliency/servicedriven/v1/package-info.java
  typespec-tests/src/main/resources/resiliency-servicedriven-v1.properties
  typespec-tests/src/test/java/com/resiliency/servicedriven/ServiceDrivenTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, resiliency, generate v1 client (#2113)
  typespec-tests/Generate.ps1
  typespec-tests/src/main/java/com/resiliency/servicedriven/v1/ResiliencyServiceDrivenAsyncClient.java
  typespec-tests/src/main/java/com/resiliency/servicedriven/v1/ResiliencyServiceDrivenClient.java
  typespec-tests/src/main/java/com/resiliency/servicedriven/v1/ResiliencyServiceDrivenClientBuilder.java
  typespec-tests/src/main/java/com/resiliency/servicedriven/v1/ServiceDrivenServiceVersion.java
  typespec-tests/src/main/java/com/resiliency/servicedriven/v1/implementation/ResiliencyServiceDrivenClientImpl.java
  typespec-tests/src/main/java/com/resiliency/servicedriven/v1/implementation/package-info.java
  typespec-tests/src/main/java/com/resiliency/servicedriven/v1/package-info.java
  typespec-tests/src/main/resources/resiliency-servicedriven-v1.properties
  typespec-tests/src/test/java/com/resiliency/servicedriven/ServiceDrivenTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Guard file formatting
  javagen/src/main/java/com/azure/autorest/Javagen.java
  postprocessor/src/main/java/com/azure/autorest/postprocessor/Postprocessor.java
Owners: @weidongxu-microsoft, @srnagar

Release autorest.java 4.1.17
  package.json
Owners: @weidongxu-microsoft, @srnagar

add test for refined internal
  typespec-tests/src/test/java/com/_specs_/azure/clientgenerator/core/internal/InternalTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Release autorest.java 4.1.17 (#2115)
  package.json
Owners: @weidongxu-microsoft, @srnagar

add test for refined internal (#2116)
  typespec-tests/src/test/java/com/_specs_/azure/clientgenerator/core/internal/InternalTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix internal test
  typespec-tests/src/test/java/com/_specs_/azure/clientgenerator/core/internal/InternalTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix internal test (#2118)
  typespec-tests/src/test/java/com/_specs_/azure/clientgenerator/core/internal/InternalTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, warning on unknown query format
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update tsp Generated.ps1
  typespec-tests/Generate.ps1
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao
