Repository Azure/autorest.java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @weidongxu-microsoft, @srnagar, @jsquire, @ronniegeraghty, @haolingdong-msft, @XiaofeiCao, @JianpingChen, @anuchandy

.github/CODEOWNERS:

# default
*                           @weidongxu-microsoft @srnagar

# Git Hub bot rules
/.github/fabricbot.json     @jsquire @ronniegeraghty

# fluentgen
/fluent*                    @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/azure-tests                @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

# androidgen
/androidgen                 @JianpingChen @anuchandy

# protocol
/protocol*                  @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update-tests       @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar

# typespec
/typespec-extension         @srnagar @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/typespec-tests             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

Rename typespec maven profile
  eng/pipelines/ci-typespec-java.yaml
  eng/pipelines/publish-typespec-java.yaml
  pom.xml
  typespec-tests/readme.md
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

update github actions
  .github/workflows/generate-test-code.yml
  .github/workflows/pre-release-typespec.yml
Owners: @weidongxu-microsoft, @srnagar

update profile name to tsp
  .github/workflows/generate-test-code.yml
  .github/workflows/pre-release-typespec.yml
  eng/pipelines/ci-typespec-java.yaml
  eng/pipelines/publish-typespec-java.yaml
  pom.xml
  typespec-tests/readme.md
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Rename typespec maven profile (#2049)
  .github/workflows/generate-test-code.yml
  .github/workflows/pre-release-typespec.yml
  eng/pipelines/ci-typespec-java.yaml
  eng/pipelines/publish-typespec-java.yaml
  pom.xml
  typespec-tests/readme.md
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

tsp, test case for literal
  typespec-tests/tsp/literal.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

convert optional constant to enum
  preprocessor/src/main/java/com/azure/autorest/preprocessor/Preprocessor.java
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/common/schemas/constant.ts
  typespec-extension/src/main/java/com/azure/autorest/CadlPlugin.java
  typespec-tests/tsp/literal.tsp
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

gen lieteral test
  typespec-tests/src/main/java/com/cadl/literalservice/LiteralServiceAsyncClient.java
  typespec-tests/src/main/java/com/cadl/literalservice/LiteralServiceClient.java
  typespec-tests/src/main/java/com/cadl/literalservice/LiteralServiceClientBuilder.java
  typespec-tests/src/main/java/com/cadl/literalservice/implementation/LiteralServiceClientImpl.java
  typespec-tests/src/main/java/com/cadl/literalservice/implementation/package-info.java
  typespec-tests/src/main/java/com/cadl/literalservice/models/Model.java
  typespec-tests/src/main/java/com/cadl/literalservice/models/OptionalLiteral.java
  typespec-tests/src/main/java/com/cadl/literalservice/models/OptionalLiteralParam.java
  typespec-tests/src/main/java/com/cadl/literalservice/models/package-info.java
  typespec-tests/src/main/java/com/cadl/literalservice/package-info.java
  typespec-tests/src/main/resources/cadl-literalservice.properties
  typespec-tests/src/test/java/com/cadl/literalservice/generated/LiteralServiceClientTestBase.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, test case for literal (#2050)
  preprocessor/src/main/java/com/azure/autorest/preprocessor/Preprocessor.java
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/common/schemas/constant.ts
  typespec-extension/src/main/java/com/azure/autorest/CadlPlugin.java
  typespec-tests/src/main/java/com/cadl/literalservice/LiteralServiceAsyncClient.java
  typespec-tests/src/main/java/com/cadl/literalservice/LiteralServiceClient.java
  typespec-tests/src/main/java/com/cadl/literalservice/LiteralServiceClientBuilder.java
  typespec-tests/src/main/java/com/cadl/literalservice/implementation/LiteralServiceClientImpl.java
  typespec-tests/src/main/java/com/cadl/literalservice/implementation/package-info.java
  typespec-tests/src/main/java/com/cadl/literalservice/models/Model.java
  typespec-tests/src/main/java/com/cadl/literalservice/models/OptionalLiteral.java
  typespec-tests/src/main/java/com/cadl/literalservice/models/OptionalLiteralParam.java
  typespec-tests/src/main/java/com/cadl/literalservice/models/package-info.java
  typespec-tests/src/main/java/com/cadl/literalservice/package-info.java
  typespec-tests/src/main/resources/cadl-literalservice.properties
  typespec-tests/src/test/java/com/cadl/literalservice/generated/LiteralServiceClientTestBase.java
  typespec-tests/tsp/literal.tsp
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

support nullableItems in DictionarySchema
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/DictionarySchema.java
  javagen/src/main/java/com/azure/autorest/mapper/DictionaryMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/MapType.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  typespec-extension/src/code-model-builder.ts
  typespec-tests/src/test/java/com/dictionary/NullableFloatValueClientTests.java
  typespec-tests/tsp/builtin.tsp
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

regen test
  typespec-tests/src/main/java/com/cadl/builtin/BuiltinAsyncClient.java
  typespec-tests/src/main/java/com/cadl/builtin/BuiltinClient.java
  typespec-tests/src/main/java/com/cadl/builtin/implementation/BuiltinClientImpl.java
  typespec-tests/src/main/java/com/cadl/builtin/models/Builtin.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

mgmt, redact "authorization" property
  javagen/src/main/java/com/azure/autorest/util/ModelTestCaseUtil.java
Owners: @weidongxu-microsoft, @srnagar

redact in Map
  javagen/src/main/java/com/azure/autorest/util/ModelExampleUtil.java
Owners: @weidongxu-microsoft, @srnagar

nit
  Generate-TypeSpec.ps1
Owners: @weidongxu-microsoft, @srnagar

fix UT, after redact
  fluentgen/src/test/java/com/azure/autorest/fluent/template/FluentExampleTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Always Buffer the JSON Object when Handling Polymorphism
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/DotFish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Fish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/MyBaseType.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Salmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Shark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/DotFish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Fish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/MyBaseType.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Salmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Shark.java
Owners: @weidongxu-microsoft, @srnagar

mgmt, redact "authorization" property, also redact values in Map (#2053)
  Generate-TypeSpec.ps1
  fluentgen/src/test/java/com/azure/autorest/fluent/template/FluentExampleTests.java
  javagen/src/main/java/com/azure/autorest/util/ModelExampleUtil.java
  javagen/src/main/java/com/azure/autorest/util/ModelTestCaseUtil.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

enable sync stack
  typespec-extension/src/emitter.ts
  typespec-extension/src/main/java/com/azure/autorest/CadlPlugin.java
  typespec-extension/src/main/java/com/azure/cadl/model/EmitterOptions.java
  typespec-tests/tspconfig.yaml
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Always Buffer the JSON Object when Handling Polymorphism (#2054)
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/DotFish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Fish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/MyBaseType.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Salmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Shark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/DotFish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Fish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/MyBaseType.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Salmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Shark.java
Owners: @weidongxu-microsoft, @srnagar

tsp, support possible null value in Dictionary (#2052)
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/DictionarySchema.java
  javagen/src/main/java/com/azure/autorest/mapper/DictionaryMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/MapType.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  typespec-extension/src/code-model-builder.ts
  typespec-tests/src/main/java/com/cadl/builtin/BuiltinAsyncClient.java
  typespec-tests/src/main/java/com/cadl/builtin/BuiltinClient.java
  typespec-tests/src/main/java/com/cadl/builtin/implementation/BuiltinClientImpl.java
  typespec-tests/src/main/java/com/cadl/builtin/models/Builtin.java
  typespec-tests/src/test/java/com/dictionary/NullableFloatValueClientTests.java
  typespec-tests/tsp/builtin.tsp
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

client, minor fix on javadoc of non-string enum
  javagen/src/main/java/com/azure/autorest/template/EnumTemplate.java
Owners: @weidongxu-microsoft, @srnagar

re-generate test code
  vanilla-tests/src/main/java/fixtures/nonstringenum/models/FloatEnum.java
  vanilla-tests/src/main/java/fixtures/nonstringenum/models/IntEnum.java
Owners: @weidongxu-microsoft, @srnagar

client, minor fix on javadoc of non-string enum (#2059)
  javagen/src/main/java/com/azure/autorest/template/EnumTemplate.java
  vanilla-tests/src/main/java/fixtures/nonstringenum/models/FloatEnum.java
  vanilla-tests/src/main/java/fixtures/nonstringenum/models/IntEnum.java
Owners: @weidongxu-microsoft, @srnagar

tsp, refactor ts code
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/utils.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

re-generate test code
  typespec-tests/src/main/java/com/cadl/multicontenttypes/MultiContentTypesAsyncClient.java
  typespec-tests/src/main/java/com/cadl/multicontenttypes/MultiContentTypesClient.java
  typespec-tests/src/main/java/com/cadl/multicontenttypes/implementation/MultiContentTypesClientImpl.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

test case
  typespec-tests/tsp/sync-stack.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, refactor ts code (#2060)
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/utils.ts
  typespec-tests/src/main/java/com/cadl/multicontenttypes/MultiContentTypesAsyncClient.java
  typespec-tests/src/main/java/com/cadl/multicontenttypes/MultiContentTypesClient.java
  typespec-tests/src/main/java/com/cadl/multicontenttypes/implementation/MultiContentTypesClientImpl.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

examples
  typespec-extension/src/emitter.ts
  typespec-extension/src/utils.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

minor change
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

versions in loadExamples
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/utils.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

bug fix
  typespec-extension/src/utils.ts
  typespec-tests/tsp_checkout.sh
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

bug fix
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/utils.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Update emitter.ts
  typespec-extension/src/emitter.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Attempt to fix TypeSpec-Java dependencies
  typespec-extension/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix convenience methods filter
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
  typespec-tests/tsp/sync-stack.tsp
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

bump version
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-extension/readme.md
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

dpg, use setHeaderIfAbsent-like callback for repeatability headers
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
  protocol-tests/src/main/java/fixtures/specialheader/implementation/HeadersImpl.java
  typespec-tests/src/main/java/com/_specs_/azure/traits/implementation/TraitsClientImpl.java
  typespec-tests/src/main/java/com/cadl/specialheaders/implementation/SpecialHeadersClientImpl.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

use auto in ts format
  typespec-extension/.prettierrc.yaml
  typespec-tests/.prettierrc.yaml
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

default enable-sync-stack: true
  typespec-extension/src/main/java/com/azure/autorest/CadlPlugin.java
  typespec-tests/tsp/sync-stack.tsp
  typespec-tests/tspconfig.yaml
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

implementation
  javagen/src/main/java/com/azure/autorest/template/ConvenienceSyncMethodTemplate.java
  typespec-tests/tsp/sync-stack.tsp
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

fix emitter.js
  typespec-extension/src/emitter.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao
