Repository Azure/autorest.java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @weidongxu-microsoft, @srnagar, @jsquire, @ronniegeraghty, @haolingdong-msft, @XiaofeiCao, @JianpingChen, @anuchandy

tests
  typespec-tests/src/test/java/com/_specs_/azure/core/traits/TraitsTests.java
  typespec-tests/src/test/java/com/parameters/bodyoptionality/BodyTests.java
  typespec-tests/src/test/java/com/specialheaders/repeatability/RepeatabilityTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, upgrade cadl-ranch (#2183)
  typespec-tests/package.json
  typespec-tests/src/main/java/com/_specs_/azure/core/traits/TraitsAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/traits/TraitsClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/traits/implementation/TraitsClientImpl.java
  typespec-tests/src/main/java/com/_specs_/azure/core/traits/models/UserActionParam.java
  typespec-tests/src/main/java/com/_specs_/azure/core/traits/models/UserActionResponse.java
  typespec-tests/src/main/java/com/parameters/bodyoptionality/BodyOptionalityAsyncClient.java
  typespec-tests/src/main/java/com/parameters/bodyoptionality/BodyOptionalityClient.java
  typespec-tests/src/main/java/com/parameters/bodyoptionality/BodyOptionalityClientBuilder.java
  typespec-tests/src/main/java/com/parameters/bodyoptionality/OptionalExplicitAsyncClient.java
  typespec-tests/src/main/java/com/parameters/bodyoptionality/OptionalExplicitClient.java
  typespec-tests/src/main/java/com/parameters/bodyoptionality/implementation/BodyOptionalityClientImpl.java
  typespec-tests/src/main/java/com/parameters/bodyoptionality/implementation/OptionalExplicitsImpl.java
  typespec-tests/src/main/java/com/parameters/bodyoptionality/implementation/package-info.java
  typespec-tests/src/main/java/com/parameters/bodyoptionality/models/BodyModel.java
  typespec-tests/src/main/java/com/parameters/bodyoptionality/models/package-info.java
  typespec-tests/src/main/java/com/parameters/bodyoptionality/package-info.java
  typespec-tests/src/main/java/com/specialheaders/repeatability/RepeatabilityAsyncClient.java
  typespec-tests/src/main/java/com/specialheaders/repeatability/RepeatabilityClient.java
  typespec-tests/src/main/java/com/specialheaders/repeatability/RepeatabilityClientBuilder.java
  typespec-tests/src/main/java/com/specialheaders/repeatability/implementation/RepeatabilityClientImpl.java
  typespec-tests/src/main/java/com/specialheaders/repeatability/implementation/package-info.java
  typespec-tests/src/main/java/com/specialheaders/repeatability/package-info.java
  typespec-tests/src/main/resources/parameters-bodyoptionality.properties
  typespec-tests/src/main/resources/specialheaders-repeatability.properties
  typespec-tests/src/test/java/com/_specs_/azure/core/traits/TraitsTests.java
  typespec-tests/src/test/java/com/parameters/bodyoptionality/BodyTests.java
  typespec-tests/src/test/java/com/specialheaders/repeatability/RepeatabilityTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, cadl-ranch test
  typespec-tests/src/test/java/com/parameters/bodyoptionality/BodyTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

changelog for release
  typespec-extension/changelog.md
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix test
  typespec-tests/src/test/java/com/parameters/bodyoptionality/BodyTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

remove logging
  typespec-tests/src/test/java/com/parameters/bodyoptionality/BodyTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, prepare release 0.8.0 (#2184)
  typespec-extension/changelog.md
  typespec-tests/src/test/java/com/parameters/bodyoptionality/BodyTests.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Revert LinkedList change back to ArrayList
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/XmlSequenceWrapperTemplate.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/implementation/models/BananaWrapper.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/implementation/models/SignedIdentifierWrapper.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/AppleBarrel.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/Blobs.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/ListContainersResponse.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/Slide.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/Slideshow.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/StorageServiceProperties.java
  vanilla-tests/src/main/java/fixtures/xmlservice/models/AppleBarrel.java
  vanilla-tests/src/main/java/fixtures/xmlservice/models/ListContainersResponse.java
  vanilla-tests/src/main/java/fixtures/xmlservice/models/StorageServiceProperties.java
Owners: @weidongxu-microsoft, @srnagar

Update tests
  vanilla-tests/src/test/java/fixtures/streamstylexmlserialization/XmlServiceTests.java
  vanilla-tests/src/test/java/fixtures/xmlservice/XmlServiceTests.java
Owners: @weidongxu-microsoft, @srnagar

use HttpHeaderName
  fluent-tests/src/test/java/com/azure/mgmttest/policy/HttpDebugLoggingPolicy.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientMethod.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/example/ProtocolExampleWriter.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

add -notimeout to ps script
  Generate.ps1
Owners: @weidongxu-microsoft, @srnagar

notimeout for github action
  .github/workflows/generate-test-code.yml
Owners: @weidongxu-microsoft, @srnagar

regen tests
  protocol-tests/src/main/java/fixtures/specialheader/implementation/HeadersImpl.java
  typespec-tests/src/main/java/com/_specs_/azure/core/traits/implementation/TraitsClientImpl.java
  typespec-tests/src/main/java/com/cadl/specialheaders/implementation/SpecialHeadersClientImpl.java
  typespec-tests/src/main/java/com/specialheaders/repeatability/implementation/RepeatabilityClientImpl.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

tsp, fix encoding issue for special chars
  typespec-extension/src/emitter.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

add test case
  typespec-tests/tsp/special-chars.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

client, use HttpHeaders.getValue(HttpHeaderName) (#2187)
  .github/workflows/generate-test-code.yml
  Generate.ps1
  fluent-tests/src/test/java/com/azure/mgmttest/policy/HttpDebugLoggingPolicy.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientMethod.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/example/ProtocolExampleWriter.java
  protocol-tests/src/main/java/fixtures/specialheader/implementation/HeadersImpl.java
  typespec-tests/src/main/java/com/_specs_/azure/core/traits/implementation/TraitsClientImpl.java
  typespec-tests/src/main/java/com/cadl/specialheaders/implementation/SpecialHeadersClientImpl.java
  typespec-tests/src/main/java/com/specialheaders/repeatability/implementation/RepeatabilityClientImpl.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

fix in code
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
  typespec-extension/src/main/java/com/azure/typespec/Main.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Remove unused imports
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

format test file
  typespec-tests/tsp/special-chars.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update test
  typespec-tests/src/main/java/com/parameters/bodyoptionality/OptionalExplicitClient.java
  typespec-tests/src/test/java/com/parameters/bodyoptionality/BodyTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

impl
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientMethod.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
Owners: @weidongxu-microsoft, @srnagar

regen tests
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
  typespec-tests/src/main/java/com/_specs_/azure/core/traits/implementation/TraitsClientImpl.java
  typespec-tests/src/main/java/com/cadl/optional/implementation/OptionalClientImpl.java
  typespec-tests/src/main/java/com/cadl/specialheaders/implementation/SpecialHeadersClientImpl.java
  typespec-tests/src/main/java/com/parameters/bodyoptionality/OptionalExplicitClient.java
  typespec-tests/src/main/java/com/parameters/bodyoptionality/implementation/OptionalExplicitsImpl.java
  typespec-tests/src/main/java/com/specialheaders/repeatability/implementation/RepeatabilityClientImpl.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

update
  typespec-extension/src/emitter.ts
  typespec-tests/src/main/java/com/cadl/specialchars/models/Resource.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Update emitter.ts
  typespec-extension/src/emitter.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Update Resource.java
  typespec-tests/src/main/java/com/cadl/specialchars/models/Resource.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, fix encoding issue for special chars (#2188)
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
  typespec-extension/src/main/java/com/azure/typespec/Main.java
  typespec-tests/src/main/java/com/cadl/specialchars/SpecialCharsAsyncClient.java
  typespec-tests/src/main/java/com/cadl/specialchars/SpecialCharsClient.java
  typespec-tests/src/main/java/com/cadl/specialchars/SpecialCharsClientBuilder.java
  typespec-tests/src/main/java/com/cadl/specialchars/implementation/SpecialCharsClientImpl.java
  typespec-tests/src/main/java/com/cadl/specialchars/implementation/package-info.java
  typespec-tests/src/main/java/com/cadl/specialchars/models/Resource.java
  typespec-tests/src/main/java/com/cadl/specialchars/models/package-info.java
  typespec-tests/src/main/java/com/cadl/specialchars/package-info.java
  typespec-tests/src/main/resources/cadl-specialchars.properties
  typespec-tests/tsp/special-chars.tsp
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

regen autorest
  protocol-tests/src/main/java/fixtures/specialheader/implementation/HeadersImpl.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

add test case for dpg
  protocol-tests/src/test/java/fixtures/mediatypes/MediaTypesTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

bug fix; and regen for dpg
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/util/MethodUtil.java
  partial-update-tests/generated/src/main/java/fixtures/bodystring/implementation/StringOperationsImpl.java
  protocol-tests/src/main/java/fixtures/bodystring/implementation/StringOperationsImpl.java
  protocol-tests/src/main/java/fixtures/endpointlro/implementation/LROsImpl.java
  protocol-tests/src/main/java/fixtures/enums/implementation/EnumServiceClientImpl.java
  protocol-tests/src/main/java/fixtures/lro/implementation/LROsImpl.java
  protocol-tests/src/main/java/fixtures/lro/implementation/LroRetrysImpl.java
  protocol-tests/src/main/java/fixtures/lro/implementation/LrosCustomHeadersImpl.java
  protocol-tests/src/main/java/fixtures/lro/implementation/LrosaDsImpl.java
  protocol-tests/src/main/java/fixtures/mediatypes/implementation/MediaTypesClientImpl.java
  protocol-tests/src/main/java/fixtures/multimediatypes/implementation/DpgMultiMediaTypesClientImpl.java
  protocol-tests/src/main/java/fixtures/requiredoptionalbody/implementation/RequiredOptionalBodyClientImpl.java
  protocol-tests/src/test/java/fixtures/mediatypes/MediaTypesTests.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

bug fix
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
Owners: @weidongxu-microsoft, @srnagar

regen; add more comment
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
  protocol-tests/src/main/java/fixtures/multimediatypes/implementation/DpgMultiMediaTypesClientImpl.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Update min Java version
  readme.md
Owners: @weidongxu-microsoft, @srnagar

dpg, improve user experience when body is optional (#2190)
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientMethod.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/util/MethodUtil.java
  partial-update-tests/generated/src/main/java/fixtures/bodystring/implementation/StringOperationsImpl.java
  protocol-tests/src/main/java/fixtures/bodystring/implementation/StringOperationsImpl.java
  protocol-tests/src/main/java/fixtures/endpointlro/implementation/LROsImpl.java
  protocol-tests/src/main/java/fixtures/enums/implementation/EnumServiceClientImpl.java
  protocol-tests/src/main/java/fixtures/lro/implementation/LROsImpl.java
  protocol-tests/src/main/java/fixtures/lro/implementation/LroRetrysImpl.java
  protocol-tests/src/main/java/fixtures/lro/implementation/LrosCustomHeadersImpl.java
  protocol-tests/src/main/java/fixtures/lro/implementation/LrosaDsImpl.java
  protocol-tests/src/main/java/fixtures/mediatypes/implementation/MediaTypesClientImpl.java
  protocol-tests/src/main/java/fixtures/multimediatypes/implementation/DpgMultiMediaTypesClientImpl.java
  protocol-tests/src/main/java/fixtures/requiredoptionalbody/implementation/RequiredOptionalBodyClientImpl.java
  protocol-tests/src/main/java/fixtures/specialheader/implementation/HeadersImpl.java
  protocol-tests/src/test/java/fixtures/mediatypes/MediaTypesTests.java
  typespec-tests/src/main/java/com/_specs_/azure/core/traits/implementation/TraitsClientImpl.java
  typespec-tests/src/main/java/com/cadl/optional/implementation/OptionalClientImpl.java
  typespec-tests/src/main/java/com/cadl/specialheaders/implementation/SpecialHeadersClientImpl.java
  typespec-tests/src/main/java/com/parameters/bodyoptionality/implementation/OptionalExplicitsImpl.java
  typespec-tests/src/main/java/com/specialheaders/repeatability/implementation/RepeatabilityClientImpl.java
  typespec-tests/src/test/java/com/parameters/bodyoptionality/BodyTests.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

tsp, add external package, if model used in convenient API
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ModuleInfo.java
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
Owners: @weidongxu-microsoft, @srnagar

tsp, prepare 0.8.1 for bug fix
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, prepare 0.8.1 for bug fix (#2193)
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix special char encoding issue for partial update case
  postprocessor/src/main/java/com/azure/autorest/postprocessor/Postprocessor.java
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
  typespec-tests/tsp/partialupdate.tsp
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

re-generate test code
  typespec-tests/src/main/java/com/cadl/partialupdate/PartialUpdateAsyncClient.java
  typespec-tests/src/main/java/com/cadl/partialupdate/PartialUpdateClient.java
  typespec-tests/src/main/java/com/cadl/partialupdate/implementation/PartialUpdateClientImpl.java
  typespec-tests/src/main/java/com/cadl/partialupdate/models/PartialUpdateModel.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update test cases
  partial-update/src/test/java/com/azure/autorest/partialupdate/util/PartialUpdateHandlerTest.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

support RequestConditions and MatchConditions
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/Language.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/Languages.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/util/SchemaUtil.java
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/operation-utils.ts
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

.github/CODEOWNERS:

# default
*                           @weidongxu-microsoft @srnagar

# Git Hub bot rules
/.github/fabricbot.json     @jsquire @ronniegeraghty

# fluentgen
/fluent*                    @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/azure-tests                @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

# androidgen
/androidgen                 @JianpingChen @anuchandy

# protocol
/protocol*                  @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update-tests       @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar

# typespec
/typespec-extension         @srnagar @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/typespec-tests             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
