Repository Azure/autorest.java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @weidongxu-microsoft, @srnagar, @jsquire, @ronniegeraghty, @haolingdong-msft, @XiaofeiCao, @JianpingChen, @anuchandy

regen
  typespec-tests/src/main/java/com/encode/bytes/models/Base64UrlBytesProperty.java
  typespec-tests/src/main/java/com/encode/datetime/models/Rfc7231DatetimeProperty.java
  typespec-tests/src/main/java/com/encode/datetime/models/UnixTimestampDatetimeProperty.java
  vanilla-tests/src/main/java/fixtures/requiredfieldsascotrargstransformation/models/TransformationAsParentRequiredFields.java
  vanilla-tests/src/main/java/fixtures/requiredfieldsascotrargstransformation/models/TransformationAsRequiredFields.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

add tests for encoding
  typespec-tests/src/test/java/com/encode/bytes/EncodeBytesTests.java
  typespec-tests/src/test/java/com/encode/datetime/EncodeDateTimeTests.java
  typespec-tests/src/test/java/com/encode/duration/EncodeDurationTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

move isWireTypeMismatch to utility method
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
Owners: @weidongxu-microsoft, @srnagar

Customization, debugging and sync stack
  customization-base/src/main/java/com/azure/autorest/customization/implementation/ls/EclipseLanguageServerFacade.java
  javagen/src/main/java/com/azure/autorest/Javagen.java
  postprocessor/src/main/java/com/azure/autorest/postprocessor/Postprocessor.java
  typespec-extension/pom.xml
  typespec-extension/readme.md
  typespec-extension/src/emitter.ts
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
  typespec-extension/src/main/java/com/azure/typespec/Main.java
  typespec-extension/src/main/java/com/azure/typespec/model/EmitterOptions.java
  typespec-extension/src/main/resources/logback.xml
  typespec-extension/src/test/java/com/azure/typespec/util/ModelUtilTests.java
  typespec-tests/Generate.ps1
  typespec-tests/Setup.ps1
  typespec-tests/customization/src/main/java/CustomizationTest.java
  typespec-tests/src/main/java/com/cadl/naming/NamingClient.java
  typespec-tests/tspconfig.yaml
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

remove unncessary code
  typespec-extension/src/main/java/com/azure/typespec/Main.java
  typespec-tests/Setup.ps1
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

client, fix Jackson de-serialize error when ctor has mismatched client type and wire type (#2202)
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
  typespec-tests/src/main/java/com/cadl/builtin/models/FormatString.java
  typespec-tests/src/main/java/com/cadl/wiretype/WireTypeAsyncClient.java
  typespec-tests/src/main/java/com/cadl/wiretype/WireTypeClient.java
  typespec-tests/src/main/java/com/cadl/wiretype/WireTypeClientBuilder.java
  typespec-tests/src/main/java/com/cadl/wiretype/implementation/WireTypeClientImpl.java
  typespec-tests/src/main/java/com/cadl/wiretype/implementation/package-info.java
  typespec-tests/src/main/java/com/cadl/wiretype/models/SubClass.java
  typespec-tests/src/main/java/com/cadl/wiretype/models/SubClassBothMismatch.java
  typespec-tests/src/main/java/com/cadl/wiretype/models/SubClassMismatch.java
  typespec-tests/src/main/java/com/cadl/wiretype/models/SuperClass.java
  typespec-tests/src/main/java/com/cadl/wiretype/models/SuperClassMismatch.java
  typespec-tests/src/main/java/com/cadl/wiretype/models/package-info.java
  typespec-tests/src/main/java/com/cadl/wiretype/package-info.java
  typespec-tests/src/main/java/com/encode/bytes/models/Base64UrlBytesProperty.java
  typespec-tests/src/main/java/com/encode/datetime/models/Rfc7231DatetimeProperty.java
  typespec-tests/src/main/java/com/encode/datetime/models/UnixTimestampDatetimeProperty.java
  typespec-tests/src/main/java/com/encode/duration/models/FloatSecondsDurationProperty.java
  typespec-tests/src/main/java/com/encode/duration/models/Int32SecondsDurationProperty.java
  typespec-tests/src/main/resources/cadl-wiretype.properties
  typespec-tests/src/test/java/com/cadl/wiretype/LocalModelTests.java
  typespec-tests/src/test/java/com/cadl/wiretype/Model.java
  typespec-tests/src/test/java/com/cadl/wiretype/WireTypeTests.java
  typespec-tests/tsp/wire-type.tsp
  vanilla-tests/src/main/java/fixtures/requiredfieldsascotrargstransformation/models/TransformationAsParentRequiredFields.java
  vanilla-tests/src/main/java/fixtures/requiredfieldsascotrargstransformation/models/TransformationAsRequiredFields.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Support XML namespaces in more locations in stream-style serialization
  customization-base/src/main/java/com/azure/autorest/customization/ClassCustomization.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ModelPropertyMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientModelProperty.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/XmlSequenceWrapper.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/XmlSequenceWrapperTemplate.java
Owners: @weidongxu-microsoft, @srnagar

Check for super list being null before setting new list
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/XmlSequenceWrapperTemplate.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/implementation/models/BananaWrapper.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/implementation/models/SignedIdentifierWrapper.java
Owners: @weidongxu-microsoft, @srnagar

tsp, add cadl ranch test for encode (#2205)
  typespec-tests/src/test/java/com/encode/bytes/EncodeBytesTests.java
  typespec-tests/src/test/java/com/encode/datetime/EncodeDateTimeTests.java
  typespec-tests/src/test/java/com/encode/duration/EncodeDurationTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Support XML namespaces in more locations in stream-style serialization (#2206)
  customization-base/src/main/java/com/azure/autorest/customization/ClassCustomization.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ModelPropertyMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientModelProperty.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/XmlSequenceWrapper.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/XmlSequenceWrapperTemplate.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/implementation/models/BananaWrapper.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/implementation/models/SignedIdentifierWrapper.java
Owners: @weidongxu-microsoft, @srnagar

enlarge the scope of new lro strategy
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/operation-utils.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

bump version to 0.8.3
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, skip operation used in pollingOperation
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/models.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

re-generate test code
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/RpcAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/RpcClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/implementation/RpcClientImpl.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, skip operation used in pollingOperation (#2208)
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/models.ts
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/RpcAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/RpcClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/implementation/RpcClientImpl.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, enlarge the scope of new lro strategy (#2207)
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/operation-utils.ts
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

upgrade cadl-ranch
  typespec-tests/package.json
  typespec-tests/src/test/java/com/encode/datetime/EncodeDateTimeTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

sync main
  typespec-tests/src/main/java/com/cadl/partialupdate/PartialUpdateAsyncClient.java
  typespec-tests/src/main/java/com/cadl/partialupdate/PartialUpdateClient.java
  typespec-tests/src/main/java/com/cadl/partialupdate/PartialUpdateClientBuilder.java
  typespec-tests/src/main/java/com/cadl/partialupdate/models/PartialUpdateModel.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

sync main
  typespec-tests/src/main/java/com/cadl/partialupdate/PartialUpdateServiceVersion.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, upgrade cadl-ranch (#2210)
  typespec-tests/package.json
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/LegacyAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/LegacyClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/LegacyClientBuilder.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/LegacyServiceVersion.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/implementation/LegacyClientImpl.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/implementation/package-info.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/models/ErrorResponse.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/models/JobData.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/models/JobResult.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/models/JobStatus.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/models/package-info.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/package-info.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/models/JobDataJobResultJobPollResultLongRunningFinalLocationJobResult.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/models/JobPollResult.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/models/OperationState.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/models/package-info.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/package-info.java
  typespec-tests/src/main/resources/_specs_-azure-core-lro-rpc-legacy.properties
  typespec-tests/src/test/java/com/_specs_/azure/core/lro/rpc/LroRpcTests.java
  typespec-tests/src/test/java/com/_specs_/azure/core/lro/rpc/legacy/LegacyRpcTests.java
  typespec-tests/src/test/java/com/encode/datetime/EncodeDateTimeTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

init
  eng/pipelines/post-publish-sdk.yaml
  eng/sdk/sync_sdk.py
Owners: @weidongxu-microsoft, @srnagar

update resources
  eng/pipelines/post-publish-sdk.yaml
Owners: @weidongxu-microsoft, @srnagar

fix step to get version
  eng/pipelines/post-publish-sdk.yaml
Owners: @weidongxu-microsoft, @srnagar

bug fix
  eng/sdk/sync_sdk.py
Owners: @weidongxu-microsoft, @srnagar

skip some artifacts
  eng/sdk/sync_sdk.py
Owners: @weidongxu-microsoft, @srnagar

set workingDirectory to autorest.java
  eng/pipelines/post-publish-sdk.yaml
Owners: @weidongxu-microsoft, @srnagar

bug fix
  eng/pipelines/post-publish-sdk.yaml
  eng/sdk/sync_sdk.py
Owners: @weidongxu-microsoft, @srnagar

use script from azure-sdk-for-java
  eng/pipelines/post-publish-sdk.yaml
Owners: @weidongxu-microsoft, @srnagar

use var group
  eng/pipelines/post-publish-sdk.yaml
Owners: @weidongxu-microsoft, @srnagar

use RepoName
  eng/pipelines/post-publish-sdk.yaml
Owners: @weidongxu-microsoft, @srnagar

add BaseBranchName
  eng/pipelines/post-publish-sdk.yaml
Owners: @weidongxu-microsoft, @srnagar

support include
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

test
  typespec-tests/src/main/java/com/cadl/internal/InternalAsyncClient.java
  typespec-tests/src/main/java/com/cadl/internal/InternalClient.java
  typespec-tests/src/main/java/com/cadl/internal/InternalClientBuilder.java
  typespec-tests/src/main/java/com/cadl/internal/implementation/InternalClientImpl.java
  typespec-tests/src/main/java/com/cadl/internal/implementation/package-info.java
  typespec-tests/src/main/java/com/cadl/internal/models/Request.java
  typespec-tests/src/main/java/com/cadl/internal/models/RequestInner.java
  typespec-tests/src/main/java/com/cadl/internal/models/package-info.java
  typespec-tests/src/main/java/com/cadl/internal/package-info.java
  typespec-tests/src/main/resources/cadl-internal.properties
  typespec-tests/tsp/internal.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Update changelog.md
  typespec-extension/changelog.md
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

add example for versionOp_list
  javagen/src/main/java/com/azure/autorest/template/example/ClientMethodExampleWriter.java
  javagen/src/main/java/com/azure/autorest/util/MethodUtil.java
  typespec-tests/tsp/examples/2022-12-01-preview/VersioningOp_List.json
  typespec-tests/tspconfig.yaml
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

generate sample code
  typespec-tests/Generate.ps1
  typespec-tests/src/samples/java/com/cadl/versioning/generated/VersioningOpList.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

eng, pipeline to update sdk repo (#2211)
  eng/pipelines/post-publish-sdk.yaml
  eng/sdk/sync_sdk.py
Owners: @weidongxu-microsoft, @srnagar

tsp, support TCGC include (#2212)
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-tests/package.json
  typespec-tests/src/main/java/com/cadl/internal/InternalAsyncClient.java
  typespec-tests/src/main/java/com/cadl/internal/InternalClient.java
  typespec-tests/src/main/java/com/cadl/internal/InternalClientBuilder.java
  typespec-tests/src/main/java/com/cadl/internal/implementation/InternalClientImpl.java
  typespec-tests/src/main/java/com/cadl/internal/implementation/package-info.java
  typespec-tests/src/main/java/com/cadl/internal/models/Request.java
  typespec-tests/src/main/java/com/cadl/internal/models/RequestInner.java
  typespec-tests/src/main/java/com/cadl/internal/models/package-info.java
  typespec-tests/src/main/java/com/cadl/internal/package-info.java
  typespec-tests/src/main/resources/cadl-internal.properties
  typespec-tests/tsp/internal.tsp
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, add sample file for tsp/versioning.tsp (#2213)
  javagen/src/main/java/com/azure/autorest/template/example/ClientMethodExampleWriter.java
  javagen/src/main/java/com/azure/autorest/util/MethodUtil.java
  typespec-tests/Generate.ps1
  typespec-tests/src/samples/java/com/cadl/versioning/generated/VersioningOpList.java
  typespec-tests/tsp/examples/2022-12-01-preview/VersioningOp_List.json
  typespec-tests/tspconfig.yaml
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

do not add CookiePolicy to client
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ServiceClient.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientBuilderTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientTemplate.java
Owners: @weidongxu-microsoft, @srnagar

.github/CODEOWNERS:

# default
*                           @weidongxu-microsoft @srnagar

# Git Hub bot rules
/.github/fabricbot.json     @jsquire @ronniegeraghty

# fluentgen
/fluent*                    @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/azure-tests                @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

# androidgen
/androidgen                 @JianpingChen @anuchandy

# protocol
/protocol*                  @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update-tests       @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar

# typespec
/typespec-extension         @srnagar @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/typespec-tests             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
