Repository Azure/autorest.java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @weidongxu-microsoft, @srnagar, @AlexGhiondea, @jsquire, @ronniegeraghty, @haolingdong-msft, @XiaofeiCao, @JianpingChen, @anuchandy

.github/CODEOWNERS:

# default
*                           @weidongxu-microsoft @srnagar

# Git Hub bot rules
/.github/fabricbot.json     @AlexGhiondea @jsquire @ronniegeraghty

# fluentgen
/fluent*                    @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/azure-tests                @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

# androidgen
/androidgen                 @JianpingChen @anuchandy

# protocol
/protocol*                  @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update-tests       @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar

# cadl
/cadl-extension             @srnagar @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/cadl-tests                 @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

comment cadl-ranch resiliency tests as cadl-ranch server fails now
  cadl-tests/src/test/java/com/cadl/testserver/servicedriven1/DPGClientTest.java
  cadl-tests/src/test/java/com/cadl/testserver/servicedriven2/DPGClientTest.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

improve logic verifying sdk
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
Owners: @weidongxu-microsoft, @srnagar

Fix checkstyle error
  cadl-extension/src/main/java/com/azure/autorest/CadlPlugin.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

pom structure depends on whether sdk repo is found
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/FluentPomMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/PomMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/Pom.java
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  javagen/src/main/java/com/azure/autorest/template/PomTemplate.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

format in parallel
  cadl-extension/src/main/java/com/azure/cadl/Main.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Cadl, enable sdk-integration (#1646)
  cadl-extension/package.json
  cadl-extension/src/main/java/com/azure/autorest/CadlPlugin.java
  cadl-extension/src/main/java/com/azure/cadl/Main.java
  cadl-extension/src/test/java/com/azure/cadl/util/ModelUtilTests.java
  cadl-tests/generate.sh
  cadl-tests/package.json
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/FluentPomMapper.java
  javagen/src/main/java/com/azure/autorest/Javagen.java
  javagen/src/main/java/com/azure/autorest/mapper/PomMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/Pom.java
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  javagen/src/main/java/com/azure/autorest/template/PomTemplate.java
  javagen/src/test/java/com/azure/autorest/JavagenUnitTests.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

handle ResponseBase with Void
  javagen/src/main/java/com/azure/autorest/template/ConvenienceSyncMethodTemplate.java
Owners: @weidongxu-microsoft, @srnagar

update response.cadl to verify the change
  cadl-tests/cadl/response.cadl
  cadl-tests/src/main/java/com/cadl/response/ResponseAsyncClient.java
  cadl-tests/src/main/java/com/cadl/response/ResponseClient.java
  cadl-tests/src/main/java/com/cadl/response/implementation/ResponseOpsImpl.java
  cadl-tests/src/main/java/com/cadl/response/models/Resource.java
  cadl-tests/src/main/java/com/cadl/response/models/ResponseOpsCreateWithHeadersHeaders.java
  cadl-tests/src/main/java/com/cadl/response/models/ResponseOpsDeleteWithHeadersHeaders.java
  cadl-tests/src/main/java/com/cadl/response/models/package-info.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Cadl, bug fix on response with headers (#1648)
  cadl-tests/cadl/response.cadl
  cadl-tests/src/main/java/com/cadl/response/ResponseAsyncClient.java
  cadl-tests/src/main/java/com/cadl/response/ResponseClient.java
  cadl-tests/src/main/java/com/cadl/response/implementation/ResponseOpsImpl.java
  cadl-tests/src/main/java/com/cadl/response/models/Resource.java
  cadl-tests/src/main/java/com/cadl/response/models/ResponseOpsCreateWithHeadersHeaders.java
  cadl-tests/src/main/java/com/cadl/response/models/ResponseOpsDeleteWithHeadersHeaders.java
  cadl-tests/src/main/java/com/cadl/response/models/package-info.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceSyncMethodTemplate.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

update according to comments
  partial-update/pom.xml
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar
