Repository Azure/autorest.java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @weidongxu-microsoft, @srnagar, @jsquire, @ronniegeraghty, @haolingdong-msft, @XiaofeiCao, @JianpingChen, @anuchandy

.github/CODEOWNERS:

# default
*                           @weidongxu-microsoft @srnagar

# Git Hub bot rules
/.github/fabricbot.json     @jsquire @ronniegeraghty

# fluentgen
/fluent*                    @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/azure-tests                @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

# androidgen
/androidgen                 @JianpingChen @anuchandy

# protocol
/protocol*                  @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update-tests       @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar

# typespec
/typespec-extension         @srnagar @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/typespec-tests             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

incre version
  package.json
Owners: @weidongxu-microsoft, @srnagar

revert increment version
  package.json
Owners: @weidongxu-microsoft, @srnagar

revert typespec-extension dependency
  typespec-extension/pom.xml
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

remove assert for BinaryDataNode
  javagen/src/main/java/com/azure/autorest/template/example/ModelExampleWriter.java
Owners: @weidongxu-microsoft, @srnagar

add ExternalPackage
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/Annotation.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ExternalPackage.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/GenericType.java
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientBuilderTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceSyncClientTemplate.java
Owners: @weidongxu-microsoft, @srnagar

tsp, example getbytes utf8 (#2363)
  javagen/src/main/java/com/azure/autorest/template/example/ModelExampleWriter.java
  typespec-tests/src/samples/java/com/cadl/multicontenttypes/generated/SingleContentTypeUploadImageForSingleContentType.java
  typespec-tests/src/test/java/com/cadl/multicontenttypes/generated/SingleContentTypeUploadImageForSingleContentTypeTests.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

fix
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/template/EnumTemplate.java
  typespec-extension/src/code-model-builder.ts
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

option branding=true
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/emitter.ts
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
  typespec-extension/src/main/java/com/azure/typespec/model/EmitterOptions.java
  typespec-tests/tspconfig.yaml
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

fix Union as Enum
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/type-utils.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

prefix model name for anon model
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

regen test
  typespec-tests/src/main/java/com/cadl/enumservice/models/NameModel.java
  typespec-tests/src/main/java/com/cadl/enumservice/models/Operation.java
  typespec-tests/src/main/java/com/cadl/enumservice/models/OperationNameModel.java
  typespec-tests/src/main/java/com/cadl/internal/implementation/models/ByteArrayStandAloneUnionDataModel.java
  typespec-tests/src/main/java/com/cadl/internal/implementation/models/DataModelBase.java
  typespec-tests/src/main/java/com/cadl/internal/implementation/models/StandAloneUnion.java
  typespec-tests/src/main/java/com/cadl/internal/implementation/models/StandAloneUnionDataModelBase.java
  typespec-tests/src/main/java/com/cadl/internal/implementation/models/UrlStandAloneUnionDataModel.java
  typespec-tests/src/main/java/com/cadl/literalservice/models/Model.java
  typespec-tests/src/main/java/com/cadl/literalservice/models/ModelOptionalLiteralModel.java
  typespec-tests/src/main/java/com/cadl/naming/models/DataRequest.java
  typespec-tests/src/main/java/com/cadl/naming/models/RequestParametersModel.java
  typespec-tests/src/main/java/com/type/union/UnionAsyncClient.java
  typespec-tests/src/main/java/com/type/union/UnionClient.java
  typespec-tests/src/main/java/com/type/union/implementation/UnionClientImpl.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

refine naming of anonymous union
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/type-utils.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

rename ExternalPackage to Package
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/Annotation.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/GenericType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/Package.java
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  javagen/src/main/java/com/azure/autorest/util/ReturnTypeDescriptionAssembler.java
Owners: @weidongxu-microsoft, @srnagar

handle property from unnamed model
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/type-utils.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix cache
  javagen/src/main/java/com/azure/autorest/util/ReturnTypeDescriptionAssembler.java
  typespec-extension/src/code-model-builder.ts
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

regen
  typespec-tests/src/main/java/com/cadl/enumservice/EnumServiceAsyncClient.java
  typespec-tests/src/main/java/com/cadl/enumservice/EnumServiceClient.java
  typespec-tests/src/main/java/com/cadl/enumservice/implementation/EnumServiceClientImpl.java
  typespec-tests/src/main/java/com/cadl/enumservice/models/Operation.java
  typespec-tests/src/main/java/com/cadl/enumservice/models/OperationName.java
  typespec-tests/src/main/java/com/cadl/enumservice/models/OperationNameModel.java
  typespec-tests/src/main/java/com/cadl/literalservice/LiteralServiceAsyncClient.java
  typespec-tests/src/main/java/com/cadl/literalservice/LiteralServiceClient.java
  typespec-tests/src/main/java/com/cadl/literalservice/models/Model.java
  typespec-tests/src/main/java/com/cadl/literalservice/models/ModelOptionalLiteral.java
  typespec-tests/src/main/java/com/cadl/literalservice/models/OptionalLiteralParam.java
  typespec-tests/src/main/java/com/cadl/naming/models/DataRequest.java
  typespec-tests/src/main/java/com/cadl/naming/models/RequestParameters.java
  typespec-tests/src/main/java/com/cadl/naming/models/RequestType.java
  typespec-tests/src/main/java/com/cadl/naming/models/TypeModel.java
  typespec-tests/src/main/java/com/encode/bytes/HeaderAsyncClient.java
  typespec-tests/src/main/java/com/encode/bytes/HeaderClient.java
  typespec-tests/src/main/java/com/encode/bytes/QueryAsyncClient.java
  typespec-tests/src/main/java/com/encode/bytes/QueryClient.java
  typespec-tests/src/main/java/com/encode/bytes/implementation/HeadersImpl.java
  typespec-tests/src/main/java/com/encode/bytes/implementation/QueriesImpl.java
  typespec-tests/src/main/java/com/encode/datetime/HeaderAsyncClient.java
  typespec-tests/src/main/java/com/encode/datetime/HeaderClient.java
  typespec-tests/src/main/java/com/encode/datetime/QueryAsyncClient.java
  typespec-tests/src/main/java/com/encode/datetime/QueryClient.java
  typespec-tests/src/main/java/com/encode/datetime/implementation/HeadersImpl.java
  typespec-tests/src/main/java/com/encode/datetime/implementation/QueriesImpl.java
  typespec-tests/src/main/java/com/encode/duration/HeaderAsyncClient.java
  typespec-tests/src/main/java/com/encode/duration/HeaderClient.java
  typespec-tests/src/main/java/com/encode/duration/QueryAsyncClient.java
  typespec-tests/src/main/java/com/encode/duration/QueryClient.java
  typespec-tests/src/main/java/com/encode/duration/implementation/HeadersImpl.java
  typespec-tests/src/main/java/com/encode/duration/implementation/QueriesImpl.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Update Java version in CI
  customization-base/pom.xml
  customization-base/src/main/java/com/azure/autorest/customization/implementation/ls/EclipseLanguageClient.java
  eng/pipelines/ci.yaml
Owners: @weidongxu-microsoft, @srnagar

disable readme/changelog etc., update pom.xml
  javagen/src/main/java/com/azure/autorest/mapper/PomMapper.java
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  javagen/src/main/java/com/azure/autorest/template/PomTemplate.java
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

CoreUtils in model
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientModelProperty.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
Owners: @weidongxu-microsoft, @srnagar

handle KeyCredentialPolicy and HttpLoggingPolicy
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientBuilderTemplate.java
Owners: @weidongxu-microsoft, @srnagar

Initial commit
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  javagen/pom.xml
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/PomMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ServiceClientMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientBuilderTrait.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientMethod.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientModel.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientModelProperty.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/GenericType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/Proxy.java
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceSyncMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/PomTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceAsyncClientTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientBuilderTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientTemplate.java
  javagen/src/main/java/com/azure/autorest/template/TemplateHelper.java
  pom.xml
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
  typespec-extension/src/main/java/com/azure/typespec/Main.java
  typespec-extension/src/main/java/com/azure/typespec/model/EmitterOptions.java
  typespec-tests/Setup.ps1
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

not generate the line when serviceVersion and endpoint is null
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
Owners: @weidongxu-microsoft, @srnagar

update according to comments
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
Owners: @weidongxu-microsoft, @srnagar

tsp, local handle anon model
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/type-utils.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

re-generate test code
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/implementation/RpcClientImpl.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/implementation/LegacyClientImpl.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/standard/implementation/StandardClientImpl.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

client, cache for ReturnTypeDescriptionAssembler
  javagen/src/main/java/com/azure/autorest/util/ReturnTypeDescriptionAssembler.java
Owners: @weidongxu-microsoft, @srnagar

client, cache for ReturnTypeDescriptionAssembler (#2368)
  javagen/src/main/java/com/azure/autorest/util/ReturnTypeDescriptionAssembler.java
Owners: @weidongxu-microsoft, @srnagar

re-generate test code
  azure-dataplane-tests/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/FormRecognizerClientImpl.java
  protocol-tests/src/main/java/fixtures/dpgcustomization/implementation/DpgClientImpl.java
  protocol-tests/src/main/java/fixtures/endpointlro/implementation/LROsImpl.java
  protocol-tests/src/main/java/fixtures/lro/implementation/LROsImpl.java
  protocol-tests/src/main/java/fixtures/lro/implementation/LroRetrysImpl.java
  protocol-tests/src/main/java/fixtures/lro/implementation/LrosCustomHeadersImpl.java
  protocol-tests/src/main/java/fixtures/lro/implementation/LrosaDsImpl.java
  protocol-tests/src/main/java/fixtures/specialheader/implementation/HeadersImpl.java
  vanilla-tests/src/main/java/fixtures/lro/LRORetrys.java
  vanilla-tests/src/main/java/fixtures/lro/LROs.java
  vanilla-tests/src/main/java/fixtures/lro/LROsCustomHeaders.java
  vanilla-tests/src/main/java/fixtures/lro/LrosaDs.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Use Spotless instead of Google format
  androidgen/pom.xml
  androidgen/src/main/java/com/azure/autorest/android/Androidgen.java
  customization-base/pom.xml
  customization-base/src/main/java/com/azure/autorest/customization/implementation/ls/EclipseLanguageClient.java
  customization-base/src/main/resources/pom.xml
  customization-tests/swagger/pom.xml
  fluentgen/pom.xml
  fluentgen/readme.md
  fluentgen/src/main/java/com/azure/autorest/fluent/FluentGen.java
  fluentgen/src/main/java/com/azure/autorest/fluent/checker/JavaFormatter.java
  fluentgen/src/main/java/com/azure/autorest/fluent/template/FluentLiveTestsTemplate.java
  fluentgen/src/main/java/com/azure/autorest/fluent/template/SampleTemplate.java
  fluentgen/src/main/resources/eclipse-format-azure-sdk-for-java.xml
  fluentgen/src/main/resources/spotless-pom.xml
  fluentnamer/pom.xml
  javagen/pom.xml
  javagen/src/main/java/com/azure/autorest/Javagen.java
  javagen/src/main/java/com/azure/autorest/mapper/LiveTestsMapper.java
  javagen/src/test/java/com/azure/autorest/JavagenUnitTests.java
  pom.xml
  postprocessor/pom.xml
  postprocessor/src/main/java/com/azure/autorest/postprocessor/Postprocessor.java
  postprocessor/src/main/resources/readme/eclipse-format-azure-sdk-for-java.xml
  postprocessor/src/main/resources/readme/pom.xml
  typespec-extension/pom.xml
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
  typespec-extension/src/main/java/com/azure/typespec/Main.java
  typespec-extension/src/main/resources/eclipse-format-azure-sdk-for-java.xml
  typespec-extension/src/main/resources/spotless-pom.xml
Owners: @JianpingChen, @anuchandy, @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

fix compile
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientTemplate.java
  pom.xml
  typespec-extension/src/code-model-builder.ts
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

use option branded, default true
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/PomMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ServiceClientMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/template/ServiceAsyncClientTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientBuilderTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientTemplate.java
  javagen/src/main/java/com/azure/autorest/template/TemplateHelper.java
  typespec-extension/src/emitter.ts
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
  typespec-extension/src/main/java/com/azure/typespec/model/EmitterOptions.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

bug fix on azure branch
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
Owners: @weidongxu-microsoft, @srnagar

fix module-info and pom
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/PomMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ExternalPackage.java
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
  typespec-extension/src/main/java/com/azure/typespec/Main.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

refactor Annotation from ClassType
  javagen/src/main/java/com/azure/autorest/mapper/ServiceClientMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/Annotation.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientMethod.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientModel.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientModelProperty.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/GenericType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/Proxy.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ProxyMethod.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ProxyMethodParameter.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ServiceClient.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceAsyncMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/EnumTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceAsyncClientTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientBuilderTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceSyncClientTemplate.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/TemplateHelper.java
  javagen/src/main/java/com/azure/autorest/template/WrapperClientMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/XmlSequenceWrapperTemplate.java
  javagen/src/main/java/com/azure/autorest/util/SchemaUtil.java
Owners: @weidongxu-microsoft, @srnagar

remove generic-core lib for now
  javagen/pom.xml
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientTemplate.java
  pom.xml
Owners: @weidongxu-microsoft, @srnagar

misc fix
  javagen/pom.xml
  javagen/src/main/java/com/azure/autorest/mapper/PomMapper.java
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  javagen/src/main/java/com/azure/autorest/template/PomTemplate.java
  javagen/src/main/java/com/azure/autorest/template/TemplateHelper.java
Owners: @weidongxu-microsoft, @srnagar

nit
  javagen/src/main/java/com/azure/autorest/template/PomTemplate.java
Owners: @weidongxu-microsoft, @srnagar

remove Microsoft copyright in file header
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

format
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientBuilderTrait.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientMethod.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientModelProperty.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceAsyncMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/EnumTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceAsyncClientTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceSyncClientTemplate.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/TemplateHelper.java
  javagen/src/main/java/com/azure/autorest/template/WrapperClientMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/XmlSequenceWrapperTemplate.java
Owners: @weidongxu-microsoft, @srnagar

fix
  typespec-extension/src/emitter.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao
