Repository Azure/autorest.java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @weidongxu-microsoft, @srnagar, @jsquire, @ronniegeraghty, @haolingdong-msft, @XiaofeiCao, @JianpingChen, @anuchandy

.github/CODEOWNERS:

# default
*                           @weidongxu-microsoft @srnagar

# Git Hub bot rules
/.github/fabricbot.json     @jsquire @ronniegeraghty

# fluentgen
/fluent*                    @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/azure-tests                @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

# androidgen
/androidgen                 @JianpingChen @anuchandy

# protocol
/protocol*                  @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update-tests       @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar

# typespec
/typespec-extension         @srnagar @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/typespec-tests             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

avoid ServiceVersion
  typespec-extension/src/operation-utils.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

re-generate test code
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/BasicServiceVersion.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/RpcServiceVersion.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/LegacyServiceVersion.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/standard/StandardServiceVersion.java
  typespec-tests/src/main/java/com/_specs_/azure/core/traits/TraitsServiceVersion.java
  typespec-tests/src/main/java/com/cadl/flatten/FlattenServiceVersion.java
  typespec-tests/src/main/java/com/cadl/longrunning/LongRunningServiceVersion.java
  typespec-tests/src/main/java/com/cadl/multipleapiversion/FirstServiceVersion.java
  typespec-tests/src/main/java/com/cadl/multipleapiversion/NoApiVersionServiceVersion.java
  typespec-tests/src/main/java/com/cadl/multipleapiversion/SecondServiceVersion.java
  typespec-tests/src/main/java/com/cadl/protocolandconvenient/ProtocolAndConvenientServiceVersion.java
  typespec-tests/src/main/java/com/cadl/response/ResponseServiceVersion.java
  typespec-tests/src/main/java/com/cadl/server/ContosoServiceVersion.java
  typespec-tests/src/main/java/com/cadl/specialheaders/SpecialHeadersServiceVersion.java
  typespec-tests/src/main/java/com/cadl/union/UnionServiceVersion.java
  typespec-tests/src/main/java/com/cadl/versioning/VersioningServiceVersion.java
  typespec-tests/src/main/java/com/client/structure/service/ClientAClientBuilder.java
  typespec-tests/src/main/java/com/client/structure/service/ClientBClientBuilder.java
  typespec-tests/src/main/java/com/client/structure/service/RenamedOperationClientBuilder.java
  typespec-tests/src/main/java/com/client/structure/service/ServiceClientClientBuilder.java
  typespec-tests/src/main/java/com/client/structure/service/ServiceServiceVersion.java
  typespec-tests/src/main/java/com/client/structure/service/TwoOperationGroupClientBuilder.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/BarsImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/BazFoosImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/ClientAClientImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/ClientBClientImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/FoosImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/Group1sImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/Group2sImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/GroupsImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/QuxBarsImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/QuxesImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/RenamedOperationClientImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/ServiceClientClientImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/TwoOperationGroupClientImpl.java
  typespec-tests/src/main/java/com/resiliency/servicedriven/ServiceDrivenServiceVersion.java
  typespec-tests/src/main/java/com/resiliency/servicedriven/v1/ServiceDrivenServiceVersion.java
  typespec-tests/src/main/java/com/server/path/multiple/MultipleServiceVersion.java
  typespec-tests/src/main/java/com/server/versions/versioned/VersionedServiceVersion.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

github action permission to create tag and release
  .github/workflows/pre-release-typespec.yml
  .github/workflows/pre-release.yml
Owners: @weidongxu-microsoft, @srnagar

bump version
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

mpg, fix void request body (#2546)
  typespec-extension/src/code-model-builder.ts
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/ChildResourcesInterfacesClient.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ChildResourceImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ChildResourcesInterfacesClientImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ChildResourcesInterfacesImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/ChildResource.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/ChildResourcesInterfaces.java
  typespec-tests/tsp/arm.tsp
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix for multipart anonymous model
  javagen/src/main/java/com/azure/autorest/util/TypeUtil.java
Owners: @weidongxu-microsoft, @srnagar

test case
  typespec-tests/src/main/java/com/cadl/multipart/MultipartAsyncClient.java
  typespec-tests/src/main/java/com/cadl/multipart/MultipartClient.java
  typespec-tests/src/main/java/com/cadl/multipart/implementation/models/UploadFileRequest.java
  typespec-tests/src/main/java/com/cadl/multipart/models/FileDataFileDetails.java
  typespec-tests/tsp/multipart.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

re-generate test code
  azure-dataplane-tests/src/main/java/com/azure/ai/formrecognizer/documentanalysis/dpg/FormRecognizerServiceVersion.java
  partial-update-tests/generated/src/main/java/fixtures/bodystring/AutoRestSwaggerBatServiceVersion.java
  protocol-resilience-test/llcinitial/src/main/java/fixtures/llcresi/DpgServiceVersion.java
  protocol-resilience-test/llcupdate1/src/main/java/fixtures/llcresi/DpgServiceVersion.java
  protocol-tests/src/main/java/fixtures/bodycomplex/AutoRestComplexTestServiceVersion.java
  protocol-tests/src/main/java/fixtures/bodyfile/AutoRestSwaggerBatFileServiceVersion.java
  protocol-tests/src/main/java/fixtures/bodystring/AutoRestSwaggerBatServiceVersion.java
  protocol-tests/src/main/java/fixtures/constantandclientparam/ConstantAndClientParameterServiceVersion.java
  protocol-tests/src/main/java/fixtures/constants/AutoRestSwaggerConstantServiceVersion.java
  protocol-tests/src/main/java/fixtures/dpgcustomization/DpgServiceVersion.java
  protocol-tests/src/main/java/fixtures/endpointlro/LroEndpointServiceVersion.java
  protocol-tests/src/main/java/fixtures/enums/EnumServiceVersion.java
  protocol-tests/src/main/java/fixtures/header/AutoRestSwaggerBatHeaderServiceVersion.java
  protocol-tests/src/main/java/fixtures/headexceptions/AutoRestHeadExceptionTestServiceVersion.java
  protocol-tests/src/main/java/fixtures/httpinfrastructure/AutoRestHttpInfrastructureTestServiceVersion.java
  protocol-tests/src/main/java/fixtures/llcinitial/DpgServiceVersion.java
  protocol-tests/src/main/java/fixtures/llcupdate1/DpgServiceVersion.java
  protocol-tests/src/main/java/fixtures/lro/AutoRestLongRunningOperationTestServiceVersion.java
  protocol-tests/src/main/java/fixtures/mediatypes/MediaTypesServiceVersion.java
  protocol-tests/src/main/java/fixtures/multimediatypes/DpgMultiMediaTypesServiceVersion.java
  protocol-tests/src/main/java/fixtures/paging/AutoRestPagingTestServiceVersion.java
  protocol-tests/src/main/java/fixtures/parameterizedendpoint/ParmaterizedEndpointServiceVersion.java
  protocol-tests/src/main/java/fixtures/requiredheaderquery/DpgRequiredHeaderQueryServiceVersion.java
  protocol-tests/src/main/java/fixtures/requiredoptionalbody/RequiredOptionalBodyServiceVersion.java
  protocol-tests/src/main/java/fixtures/specialheader/SpecialHeaderServiceVersion.java
  protocol-tests/src/main/java/fixtures/url/AutoRestUrlTestServiceVersion.java
  protocol-tests/src/main/java/fixtures/url/multi/AutoRestUrlMutliCollectionFormatTestServiceVersion.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

minor change
  javagen/src/main/java/com/azure/autorest/util/TypeUtil.java
Owners: @weidongxu-microsoft, @srnagar

remove unused imports
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaClass.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaFile.java
Owners: @weidongxu-microsoft, @srnagar

refactor
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaClass.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaFile.java
Owners: @weidongxu-microsoft, @srnagar

update template to use the new javadocComment API
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceAsyncClientTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientBuilderTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceSyncClientTemplate.java
Owners: @weidongxu-microsoft, @srnagar

add isPartialUpdateSupported for client method template
  androidgen/src/main/java/com/azure/autorest/android/template/AndroidWrapperClientMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/WrapperClientMethodTemplate.java
Owners: @JianpingChen, @anuchandy, @weidongxu-microsoft, @srnagar

logic for client method
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/fluentmodel/method/CollectionMethodOperationByIdTemplate.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaBlock.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaClass.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaContext.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaFile.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaInterface.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/WrapperClientMethodTemplate.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

update modeltemplate
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
Owners: @weidongxu-microsoft, @srnagar

json-merge-patch, add cadl ranch test
  typespec-tests/src/test/java/com/payload/jsonmergepatch/JsonMergePatchClientTest.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update to latest tcgc
  typespec-extension/package-lock.json
  typespec-extension/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

sync version from SDK repo
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  fluent-tests/pom.xml
  fluentnamer/pom.xml
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  protocol-tests/pom.xml
  typespec-tests/pom.xml
  vanilla-tests/pom.xml
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

use tsp-client
  eng/pipelines/post-publish-sdk.yaml
  eng/sdk/sync_sdk.py
Owners: @weidongxu-microsoft, @srnagar

update compiler 0.53
  package-lock.json
  package.json
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/readme.md
  typespec-tests/package.json
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

refine code
  typespec-tests/src/test/java/com/payload/jsonmergepatch/JsonMergePatchClientTest.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

permission for github bot
  .github/workflows/fluent-test-gen-all.yml
  .github/workflows/generate-test-code.yml
Owners: @weidongxu-microsoft, @srnagar

re-generate test code
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/models/OperationInner.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/Operation.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

eng, integrate GitHub Release to devop pipeline
  .github/workflows/pre-release-typespec.yml
  .github/workflows/pre-release.yml
  eng/pipelines/post-publish-sdk.yaml
  eng/pipelines/publish-autorest-java.yaml
  eng/pipelines/publish-typespec-java.yaml
  eng/scripts/Create-Release.ps1
Owners: @weidongxu-microsoft, @srnagar

refactor
  typespec-tests/src/test/java/com/payload/jsonmergepatch/JsonMergePatchClientTest.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Update JsonMergePatchClientTest.java
  typespec-tests/src/test/java/com/payload/jsonmergepatch/JsonMergePatchClientTest.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

eng, migrate to tsp-client; update compiler 0.53 (#2552)
  .github/workflows/fluent-test-gen-all.yml
  .github/workflows/generate-test-code.yml
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  eng/pipelines/post-publish-sdk.yaml
  eng/sdk/sync_sdk.py
  fluent-tests/pom.xml
  fluentnamer/pom.xml
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  package-lock.json
  package.json
  pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  protocol-tests/pom.xml
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/readme.md
  typespec-tests/package.json
  typespec-tests/pom.xml
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/models/OperationInner.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/Operation.java
  vanilla-tests/pom.xml
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

eng, integrate GitHub Release to devop pipeline (#2553)
  .github/workflows/pre-release-typespec.yml
  .github/workflows/pre-release.yml
  eng/pipelines/post-publish-sdk.yaml
  eng/pipelines/publish-autorest-java.yaml
  eng/pipelines/publish-typespec-java.yaml
  eng/scripts/Create-Release.ps1
Owners: @weidongxu-microsoft, @srnagar

json-merge-patch, add cadl ranch test (#2550)
  typespec-tests/src/test/java/com/payload/jsonmergepatch/JsonMergePatchClientTest.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

code
  javagen/src/main/resources/MultipartFormDataHelper.java
Owners: @weidongxu-microsoft, @srnagar

regen
  typespec-tests/src/main/java/com/cadl/multipart/implementation/MultipartFormDataHelper.java
  typespec-tests/src/main/java/com/payload/multipart/implementation/MultipartFormDataHelper.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

bump version
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update test
  typespec-tests/src/test/java/com/payload/multipart/MultipartTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

clean up
  javagen/src/main/resources/MultipartFormDataHelper.java
  typespec-tests/src/main/java/com/cadl/multipart/implementation/MultipartFormDataHelper.java
  typespec-tests/src/main/java/com/payload/multipart/implementation/MultipartFormDataHelper.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Update changelog.md
  typespec-extension/changelog.md
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

logic on client method template
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientBuilderTemplate.java
Owners: @weidongxu-microsoft, @srnagar

Initial code changes
  postprocessor/pom.xml
  postprocessor/src/main/java/com/azure/autorest/postprocessor/implementation/CodeFormatterUtil.java
Owners: @weidongxu-microsoft, @srnagar

tsp, multipart file field can have no filename; update filename encoding (#2544)
  javagen/src/main/resources/MultipartFormDataHelper.java
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
  typespec-tests/src/main/java/com/cadl/multipart/implementation/MultipartFormDataHelper.java
  typespec-tests/src/main/java/com/payload/multipart/implementation/MultipartFormDataHelper.java
  typespec-tests/src/test/java/com/payload/multipart/MultipartTests.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

implement override method
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaFile.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaInterface.java
Owners: @weidongxu-microsoft, @srnagar

regen tsp
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/PagedOperation.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao
