Repository Azure/autorest.java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @weidongxu-microsoft, @srnagar, @jsquire, @ronniegeraghty, @haolingdong-msft, @XiaofeiCao, @JianpingChen, @anuchandy

.github/CODEOWNERS:

# default
*                           @weidongxu-microsoft @srnagar

# Git Hub bot rules
/.github/fabricbot.json     @jsquire @ronniegeraghty

# fluentgen
/fluent*                    @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/azure-tests                @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

# androidgen
/androidgen                 @JianpingChen @anuchandy

# protocol
/protocol*                  @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update-tests       @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar

# typespec
/typespec-extension         @srnagar @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/typespec-tests             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

fix
  androidgen/src/main/java/com/azure/autorest/android/model/clientmodel/AndroidClientModel.java
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientModel.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
Owners: @JianpingChen, @anuchandy, @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

remove unused class
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/PatchModelTemplate.java
Owners: @weidongxu-microsoft, @srnagar

fix
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix code-model-builder
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

nitg
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
Owners: @weidongxu-microsoft, @srnagar

avoid hardcoded
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/util/SchemaUtil.java
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

do not generate convenient method for json merge patch operation if stream-style-serialization is not enabled
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

use fromBytes() and toBytes() to fire serialization
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
Owners: @weidongxu-microsoft, @srnagar

fix
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientModel.java
  javagen/src/main/java/com/azure/autorest/util/SchemaUtil.java
Owners: @weidongxu-microsoft, @srnagar

eng, bump version on checkstyle and spotbugs
  eng/versioning/external_dependencies.txt
  fluent-tests/pom.xml
  pom.xml
  protocol-sdk-integration-tests/eng/code-quality-reports/pom.xml
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

fix arm api-version
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, refactor, move multipart in code-model to serializationFormats (#2494)
  androidgen/src/main/java/com/azure/autorest/android/model/clientmodel/AndroidClientModel.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/SchemaContext.java
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientModel.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ImplementationDetails.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceAsyncMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceSyncMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/PatchModelTemplate.java
  javagen/src/main/java/com/azure/autorest/util/SchemaUtil.java
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/common/schemas/usage.ts
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
Owners: @JianpingChen, @anuchandy, @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

update comment
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
Owners: @weidongxu-microsoft, @srnagar

ModelTemplate handle model without serialization code
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  typespec-tests/src/main/java/com/cadl/multipart/models/FormData.java
  typespec-tests/src/main/java/com/payload/multipart/models/BinaryArrayPartsRequest.java
  typespec-tests/src/main/java/com/payload/multipart/models/ComplexPartsRequest.java
  typespec-tests/src/main/java/com/payload/multipart/models/JsonArrayPartsRequest.java
  typespec-tests/src/main/java/com/payload/multipart/models/JsonPartRequest.java
  typespec-tests/src/main/java/com/payload/multipart/models/MultiBinaryPartsRequest.java
  typespec-tests/src/main/java/com/payload/multipart/models/MultiPartRequest.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

regen
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/BasicAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/BasicClient.java
  typespec-tests/src/main/java/com/cadl/patch/PatchAsyncClient.java
  typespec-tests/src/main/java/com/cadl/patch/PatchClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/RepeatabilityHeadersAsyncClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/RepeatabilityHeadersClient.java
  typespec-tests/src/main/java/com/type/property/nullable/BytesAsyncClient.java
  typespec-tests/src/main/java/com/type/property/nullable/BytesClient.java
  typespec-tests/src/main/java/com/type/property/nullable/CollectionsByteAsyncClient.java
  typespec-tests/src/main/java/com/type/property/nullable/CollectionsByteClient.java
  typespec-tests/src/main/java/com/type/property/nullable/CollectionsModelAsyncClient.java
  typespec-tests/src/main/java/com/type/property/nullable/CollectionsModelClient.java
  typespec-tests/src/main/java/com/type/property/nullable/DatetimeOperationAsyncClient.java
  typespec-tests/src/main/java/com/type/property/nullable/DatetimeOperationClient.java
  typespec-tests/src/main/java/com/type/property/nullable/DurationOperationAsyncClient.java
  typespec-tests/src/main/java/com/type/property/nullable/DurationOperationClient.java
  typespec-tests/src/main/java/com/type/property/nullable/StringOperationAsyncClient.java
  typespec-tests/src/main/java/com/type/property/nullable/StringOperationClient.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

sync spotbug
  fluent-tests/pom.xml
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

suppress EI_EXPOSE_REP,EI_EXPOSE_REP2,PI_DO_NOT_REUSE_PUBLIC_IDENTIFIERS_CLASS_NAMES
  fluent-tests/spotbugs-exclude.xml
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
Owners: @weidongxu-microsoft, @srnagar

format
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

json-merge-patch, turnoff convenient method for json-merge-patch if stream-style-serialization is disabled (#2497)
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  typespec-extension/src/code-model-builder.ts
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/BasicAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/BasicClient.java
  typespec-tests/src/main/java/com/cadl/patch/PatchAsyncClient.java
  typespec-tests/src/main/java/com/cadl/patch/PatchClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/RepeatabilityHeadersAsyncClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/RepeatabilityHeadersClient.java
  typespec-tests/src/main/java/com/type/property/nullable/BytesAsyncClient.java
  typespec-tests/src/main/java/com/type/property/nullable/BytesClient.java
  typespec-tests/src/main/java/com/type/property/nullable/CollectionsByteAsyncClient.java
  typespec-tests/src/main/java/com/type/property/nullable/CollectionsByteClient.java
  typespec-tests/src/main/java/com/type/property/nullable/CollectionsModelAsyncClient.java
  typespec-tests/src/main/java/com/type/property/nullable/CollectionsModelClient.java
  typespec-tests/src/main/java/com/type/property/nullable/DatetimeOperationAsyncClient.java
  typespec-tests/src/main/java/com/type/property/nullable/DatetimeOperationClient.java
  typespec-tests/src/main/java/com/type/property/nullable/DurationOperationAsyncClient.java
  typespec-tests/src/main/java/com/type/property/nullable/DurationOperationClient.java
  typespec-tests/src/main/java/com/type/property/nullable/StringOperationAsyncClient.java
  typespec-tests/src/main/java/com/type/property/nullable/StringOperationClient.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

tsp, prepare for release 0.12.2
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, add test for cadl-ranch Type/Model and Type/Property (#2489)
  typespec-tests/src/test/java/com/type/model/inheritance/NestedDiscriminatorTests.java
  typespec-tests/src/test/java/com/type/property/additionalproperties/ExtendsTests.java
  typespec-tests/src/test/java/com/type/property/additionalproperties/IsUnknownClientTest.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

add back default service version for mpg
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix typespec
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

regen
  typespec-tests/src/main/java/com/type/property/additionalproperties/IsUnknownDerivedAsyncClient.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/IsUnknownDerivedClient.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/implementation/IsUnknownDerivedsImpl.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/IsFloatAdditionalProperties.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/IsStringAdditionalProperties.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/IsUnknownAdditionalProperties.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/IsUnknownAdditionalPropertiesDerived.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/IsUnknownAdditionalPropertiesDiscriminated.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix test
  typespec-tests/src/test/java/com/type/property/additionalproperties/IsUnknownClientTest.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Update changelog.md
  typespec-extension/changelog.md
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

disable test
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/IsUnknownAdditionalPropertiesDiscriminatedDerived.java
  typespec-tests/src/test/java/com/type/property/additionalproperties/IsUnknownClientTest.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, typespec-java, prepare for release 0.12.2 (#2498)
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

eng, bump version on checkstyle and spotbugs (#2495)
  eng/versioning/external_dependencies.txt
  fluent-tests/pom.xml
  fluent-tests/spotbugs-exclude.xml
  pom.xml
  protocol-sdk-integration-tests/eng/code-quality-reports/pom.xml
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

fix extends test, which works in Jackson
  typespec-tests/src/test/java/com/type/property/additionalproperties/ExtendsTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, remove serialization interface/code from multipart model (#2496)
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  typespec-tests/src/main/java/com/cadl/multipart/models/FormData.java
  typespec-tests/src/main/java/com/payload/multipart/models/BinaryArrayPartsRequest.java
  typespec-tests/src/main/java/com/payload/multipart/models/ComplexPartsRequest.java
  typespec-tests/src/main/java/com/payload/multipart/models/JsonArrayPartsRequest.java
  typespec-tests/src/main/java/com/payload/multipart/models/JsonPartRequest.java
  typespec-tests/src/main/java/com/payload/multipart/models/MultiBinaryPartsRequest.java
  typespec-tests/src/main/java/com/payload/multipart/models/MultiPartRequest.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

avoid naming a std scalar
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update class name in CustomizationEncodeBytes
  typespec-tests/customization/src/main/java/CustomizationEncodeBytes.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix a typo
  typespec-tests/tsp/naming.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update test
  typespec-tests/src/test/java/com/cadl/builtin/EncodeTests.java
  typespec-tests/src/test/java/com/cadl/wiretype/WireTypeTests.java
  typespec-tests/src/test/java/com/encode/bytes/EncodeBytesTests.java
  typespec-tests/src/test/java/com/encode/duration/EncodeDurationTests.java
  typespec-tests/src/test/java/com/type/property/optional/BooleanLiteralClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/FloatLiteralClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/IntLiteralClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/StringLiteralClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/UnionFloatLiteralClientTests.java
  typespec-tests/src/test/java/com/type/property/valuetypes/UnionTests.java
  typespec-tests/src/test/java/com/type/union/UnionsClientTest.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

re-generate test code
  typespec-tests/src/main/java/com/encode/bytes/models/Base64urlArrayBytesProperty.java
  typespec-tests/src/main/java/com/encode/bytes/models/Base64urlBytesProperty.java
  typespec-tests/src/main/java/com/encode/duration/models/ISO8601DurationProperty.java
  typespec-tests/src/main/java/com/type/union/models/LR.java
  typespec-tests/src/main/java/com/type/union/models/UD.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

set a default description for additionalProperty
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
  typespec-tests/Generate.ps1
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

re-generate test code
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/ExtendsFloatAdditionalProperties.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/ExtendsModelAdditionalProperties.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/ExtendsModelArrayAdditionalProperties.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/ExtendsStringAdditionalProperties.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/ExtendsUnknownAdditionalProperties.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/ExtendsUnknownAdditionalPropertiesDiscriminated.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/IsFloatAdditionalProperties.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/IsStringAdditionalProperties.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/IsUnknownAdditionalProperties.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/IsUnknownAdditionalPropertiesDiscriminated.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix readme/doc
  .github/workflows/generate-test-code.yml
  typespec-extension/readme.md
  typespec-extension/src/emitter.ts
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao
