Repository Azure/autorest.java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @weidongxu-microsoft, @srnagar, @jsquire, @ronniegeraghty, @haolingdong-msft, @XiaofeiCao, @JianpingChen, @anuchandy

.github/CODEOWNERS:

# default
*                           @weidongxu-microsoft @srnagar

# Git Hub bot rules
/.github/fabricbot.json     @jsquire @ronniegeraghty

# fluentgen
/fluent*                    @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/azure-tests                @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

# androidgen
/androidgen                 @JianpingChen @anuchandy

# protocol
/protocol*                  @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update-tests       @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar

# typespec
/typespec-extension         @srnagar @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/typespec-tests             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

fix test
  typespec-tests/tsp/odata.tsp
  typespec-tests/tsp/paged.tsp
  typespec-tests/tsp/response.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

revert package.json in ci
  eng/pipelines/ci-typespec-java-dev-nightly.yaml
Owners: @weidongxu-microsoft, @srnagar

convenienceExample map
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/Client.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ConvenienceExample.java
Owners: @weidongxu-microsoft, @srnagar

generate sample files
  javagen/src/main/java/com/azure/autorest/Javagen.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/Client.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaPackage.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceSampleTemplate.java
  javagen/src/main/java/com/azure/autorest/template/DefaultTemplateFactory.java
  javagen/src/main/java/com/azure/autorest/template/TemplateFactory.java
  javagen/src/main/java/com/azure/autorest/template/Templates.java
Owners: @weidongxu-microsoft, @srnagar

overrides for tsp/http as well, it is not used by typespec-java, but would be used by other azure-tools libs
  typespec-tests/package.json
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, fix test for dev typespec (#2128)
  eng/pipelines/ci-typespec-java-dev-nightly.yaml
  typespec-tests/package.json
  typespec-tests/tsp/flatten.tsp
  typespec-tests/tsp/odata.tsp
  typespec-tests/tsp/paged.tsp
  typespec-tests/tsp/response.tsp
  typespec-tests/tsp/union.tsp
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

update according to comments
  androidgen/src/main/java/com/azure/autorest/android/template/AndroidEnumTemplate.java
  javagen/src/main/java/com/azure/autorest/template/EnumTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceVersionTemplate.java
Owners: @JianpingChen, @anuchandy, @weidongxu-microsoft, @srnagar

rename test case names
  partial-update/src/test/java/com/azure/autorest/partialupdate/util/PartialUpdateHandlerTest.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

update "Generated" to Generated.class.getSimpleName()
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/ServiceAsyncClientTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientBuilderTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceSyncClientTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceVersionTemplate.java
  javagen/src/main/java/com/azure/autorest/template/WrapperClientMethodTemplate.java
Owners: @weidongxu-microsoft, @srnagar

add format to DurationSchema
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/common/schemas/time.ts
  typespec-extension/src/utils.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

filter protocol examples per method; only use convenience method with max overload; rename ConvenienceExample
  javagen/src/main/java/com/azure/autorest/Javagen.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/Client.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientMethodExample.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaPackage.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodSampleTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceSampleTemplate.java
  javagen/src/main/java/com/azure/autorest/template/DefaultTemplateFactory.java
  javagen/src/main/java/com/azure/autorest/template/TemplateFactory.java
  javagen/src/main/java/com/azure/autorest/template/Templates.java
Owners: @weidongxu-microsoft, @srnagar

support DurationLong and DurationDouble
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/CodeModelCustomConstructor.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/DurationSchema.java
  javagen/src/main/java/com/azure/autorest/mapper/PrimitiveMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/PrimitiveType.java
Owners: @weidongxu-microsoft, @srnagar

test
  typespec-tests/src/main/java/com/cadl/builtin/BuiltinAsyncClient.java
  typespec-tests/src/main/java/com/cadl/builtin/BuiltinClient.java
  typespec-tests/src/main/java/com/cadl/builtin/implementation/BuiltinClientImpl.java
  typespec-tests/src/main/java/com/cadl/builtin/models/Builtin.java
  typespec-tests/src/main/java/com/cadl/builtin/models/Encoded.java
  typespec-tests/tsp/builtin.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

mock data gen
  javagen/src/main/java/com/azure/autorest/util/ModelTestCaseUtil.java
Owners: @weidongxu-microsoft, @srnagar

proxy method mapper
  javagen/src/main/java/com/azure/autorest/mapper/ProxyMethodMapper.java
Owners: @weidongxu-microsoft, @srnagar

name fix
  javagen/src/main/java/com/azure/autorest/Javagen.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/Client.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaPackage.java
Owners: @weidongxu-microsoft, @srnagar

update "Generated" to Generated.class.getSimpleName()
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/ServiceAsyncClientTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceSyncClientTemplate.java
  javagen/src/main/java/com/azure/autorest/template/WrapperClientMethodTemplate.java
Owners: @weidongxu-microsoft, @srnagar

NPE, as m4 do not have the format
  javagen/src/main/java/com/azure/autorest/mapper/PrimitiveMapper.java
Owners: @weidongxu-microsoft, @srnagar

Fix checkstyle
  javagen/src/main/java/com/azure/autorest/template/ServiceVersionTemplate.java
Owners: @weidongxu-microsoft, @srnagar

eng, sync version
  fluent-tests/pom.xml
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  typespec-tests/pom.xml
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

fix format...
  javagen/src/main/java/com/azure/autorest/Javagen.java
Owners: @weidongxu-microsoft, @srnagar

eng, sync version (#2132)
  fluent-tests/pom.xml
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  typespec-tests/pom.xml
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

no annotation on enum value
  javagen/src/main/java/com/azure/autorest/template/EnumTemplate.java
Owners: @weidongxu-microsoft, @srnagar

re-generate test code
  typespec-tests/src/main/java/com/cadl/enumservice/models/Color.java
  typespec-tests/src/main/java/com/cadl/enumservice/models/Name.java
  typespec-tests/src/main/java/com/cadl/enumservice/models/OperationStateValues.java
  typespec-tests/src/main/java/com/cadl/enumservice/models/Priority.java
  typespec-tests/src/main/java/com/cadl/literalservice/models/OptionalLiteral.java
  typespec-tests/src/main/java/com/cadl/literalservice/models/OptionalLiteralParam.java
  typespec-tests/src/main/java/com/cadl/multicontenttypes/models/ContentType.java
  typespec-tests/src/main/java/com/cadl/naming/models/TypesModel.java
  typespec-tests/src/main/java/com/type/enums/fixed/models/DaysOfWeekEnum.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/FixedInnerEnum.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, generate convenience sample files (#2129)
  javagen/src/main/java/com/azure/autorest/Javagen.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/Client.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientMethodExample.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaPackage.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodSampleTemplate.java
  javagen/src/main/java/com/azure/autorest/template/DefaultTemplateFactory.java
  javagen/src/main/java/com/azure/autorest/template/TemplateFactory.java
  javagen/src/main/java/com/azure/autorest/template/Templates.java
Owners: @weidongxu-microsoft, @srnagar

add UT of EncodeTests; bug fix
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/PrimitiveType.java
  typespec-tests/src/main/java/com/cadl/builtin/BuiltinAsyncClient.java
  typespec-tests/src/main/java/com/cadl/builtin/BuiltinClient.java
  typespec-tests/src/main/java/com/cadl/builtin/implementation/BuiltinClientImpl.java
  typespec-tests/src/main/java/com/cadl/builtin/models/Encoded.java
  typespec-tests/src/test/java/com/cadl/builtin/EncodeTests.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

test on invalid precision
  typespec-tests/src/test/java/com/cadl/builtin/EncodeTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

no annotation on enum value
  javagen/src/main/java/com/azure/autorest/template/ServiceVersionTemplate.java
Owners: @weidongxu-microsoft, @srnagar

rename method
  androidgen/src/main/java/com/azure/autorest/android/template/AndroidEnumTemplate.java
  javagen/src/main/java/com/azure/autorest/template/EnumTemplate.java
Owners: @JianpingChen, @anuchandy, @weidongxu-microsoft, @srnagar

update script to run ts
  eng/pipelines/ci-typespec-java-dev-nightly.yaml
  typespec-tests/bump_deps.ts
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

write client initialization
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodSampleTemplate.java
  javagen/src/main/java/com/azure/autorest/template/example/ClientInitializationExampleWriter.java
  javagen/src/main/java/com/azure/autorest/template/example/ProtocolExampleWriter.java
Owners: @weidongxu-microsoft, @srnagar

tsp, unit test on ResponseError de-serialization
  typespec-tests/src/test/java/com/cadl/errormodel/ResponseErrorTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update to compiler 0.44
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-extension/readme.md
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, upgrade compiler 0.44 (#2134)
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-extension/readme.md
  typespec-tests/package.json
  typespec-tests/src/test/java/com/cadl/errormodel/ResponseErrorTests.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix format
  typespec-tests/tsp/builtin.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

changelog
  typespec-extension/changelog.md
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

write client initialization (#2133)
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodSampleTemplate.java
  javagen/src/main/java/com/azure/autorest/template/example/ClientInitializationExampleWriter.java
  javagen/src/main/java/com/azure/autorest/template/example/ProtocolExampleWriter.java
Owners: @weidongxu-microsoft, @srnagar

ci
  eng/pipelines/ci-typespec-java-dev-nightly.yaml
  typespec-extension/package.json
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

update script
  typespec-tests/bump_deps.ts
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, update nightly build script (#2135)
  eng/pipelines/ci-typespec-java-dev-nightly.yaml
  typespec-extension/package.json
  typespec-tests/bump_deps.ts
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao
