Repository Azure/autorest.java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @weidongxu-microsoft, @srnagar, @jsquire, @ronniegeraghty, @haolingdong-msft, @XiaofeiCao, @JianpingChen, @anuchandy

add case insensitive check
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Last few changes to XML stream-style generation from issues found in SB admin
  javagen/src/main/java/com/azure/autorest/implementation/ClientModelPropertiesManager.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
Owners: @weidongxu-microsoft, @srnagar

put versioning under dev-options, we do not want the overload accidentally get generated when service does not need versioning
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/emitter.ts
  typespec-tests/tspconfig.yaml
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

versioning for LRO and pageable
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
Owners: @weidongxu-microsoft, @srnagar

test case for LRO and pageable
  typespec-tests/src/main/java/com/cadl/versioning/VersioningAsyncClient.java
  typespec-tests/src/main/java/com/cadl/versioning/VersioningClient.java
  typespec-tests/src/main/java/com/cadl/versioning/VersioningClientBuilder.java
  typespec-tests/src/main/java/com/cadl/versioning/VersioningServiceVersion.java
  typespec-tests/src/main/java/com/cadl/versioning/implementation/VersioningClientImpl.java
  typespec-tests/src/main/java/com/cadl/versioning/implementation/package-info.java
  typespec-tests/src/main/java/com/cadl/versioning/models/ExportedResource.java
  typespec-tests/src/main/java/com/cadl/versioning/models/Resource.java
  typespec-tests/src/main/java/com/cadl/versioning/models/package-info.java
  typespec-tests/src/main/java/com/cadl/versioning/package-info.java
  typespec-tests/src/main/resources/cadl-versioning.properties
  typespec-tests/tsp/versioning.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Update typespec-extension/src/code-model-builder.ts according to comments
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

refactor utils to multiple ts
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/operation-utils.ts
  typespec-extension/src/type-utils.ts
  typespec-extension/src/utils.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update according to comments
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

format
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, support multi content types (generate protocol method only) (#2144)
  typespec-extension/src/code-model-builder.ts
  typespec-tests/src/main/java/com/cadl/multicontenttypes/MultiContentTypesAsyncClient.java
  typespec-tests/src/main/java/com/cadl/multicontenttypes/MultiContentTypesClient.java
  typespec-tests/src/main/java/com/cadl/multicontenttypes/implementation/MultiContentTypesClientImpl.java
  typespec-tests/src/main/java/com/cadl/multicontenttypes/models/ContentType.java
  typespec-tests/src/main/java/com/cadl/multicontenttypes/models/Resource.java
  typespec-tests/tsp/multi-content-types.tsp
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

refactor, also add trace when do not enable convenient API
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/operation-utils.ts
  typespec-extension/src/type-utils.ts
  typespec-extension/src/utils.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

cast to support ssv etc
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

regen
  typespec-tests/src/main/java/com/parameters/collectionformat/implementation/QueriesImpl.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

test
  typespec-tests/src/test/java/com/parameters/collectionformat/CollectionFormatClientTest.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

nit
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, use cast to support ssv etc. (#2164)
  typespec-extension/src/code-model-builder.ts
  typespec-tests/src/main/java/com/parameters/collectionformat/implementation/QueriesImpl.java
  typespec-tests/src/test/java/com/parameters/collectionformat/CollectionFormatClientTest.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, prototype, versioning, added for parameter (#2151)
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/CodeModelCustomConstructor.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/extensionmodel/XmsExtensions.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientParameterMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientMethodParameter.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/Versioning.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceAsyncMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceSyncMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceSyncClientTemplate.java
  javagen/src/test/java/com/azure/autorest/mapper/ClientMethodMapperTests.java
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/emitter.ts
  typespec-extension/src/models.ts
  typespec-tests/src/main/java/com/cadl/versioning/VersioningAsyncClient.java
  typespec-tests/src/main/java/com/cadl/versioning/VersioningClient.java
  typespec-tests/src/main/java/com/cadl/versioning/VersioningClientBuilder.java
  typespec-tests/src/main/java/com/cadl/versioning/VersioningServiceVersion.java
  typespec-tests/src/main/java/com/cadl/versioning/implementation/VersioningClientImpl.java
  typespec-tests/src/main/java/com/cadl/versioning/implementation/package-info.java
  typespec-tests/src/main/java/com/cadl/versioning/models/ExportedResource.java
  typespec-tests/src/main/java/com/cadl/versioning/models/Resource.java
  typespec-tests/src/main/java/com/cadl/versioning/models/package-info.java
  typespec-tests/src/main/java/com/cadl/versioning/package-info.java
  typespec-tests/src/main/java/com/resiliency/servicedriven/ResiliencyServiceDrivenAsyncClient.java
  typespec-tests/src/main/java/com/resiliency/servicedriven/ResiliencyServiceDrivenClient.java
  typespec-tests/src/main/resources/cadl-versioning.properties
  typespec-tests/src/test/java/com/resiliency/servicedriven/ServiceDrivenTests.java
  typespec-tests/tsp/versioning.tsp
  typespec-tests/tspconfig.yaml
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

regen
  typespec-tests/src/main/java/com/cadl/versioning/VersioningClientBuilder.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update cadl-ranch with new test
  typespec-tests/src/main/java/com/authentication/http/custom/CustomAsyncClient.java
  typespec-tests/src/main/java/com/authentication/http/custom/CustomClient.java
  typespec-tests/src/main/java/com/authentication/http/custom/CustomClientBuilder.java
  typespec-tests/src/main/java/com/authentication/http/custom/implementation/CustomClientImpl.java
  typespec-tests/src/main/java/com/authentication/http/custom/implementation/package-info.java
  typespec-tests/src/main/java/com/authentication/http/custom/package-info.java
  typespec-tests/src/main/java/com/type/model/empty/EmptyAsyncClient.java
  typespec-tests/src/main/java/com/type/model/empty/EmptyClient.java
  typespec-tests/src/main/java/com/type/model/empty/EmptyClientBuilder.java
  typespec-tests/src/main/java/com/type/model/empty/implementation/EmptyClientImpl.java
  typespec-tests/src/main/java/com/type/model/empty/implementation/package-info.java
  typespec-tests/src/main/java/com/type/model/empty/models/EmptyInput.java
  typespec-tests/src/main/java/com/type/model/empty/models/EmptyInputOutput.java
  typespec-tests/src/main/java/com/type/model/empty/models/EmptyOutput.java
  typespec-tests/src/main/java/com/type/model/empty/models/package-info.java
  typespec-tests/src/main/java/com/type/model/empty/package-info.java
  typespec-tests/src/main/resources/authentication-http-custom.properties
  typespec-tests/src/main/resources/type-model-empty.properties
  typespec-tests/src/test/java/com/type/model/empty/EmptyModelTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

use client.tsp first
  typespec-tests/Generate.ps1
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix
  typespec-tests/Generate.ps1
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, cadl-ranch, try use client.tsp if exists (#2165)
  typespec-tests/Generate.ps1
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, fix dead store in non sync stack
  javagen/src/main/java/com/azure/autorest/template/ConvenienceSyncMethodTemplate.java
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

fix writeValidationForVersioning
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceSyncMethodTemplate.java
Owners: @weidongxu-microsoft, @srnagar

tsp, fix dead store in non sync stack (#2166)
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceSyncMethodTemplate.java
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Update code generation
  vanilla-tests/src/main/java/fixtures/complexstreamstylexmlserialization/models/BlobName.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/implementation/BananasWrapper.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/implementation/SignedIdentifiersWrapper.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/AccessPolicy.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/AppleBarrel.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/Banana.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/Blob.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/BlobPrefix.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/BlobProperties.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/Blobs.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/ComplexTypeNoMeta.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/ComplexTypeWithMeta.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/Container.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/ContainerProperties.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/CorsRule.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/Error.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/JsonInput.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/JsonOutput.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/ListBlobsResponse.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/ListContainersResponse.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/Logging.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/Metrics.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/ModelWithByteProperty.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/ModelWithUrlProperty.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/ObjectWithXMsTextProperty.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/RetentionPolicy.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/RootWithRefAndMeta.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/RootWithRefAndNoMeta.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/SignedIdentifier.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/Slide.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/Slideshow.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/StorageServiceProperties.java
  vanilla-tests/src/main/java/fixtures/xmlservice/models/AppleBarrel.java
  vanilla-tests/src/main/java/fixtures/xmlservice/models/ListContainersResponse.java
  vanilla-tests/src/main/java/fixtures/xmlservice/models/StorageServiceProperties.java
Owners: @weidongxu-microsoft, @srnagar

support unixTimestamp
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/main/java/com/azure/typespec/mapper/TypeSpecPrimitiveMapper.java
  typespec-tests/tsp/builtin.tsp
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

tests
  typespec-tests/src/main/java/com/cadl/builtin/BuiltinAsyncClient.java
  typespec-tests/src/main/java/com/cadl/builtin/BuiltinClient.java
  typespec-tests/src/main/java/com/cadl/builtin/implementation/BuiltinClientImpl.java
  typespec-tests/src/main/java/com/cadl/builtin/models/Encoded.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

test
  typespec-tests/src/test/java/com/cadl/builtin/EncodeTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

bug fix, OffsetDateTime requires Instant with ZoneOffset
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/PrimitiveType.java
Owners: @weidongxu-microsoft, @srnagar

test for de-serialization
  typespec-tests/src/main/java/com/cadl/builtin/BuiltinAsyncClient.java
  typespec-tests/src/main/java/com/cadl/builtin/BuiltinClient.java
  typespec-tests/src/main/java/com/cadl/builtin/implementation/BuiltinClientImpl.java
  typespec-tests/src/main/java/com/cadl/builtin/models/Encoded.java
  typespec-tests/src/test/java/com/cadl/builtin/EncodeTests.java
  typespec-tests/tsp/builtin.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

regen vanilla
  vanilla-tests/src/main/java/fixtures/requiredfieldsascotrargstransformation/models/TransformationAsRequiredFields.java
Owners: @weidongxu-microsoft, @srnagar

tsp, encode unixTimestamp (#2167)
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/PrimitiveType.java
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/main/java/com/azure/typespec/mapper/TypeSpecPrimitiveMapper.java
  typespec-tests/src/main/java/com/cadl/builtin/BuiltinAsyncClient.java
  typespec-tests/src/main/java/com/cadl/builtin/BuiltinClient.java
  typespec-tests/src/main/java/com/cadl/builtin/implementation/BuiltinClientImpl.java
  typespec-tests/src/main/java/com/cadl/builtin/models/Encoded.java
  typespec-tests/src/test/java/com/cadl/builtin/EncodeTests.java
  typespec-tests/tsp/builtin.tsp
  vanilla-tests/src/main/java/fixtures/requiredfieldsascotrargstransformation/models/TransformationAsRequiredFields.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

fix commit to one that still correct
  fluent-tests/prepare-tests.bat
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix commit to one that still correct (#2171)
  fluent-tests/prepare-tests.bat
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

remove partial update support for enums methods to avoid incomplete partial update logic casusing error in the future, will add back in next pr
  javagen/src/main/java/com/azure/autorest/template/EnumTemplate.java
Owners: @weidongxu-microsoft, @srnagar

re-generate test code
  typespec-tests/src/main/java/com/cadl/builtin/models/Builtin.java
  typespec-tests/src/main/java/com/cadl/builtin/models/Encoded.java
  typespec-tests/src/main/java/com/cadl/enumservice/models/Color.java
  typespec-tests/src/main/java/com/cadl/enumservice/models/Name.java
  typespec-tests/src/main/java/com/cadl/enumservice/models/OperationStateValues.java
  typespec-tests/src/main/java/com/cadl/enumservice/models/Priority.java
  typespec-tests/src/main/java/com/cadl/literalservice/models/OptionalLiteral.java
  typespec-tests/src/main/java/com/cadl/literalservice/models/OptionalLiteralParam.java
  typespec-tests/src/main/java/com/cadl/multicontenttypes/models/Resource.java
  typespec-tests/src/main/java/com/cadl/naming/models/TypesModel.java
  typespec-tests/src/main/java/com/cadl/response/ResponseServiceVersion.java
  typespec-tests/src/main/java/com/cadl/response/models/Resource.java
  typespec-tests/src/main/java/com/cadl/versioning/VersioningServiceVersion.java
  typespec-tests/src/main/java/com/encode/duration/models/DefaultDurationProperty.java
  typespec-tests/src/main/java/com/encode/duration/models/FloatSecondsDurationArrayProperty.java
  typespec-tests/src/main/java/com/encode/duration/models/FloatSecondsDurationProperty.java
  typespec-tests/src/main/java/com/encode/duration/models/Int32SecondsDurationProperty.java
  typespec-tests/src/main/java/com/encode/duration/models/Iso8601DurationProperty.java
  typespec-tests/src/main/java/com/type/enums/extensible/models/DaysOfWeekExtensibleEnum.java
  typespec-tests/src/main/java/com/type/enums/fixed/models/DaysOfWeekEnum.java
  typespec-tests/src/main/java/com/type/model/empty/models/EmptyInput.java
  typespec-tests/src/main/java/com/type/model/empty/models/EmptyInputOutput.java
  typespec-tests/src/main/java/com/type/model/empty/models/EmptyOutput.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/FixedInnerEnum.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/NeverProperty.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

add changelog
  typespec-extension/changelog.md
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

disable partial update to service version
  javagen/src/main/java/com/azure/autorest/template/ServiceVersionTemplate.java
Owners: @weidongxu-microsoft, @srnagar

tsp, completely switch to getLroMetadata
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/common/operation.ts
  typespec-extension/src/operation-utils.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

.github/CODEOWNERS:

# default
*                           @weidongxu-microsoft @srnagar

# Git Hub bot rules
/.github/fabricbot.json     @jsquire @ronniegeraghty

# fluentgen
/fluent*                    @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/azure-tests                @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

# androidgen
/androidgen                 @JianpingChen @anuchandy

# protocol
/protocol*                  @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update-tests       @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar

# typespec
/typespec-extension         @srnagar @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/typespec-tests             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
