Repository Azure/autorest.java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @weidongxu-microsoft, @srnagar, @jsquire, @ronniegeraghty, @haolingdong-msft, @XiaofeiCao, @JianpingChen, @anuchandy

update local test
  typespec-tests/tsp/flatten.tsp
  typespec-tests/tsp/naming.tsp
  typespec-tests/tsp/patch.tsp
  typespec-tests/tsp/protocol-api-convenient-api.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

support encodedName for application/json
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

format
  typespec-tests/tsp/flatten.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, update cadl ranch (#2536)
  typespec-tests/package.json
  typespec-tests/src/main/java/com/payload/jsonmergepatch/JsonMergePatchAsyncClient.java
  typespec-tests/src/main/java/com/payload/jsonmergepatch/JsonMergePatchClient.java
  typespec-tests/src/main/java/com/payload/jsonmergepatch/JsonMergePatchClientBuilder.java
  typespec-tests/src/main/java/com/payload/jsonmergepatch/implementation/JsonMergePatchClientImpl.java
  typespec-tests/src/main/java/com/payload/jsonmergepatch/implementation/JsonMergePatchHelper.java
  typespec-tests/src/main/java/com/payload/jsonmergepatch/implementation/package-info.java
  typespec-tests/src/main/java/com/payload/jsonmergepatch/models/InnerModel.java
  typespec-tests/src/main/java/com/payload/jsonmergepatch/models/Resource.java
  typespec-tests/src/main/java/com/payload/jsonmergepatch/models/ResourcePatch.java
  typespec-tests/src/main/java/com/payload/jsonmergepatch/models/package-info.java
  typespec-tests/src/main/java/com/payload/jsonmergepatch/package-info.java
  typespec-tests/src/main/java/com/payload/multipart/MultiPartAsyncClient.java
  typespec-tests/src/main/java/com/payload/multipart/MultiPartClient.java
  typespec-tests/src/main/java/com/payload/multipart/implementation/FormDatasImpl.java
  typespec-tests/src/main/java/com/type/model/flatten/FlattenAsyncClient.java
  typespec-tests/src/main/java/com/type/model/flatten/FlattenClient.java
  typespec-tests/src/main/java/com/type/model/flatten/FlattenClientBuilder.java
  typespec-tests/src/main/java/com/type/model/flatten/implementation/FlattenClientImpl.java
  typespec-tests/src/main/java/com/type/model/flatten/implementation/package-info.java
  typespec-tests/src/main/java/com/type/model/flatten/models/ChildFlattenModel.java
  typespec-tests/src/main/java/com/type/model/flatten/models/ChildModel.java
  typespec-tests/src/main/java/com/type/model/flatten/models/FlattenModel.java
  typespec-tests/src/main/java/com/type/model/flatten/models/NestedFlattenModel.java
  typespec-tests/src/main/java/com/type/model/flatten/models/package-info.java
  typespec-tests/src/main/java/com/type/model/flatten/package-info.java
  typespec-tests/src/main/resources/payload-jsonmergepatch.properties
  typespec-tests/src/main/resources/type-model-flatten.properties
  typespec-tests/src/test/java/com/payload/jsonmergepatch/generated/JsonMergePatchClientTestBase.java
  typespec-tests/src/test/java/com/payload/multipart/MultipartTests.java
  typespec-tests/src/test/java/com/type/model/flatten/generated/FlattenClientTestBase.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

mgmt, format code before write to SAMPLE.md
  fluentgen/src/main/java/com/azure/autorest/fluent/template/SampleTemplate.java
  postprocessor/src/main/java/com/azure/autorest/postprocessor/implementation/CodeFormatterUtil.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

mgmt, format code before write to SAMPLE.md (#2540)
  fluentgen/src/main/java/com/azure/autorest/fluent/template/SampleTemplate.java
  postprocessor/src/main/java/com/azure/autorest/postprocessor/implementation/CodeFormatterUtil.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

tsp, support encodedName for JSON (#2537)
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-tests/package.json
  typespec-tests/tsp/flatten.tsp
  typespec-tests/tsp/naming.tsp
  typespec-tests/tsp/patch.tsp
  typespec-tests/tsp/protocol-api-convenient-api.tsp
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix fluent operations with header response
  fluentgen/src/main/java/com/azure/autorest/fluent/util/FluentUtils.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
  javagen/src/main/java/com/azure/autorest/util/ReturnTypeDescriptionAssembler.java
  javagen/src/main/java/com/azure/autorest/util/SchemaUtil.java
  typespec-tests/tsp/arm.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

re-generate test code
  typespec-tests/src/main/java/com/cadl/armresourceprovider/ArmResourceProviderManager.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/ArmResourceProviderClient.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/CustomTemplateResourceInterfacesClient.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/models/CustomTemplateResourceInner.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ArmResourceProviderClientImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/CustomTemplateResourceImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/CustomTemplateResourceInterfacesClientImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/CustomTemplateResourceInterfacesImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/CustomTemplateResource.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/CustomTemplateResourceInterfaces.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/CustomTemplateResourceInterfacesUpdateHeaders.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/CustomTemplateResourceProperties.java
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armresourceprovider-generated/proxy-config.json
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armresourceprovider-generated/reflect-config.json
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, local test add a case of enum with access=public
  typespec-tests/tsp/internal.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

re-generate test code
  typespec-tests/src/main/java/com/cadl/internal/models/UnusedEnum.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

mpg set generic-response-type to false, format
  typespec-extension/src/main/java/com/azure/autorest/fluent/TypeSpecFluentPlugin.java
  typespec-tests/tsp/arm.tsp
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

re-generate test code
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/CustomTemplateResourceInterfacesClient.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/CustomTemplateResourceInterfacesClientImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/CustomTemplateResourceInterfacesUpdateResponse.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

local test for client not using api-version
  typespec-tests/tsp/multiple-apiversion.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

always add ServiceVersion for DPG, if exist in client
  javagen/src/main/java/com/azure/autorest/mapper/ServiceClientMapper.java
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/operation-utils.ts
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

regen
  typespec-tests/readme.md
  typespec-tests/src/main/java/com/cadl/multipleapiversion/NoApiVersionAsyncClient.java
  typespec-tests/src/main/java/com/cadl/multipleapiversion/NoApiVersionClient.java
  typespec-tests/src/main/java/com/cadl/multipleapiversion/NoApiVersionClientBuilder.java
  typespec-tests/src/main/java/com/cadl/multipleapiversion/NoApiVersionServiceVersion.java
  typespec-tests/src/main/java/com/cadl/multipleapiversion/implementation/NoApiVersionClientImpl.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix
  javagen/src/main/java/com/azure/autorest/mapper/ServiceClientMapper.java
Owners: @weidongxu-microsoft, @srnagar

re-generate test code
  typespec-tests/src/main/java/com/cadl/patch/PatchClientBuilder.java
  typespec-tests/src/main/java/com/cadl/patch/PatchServiceVersion.java
  typespec-tests/src/main/java/com/cadl/patch/implementation/PatchClientImpl.java
  typespec-tests/src/main/java/com/cadl/patch/implementation/PatchesImpl.java
  typespec-tests/src/main/java/com/client/structure/service/ClientAClientBuilder.java
  typespec-tests/src/main/java/com/client/structure/service/ClientBClientBuilder.java
  typespec-tests/src/main/java/com/client/structure/service/RenamedOperationClientBuilder.java
  typespec-tests/src/main/java/com/client/structure/service/ServiceClientClientBuilder.java
  typespec-tests/src/main/java/com/client/structure/service/ServiceVersion.java
  typespec-tests/src/main/java/com/client/structure/service/TwoOperationGroupClientBuilder.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/BarsImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/BazFoosImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/ClientAClientImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/ClientBClientImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/FoosImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/Group1sImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/Group2sImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/GroupsImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/QuxBarsImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/QuxesImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/RenamedOperationClientImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/ServiceClientClientImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/TwoOperationGroupClientImpl.java
  typespec-tests/src/test/java/com/cadl/multipleapiversion/generated/FirstClientTestBase.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

remove version from patch.tsp
  typespec-tests/tsp/patch.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

allow ServiceVersion class be named as ServiceVersion
  javagen/src/main/java/com/azure/autorest/template/ServiceVersionTemplate.java
Owners: @weidongxu-microsoft, @srnagar

logic on the JavaClass and JavaFile to add markers
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaClass.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaFile.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaFileContents.java
  javagen/src/main/java/com/azure/autorest/util/TemplateUtil.java
Owners: @weidongxu-microsoft, @srnagar

more redact on filename
  javagen/src/main/resources/MultipartFormDataHelper.java
  typespec-tests/src/main/java/com/cadl/multipart/implementation/MultipartFormDataHelper.java
  typespec-tests/src/main/java/com/payload/multipart/implementation/MultipartFormDataHelper.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

now need to provide name to each file in test
  typespec-tests/src/test/java/com/payload/multipart/MultipartTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

minor refact
  javagen/src/main/resources/MultipartFormDataHelper.java
  typespec-tests/src/main/java/com/cadl/multipart/implementation/MultipartFormDataHelper.java
  typespec-tests/src/main/java/com/payload/multipart/implementation/MultipartFormDataHelper.java
  typespec-tests/src/test/java/com/payload/multipart/MultipartTests.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

changelog
  typespec-extension/changelog.md
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, local test add a case of enum with access=public (#2542)
  typespec-tests/src/main/java/com/cadl/internal/models/UnusedEnum.java
  typespec-tests/tsp/internal.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fallback to type.getTypeArguments[0] if unable to determin Response type
  fluentgen/src/main/java/com/azure/autorest/fluent/util/FluentUtils.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

use internal model for anonymous model, for better serialization support
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientMethodParameter.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/main/java/com/azure/typespec/util/ModelUtil.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

remove skip on multipart flatten
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

local test case
  typespec-tests/tsp/multipart.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

mgmt, fix fluent operations with header response (#2541)
  fluentgen/src/main/java/com/azure/autorest/fluent/util/FluentUtils.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
  javagen/src/main/java/com/azure/autorest/util/ReturnTypeDescriptionAssembler.java
  javagen/src/main/java/com/azure/autorest/util/SchemaUtil.java
  typespec-extension/src/main/java/com/azure/autorest/fluent/TypeSpecFluentPlugin.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/ArmResourceProviderManager.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/ArmResourceProviderClient.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/CustomTemplateResourceInterfacesClient.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/models/CustomTemplateResourceInner.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ArmResourceProviderClientImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/CustomTemplateResourceImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/CustomTemplateResourceInterfacesClientImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/CustomTemplateResourceInterfacesImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/CustomTemplateResource.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/CustomTemplateResourceInterfaces.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/CustomTemplateResourceInterfacesUpdateHeaders.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/CustomTemplateResourceInterfacesUpdateResponse.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/CustomTemplateResourceProperties.java
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armresourceprovider-generated/proxy-config.json
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armresourceprovider-generated/reflect-config.json
  typespec-tests/tsp/arm.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

refactor, move some function to TypeUtil class
  fluentgen/src/main/java/com/azure/autorest/fluent/util/FluentUtils.java
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
  javagen/src/main/java/com/azure/autorest/util/ReturnTypeDescriptionAssembler.java
  javagen/src/main/java/com/azure/autorest/util/SchemaUtil.java
  javagen/src/main/java/com/azure/autorest/util/TypeUtil.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

fix name on contentType
  javagen/src/main/java/com/azure/autorest/util/MethodUtil.java
Owners: @weidongxu-microsoft, @srnagar

support flatten on multipart
  fluentgen/src/main/java/com/azure/autorest/fluent/util/FluentUtils.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/util/MethodUtil.java
  javagen/src/main/java/com/azure/autorest/util/TypeUtil.java
  typespec-extension/src/code-model-builder.ts
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

regen
  typespec-tests/src/main/java/com/cadl/multipart/MultipartAsyncClient.java
  typespec-tests/src/main/java/com/cadl/multipart/MultipartClient.java
  typespec-tests/src/main/java/com/cadl/multipart/implementation/MultipartClientImpl.java
  typespec-tests/src/main/java/com/cadl/multipart/implementation/models/UploadFileRequest.java
  typespec-tests/src/main/java/com/cadl/multipart/implementation/models/package-info.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

comment
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
Owners: @weidongxu-microsoft, @srnagar

fix bug on process of flattened model
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
Owners: @weidongxu-microsoft, @srnagar

fix void request body
  typespec-extension/src/code-model-builder.ts
  typespec-tests/tsp/arm.tsp
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

re-generate test code
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/ChildResourcesInterfacesClient.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ChildResourceImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ChildResourcesInterfacesClientImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ChildResourcesInterfacesImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/ChildResource.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/ChildResourcesInterfaces.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

revert ServiceVersionTemplate
  javagen/src/main/java/com/azure/autorest/template/ServiceVersionTemplate.java
Owners: @weidongxu-microsoft, @srnagar

.github/CODEOWNERS:

# default
*                           @weidongxu-microsoft @srnagar

# Git Hub bot rules
/.github/fabricbot.json     @jsquire @ronniegeraghty

# fluentgen
/fluent*                    @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/azure-tests                @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

# androidgen
/androidgen                 @JianpingChen @anuchandy

# protocol
/protocol*                  @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update-tests       @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar

# typespec
/typespec-extension         @srnagar @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/typespec-tests             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
