Repository Azure/autorest.java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @weidongxu-microsoft, @srnagar, @jsquire, @ronniegeraghty, @haolingdong-msft, @XiaofeiCao, @JianpingChen, @anuchandy

bump tsp azure-core dep
  typespec-extension/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Update versions for release
  androidgen/pom.xml
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/CHANGELOG.md
  customization-base/README.md
  customization-base/pom.xml
  customization-tests/pom.xml
  customization-tests/swagger/pom.xml
  extension-base/pom.xml
  fluent-tests/pom.xml
  fluentgen/pom.xml
  fluentgen/src/main/resources/spotless-pom.xml
  fluentnamer/pom.xml
  javagen/pom.xml
  partial-update-tests/pom.xml
  partial-update/pom.xml
  pom.xml
  postprocessor/pom.xml
  postprocessor/src/main/resources/readme/pom.xml
  preprocessor/pom.xml
  protocol-resilience-test/pom.xml
  protocol-tests/pom.xml
  typespec-extension/pom.xml
  typespec-extension/src/main/resources/spotless-pom.xml
  typespec-tests/pom.xml
  vanilla-tests/pom.xml
Owners: @JianpingChen, @anuchandy, @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Move Eclipse language server to download during runtime
  customization-base/pom.xml
  customization-base/src/main/java/com/azure/autorest/customization/implementation/ls/EclipseLanguageServerFacade.java
Owners: @weidongxu-microsoft, @srnagar

Fix fluentgen
  eng/pipelines/ci.yaml
  eng/pipelines/fluent_integration.yaml
Owners: @weidongxu-microsoft, @srnagar

Update versions for release (#2381)
  androidgen/pom.xml
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/CHANGELOG.md
  customization-base/README.md
  customization-base/pom.xml
  customization-tests/pom.xml
  customization-tests/swagger/pom.xml
  eng/pipelines/ci.yaml
  eng/pipelines/fluent_integration.yaml
  extension-base/pom.xml
  fluent-tests/pom.xml
  fluentgen/pom.xml
  fluentgen/src/main/resources/spotless-pom.xml
  fluentnamer/pom.xml
  javagen/pom.xml
  partial-update-tests/pom.xml
  partial-update/pom.xml
  pom.xml
  postprocessor/pom.xml
  postprocessor/src/main/resources/readme/pom.xml
  preprocessor/pom.xml
  protocol-resilience-test/pom.xml
  protocol-tests/pom.xml
  typespec-extension/pom.xml
  typespec-extension/src/main/resources/spotless-pom.xml
  typespec-tests/pom.xml
  vanilla-tests/pom.xml
Owners: @JianpingChen, @anuchandy, @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Move Eclipse language server to download during runtime (#2382)
  customization-base/pom.xml
  customization-base/src/main/java/com/azure/autorest/customization/implementation/ls/EclipseLanguageServerFacade.java
Owners: @weidongxu-microsoft, @srnagar

tsp, fix issue related to Enum/Union with float number (#2379)
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/external-schemas.ts
  typespec-extension/src/type-utils.ts
  typespec-tests/pom.xml
  typespec-tests/src/main/java/com/cadl/enumservice/EnumServiceAsyncClient.java
  typespec-tests/src/main/java/com/cadl/enumservice/EnumServiceClient.java
  typespec-tests/src/main/java/com/cadl/enumservice/implementation/EnumServiceClientImpl.java
  typespec-tests/src/main/java/com/cadl/enumservice/models/Operation.java
  typespec-tests/src/main/java/com/cadl/enumservice/models/Unit.java
  typespec-tests/src/main/java/com/cadl/multipleapiversion/SecondAsyncClient.java
  typespec-tests/src/main/java/com/cadl/multipleapiversion/SecondClient.java
  typespec-tests/src/main/java/com/cadl/multipleapiversion/models/Resource2.java
  typespec-tests/src/main/java/com/type/union/UnionAsyncClient.java
  typespec-tests/src/main/java/com/type/union/UnionClient.java
  typespec-tests/src/main/java/com/type/union/implementation/UnionClientImpl.java
  typespec-tests/tsp/enum.tsp
  typespec-tests/tsp/multiple-apiversion.tsp
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update script
  Build-TypeSpec.ps1
Owners: @weidongxu-microsoft, @srnagar

regen
  openai-in-typespec/openai-sdk/src/main/java/com/openai/OpenAIClient.java
  openai-in-typespec/openai-sdk/src/main/java/com/openai/implementation/OpenAIClientImpl.java
Owners: @weidongxu-microsoft, @srnagar

Update Autorest version and Action updates
  .github/workflows/fluent-test-gen-all.yml
  .github/workflows/generate-test-code.yml
  .github/workflows/pre-release-typespec.yml
  .github/workflows/pre-release.yml
  package.json
Owners: @weidongxu-microsoft, @srnagar

Update Autorest version and Action updates (#2386)
  .github/workflows/fluent-test-gen-all.yml
  .github/workflows/generate-test-code.yml
  .github/workflows/pre-release-typespec.yml
  .github/workflows/pre-release.yml
  package.json
Owners: @weidongxu-microsoft, @srnagar

Turn postprocessor into a non-plugin
  androidgen/README.md
  androidgen/data-plane.md
  javagen/pom.xml
  javagen/readme.md
  javagen/src/main/java/com/azure/autorest/Javagen.java
  postprocessor/package.json
  postprocessor/readme.md
  postprocessor/src/main/java/com/azure/autorest/postprocessor/Main.java
  postprocessor/src/main/java/com/azure/autorest/postprocessor/Postprocessor.java
Owners: @JianpingChen, @anuchandy, @weidongxu-microsoft, @srnagar

fix script
  typespec-tests/Setup.ps1
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

override on openapi as well
  typespec-tests/package.json
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

allow Union in public
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

use BinaryData for Union
  javagen/src/main/java/com/azure/autorest/mapper/UnionMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/UnionModelMapper.java
  typespec-extension/src/main/java/com/azure/typespec/model/EmitterOptions.java
  typespec-tests/package.json
  typespec-tests/tspconfig.yaml
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

fix workflow
  .github/workflows/generate-test-code.yml
Owners: @weidongxu-microsoft, @srnagar

bump typespec
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

bump dep
  typespec-extension/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

bump typespec-java version
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

re-generate test code
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/standard/StandardAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/standard/StandardClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/standard/implementation/StandardClientImpl.java
  typespec-tests/src/main/java/com/cadl/visibility/models/ReadDog.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

compile pass
  openai-in-typespec/openai-sdk/src/main/java/com/openai/OpenAIClient.java
  openai-in-typespec/openai-sdk/src/main/java/com/openai/implementation/OpenAIClientImpl.java
Owners: @weidongxu-microsoft, @srnagar

verify new createSdkContext changes in tcgc (#2353)
  .github/workflows/generate-test-code.yml
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-tests/Setup.ps1
  typespec-tests/package.json
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/standard/StandardAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/standard/StandardClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/standard/implementation/StandardClientImpl.java
  typespec-tests/src/main/java/com/cadl/visibility/models/ReadDog.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

tsp, non-azure, fix wrong package
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
Owners: @weidongxu-microsoft, @srnagar

bump version
  openai-in-typespec/package.json
Owners: @weidongxu-microsoft, @srnagar

regen
  openai-in-typespec/openai-sdk/src/main/java/com/openai/OpenAIClient.java
  openai-in-typespec/openai-sdk/src/main/java/com/openai/implementation/OpenAIClientImpl.java
Owners: @weidongxu-microsoft, @srnagar

revert
  typespec-extension/src/main/java/com/azure/typespec/model/EmitterOptions.java
  typespec-tests/package.json
  typespec-tests/tspconfig.yaml
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

map decimal to double
  typespec-extension/src/code-model-builder.ts
  typespec-tests/src/main/java/com/cadl/builtin/BuiltinAsyncClient.java
  typespec-tests/src/main/java/com/cadl/builtin/BuiltinClient.java
  typespec-tests/src/main/java/com/cadl/builtin/implementation/BuiltinClientImpl.java
  typespec-tests/src/main/java/com/cadl/builtin/models/Builtin.java
  typespec-tests/tsp/builtin.tsp
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

handle BinaryData in stream-style
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
Owners: @weidongxu-microsoft, @srnagar

bump azure-core version
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  fluent-tests/pom.xml
  fluentnamer/pom.xml
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  protocol-tests/pom.xml
  typespec-tests/pom.xml
  vanilla-tests/pom.xml
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

add flag stream-style-serialization, default to false
  typespec-extension/src/emitter.ts
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
  typespec-extension/src/main/java/com/azure/typespec/model/EmitterOptions.java
  typespec-tests/tspconfig.yaml
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, non-azure, fix wrong package; temporary use "double" for tsp "decimal" (#2388)
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  fluent-tests/pom.xml
  fluentnamer/pom.xml
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  protocol-tests/pom.xml
  typespec-extension/src/code-model-builder.ts
  typespec-tests/pom.xml
  typespec-tests/src/main/java/com/cadl/builtin/BuiltinAsyncClient.java
  typespec-tests/src/main/java/com/cadl/builtin/BuiltinClient.java
  typespec-tests/src/main/java/com/cadl/builtin/implementation/BuiltinClientImpl.java
  typespec-tests/src/main/java/com/cadl/builtin/models/Builtin.java
  typespec-tests/tsp/builtin.tsp
  vanilla-tests/pom.xml
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

only enable stream for union test
  typespec-tests/Generate.ps1
  typespec-tests/src/main/java/com/type/union/UnionAsyncClient.java
  typespec-tests/src/main/java/com/type/union/UnionClient.java
  typespec-tests/src/main/java/com/type/union/implementation/UnionClientImpl.java
  typespec-tests/src/main/java/com/type/union/models/BaseModel.java
  typespec-tests/src/main/java/com/type/union/models/Model1.java
  typespec-tests/src/main/java/com/type/union/models/Model2.java
  typespec-tests/src/main/java/com/type/union/models/ModelWithNamedUnionProperty.java
  typespec-tests/src/main/java/com/type/union/models/ModelWithNamedUnionPropertyInResponse.java
  typespec-tests/src/main/java/com/type/union/models/ModelWithSimpleUnionProperty.java
  typespec-tests/src/main/java/com/type/union/models/ModelWithSimpleUnionPropertyInResponse.java
  typespec-tests/src/main/java/com/type/union/models/package-info.java
  typespec-tests/tspconfig.yaml
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update test
  typespec-tests/src/test/java/com/type/union/UnionsClientTest.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix writeUntypedField
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  typespec-tests/src/main/java/com/type/union/models/ModelWithNamedUnionProperty.java
  typespec-tests/src/main/java/com/type/union/models/ModelWithNamedUnionPropertyInResponse.java
  typespec-tests/src/main/java/com/type/union/models/ModelWithSimpleUnionProperty.java
  typespec-tests/src/main/java/com/type/union/models/ModelWithSimpleUnionPropertyInResponse.java
  typespec-tests/src/test/java/com/type/union/UnionsClientTest.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

re-generate test code
  typespec-tests/src/main/java/com/cadl/internal/implementation/models/ByteArrayStandAloneUnionDataModel.java
  typespec-tests/src/main/java/com/cadl/internal/implementation/models/StandAloneUnionDataModelBase.java
  typespec-tests/src/main/java/com/cadl/internal/implementation/models/UrlStandAloneUnionDataModel.java
  typespec-tests/src/main/java/com/cadl/multicontenttypes/MultiContentTypesAsyncClient.java
  typespec-tests/src/main/java/com/cadl/multicontenttypes/MultiContentTypesClient.java
  typespec-tests/src/main/java/com/cadl/multicontenttypes/implementation/MultiContentTypesClientImpl.java
  typespec-tests/src/main/java/com/cadl/union/UnionAsyncClient.java
  typespec-tests/src/main/java/com/cadl/union/UnionClient.java
  typespec-tests/src/main/java/com/cadl/union/implementation/UnionClientImpl.java
  typespec-tests/src/main/java/com/cadl/union/models/ArrayData.java
  typespec-tests/src/main/java/com/cadl/union/models/Result.java
  typespec-tests/src/main/java/com/cadl/union/models/SendLongOptions.java
  typespec-tests/src/main/java/com/cadl/union/models/User.java
  typespec-tests/src/main/java/com/cadl/union/models/package-info.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

support lro
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/common/code-model.ts
  typespec-extension/src/emitter.ts
  typespec-extension/src/main/java/com/azure/autorest/fluent/TypeSpecFluentPlugin.java
  typespec-extension/src/main/java/com/azure/typespec/Main.java
  typespec-extension/src/main/java/com/azure/typespec/model/EmitterOptions.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

regen
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/implementation/models/AcrErrorInfo.java
Owners: @weidongxu-microsoft, @srnagar

format
  typespec-tests/src/test/java/com/type/union/UnionsClientTest.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

make arm optional
  typespec-extension/src/common/code-model.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

.github/CODEOWNERS:

# default
*                           @weidongxu-microsoft @srnagar

# Git Hub bot rules
/.github/fabricbot.json     @jsquire @ronniegeraghty

# fluentgen
/fluent*                    @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/azure-tests                @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

# androidgen
/androidgen                 @JianpingChen @anuchandy

# protocol
/protocol*                  @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update-tests       @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar

# typespec
/typespec-extension         @srnagar @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/typespec-tests             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
