Repository Azure/autorest.java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @weidongxu-microsoft, @srnagar, @jsquire, @ronniegeraghty, @haolingdong-msft, @XiaofeiCao, @JianpingChen, @anuchandy

mgmt, fix a javadoc issue on manager (#2250)
  fluentgen/src/main/java/com/azure/autorest/fluent/template/FluentManagerTemplate.java
  javagen/src/main/java/com/azure/autorest/template/example/ModelExampleWriter.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/DictionaryWrapperTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/SmartSalmonTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

support discriminatorProperty be EnumMember
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

support discriminatorProperty be EnumMember (#2252)
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

eng, update script to include package version in created PR (#2251)
  eng/pipelines/post-publish-sdk.yaml
Owners: @weidongxu-microsoft, @srnagar

test case
  typespec-tests/tsp/union.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

code
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

regen
  typespec-tests/src/main/java/com/cadl/flatten/FlattenAsyncClient.java
  typespec-tests/src/main/java/com/cadl/flatten/FlattenClient.java
  typespec-tests/src/main/java/com/cadl/flatten/implementation/FlattenClientImpl.java
  typespec-tests/src/main/java/com/cadl/union/UnionAsyncClient.java
  typespec-tests/src/main/java/com/cadl/union/UnionClient.java
  typespec-tests/src/main/java/com/cadl/union/implementation/UnionClientImpl.java
  typespec-tests/src/main/java/com/parameters/spread/AliasAsyncClient.java
  typespec-tests/src/main/java/com/parameters/spread/AliasClient.java
  typespec-tests/src/main/java/com/parameters/spread/implementation/AliasImpl.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, fix javadoc for alias/flatten (#2254)
  typespec-extension/src/code-model-builder.ts
  typespec-tests/src/main/java/com/cadl/flatten/FlattenAsyncClient.java
  typespec-tests/src/main/java/com/cadl/flatten/FlattenClient.java
  typespec-tests/src/main/java/com/cadl/flatten/implementation/FlattenClientImpl.java
  typespec-tests/src/main/java/com/cadl/union/UnionAsyncClient.java
  typespec-tests/src/main/java/com/cadl/union/UnionClient.java
  typespec-tests/src/main/java/com/cadl/union/implementation/UnionClientImpl.java
  typespec-tests/src/main/java/com/parameters/spread/AliasAsyncClient.java
  typespec-tests/src/main/java/com/parameters/spread/AliasClient.java
  typespec-tests/src/main/java/com/parameters/spread/implementation/AliasImpl.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

mgmt, autorest.core 3.9.7
  Generate.ps1
  fluent-tests/gen_all.py
  fluent-tests/prepare-tests.bat
  protocol-sdk-integration-tests/test.py
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

use extensible enum for union of literal
  typespec-extension/src/code-model-builder.ts
  typespec-tests/src/main/java/com/cadl/enumservice/models/Name.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

mgmt, override revapi if preview
  fluentgen/src/main/java/com/azure/autorest/fluent/template/FluentPomTemplate.java
  javagen/src/main/java/com/azure/autorest/template/PomTemplate.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

mgmt, skip revapi if beta (#2255)
  Generate.ps1
  fluent-tests/gen_all.py
  fluent-tests/prepare-tests.bat
  fluentgen/src/main/java/com/azure/autorest/fluent/template/FluentPomTemplate.java
  javagen/src/main/java/com/azure/autorest/template/PomTemplate.java
  protocol-sdk-integration-tests/test.py
  typespec-extension/src/code-model-builder.ts
  typespec-tests/src/main/java/com/cadl/enumservice/models/Name.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

client, fallback to "body" for request body
  javagen/src/main/java/com/azure/autorest/util/ModelExampleUtil.java
Owners: @weidongxu-microsoft, @srnagar

client, fallback to "body" for request body (#2256)
  javagen/src/main/java/com/azure/autorest/util/ModelExampleUtil.java
Owners: @weidongxu-microsoft, @srnagar

omit default string type
  typespec-tests/tsp/builtin.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

use warning when convenience api is disabled
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/operation-utils.ts
  typespec-extension/src/type-utils.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

API comment in client method and wrapper
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/Language.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ImplementationDetails.java
  javagen/src/main/java/com/azure/autorest/template/WrapperClientMethodTemplate.java
Owners: @weidongxu-microsoft, @srnagar

regen
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/BasicAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/BasicClient.java
  typespec-tests/src/main/java/com/cadl/multicontenttypes/MultiContentTypesAsyncClient.java
  typespec-tests/src/main/java/com/cadl/multicontenttypes/MultiContentTypesClient.java
  typespec-tests/src/main/java/com/cadl/patch/PatchAsyncClient.java
  typespec-tests/src/main/java/com/cadl/patch/PatchClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/SpecialHeadersAsyncClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/SpecialHeadersClient.java
  typespec-tests/src/main/java/com/cadl/union/UnionAsyncClient.java
  typespec-tests/src/main/java/com/cadl/union/UnionClient.java
  typespec-tests/src/main/java/com/type/property/nullable/BytesAsyncClient.java
  typespec-tests/src/main/java/com/type/property/nullable/BytesClient.java
  typespec-tests/src/main/java/com/type/property/nullable/CollectionsByteAsyncClient.java
  typespec-tests/src/main/java/com/type/property/nullable/CollectionsByteClient.java
  typespec-tests/src/main/java/com/type/property/nullable/CollectionsModelAsyncClient.java
  typespec-tests/src/main/java/com/type/property/nullable/CollectionsModelClient.java
  typespec-tests/src/main/java/com/type/property/nullable/DatetimeOperationAsyncClient.java
  typespec-tests/src/main/java/com/type/property/nullable/DatetimeOperationClient.java
  typespec-tests/src/main/java/com/type/property/nullable/DurationOperationAsyncClient.java
  typespec-tests/src/main/java/com/type/property/nullable/DurationOperationClient.java
  typespec-tests/src/main/java/com/type/property/nullable/StringOperationAsyncClient.java
  typespec-tests/src/main/java/com/type/property/nullable/StringOperationClient.java
  typespec-tests/src/main/java/com/type/union/UnionAsyncClient.java
  typespec-tests/src/main/java/com/type/union/UnionClient.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

upgrade cadl-ranch
  typespec-tests/package.json
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix type in host parameter
  javagen/src/main/java/com/azure/autorest/mapper/ServiceClientMapper.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientBuilderTemplate.java
  typespec-extension/src/code-model-builder.ts
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

escape name ServiceClient
  preprocessor/src/main/java/com/azure/autorest/preprocessor/namer/CodeNamer.java
  preprocessor/src/main/java/com/azure/autorest/preprocessor/tranformer/Transformer.java
Owners: @weidongxu-microsoft, @srnagar

regen
  typespec-tests/src/main/java/com/cadl/apiversion/ApiVersionClientBuilder.java
  typespec-tests/src/main/java/com/cadl/builtin/BuiltinClientBuilder.java
  typespec-tests/src/main/java/com/cadl/enumservice/EnumServiceClientBuilder.java
  typespec-tests/src/main/java/com/cadl/errormodel/ErrorModelClientBuilder.java
  typespec-tests/src/main/java/com/cadl/flatten/FlattenClientBuilder.java
  typespec-tests/src/main/java/com/cadl/internal/InternalClientBuilder.java
  typespec-tests/src/main/java/com/cadl/literalservice/LiteralServiceClientBuilder.java
  typespec-tests/src/main/java/com/cadl/model/ModelClientBuilder.java
  typespec-tests/src/main/java/com/cadl/multicontenttypes/MultiContentTypesClientBuilder.java
  typespec-tests/src/main/java/com/cadl/multipleapiversion/FirstClientBuilder.java
  typespec-tests/src/main/java/com/cadl/multipleapiversion/SecondClientBuilder.java
  typespec-tests/src/main/java/com/cadl/naming/NamingClientBuilder.java
  typespec-tests/src/main/java/com/cadl/optional/OptionalClientBuilder.java
  typespec-tests/src/main/java/com/cadl/partialupdate/PartialUpdateClientBuilder.java
  typespec-tests/src/main/java/com/cadl/patch/PatchClientBuilder.java
  typespec-tests/src/main/java/com/cadl/protocolandconvenient/ProtocolAndConvenientClientBuilder.java
  typespec-tests/src/main/java/com/cadl/response/ResponseClientBuilder.java
  typespec-tests/src/main/java/com/cadl/server/ContosoClientBuilder.java
  typespec-tests/src/main/java/com/cadl/specialchars/SpecialCharsClientBuilder.java
  typespec-tests/src/main/java/com/cadl/specialheaders/SpecialHeadersClientBuilder.java
  typespec-tests/src/main/java/com/cadl/union/UnionClientBuilder.java
  typespec-tests/src/main/java/com/cadl/versioning/VersioningClientBuilder.java
  typespec-tests/src/main/java/com/cadl/visibility/VisibilityClientBuilder.java
  typespec-tests/src/main/java/com/cadl/wiretype/WireTypeClientBuilder.java
  typespec-tests/src/main/java/com/client/structure/service/ClientAClientBuilder.java
  typespec-tests/src/main/java/com/client/structure/service/ClientBClientBuilder.java
  typespec-tests/src/main/java/com/client/structure/service/RenamedOperationClientBuilder.java
  typespec-tests/src/main/java/com/client/structure/service/ServiceClientAsyncClient.java
  typespec-tests/src/main/java/com/client/structure/service/ServiceClientClient.java
  typespec-tests/src/main/java/com/client/structure/service/ServiceClientClientBuilder.java
  typespec-tests/src/main/java/com/client/structure/service/TwoOperationGroupClientBuilder.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/ClientAClientImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/ClientBClientImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/RenamedOperationClientImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/ServiceClientClientImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/TwoOperationGroupClientImpl.java
  typespec-tests/src/main/java/com/resiliency/servicedriven/ResiliencyServiceDrivenClientBuilder.java
  typespec-tests/src/main/java/com/resiliency/servicedriven/v1/ResiliencyServiceDrivenClientBuilder.java
  typespec-tests/src/main/java/com/server/path/multiple/MultipleClientBuilder.java
  typespec-tests/src/main/java/com/server/path/single/SingleClientBuilder.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

polymorphism test
  typespec-tests/src/test/java/com/type/model/inheritance/EnumDiscriminatorTests.java
  typespec-tests/src/test/java/com/type/model/inheritance/InheritanceTests.java
  typespec-tests/src/test/java/com/type/model/inheritance/NestedDiscriminatorTests.java
  typespec-tests/src/test/java/com/type/model/inheritance/SingleDiscriminatorTest.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

client test, disabled
  typespec-tests/src/test/java/com/client/structure/DefaultClientTest.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

client test, disabled
  typespec-tests/src/test/java/com/client/structure/DefaultClientTests.java
  typespec-tests/src/test/java/com/client/structure/MultiClientTests.java
  typespec-tests/src/test/java/com/client/structure/OperationGroupClientTests.java
  typespec-tests/src/test/java/com/client/structure/RenameOperationTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

regen
  azure-dataplane-tests/src/main/java/com/azure/ai/formrecognizer/documentanalysis/dpg/FormRecognizerClientBuilder.java
  azure-dataplane-tests/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/FormRecognizerClientImplBuilder.java
  azure-dataplane-tests/src/main/java/com/azure/data/schemaregistry/implementation/AzureSchemaRegistryImplBuilder.java
  azure-tests/src/main/java/fixtures/azurespecials/AutoRestAzureSpecialParametersTestClientBuilder.java
  azure-tests/src/main/java/fixtures/subscriptionidapiversion/MicrosoftAzureTestUrlBuilder.java
  protocol-tests/src/main/java/fixtures/constantandclientparam/ConstantAndClientParameterServiceClientBuilder.java
  protocol-tests/src/main/java/fixtures/constants/AutoRestSwaggerConstantServiceClientBuilder.java
  protocol-tests/src/main/java/fixtures/endpointlro/LroEndpointClientBuilder.java
  protocol-tests/src/main/java/fixtures/parameterizedendpoint/ParmaterizedEndpointClientBuilder.java
  protocol-tests/src/main/java/fixtures/url/PathItemsClientBuilder.java
  protocol-tests/src/main/java/fixtures/url/PathsClientBuilder.java
  protocol-tests/src/main/java/fixtures/url/QueriesClientBuilder.java
  vanilla-tests/src/main/java/fixtures/constants/AutoRestSwaggerConstantServiceBuilder.java
  vanilla-tests/src/main/java/fixtures/custombaseuri/moreoptions/AutoRestParameterizedCustomHostTestClientBuilder.java
  vanilla-tests/src/main/java/fixtures/requiredoptional/AutoRestRequiredOptionalTestServiceBuilder.java
  vanilla-tests/src/main/java/fixtures/url/AutoRestUrlTestServiceBuilder.java
  vanilla-tests/src/main/java/fixtures/validation/AutoRestValidationTestBuilder.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

regen
  typespec-tests/src/main/java/com/cadl/builtin/BuiltinAsyncClient.java
  typespec-tests/src/main/java/com/cadl/builtin/BuiltinClient.java
  typespec-tests/src/main/java/com/cadl/builtin/implementation/BuiltinClientImpl.java
  typespec-tests/src/main/java/com/cadl/builtin/models/Builtin.java
  typespec-tests/src/main/java/com/cadl/builtin/models/FormatString.java
  typespec-tests/src/main/java/com/cadl/builtin/models/KnownValues.java
  typespec-tests/src/main/java/com/cadl/builtin/models/KnownValuesScalar.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp test
  typespec-tests/tsp/builtin.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, remove format and knownValues from local test (#2259)
  typespec-tests/src/main/java/com/cadl/builtin/BuiltinAsyncClient.java
  typespec-tests/src/main/java/com/cadl/builtin/BuiltinClient.java
  typespec-tests/src/main/java/com/cadl/builtin/implementation/BuiltinClientImpl.java
  typespec-tests/src/main/java/com/cadl/builtin/models/Builtin.java
  typespec-tests/src/main/java/com/cadl/builtin/models/FormatString.java
  typespec-tests/src/main/java/com/cadl/builtin/models/KnownValues.java
  typespec-tests/src/main/java/com/cadl/builtin/models/KnownValuesScalar.java
  typespec-tests/tsp/builtin.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, upgrade cadl-ranch
  typespec-tests/package.json
  typespec-tests/src/main/java/com/client/structure/service/implementation/ClientAClientImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/ClientBClientImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/Group1sImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/Group2sImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/GroupsImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/RenamedOperationClientImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/ServiceClientClientImpl.java
  typespec-tests/src/test/java/com/client/structure/DefaultClientTests.java
  typespec-tests/src/test/java/com/client/structure/MultiClientTests.java
  typespec-tests/src/test/java/com/client/structure/OperationGroupClientTests.java
  typespec-tests/src/test/java/com/client/structure/RenameOperationTests.java
  typespec-tests/src/test/java/com/type/model/inheritance/InheritanceTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, upgrade cadl-ranch (#2260)
  typespec-tests/package.json
  typespec-tests/src/main/java/com/client/structure/service/implementation/ClientAClientImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/ClientBClientImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/Group1sImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/Group2sImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/GroupsImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/RenamedOperationClientImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/ServiceClientClientImpl.java
  typespec-tests/src/test/java/com/client/structure/DefaultClientTests.java
  typespec-tests/src/test/java/com/client/structure/MultiClientTests.java
  typespec-tests/src/test/java/com/client/structure/OperationGroupClientTests.java
  typespec-tests/src/test/java/com/client/structure/RenameOperationTests.java
  typespec-tests/src/test/java/com/type/model/inheritance/InheritanceTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, warning for method with convenience API disabled (#2257)
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/Language.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ImplementationDetails.java
  javagen/src/main/java/com/azure/autorest/template/WrapperClientMethodTemplate.java
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/operation-utils.ts
  typespec-extension/src/type-utils.ts
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/BasicAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/BasicClient.java
  typespec-tests/src/main/java/com/cadl/multicontenttypes/MultiContentTypesAsyncClient.java
  typespec-tests/src/main/java/com/cadl/multicontenttypes/MultiContentTypesClient.java
  typespec-tests/src/main/java/com/cadl/patch/PatchAsyncClient.java
  typespec-tests/src/main/java/com/cadl/patch/PatchClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/SpecialHeadersAsyncClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/SpecialHeadersClient.java
  typespec-tests/src/main/java/com/cadl/union/UnionAsyncClient.java
  typespec-tests/src/main/java/com/cadl/union/UnionClient.java
  typespec-tests/src/main/java/com/type/property/nullable/BytesAsyncClient.java
  typespec-tests/src/main/java/com/type/property/nullable/BytesClient.java
  typespec-tests/src/main/java/com/type/property/nullable/CollectionsByteAsyncClient.java
  typespec-tests/src/main/java/com/type/property/nullable/CollectionsByteClient.java
  typespec-tests/src/main/java/com/type/property/nullable/CollectionsModelAsyncClient.java
  typespec-tests/src/main/java/com/type/property/nullable/CollectionsModelClient.java
  typespec-tests/src/main/java/com/type/property/nullable/DatetimeOperationAsyncClient.java
  typespec-tests/src/main/java/com/type/property/nullable/DatetimeOperationClient.java
  typespec-tests/src/main/java/com/type/property/nullable/DurationOperationAsyncClient.java
  typespec-tests/src/main/java/com/type/property/nullable/DurationOperationClient.java
  typespec-tests/src/main/java/com/type/property/nullable/StringOperationAsyncClient.java
  typespec-tests/src/main/java/com/type/property/nullable/StringOperationClient.java
  typespec-tests/src/main/java/com/type/union/UnionAsyncClient.java
  typespec-tests/src/main/java/com/type/union/UnionClient.java
  typespec-tests/tsp/builtin.tsp
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

use factory method instead of ctor, it does not depends on overload
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
  typespec-tests/src/main/java/com/encode/bytes/models/Base64UrlArrayBytesProperty.java
  typespec-tests/src/test/java/com/encode/bytes/EncodeBytesTests.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

no need to do customization
  typespec-tests/Generate.ps1
  typespec-tests/customization/src/main/java/CustomizationEncodeBytes.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

regen
  typespec-tests/src/main/java/com/cadl/wiretype/models/SubClass.java
  typespec-tests/src/main/java/com/cadl/wiretype/models/SubClassBothMismatch.java
  typespec-tests/src/main/java/com/cadl/wiretype/models/SubClassMismatch.java
  typespec-tests/src/main/java/com/cadl/wiretype/models/SuperClassMismatch.java
  typespec-tests/src/main/java/com/encode/bytes/models/Base64UrlArrayBytesProperty.java
  typespec-tests/src/main/java/com/encode/bytes/models/Base64UrlBytesProperty.java
  typespec-tests/src/main/java/com/encode/datetime/models/Rfc7231DatetimeProperty.java
  typespec-tests/src/main/java/com/encode/datetime/models/UnixTimestampArrayDatetimeProperty.java
  typespec-tests/src/main/java/com/encode/datetime/models/UnixTimestampDatetimeProperty.java
  typespec-tests/src/main/java/com/encode/duration/models/FloatSecondsDurationArrayProperty.java
  typespec-tests/src/main/java/com/encode/duration/models/FloatSecondsDurationProperty.java
  typespec-tests/src/main/java/com/encode/duration/models/Int32SecondsDurationProperty.java
  vanilla-tests/src/main/java/fixtures/requiredfieldsascotrargstransformation/models/TransformationAsParentRequiredFields.java
  vanilla-tests/src/main/java/fixtures/requiredfieldsascotrargstransformation/models/TransformationAsRequiredFields.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

tsp, handle corner case for client type differs from wire type (#2261)
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
  typespec-tests/Generate.ps1
  typespec-tests/customization/src/main/java/CustomizationEncodeBytes.java
  typespec-tests/src/main/java/com/cadl/wiretype/models/SubClass.java
  typespec-tests/src/main/java/com/cadl/wiretype/models/SubClassBothMismatch.java
  typespec-tests/src/main/java/com/cadl/wiretype/models/SubClassMismatch.java
  typespec-tests/src/main/java/com/cadl/wiretype/models/SuperClassMismatch.java
  typespec-tests/src/main/java/com/encode/bytes/models/Base64UrlArrayBytesProperty.java
  typespec-tests/src/main/java/com/encode/bytes/models/Base64UrlBytesProperty.java
  typespec-tests/src/main/java/com/encode/datetime/models/Rfc7231DatetimeProperty.java
  typespec-tests/src/main/java/com/encode/datetime/models/UnixTimestampArrayDatetimeProperty.java
  typespec-tests/src/main/java/com/encode/datetime/models/UnixTimestampDatetimeProperty.java
  typespec-tests/src/main/java/com/encode/duration/models/FloatSecondsDurationArrayProperty.java
  typespec-tests/src/main/java/com/encode/duration/models/FloatSecondsDurationProperty.java
  typespec-tests/src/main/java/com/encode/duration/models/Int32SecondsDurationProperty.java
  typespec-tests/src/test/java/com/encode/bytes/EncodeBytesTests.java
  vanilla-tests/src/main/java/fixtures/requiredfieldsascotrargstransformation/models/TransformationAsParentRequiredFields.java
  vanilla-tests/src/main/java/fixtures/requiredfieldsascotrargstransformation/models/TransformationAsRequiredFields.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

update package
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

revert prettier version
  typespec-tests/package.json
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

readme
  typespec-extension/readme.md
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

use prettier configure from https://github.com/Azure/typespec-azure/blob/main/.prettierrc.json
  typespec-tests/.prettierrc.yaml
  typespec-tests/package.json
  typespec-tests/tsp/flatten.tsp
  typespec-tests/tsp/multiple-apiversion.tsp
  typespec-tests/tsp/multiple-content-types.tsp
  typespec-tests/tsp/protocol-api-convenient-api.tsp
  typespec-tests/tsp/response.tsp
  typespec-tests/tsp/special-headers.tsp
  typespec-tests/tsp/union.tsp
  typespec-tests/tsp/versioning.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

.github/CODEOWNERS:

# default
*                           @weidongxu-microsoft @srnagar

# Git Hub bot rules
/.github/fabricbot.json     @jsquire @ronniegeraghty

# fluentgen
/fluent*                    @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/azure-tests                @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

# androidgen
/androidgen                 @JianpingChen @anuchandy

# protocol
/protocol*                  @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update-tests       @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar

# typespec
/typespec-extension         @srnagar @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/typespec-tests             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
