Repository Azure/autorest.java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @weidongxu-microsoft, @srnagar, @jsquire, @ronniegeraghty, @haolingdong-msft, @XiaofeiCao, @JianpingChen, @anuchandy

devDependencies
  typespec-tests/package.json
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, bump cadl-ranch (#2513)
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/type-utils.ts
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

mgmt, rename generated class Utils to ResourceManagerUtils
  fluentgen/src/main/java/com/azure/autorest/fluent/FluentGen.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/ModelNaming.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/fluentmodel/method/CollectionMethodOperationByIdTemplate.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/fluentmodel/method/FluentConstructorByInner.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/immutablemodel/CollectionMethodTypeConversionTemplate.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/javamodel/FluentJavaPackage.java
  fluentgen/src/main/java/com/azure/autorest/fluent/template/ResourceManagerUtilsTemplate.java
  fluentgen/src/main/java/com/azure/autorest/fluent/util/TypeConversionUtils.java
  fluentgen/src/main/resources/ResourceManagerUtils_PagedIterableImpl.txt
  fluentgen/src/main/resources/ResourceManagerUtils_getValueFromIdByName.txt
  fluentgen/src/main/resources/ResourceManagerUtils_getValueFromIdByParameterName.txt
  fluentgen/src/test/java/com/azure/autorest/fluent/model/clientmodel/fluentmodel/FluentMethodTests.java
  fluentgen/src/test/java/com/azure/autorest/fluent/util/TypeConversionUtilsTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

mgmt, rename generated class Utils to ResourceManagerUtils (#2514)
  fluentgen/src/main/java/com/azure/autorest/fluent/FluentGen.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/ModelNaming.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/fluentmodel/method/CollectionMethodOperationByIdTemplate.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/fluentmodel/method/FluentConstructorByInner.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/immutablemodel/CollectionMethodTypeConversionTemplate.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/javamodel/FluentJavaPackage.java
  fluentgen/src/main/java/com/azure/autorest/fluent/template/ResourceManagerUtilsTemplate.java
  fluentgen/src/main/java/com/azure/autorest/fluent/util/TypeConversionUtils.java
  fluentgen/src/main/resources/ResourceManagerUtils_PagedIterableImpl.txt
  fluentgen/src/main/resources/ResourceManagerUtils_getValueFromIdByName.txt
  fluentgen/src/main/resources/ResourceManagerUtils_getValueFromIdByParameterName.txt
  fluentgen/src/test/java/com/azure/autorest/fluent/model/clientmodel/fluentmodel/FluentMethodTests.java
  fluentgen/src/test/java/com/azure/autorest/fluent/util/TypeConversionUtilsTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

typespec now handles mgmt, so we cannot exclude fluent*
  eng/pipelines/ci-typespec-java.yaml
Owners: @weidongxu-microsoft, @srnagar

regen arm
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ChildResourceImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ChildResourcesInterfacesImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/OperationsImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ResourceManagerUtils.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/TopLevelArmResourceImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/TopLevelArmResourceInterfacesImpl.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

eng, typespec now handles mgmt, so we cannot exclude fluent* (#2515)
  eng/pipelines/ci-typespec-java.yaml
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ChildResourceImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ChildResourcesInterfacesImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/OperationsImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ResourceManagerUtils.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/TopLevelArmResourceImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/TopLevelArmResourceInterfacesImpl.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

add isPartialUpdateSupported()
  androidgen/src/main/java/com/azure/autorest/android/template/AndroidServiceAsyncClientTemplate.java
  androidgen/src/main/java/com/azure/autorest/android/template/AndroidServiceClientBuilderTemplate.java
  androidgen/src/main/java/com/azure/autorest/android/template/AndroidServiceSyncClientTemplate.java
  fluentgen/src/main/java/com/azure/autorest/fluent/template/FluentModelTemplate.java
  fluentgen/src/main/java/com/azure/autorest/fluent/template/FluentServiceClientBuilderTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceAsyncClientTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientBuilderTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceSyncClientTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceSyncClientWrapAsyncClientTemplate.java
Owners: @JianpingChen, @anuchandy, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

regen
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ArmResourceProviderClientBuilder.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

hardcode testdep_ prefix
  eng/versioning/sync_versions.py
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
Owners: @weidongxu-microsoft, @srnagar

code with hardcoded testdep_net.bytebuddy:byte-buddy
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  javagen/src/main/java/com/azure/autorest/template/PomTemplate.java
Owners: @weidongxu-microsoft, @srnagar

test case for the version update tag
  fluent-tests/src/test/java/com/azure/mgmttest/RuntimeTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

nit
  fluent-tests/src/test/java/com/azure/mgmttest/RuntimeTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

generate pom.xml, readme and changelog
  typespec-extension/src/main/java/com/azure/typespec/Main.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

re-generate test code
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armresourceprovider-generated/proxy-config.json
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armresourceprovider-generated/reflect-config.json
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

mpg, generate pom.xml, readme and changelog (#2521)
  typespec-extension/src/main/java/com/azure/typespec/Main.java
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armresourceprovider-generated/proxy-config.json
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armresourceprovider-generated/reflect-config.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

minor change, use private
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
Owners: @weidongxu-microsoft, @srnagar

update to 4.1.26
  package.json
Owners: @weidongxu-microsoft, @srnagar

mgmt, fix bytebuddy version update tag (#2516)
  eng/versioning/sync_versions.py
  fluent-tests/src/test/java/com/azure/mgmttest/RuntimeTests.java
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  javagen/src/main/java/com/azure/autorest/template/PomTemplate.java
  package.json
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

add validation
  typespec-tests/src/test/java/com/payload/multipart/MultipartTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

skip request body JSON schema in Javadoc, if that is multipart
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplateBase.java
  javagen/src/main/resources/MultipartFormDataHelper.java
Owners: @weidongxu-microsoft, @srnagar

regen
  typespec-tests/src/main/java/com/cadl/multipart/MultipartAsyncClient.java
  typespec-tests/src/main/java/com/cadl/multipart/MultipartClient.java
  typespec-tests/src/main/java/com/cadl/multipart/implementation/MultipartClientImpl.java
  typespec-tests/src/main/java/com/cadl/multipart/implementation/MultipartFormDataHelper.java
  typespec-tests/src/main/java/com/payload/multipart/MultiPartAsyncClient.java
  typespec-tests/src/main/java/com/payload/multipart/MultiPartClient.java
  typespec-tests/src/main/java/com/payload/multipart/implementation/FormDatasImpl.java
  typespec-tests/src/main/java/com/payload/multipart/implementation/MultipartFormDataHelper.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, support multiple files (List<BinaryData>) in multipart/form-data (#2509)
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/resources/MultipartFormDataHelper.java
  typespec-tests/src/main/java/com/cadl/multipart/MultipartAsyncClient.java
  typespec-tests/src/main/java/com/cadl/multipart/MultipartClient.java
  typespec-tests/src/main/java/com/cadl/multipart/implementation/MultipartClientImpl.java
  typespec-tests/src/main/java/com/cadl/multipart/implementation/MultipartFormDataHelper.java
  typespec-tests/src/main/java/com/payload/multipart/MultiPartAsyncClient.java
  typespec-tests/src/main/java/com/payload/multipart/MultiPartClient.java
  typespec-tests/src/main/java/com/payload/multipart/implementation/FormDatasImpl.java
  typespec-tests/src/main/java/com/payload/multipart/implementation/MultipartFormDataHelper.java
  typespec-tests/src/main/java/com/payload/multipart/models/BinaryArrayPartsRequest.java
  typespec-tests/src/main/java/com/payload/multipart/models/ComplexPartsRequest.java
  typespec-tests/src/test/java/com/payload/multipart/MultipartTests.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

eng, cadl-ranch, it requires generatorMode
  eng/pipelines/ci-typespec-java.yaml
  package-lock.json
  typespec-tests/package.json
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

eng, cadl-ranch, it requires generatorMode (#2522)
  eng/pipelines/ci-typespec-java.yaml
  package-lock.json
  typespec-tests/package.json
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

eng, cadl-ranch, separate azure and standard
  eng/pipelines/ci-typespec-java.yaml
Owners: @weidongxu-microsoft, @srnagar

fix
  eng/pipelines/ci-typespec-java.yaml
Owners: @weidongxu-microsoft, @srnagar

remove httpLogOptions
  eng/pipelines/ci-typespec-java.yaml
  typespec-tests/src/test/java/com/_specs_/azure/core/lro/rpc/RpcTests.java
  typespec-tests/src/test/java/com/_specs_/azure/core/lro/rpc/legacy/LegacyRpcTests.java
  typespec-tests/src/test/java/com/_specs_/azure/core/lro/standard/LroCoreTests.java
  typespec-tests/src/test/java/com/payload/contentnegotiation/SharedRouteTests.java
  typespec-tests/src/test/java/com/payload/pageable/PageableTests.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

main
  eng/pipelines/ci-typespec-java.yaml
Owners: @weidongxu-microsoft, @srnagar

Update codgen to support latest generic APIs
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  javagen/pom.xml
  javagen/src/main/java/com/azure/autorest/mapper/PrimitiveMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ProxyMethodMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/Annotation.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientModel.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ProxyMethod.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ProxyMethodParameter.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaPackage.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/EnumTemplate.java
  javagen/src/main/java/com/azure/autorest/template/MethodGroupTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ProxyTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceAsyncClientTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientBuilderTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceSyncClientTemplate.java
  javagen/src/main/java/com/azure/autorest/template/WrapperClientMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
  javagen/src/main/resources/GenericMultipartFormDataHelper.java
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

tsp, prepare 0.12.3
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, prepare 0.12.3 (#2524)
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

code
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
  javagen/src/main/resources/MultipartFormDataHelper.java
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

regen
  typespec-tests/src/main/java/com/cadl/multipart/MultipartAsyncClient.java
  typespec-tests/src/main/java/com/cadl/multipart/MultipartClient.java
  typespec-tests/src/main/java/com/cadl/multipart/implementation/MultipartFormDataHelper.java
  typespec-tests/src/main/java/com/cadl/multipart/models/FormData.java
  typespec-tests/src/main/java/com/cadl/multipart/models/ImageFileDetails.java
  typespec-tests/src/main/java/com/cadl/multipart/models/OtherFileDetails.java
  typespec-tests/src/main/java/com/payload/multipart/MultiPartAsyncClient.java
  typespec-tests/src/main/java/com/payload/multipart/MultiPartClient.java
  typespec-tests/src/main/java/com/payload/multipart/implementation/MultipartFormDataHelper.java
  typespec-tests/src/main/java/com/payload/multipart/models/BinaryArrayPartsRequest.java
  typespec-tests/src/main/java/com/payload/multipart/models/ComplexPartsRequest.java
  typespec-tests/src/main/java/com/payload/multipart/models/JsonArrayPartsRequest.java
  typespec-tests/src/main/java/com/payload/multipart/models/JsonPartRequest.java
  typespec-tests/src/main/java/com/payload/multipart/models/MultiBinaryPartsRequest.java
  typespec-tests/src/main/java/com/payload/multipart/models/MultiPartRequest.java
  typespec-tests/src/main/java/com/payload/multipart/models/PictureFileDetails.java
  typespec-tests/src/main/java/com/payload/multipart/models/PicturesFileDetails.java
  typespec-tests/src/main/java/com/payload/multipart/models/ProfileImageFileDetails.java
  typespec-tests/tsp/multipart.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update test code after FileDetails
  typespec-tests/src/test/java/com/payload/multipart/MultipartTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

add a validator for content-type in test, though currently cadl-ranch only take octet
  typespec-tests/src/test/java/com/payload/multipart/MultipartTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

remove lro workaround
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

remove unused
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

minor change
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
Owners: @weidongxu-microsoft, @srnagar

update for "file"
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
  typespec-tests/src/main/java/com/cadl/multipart/MultipartAsyncClient.java
  typespec-tests/src/main/java/com/cadl/multipart/MultipartClient.java
  typespec-tests/src/main/java/com/cadl/multipart/models/FileDetails.java
  typespec-tests/src/main/java/com/cadl/multipart/models/FormData.java
  typespec-tests/tsp/multipart.tsp
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

.github/CODEOWNERS:

# default
*                           @weidongxu-microsoft @srnagar

# Git Hub bot rules
/.github/fabricbot.json     @jsquire @ronniegeraghty

# fluentgen
/fluent*                    @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/azure-tests                @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

# androidgen
/androidgen                 @JianpingChen @anuchandy

# protocol
/protocol*                  @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update-tests       @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar

# typespec
/typespec-extension         @srnagar @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/typespec-tests             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
