Repository Azure/autorest.java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @weidongxu-microsoft, @srnagar, @jsquire, @ronniegeraghty, @haolingdong-msft, @XiaofeiCao, @JianpingChen, @anuchandy

.github/CODEOWNERS:

# default
*                           @weidongxu-microsoft @srnagar

# Git Hub bot rules
/.github/fabricbot.json     @jsquire @ronniegeraghty

# fluentgen
/fluent*                    @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/azure-tests                @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

# androidgen
/androidgen                 @JianpingChen @anuchandy

# protocol
/protocol*                  @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update-tests       @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar

# typespec
/typespec-extension         @srnagar @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/typespec-tests             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

testserver uses cookie
  azure-tests/src/test/java/fixtures/paging/PagingTests.java
  protocol-tests/src/test/java/fixtures/paging/PagingTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

exclude XML for exception
  javagen/src/main/java/com/azure/autorest/util/SchemaUtil.java
Owners: @weidongxu-microsoft, @srnagar

comment
  javagen/src/main/java/com/azure/autorest/util/SchemaUtil.java
Owners: @weidongxu-microsoft, @srnagar

tsp, enhance process of include
  typespec-extension/src/code-model-builder.ts
  typespec-tests/src/main/java/com/cadl/internal/InternalAsyncClient.java
  typespec-tests/src/main/java/com/cadl/internal/InternalClient.java
  typespec-tests/src/main/java/com/cadl/internal/implementation/InternalClientImpl.java
  typespec-tests/src/main/java/com/cadl/internal/models/Response.java
  typespec-tests/src/main/java/com/cadl/internal/models/StandAloneData.java
  typespec-tests/src/main/java/com/cadl/internal/models/StandAloneDataInner.java
  typespec-tests/tsp/internal.tsp
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix tests
  customization-base/src/test/java/com/azure/autorest/customization/AnnotationTests.java
  customization-base/src/test/java/com/azure/autorest/customization/ClassCustomizationTests.java
Owners: @weidongxu-microsoft, @srnagar

move language server to customization package
  customization-base/src/test/java/com/azure/autorest/customization/ClassCustomizationTests.java
Owners: @weidongxu-microsoft, @srnagar

tsp, enhance process of include (#2218)
  typespec-extension/src/code-model-builder.ts
  typespec-tests/src/main/java/com/cadl/internal/InternalAsyncClient.java
  typespec-tests/src/main/java/com/cadl/internal/InternalClient.java
  typespec-tests/src/main/java/com/cadl/internal/implementation/InternalClientImpl.java
  typespec-tests/src/main/java/com/cadl/internal/models/Response.java
  typespec-tests/src/main/java/com/cadl/internal/models/StandAloneData.java
  typespec-tests/src/main/java/com/cadl/internal/models/StandAloneDataInner.java
  typespec-tests/tsp/internal.tsp
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

lro rpc test
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/RpcAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/RpcClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/RpcClientBuilder.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/RpcServiceVersion.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/implementation/RpcClientImpl.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/implementation/package-info.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/models/GenerationOptions.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/models/GeneratonResult.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/models/package-info.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/package-info.java
  typespec-tests/src/test/java/com/_specs_/azure/core/lro/rpc/RpcTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

client, import JacksonXmlRootElement even if no property
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
Owners: @weidongxu-microsoft, @srnagar

remove xml in mgmt
  fluentnamer/src/main/java/com/azure/autorest/fluent/transformer/FluentTransformer.java
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

regen
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/RpcAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/RpcClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/implementation/RpcClientImpl.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/models/GenerationResult.java
  typespec-tests/src/test/java/com/_specs_/azure/core/lro/rpc/RpcTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

mgmt, remove xml from serializationFormats (#2220)
  fluentnamer/src/main/java/com/azure/autorest/fluent/transformer/FluentTransformer.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

bug fix, mock data on csv need to reflect the element type
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/MockTestParser.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

mgmt, mock test, always generate mock data for required property
  javagen/src/main/java/com/azure/autorest/util/ModelTestCaseUtil.java
Owners: @weidongxu-microsoft, @srnagar

regen
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/CookiecuttersharkTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/DotFishMarketTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/DotFishTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/DotSalmonTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/FishTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/GoblinsharkTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/MyBaseTypeTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/MyDerivedTypeTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/ReadonlyObjTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/SalmonTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/SawsharkTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/SharkTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/SmartSalmonTests.java
Owners: @weidongxu-microsoft, @srnagar

use spawnSync
  typespec-extension/src/emitter.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

code format
  typespec-extension/src/emitter.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

mgmt, fix test gen issue (#2221)
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/MockTestParser.java
  javagen/src/main/java/com/azure/autorest/util/ModelTestCaseUtil.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/CookiecuttersharkTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/DotFishMarketTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/DotFishTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/DotSalmonTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/FishTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/GoblinsharkTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/MyBaseTypeTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/MyDerivedTypeTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/ReadonlyObjTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/SalmonTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/SawsharkTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/SharkTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/SmartSalmonTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

dpg, support test proxy
  javagen/src/main/java/com/azure/autorest/Javagen.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaPackage.java
  javagen/src/main/java/com/azure/autorest/template/ProtocolTestBaseTemplate.java
  javagen/src/main/java/com/azure/autorest/template/TestProxyAssetsTemplate.java
  javagen/src/main/java/com/azure/autorest/template/example/ProtocolTestWriter.java
  javagen/src/test/java/com/azure/autorest/template/TestProxyAssertsTemplateTests.java
Owners: @weidongxu-microsoft, @srnagar

skip test in local integration test, as no test proxy
  protocol-sdk-integration-tests/test.py
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

client, readme.md include impression pixel
  fluentgen/src/main/java/com/azure/autorest/fluent/template/ReadmeTemplate.java
  fluentgen/src/main/resources/Readme.txt
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  javagen/src/main/java/com/azure/autorest/template/ReadmeTemplate.java
  javagen/src/main/java/com/azure/autorest/util/TemplateUtil.java
  javagen/src/main/resources/Readme_protocol.txt
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

dedup code
  fluentgen/src/main/java/com/azure/autorest/fluent/template/ReadmeTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ReadmeTemplate.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

client, default namespace as com.mycompany.app
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
Owners: @weidongxu-microsoft, @srnagar

client, readme.md include impression pixel (#2223)
  fluentgen/src/main/java/com/azure/autorest/fluent/template/ReadmeTemplate.java
  fluentgen/src/main/resources/Readme.txt
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  javagen/src/main/java/com/azure/autorest/template/ReadmeTemplate.java
  javagen/src/main/java/com/azure/autorest/util/TemplateUtil.java
  javagen/src/main/resources/Readme_protocol.txt
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

client, default namespace as com.mycompany.app (#2224)
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
Owners: @weidongxu-microsoft, @srnagar

eng, update js dependencies
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

revert prettier to 2+
  typespec-tests/package.json
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update generated code
  typespec-tests/src/main/java/com/cadl/naming/NamingClient.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

upgrade m4 to 4.26.2
  fluentnamer/readme.md
  preprocessor/readme.md
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

typespec-java version bump and changelog
  package.json
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-extension/readme.md
  typespec-tests/package.json
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

changelog
  typespec-extension/changelog.md
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

upgrade autorest.core
  Generate.ps1
  fluent-tests/gen_all.py
  fluent-tests/prepare-tests.bat
  protocol-sdk-integration-tests/test.py
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

eng, typespec-java version bump after customization support (#2225)
  Generate.ps1
  fluent-tests/gen_all.py
  fluent-tests/prepare-tests.bat
  fluentnamer/readme.md
  package.json
  preprocessor/readme.md
  protocol-sdk-integration-tests/test.py
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-extension/readme.md
  typespec-tests/package.json
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

remomve npm package of jdt
  package.json
Owners: @weidongxu-microsoft, @srnagar

add customize for encode/bytes
  typespec-tests/Generate.ps1
  typespec-tests/customization/src/main/java/CustomizationEncodeBytes.java
  typespec-tests/src/test/java/com/encode/bytes/EncodeBytesTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

add openapi spec for emitter options
  typespec-extension/src/emitter.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

doc on script
  Generate-TypeSpec.ps1
  Generate.ps1
  typespec-tests/Generate.ps1
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

avoid copy the folder
  typespec-tests/Generate.ps1
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix code
  typespec-tests/customization/src/main/java/CustomizationEncodeBytes.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

regen
  typespec-tests/src/main/java/com/encode/bytes/models/Base64UrlArrayBytesProperty.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao
