Repository Azure/autorest.java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @weidongxu-microsoft, @srnagar, @jsquire, @ronniegeraghty, @haolingdong-msft, @XiaofeiCao, @JianpingChen, @anuchandy

add MULTIPART_FORM_DATA to usage
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/SchemaContext.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ImplementationDetails.java
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/common/schemas/usage.ts
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

add JsonMergePatchHelperTemplate
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaPackage.java
  javagen/src/main/java/com/azure/autorest/template/DefaultTemplateFactory.java
  javagen/src/main/java/com/azure/autorest/template/JsonMergePatchHelperTemplate.java
  javagen/src/main/java/com/azure/autorest/template/TemplateFactory.java
  javagen/src/main/java/com/azure/autorest/template/Templates.java
Owners: @weidongxu-microsoft, @srnagar

enable adding JsonMergePatchHelper only when has json merge patch model to generate
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

re-generate test code
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/implementation/JsonMergePatchHelper.java
  typespec-tests/src/main/java/com/cadl/specialheaders/implementation/JsonMergePatchHelper.java
  typespec-tests/src/main/java/com/type/property/nullable/implementation/JsonMergePatchHelper.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

add JsonMergePatchHelper class's name to JavaSettings
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaPackage.java
  javagen/src/main/java/com/azure/autorest/template/JsonMergePatchHelperTemplate.java
Owners: @weidongxu-microsoft, @srnagar

use createSourceFile to include Microsoft Header and package
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaPackage.java
Owners: @weidongxu-microsoft, @srnagar

format
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
Owners: @weidongxu-microsoft, @srnagar

re-generate test code
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/implementation/JsonMergePatchHelper.java
  typespec-tests/src/main/java/com/cadl/specialheaders/implementation/JsonMergePatchHelper.java
  typespec-tests/src/main/java/com/type/property/nullable/implementation/JsonMergePatchHelper.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update according to comments
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaPackage.java
  javagen/src/main/java/com/azure/autorest/template/JsonMergePatchHelperTemplate.java
  javagen/src/main/java/com/azure/autorest/util/TemplateUtil.java
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

re-generate test code
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/implementation/JsonMergePatchHelper.java
  typespec-tests/src/main/java/com/cadl/specialheaders/implementation/JsonMergePatchHelper.java
  typespec-tests/src/main/java/com/type/property/nullable/implementation/JsonMergePatchHelper.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Update JavaSettings.java
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
Owners: @weidongxu-microsoft, @srnagar

add MultipartFormDataHelper.java
  javagen/src/main/resources/MultipartFormDataHelper.java
Owners: @weidongxu-microsoft, @srnagar

add toNewBuilder
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientModelProperty.java
Owners: @weidongxu-microsoft, @srnagar

processMultipartFormDataProperties, convert byte[] to BinaryData, add filename property
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
Owners: @weidongxu-microsoft, @srnagar

update MultipartFormDataHelper
  javagen/src/main/resources/MultipartFormDataHelper.java
Owners: @weidongxu-microsoft, @srnagar

convertion from model to BinaryData for multipart
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
Owners: @weidongxu-microsoft, @srnagar

address review comments
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaPackage.java
  javagen/src/main/java/com/azure/autorest/template/JsonMergePatchHelperTemplate.java
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
  javagen/src/main/java/com/azure/autorest/util/TemplateUtil.java
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

checkstyle
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaPackage.java
Owners: @weidongxu-microsoft, @srnagar

generate MultipartFormDataHelper.java
  javagen/src/main/java/com/azure/autorest/Javagen.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaPackage.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
  typespec-tests/Generate.ps1
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

regen the test
  typespec-tests/src/main/java/com/cadl/multipart/MultipartAsyncClient.java
  typespec-tests/src/main/java/com/cadl/multipart/MultipartClient.java
  typespec-tests/src/main/java/com/cadl/multipart/implementation/MultipartClientImpl.java
  typespec-tests/src/main/java/com/cadl/multipart/implementation/MultipartFormDataHelper.java
  typespec-tests/src/main/java/com/cadl/multipart/models/FormData.java
  typespec-tests/src/main/java/com/cadl/multipart/models/package-info.java
  typespec-tests/tsp/multipart.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

clean
  javagen/src/main/resources/MultipartFormDataHelper.java
  typespec-tests/src/main/java/com/cadl/multipart/implementation/MultipartFormDataHelper.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

comment
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
Owners: @weidongxu-microsoft, @srnagar

handle non-String field value
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/resources/MultipartFormDataHelper.java
  typespec-tests/src/main/java/com/cadl/multipart/MultipartAsyncClient.java
  typespec-tests/src/main/java/com/cadl/multipart/MultipartClient.java
  typespec-tests/src/main/java/com/cadl/multipart/implementation/MultipartClientImpl.java
  typespec-tests/src/main/java/com/cadl/multipart/implementation/MultipartFormDataHelper.java
  typespec-tests/src/main/java/com/cadl/multipart/models/FormData.java
  typespec-tests/src/main/java/com/cadl/multipart/models/ImageType.java
  typespec-tests/tsp/multipart.tsp
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

fix NPE
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
Owners: @weidongxu-microsoft, @srnagar

clean up
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

regen
  typespec-tests/src/main/java/com/cadl/multipart/implementation/models/FormData.java
  typespec-tests/src/main/java/com/cadl/multipart/implementation/models/package-info.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

remove toReplayableBinaryData(), it seems involve IO
  javagen/src/main/resources/MultipartFormDataHelper.java
  typespec-tests/src/main/java/com/cadl/multipart/implementation/MultipartFormDataHelper.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Update javagen/src/main/java/com/azure/autorest/model/javamodel/JavaPackage.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaPackage.java
Owners: @weidongxu-microsoft, @srnagar

tsp, json-merge-patch, add `JsonMergePatchHelper` (#2419)
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaPackage.java
  javagen/src/main/java/com/azure/autorest/template/DefaultTemplateFactory.java
  javagen/src/main/java/com/azure/autorest/template/JsonMergePatchHelperTemplate.java
  javagen/src/main/java/com/azure/autorest/template/TemplateFactory.java
  javagen/src/main/java/com/azure/autorest/template/Templates.java
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

tsp, bump npm
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

bump prettier to ~3
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/prenamer/formatter.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, bump npm dependencies (#2423)
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/prenamer/formatter.ts
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

model related code change
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaClass.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
  typespec-tests/Generate.ps1
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

re-generate test code
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/implementation/JsonMergePatchHelper.java
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/models/User.java
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/models/UserOrder.java
  typespec-tests/src/main/java/com/cadl/specialheaders/implementation/JsonMergePatchHelper.java
  typespec-tests/src/main/java/com/cadl/specialheaders/models/Resource.java
  typespec-tests/src/main/java/com/encode/bytes/models/Base64UrlArrayBytesProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/implementation/JsonMergePatchHelper.java
  typespec-tests/src/main/java/com/type/property/nullable/models/BytesProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/CollectionsByteProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/CollectionsModelProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/DatetimeProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/DurationProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/InnerModel.java
  typespec-tests/src/main/java/com/type/property/nullable/models/StringProperty.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
Owners: @weidongxu-microsoft, @srnagar

Add preview pipeline
  eng/pipelines/preview.yml
  eng/scripts/Build-Packages.ps1
  eng/scripts/Command-InvocationHelpers.ps1
  eng/scripts/Initialize-Repository.ps1
Owners: @weidongxu-microsoft, @srnagar

Don't change expression converter
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  protocol-tests/src/main/java/fixtures/url/implementation/PathsImpl.java
  protocol-tests/src/main/java/fixtures/url/implementation/QueriesImpl.java
  protocol-tests/src/samples/java/fixtures/requiredheaderquery/generated/HeaderParamters.java
  protocol-tests/src/samples/java/fixtures/requiredheaderquery/generated/QueryParamters.java
  typespec-tests/src/main/java/com/cadl/wiretype/models/SubClassBothMismatch.java
  typespec-tests/src/main/java/com/cadl/wiretype/models/SuperClassMismatch.java
  typespec-tests/src/main/java/com/encode/datetime/models/Rfc7231DatetimeProperty.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Datetimerfc1123Wrapper.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Datetimerfc1123Wrapper.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/BlobProperties.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/ContainerProperties.java
  vanilla-tests/src/main/java/fixtures/url/Paths.java
  vanilla-tests/src/main/java/fixtures/url/Queries.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/CookiecuttersharkTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/DatetimeWrapperTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/Datetimerfc1123WrapperTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/GoblinsharkTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/SawsharkTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/SharkTests.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Add package locks to repo
  .gitignore
  eng/scripts/Build-Packages.ps1
  eng/scripts/Initialize-Repository.ps1
  package-lock.json
  typespec-extension/package-lock.json
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Remove generator from list of preview packages
  eng/pipelines/preview.yml
Owners: @weidongxu-microsoft, @srnagar

Pin ranged peer deps
  typespec-extension/package-lock.json
  typespec-extension/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

.github/CODEOWNERS:

# default
*                           @weidongxu-microsoft @srnagar

# Git Hub bot rules
/.github/fabricbot.json     @jsquire @ronniegeraghty

# fluentgen
/fluent*                    @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/azure-tests                @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

# androidgen
/androidgen                 @JianpingChen @anuchandy

# protocol
/protocol*                  @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update-tests       @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar

# typespec
/typespec-extension         @srnagar @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/typespec-tests             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
