Repository Azure/autorest.java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @weidongxu-microsoft, @srnagar, @jsquire, @ronniegeraghty, @haolingdong-msft, @XiaofeiCao, @JianpingChen, @anuchandy

.github/CODEOWNERS:

# default
*                           @weidongxu-microsoft @srnagar

# Git Hub bot rules
/.github/fabricbot.json     @jsquire @ronniegeraghty

# fluentgen
/fluent*                    @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/azure-tests                @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

# androidgen
/androidgen                 @JianpingChen @anuchandy

# protocol
/protocol*                  @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update-tests       @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar

# typespec
/typespec-extension         @srnagar @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/typespec-tests             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

update customize code
  typespec-tests/customization/src/main/java/CustomizationEncodeBytes.java
  typespec-tests/src/main/java/com/encode/bytes/models/Base64UrlArrayBytesProperty.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

regen
  typespec-tests/src/main/java/com/encode/bytes/models/Base64UrlArrayBytesProperty.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

move client-request-id to default skip list
  typespec-extension/src/operation-utils.ts
  typespec-tests/tspconfig.yaml
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

support PipelinePolicyDetails
  androidgen/src/main/java/com/azure/autorest/android/model/clientmodel/AndroidServiceClient.java
  androidgen/src/main/java/com/azure/autorest/android/template/AndroidServiceClientBuilderTemplate.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/PipelinePolicyDetails.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ServiceClient.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientBuilderTemplate.java
  typespec-extension/src/main/java/com/azure/typespec/mapper/TypeSpecServiceClientMapper.java
  typespec-tests/src/main/java/com/cadl/specialheaders/SpecialHeadersClientBuilder.java
Owners: @JianpingChen, @anuchandy, @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

null protection
  typespec-extension/src/main/java/com/azure/typespec/mapper/TypeSpecServiceClientMapper.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

bug fix
  javagen/src/main/java/com/azure/autorest/template/ServiceClientBuilderTemplate.java
Owners: @weidongxu-microsoft, @srnagar

tsp, customize Base64UrlArrayBytesProperty.java to pass encode/bytes test (#2228)
  Generate-TypeSpec.ps1
  Generate.ps1
  package.json
  typespec-extension/src/emitter.ts
  typespec-tests/Generate.ps1
  typespec-tests/customization/src/main/java/CustomizationEncodeBytes.java
  typespec-tests/src/main/java/com/encode/bytes/models/Base64UrlArrayBytesProperty.java
  typespec-tests/src/test/java/com/encode/bytes/EncodeBytesTests.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

minor update to design.md
  docs/developer/design.md
Owners: @weidongxu-microsoft, @srnagar

use same remote-debugger-config.png
  docs/images/img.png
  docs/images/remote-debugger-config.png
  typespec-extension/readme.md
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

parameter-transformation.md
  docs/developer/parameter-transformation.md
Owners: @weidongxu-microsoft, @srnagar

update for grouping
  docs/developer/parameter-transformation.md
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
Owners: @weidongxu-microsoft, @srnagar

add example
  docs/developer/parameter-transformation.md
Owners: @weidongxu-microsoft, @srnagar

use proper list
  docs/developer/parameter-transformation.md
Owners: @weidongxu-microsoft, @srnagar

fix
  docs/developer/parameter-transformation.md
Owners: @weidongxu-microsoft, @srnagar

tsp, corner case of "client-request-id" header for RequestIdPolicy (#2229)
  androidgen/src/main/java/com/azure/autorest/android/model/clientmodel/AndroidServiceClient.java
  androidgen/src/main/java/com/azure/autorest/android/template/AndroidServiceClientBuilderTemplate.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/PipelinePolicyDetails.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ServiceClient.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientBuilderTemplate.java
  typespec-extension/src/main/java/com/azure/typespec/mapper/TypeSpecServiceClientMapper.java
  typespec-extension/src/operation-utils.ts
  typespec-tests/src/main/java/com/cadl/specialheaders/SpecialHeadersClientBuilder.java
  typespec-tests/tspconfig.yaml
Owners: @JianpingChen, @anuchandy, @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

doc, on flattening and grouping (#2230)
  docs/developer/design.md
  docs/developer/parameter-transformation.md
  docs/images/img.png
  docs/images/remote-debugger-config.png
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  typespec-extension/readme.md
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

eng, bump azure-core version
  androidgen/pom.xml
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  fluent-tests/pom.xml
  fluentgen/pom.xml
  fluentnamer/pom.xml
  javagen/pom.xml
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  partial-update-tests/pom.xml
  partial-update/pom.xml
  pom.xml
  protocol-resilience-test/pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  protocol-tests/pom.xml
  typespec-extension/pom.xml
  typespec-tests/pom.xml
  vanilla-tests/pom.xml
Owners: @JianpingChen, @anuchandy, @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

pageable in sync now works
  typespec-tests/src/test/java/com/_specs_/azure/core/basic/CoreTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

do a release today
  typespec-extension/changelog.md
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, avoid sync func in async func
  typespec-extension/src/emitter.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

eng, bump azure-core version (#2231)
  androidgen/pom.xml
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  fluent-tests/pom.xml
  fluentgen/pom.xml
  fluentnamer/pom.xml
  javagen/pom.xml
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  partial-update-tests/pom.xml
  partial-update/pom.xml
  pom.xml
  protocol-resilience-test/pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  protocol-tests/pom.xml
  typespec-extension/changelog.md
  typespec-extension/pom.xml
  typespec-tests/pom.xml
  typespec-tests/src/test/java/com/_specs_/azure/core/basic/CoreTests.java
  vanilla-tests/pom.xml
Owners: @JianpingChen, @anuchandy, @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

handwrite promisify
  typespec-extension/src/emitter.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

doc
  typespec-extension/src/emitter.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

nit, rename type
  typespec-extension/src/emitter.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

dpg, comment in TestBase as guide
  javagen/src/main/java/com/azure/autorest/template/ProtocolTestBaseTemplate.java
Owners: @weidongxu-microsoft, @srnagar

minor change on wording
  javagen/src/main/java/com/azure/autorest/template/ProtocolTestBaseTemplate.java
Owners: @weidongxu-microsoft, @srnagar

tsp, avoid calling sync func in async onEmit func (#2232)
  typespec-extension/src/emitter.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

dpg, comment in TestBase as guide (#2233)
  javagen/src/main/java/com/azure/autorest/template/ProtocolTestBaseTemplate.java
Owners: @weidongxu-microsoft, @srnagar

prettier for tsp seems changed
  typespec-tests/tsp/builtin.tsp
  typespec-tests/tsp/enum.tsp
  typespec-tests/tsp/multiple-apiversion.tsp
  typespec-tests/tsp/multiple-content-types.tsp
  typespec-tests/tsp/optional.tsp
  typespec-tests/tsp/patch.tsp
  typespec-tests/tsp/protocol-api-convenient-api.tsp
  typespec-tests/tsp/response.tsp
  typespec-tests/tsp/special-headers.tsp
  typespec-tests/tsp/versioning.tsp
  typespec-tests/tsp/visibility.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

temporary disable include
  typespec-extension/changelog.md
  typespec-extension/src/code-model-builder.ts
  typespec-tests/src/main/java/com/cadl/internal/models/Request.java
  typespec-tests/src/main/java/com/cadl/internal/models/RequestInner.java
  typespec-tests/src/main/java/com/cadl/internal/models/Response.java
  typespec-tests/src/main/java/com/cadl/internal/models/StandAloneData.java
  typespec-tests/src/main/java/com/cadl/internal/models/StandAloneDataInner.java
  typespec-tests/src/main/java/com/cadl/internal/models/package-info.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

regen for doc
  typespec-tests/src/main/java/com/cadl/multipleapiversion/FirstAsyncClient.java
  typespec-tests/src/main/java/com/cadl/multipleapiversion/FirstClient.java
  typespec-tests/src/main/java/com/cadl/multipleapiversion/SecondAsyncClient.java
  typespec-tests/src/main/java/com/cadl/multipleapiversion/SecondClient.java
  typespec-tests/src/main/java/com/cadl/multipleapiversion/implementation/FirstClientImpl.java
  typespec-tests/src/main/java/com/cadl/multipleapiversion/implementation/SecondClientImpl.java
  typespec-tests/src/main/java/com/cadl/specialheaders/SpecialHeadersAsyncClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/SpecialHeadersClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/implementation/SpecialHeadersClientImpl.java
  typespec-tests/src/main/java/com/cadl/versioning/VersioningAsyncClient.java
  typespec-tests/src/main/java/com/cadl/versioning/VersioningClient.java
  typespec-tests/src/main/java/com/cadl/versioning/implementation/VersioningClientImpl.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update readme
  typespec-extension/readme.md
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

support grouping examples
  javagen/src/main/java/com/azure/autorest/template/example/ClientMethodExampleWriter.java
  javagen/src/main/java/com/azure/autorest/template/example/ModelExampleWriter.java
  javagen/src/main/java/com/azure/autorest/util/ModelExampleUtil.java
  typespec-tests/Setup.ps1
  typespec-tests/src/samples/java/com/cadl/specialheaders/generated/EtagHeadersPutWithRequestHeaders.java
  typespec-tests/tsp/examples/EtagHeaders_PutWithRequestHeaders.json
  typespec-tests/tspconfig.yaml
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

groupingExample
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
  javagen/src/main/java/com/azure/autorest/template/example/ClientMethodExampleWriter.java
  javagen/src/main/java/com/azure/autorest/util/MethodUtil.java
  javagen/src/main/java/com/azure/autorest/util/ModelExampleUtil.java
  typespec-tests/tsp/examples/EtagHeaders_PutWithRequestHeaders.json
  typespec-tests/tspconfig.yaml
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

tsp, upgrade compiler (#2234)
  typespec-extension/changelog.md
  typespec-extension/readme.md
  typespec-extension/src/code-model-builder.ts
  typespec-tests/src/main/java/com/cadl/internal/models/Request.java
  typespec-tests/src/main/java/com/cadl/internal/models/RequestInner.java
  typespec-tests/src/main/java/com/cadl/internal/models/Response.java
  typespec-tests/src/main/java/com/cadl/internal/models/StandAloneData.java
  typespec-tests/src/main/java/com/cadl/internal/models/StandAloneDataInner.java
  typespec-tests/src/main/java/com/cadl/internal/models/package-info.java
  typespec-tests/src/main/java/com/cadl/multipleapiversion/FirstAsyncClient.java
  typespec-tests/src/main/java/com/cadl/multipleapiversion/FirstClient.java
  typespec-tests/src/main/java/com/cadl/multipleapiversion/SecondAsyncClient.java
  typespec-tests/src/main/java/com/cadl/multipleapiversion/SecondClient.java
  typespec-tests/src/main/java/com/cadl/multipleapiversion/implementation/FirstClientImpl.java
  typespec-tests/src/main/java/com/cadl/multipleapiversion/implementation/SecondClientImpl.java
  typespec-tests/src/main/java/com/cadl/specialheaders/SpecialHeadersAsyncClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/SpecialHeadersClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/implementation/SpecialHeadersClientImpl.java
  typespec-tests/src/main/java/com/cadl/versioning/VersioningAsyncClient.java
  typespec-tests/src/main/java/com/cadl/versioning/VersioningClient.java
  typespec-tests/src/main/java/com/cadl/versioning/implementation/VersioningClientImpl.java
  typespec-tests/tsp/builtin.tsp
  typespec-tests/tsp/enum.tsp
  typespec-tests/tsp/multiple-apiversion.tsp
  typespec-tests/tsp/multiple-content-types.tsp
  typespec-tests/tsp/optional.tsp
  typespec-tests/tsp/patch.tsp
  typespec-tests/tsp/protocol-api-convenient-api.tsp
  typespec-tests/tsp/response.tsp
  typespec-tests/tsp/special-headers.tsp
  typespec-tests/tsp/versioning.tsp
  typespec-tests/tsp/visibility.tsp
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

mgmt, check model inherit error, whether it is used in Exception
  fluentgen/src/main/java/com/azure/autorest/fluent/template/FluentModelTemplate.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix
  fluentgen/src/main/java/com/azure/autorest/fluent/template/FluentModelTemplate.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

support flatten then group
  javagen/src/main/java/com/azure/autorest/template/example/ClientMethodExampleWriter.java
  typespec-tests/Setup.ps1
  typespec-tests/src/samples/java/com/cadl/flatten/generated/FlattenOpSendLong.java
  typespec-tests/tsp/examples/2022-06-01-preview/FlattenOp_Send.json
  typespec-tests/tsp/examples/2022-06-01-preview/FlattenOp_SendLong.json
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

fix, mgmt should use Flux
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
Owners: @weidongxu-microsoft, @srnagar

generated code
  typespec-tests/src/samples/java/com/cadl/flatten/generated/FlattenOpSend.java
  typespec-tests/src/samples/java/com/cadl/union/generated/FlattenOpSend.java
  typespec-tests/src/samples/java/com/cadl/union/generated/FlattenOpSendLong.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao
