Repository Azure/autorest.java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @weidongxu-microsoft, @srnagar, @jsquire, @ronniegeraghty, @haolingdong-msft, @XiaofeiCao, @JianpingChen, @anuchandy

refactor, add comments
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
Owners: @weidongxu-microsoft, @srnagar

nit
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
Owners: @weidongxu-microsoft, @srnagar

add sync-strategy to readme
  readme.md
Owners: @weidongxu-microsoft, @srnagar

update typespec-java readme
  typespec-extension/readme.md
  typespec-extension/src/main/java/com/azure/typespec/model/EmitterOptions.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update readme
  readme.md
Owners: @weidongxu-microsoft, @srnagar

eng, ignore generated folder in sdk sync, if that folder not in sdk repo
  eng/sdk/sync_sdk.py
Owners: @weidongxu-microsoft, @srnagar

tsp, bug fix, not using projectedName on request body param (#2409)
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-tests/package.json
  typespec-tests/src/main/java/com/cadl/naming/NamingAsyncClient.java
  typespec-tests/src/main/java/com/cadl/naming/NamingClient.java
  typespec-tests/src/main/java/com/cadl/naming/implementation/NamingClientImpl.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, minor refactor on merge of LongRunningMetadata and PollingDetails (#2412)
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
  readme.md
  typespec-extension/readme.md
  typespec-extension/src/main/java/com/azure/typespec/model/EmitterOptions.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

eng, ignore generated folder in sdk sync, if that folder not in sdk repo (#2413)
  eng/sdk/sync_sdk.py
Owners: @weidongxu-microsoft, @srnagar

fix script
  eng/sdk/sync_sdk.py
Owners: @weidongxu-microsoft, @srnagar

Fix XML deserialization of enum types
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ArrayType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/EnumType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/GenericType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/IType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/PrimitiveType.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/models/ErrorResponse.java
  typespec-tests/src/main/java/com/cadl/errormodel/models/Diagnostic.java
  typespec-tests/src/main/java/com/cadl/response/models/OperationDetails1.java
  typespec-tests/src/main/java/com/cadl/response/models/OperationDetails2.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/BlobProperties.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/ContainerProperties.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Fix duplicate class issue
  typespec-tests/src/main/java/com/cadl/partialupdate/partialupdate/PartialUpdateAsyncClient.java
  typespec-tests/src/main/java/com/cadl/partialupdate/partialupdate/PartialUpdateClient.java
  typespec-tests/src/main/java/com/cadl/partialupdate/partialupdate/PartialUpdateClientBuilder.java
  typespec-tests/src/main/java/com/cadl/partialupdate/partialupdate/PartialUpdateServiceVersion.java
  typespec-tests/src/main/java/com/cadl/partialupdate/partialupdate/implementation/PartialUpdateClientImpl.java
  typespec-tests/src/main/java/com/cadl/partialupdate/partialupdate/implementation/package-info.java
  typespec-tests/src/main/java/com/cadl/partialupdate/partialupdate/models/PartialUpdateModel.java
  typespec-tests/src/main/java/com/cadl/partialupdate/partialupdate/models/package-info.java
  typespec-tests/src/main/java/com/cadl/partialupdate/partialupdate/package-info.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Don't revalidate discriminator
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumdiscriminator/models/Snake.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Parallelize Generate scripts
  Generate.ps1
  typespec-tests/Generate.ps1
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Finish TypeSpec generation
  typespec-tests/Generate.ps1
  typespec-tests/src/main/java/com/cadl/PartialUpdateAsyncClient.java
  typespec-tests/src/main/java/com/cadl/PartialUpdateClient.java
  typespec-tests/src/main/java/com/cadl/PartialUpdateClientBuilder.java
  typespec-tests/src/main/java/com/cadl/implementation/PartialUpdateClientImpl.java
  typespec-tests/src/main/java/com/cadl/implementation/package-info.java
  typespec-tests/src/main/java/com/cadl/models/PartialUpdateModel.java
  typespec-tests/src/main/java/com/cadl/models/package-info.java
  typespec-tests/src/main/java/com/cadl/package-info.java
  typespec-tests/src/main/java/com/cadl/partialupdate/PartialUpdateServiceVersion.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Parallelize Generate scripts
  Generate.ps1
  typespec-tests/Generate.ps1
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Fix TypeSpec generation
  typespec-tests/Generate.ps1
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Remove random 12
  Generate.ps1
  typespec-tests/Generate.ps1
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Parallelize Generate scripts (#2415)
  Generate.ps1
  typespec-tests/Generate.ps1
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Add version tooling from azure-sdk-for-java
  androidgen/pom.xml
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  eng/versioning/external_dependencies.txt
  eng/versioning/pom_file_version_scanner.ps1
  eng/versioning/scan_for_unreleased_dependencies.ps1
  eng/versioning/set_versions.py
  eng/versioning/update_versions.py
  eng/versioning/utils.py
  eng/versioning/version_client.txt
  extension-base/pom.xml
  fluent-tests/pom.xml
  fluentgen/pom.xml
  fluentgen/src/main/resources/eclipse-format-azure-sdk-for-java.xml
  fluentgen/src/main/resources/spotless-pom.xml
  fluentnamer/pom.xml
  javagen/pom.xml
  partial-update-tests/pom.xml
  partial-update/pom.xml
  pom.xml
  postprocessor/pom.xml
  preprocessor/pom.xml
  protocol-resilience-test/pom.xml
  protocol-tests/pom.xml
  typespec-extension/pom.xml
  typespec-extension/src/main/resources/eclipse-format-azure-sdk-for-java.xml
  typespec-extension/src/main/resources/spotless-pom.xml
  typespec-tests/pom.xml
  vanilla-tests/pom.xml
Owners: @JianpingChen, @anuchandy, @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Align versions
  eng/versioning/__pycache__/utils.cpython-311.pyc
  eng/versioning/external_dependencies.txt
  fluent-tests/pom.xml
  protocol-tests/pom.xml
  vanilla-tests/pom.xml
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Add gitignore
  eng/versioning/.gitignore
Owners: @weidongxu-microsoft, @srnagar

Add CI caching
  eng/pipelines/ci-typespec-java-dev-nightly.yaml
  eng/pipelines/ci-typespec-java.yaml
  eng/pipelines/ci.yaml
  eng/pipelines/fluent_integration.yaml
  eng/pipelines/post-publish-sdk.yaml
  eng/pipelines/publish-autorest-java.yaml
  eng/pipelines/publish-typespec-java.yaml
  eng/pipelines/steps/cache-maven-repository.yml
  eng/pipelines/steps/cleanup-maven-local-cache.yml
  eng/scripts/Remove-Azure-Artifacts-From-Cache.ps1
Owners: @weidongxu-microsoft, @srnagar

Fix issue
  eng/pipelines/steps/cleanup-maven-local-cache.yml
Owners: @weidongxu-microsoft, @srnagar

Update versions and add globals
  androidgen/pom.xml
  azure-tests/pom.xml
  customization-base/src/main/resources/pom.xml
  eng/pipelines/ci-typespec-java-dev-nightly.yaml
  eng/pipelines/ci-typespec-java.yaml
  eng/pipelines/ci.yaml
  eng/pipelines/fluent_integration.yaml
  eng/pipelines/post-publish-sdk.yaml
  eng/pipelines/publish-autorest-java.yaml
  eng/pipelines/publish-typespec-java.yaml
  eng/pipelines/variables/globals.yml
  eng/versioning/external_dependencies.txt
  eng/versioning/version_client.txt
  fluent-tests/pom.xml
  fluentgen/pom.xml
  javagen/pom.xml
  pom.xml
  postprocessor/src/main/resources/readme/pom.xml
  protocol-sdk-integration-tests/eng/code-quality-reports/pom.xml
  protocol-sdk-integration-tests/sdk/parents/azure-client-sdk-parent/pom.xml
  protocol-tests/pom.xml
  typespec-extension/pom.xml
  vanilla-tests/pom.xml
Owners: @JianpingChen, @anuchandy, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

Fix global template path
  eng/pipelines/ci-typespec-java-dev-nightly.yaml
  eng/pipelines/ci-typespec-java.yaml
  eng/pipelines/ci.yaml
  eng/pipelines/fluent_integration.yaml
  eng/pipelines/publish-autorest-java.yaml
  eng/pipelines/publish-typespec-java.yaml
Owners: @weidongxu-microsoft, @srnagar

Fix template plus additional variables
  eng/pipelines/ci-typespec-java.yaml
Owners: @weidongxu-microsoft, @srnagar

Roll back logback version, add Spotless to parent
  eng/versioning/__pycache__/utils.cpython-311.pyc
  eng/versioning/external_dependencies.txt
  pom.xml
  typespec-extension/pom.xml
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

add maven-resources-plugin
  javagen/pom.xml
  javagen/src/main/java/com/azure/autorest/template/SwaggerReadmeTemplate.java
Owners: @weidongxu-microsoft, @srnagar

eng, bug fix on sync script (#2417)
  eng/sdk/sync_sdk.py
  javagen/pom.xml
  javagen/src/main/java/com/azure/autorest/template/SwaggerReadmeTemplate.java
Owners: @weidongxu-microsoft, @srnagar

fix partial-update test, add customized code and regen
  typespec-tests/src/main/java/com/cadl/partialupdate/PartialUpdateClient.java
  typespec-tests/src/main/java/com/cadl/partialupdate/PartialUpdateServiceVersion.java
  typespec-tests/src/main/java/com/cadl/partialupdate/implementation/package-info.java
  typespec-tests/src/main/java/com/cadl/partialupdate/models/PartialUpdateModel.java
  typespec-tests/src/main/java/com/cadl/partialupdate/models/package-info.java
  typespec-tests/src/main/java/com/cadl/partialupdate/package-info.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Remove file
  eng/versioning/__pycache__/utils.cpython-311.pyc
Owners: @weidongxu-microsoft, @srnagar

Fix collection with format handling
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  typespec-tests/src/main/java/com/cadl/enumservice/EnumServiceAsyncClient.java
  typespec-tests/src/main/java/com/cadl/enumservice/EnumServiceClient.java
  typespec-tests/src/test/java/com/cadl/enumservice/EnumTests.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

add flag
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/common/client.ts
  typespec-extension/src/common/operation.ts
  typespec-extension/src/common/schemas/choice.ts
  typespec-extension/src/main/java/com/azure/typespec/Main.java
  typespec-extension/src/main/java/com/azure/typespec/model/EmitterOptions.java
  typespec-tests/main.tsp
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix formatting
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/common/client.ts
  typespec-extension/src/common/operation.ts
  typespec-extension/src/common/schemas/choice.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Add Duration with days support
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaPackage.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
  javagen/src/main/resources/CoreToCodegenBridgeUtils.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/implementation/CoreToCodegenBridgeUtils.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/models/ErrorResponse.java
  typespec-tests/src/main/java/com/cadl/builtin/implementation/CoreToCodegenBridgeUtils.java
  typespec-tests/src/main/java/com/cadl/builtin/models/Builtin.java
  typespec-tests/src/main/java/com/cadl/errormodel/implementation/CoreToCodegenBridgeUtils.java
  typespec-tests/src/main/java/com/cadl/errormodel/models/Diagnostic.java
  typespec-tests/src/main/java/com/cadl/optional/implementation/CoreToCodegenBridgeUtils.java
  typespec-tests/src/main/java/com/cadl/optional/models/AllPropertiesOptional.java
  typespec-tests/src/main/java/com/cadl/optional/models/Optional.java
  typespec-tests/src/main/java/com/cadl/response/implementation/CoreToCodegenBridgeUtils.java
  typespec-tests/src/main/java/com/cadl/response/models/OperationDetails1.java
  typespec-tests/src/main/java/com/cadl/response/models/OperationDetails2.java
  typespec-tests/src/main/java/com/encode/duration/implementation/CoreToCodegenBridgeUtils.java
  typespec-tests/src/main/java/com/encode/duration/models/DefaultDurationProperty.java
  typespec-tests/src/main/java/com/encode/duration/models/Iso8601DurationProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/implementation/CoreToCodegenBridgeUtils.java
  typespec-tests/src/main/java/com/type/property/nullable/models/DurationProperty.java
  typespec-tests/src/main/java/com/type/property/optional/implementation/CoreToCodegenBridgeUtils.java
  typespec-tests/src/main/java/com/type/property/optional/models/DurationProperty.java
  typespec-tests/src/main/java/com/type/property/valuetypes/implementation/CoreToCodegenBridgeUtils.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/DurationProperty.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Limit code generation parallelization to local builds
  Generate.ps1
  typespec-tests/Generate.ps1
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Use DateTimeFormatter for DateTime
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  typespec-tests/Generate.ps1
  typespec-tests/src/main/java/com/cadl/builtin/models/Builtin.java
  typespec-tests/src/main/java/com/cadl/builtin/models/Encoded.java
  typespec-tests/src/main/java/com/cadl/optional/models/AllPropertiesOptional.java
  typespec-tests/src/main/java/com/cadl/optional/models/Optional.java
  typespec-tests/src/main/java/com/cadl/wiretype/models/SubClass.java
  typespec-tests/src/main/java/com/cadl/wiretype/models/SubClassMismatch.java
  typespec-tests/src/main/java/com/cadl/wiretype/models/SuperClass.java
  typespec-tests/src/main/java/com/encode/datetime/models/DefaultDatetimeProperty.java
  typespec-tests/src/main/java/com/encode/datetime/models/Rfc3339DatetimeProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/DatetimeProperty.java
  typespec-tests/src/main/java/com/type/property/optional/models/DatetimeProperty.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/DatetimeProperty.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Allow for parallelization to be passed
  Generate-TypeSpec.ps1
  Generate.ps1
  eng/pipelines/ci-typespec-java-dev-nightly.yaml
  eng/pipelines/ci-typespec-java.yaml
  eng/pipelines/ci.yaml
  typespec-tests/Generate.ps1
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Limit code generation parallelization to local builds (#2418)
  Generate-TypeSpec.ps1
  Generate.ps1
  eng/pipelines/ci-typespec-java-dev-nightly.yaml
  eng/pipelines/ci-typespec-java.yaml
  eng/pipelines/ci.yaml
  typespec-tests/Generate.ps1
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

.github/CODEOWNERS:

# default
*                           @weidongxu-microsoft @srnagar

# Git Hub bot rules
/.github/fabricbot.json     @jsquire @ronniegeraghty

# fluentgen
/fluent*                    @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/azure-tests                @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

# androidgen
/androidgen                 @JianpingChen @anuchandy

# protocol
/protocol*                  @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update-tests       @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar

# typespec
/typespec-extension         @srnagar @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/typespec-tests             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
