Repository Azure/autorest.java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @weidongxu-microsoft, @srnagar, @jsquire, @ronniegeraghty, @haolingdong-msft, @XiaofeiCao, @JianpingChen, @anuchandy

.github/CODEOWNERS:

# default
*                           @weidongxu-microsoft @srnagar

# Git Hub bot rules
/.github/fabricbot.json     @jsquire @ronniegeraghty

# fluentgen
/fluent*                    @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/azure-tests                @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

# androidgen
/androidgen                 @JianpingChen @anuchandy

# protocol
/protocol*                  @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update-tests       @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar

# typespec
/typespec-extension         @srnagar @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/typespec-tests             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

use dev version
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

mgmt, add graalvm-config-suffix option (#2351)
  fluentgen/src/main/java/com/azure/autorest/fluent/FluentGen.java
  fluentnamer/src/main/java/com/azure/autorest/fluent/util/FluentJavaSettings.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix sample generation failure
  javagen/src/main/java/com/azure/autorest/util/ModelExampleUtil.java
Owners: @weidongxu-microsoft, @srnagar

fix
  javagen/src/main/java/com/azure/autorest/util/ModelExampleUtil.java
Owners: @weidongxu-microsoft, @srnagar

add check to only add serviceversion for dpg
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
Owners: @weidongxu-microsoft, @srnagar

add test
  javagen/src/main/java/com/azure/autorest/util/ModelExampleUtil.java
  typespec-tests/tsp/examples/SingleContentType_uploadImageForSingleContentType.json
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

regen
  typespec-tests/src/samples/java/com/cadl/multicontenttypes/generated/SingleContentTypeUploadImageForSingleContentType.java
  typespec-tests/src/test/java/com/cadl/multicontenttypes/generated/SingleContentTypeUploadImageForSingleContentTypeTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Fix dangling comment
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Cookiecuttershark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/DotSalmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Goblinshark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/MyDerivedType.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Salmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Sawshark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Shark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/SmartSalmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Cookiecuttershark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/DotSalmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Goblinshark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/MyDerivedType.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Salmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Sawshark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Shark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/SmartSalmon.java
Owners: @weidongxu-microsoft, @srnagar

Handle String-based Enum discriminators in stream-style serialization (#2346)
  customization-base/src/main/java/com/azure/autorest/customization/implementation/Utils.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/ls/EclipseLanguageClient.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/ls/EclipseLanguageServerFacade.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/ls/models/FileChangeType.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/ls/models/SymbolKind.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Cookiecuttershark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/DotSalmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Goblinshark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/MyDerivedType.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Salmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Sawshark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Shark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/SmartSalmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Cookiecuttershark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/DotSalmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Goblinshark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/MyDerivedType.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Salmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Sawshark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Shark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/SmartSalmon.java
Owners: @weidongxu-microsoft, @srnagar

mgmt, fix empty byte array under flatten properties
  fluentgen/src/main/java/com/azure/autorest/fluent/template/FluentModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

try another storage account
  javagen/pom.xml
Owners: @weidongxu-microsoft, @srnagar

switch for other pom
  androidgen/pom.xml
  customization-base/pom.xml
  postprocessor/pom.xml
  typespec-extension/pom.xml
Owners: @JianpingChen, @anuchandy, @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

clean up
  azure-dataplane-tests/pom.xml
  protocol-tests/pom.xml
  typespec-tests/pom.xml
  vanilla-tests/pom.xml
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

mgmt, fix empty byte array under flatten properties (#2356)
  androidgen/pom.xml
  azure-dataplane-tests/pom.xml
  customization-base/pom.xml
  fluentgen/src/main/java/com/azure/autorest/fluent/template/FluentModelTemplate.java
  javagen/pom.xml
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  postprocessor/pom.xml
  protocol-tests/pom.xml
  typespec-extension/pom.xml
  typespec-tests/pom.xml
  vanilla-tests/pom.xml
Owners: @JianpingChen, @anuchandy, @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

fix sample generation failure (#2355)
  javagen/src/main/java/com/azure/autorest/util/ModelExampleUtil.java
  typespec-tests/src/samples/java/com/cadl/multicontenttypes/generated/SingleContentTypeUploadImageForSingleContentType.java
  typespec-tests/src/test/java/com/cadl/multicontenttypes/generated/SingleContentTypeUploadImageForSingleContentTypeTests.java
  typespec-tests/tsp/examples/SingleContentType_uploadImageForSingleContentType.json
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

version bump
  package.json
Owners: @weidongxu-microsoft, @srnagar

update lro.md
  vanilla-tests/swagger/lro.md
Owners: @weidongxu-microsoft, @srnagar

fix
  fluentgen/src/main/java/com/azure/autorest/fluent/template/FluentModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

prepare 4.1.22 (#2357)
  fluentgen/src/main/java/com/azure/autorest/fluent/template/FluentModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  package.json
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

client, sync pom with sdk repo
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  fluent-tests/pom.xml
  fluentnamer/pom.xml
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  protocol-tests/pom.xml
  typespec-tests/pom.xml
  vanilla-tests/pom.xml
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

client, sync pom with sdk repo (#2359)
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  fluent-tests/pom.xml
  fluentnamer/pom.xml
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  protocol-tests/pom.xml
  typespec-tests/pom.xml
  vanilla-tests/pom.xml
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

sync-only for sync-methods option (#2350)
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ProxyMethodMapper.java
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
Owners: @weidongxu-microsoft, @srnagar

code change to limit the scope to DPG and make sure apiversion exists in query param
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
Owners: @weidongxu-microsoft, @srnagar

regen
  azure-dataplane-tests/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/FormRecognizerClientImpl.java
  protocol-tests/src/main/java/fixtures/dpgcustomization/implementation/DpgClientImpl.java
  protocol-tests/src/main/java/fixtures/endpointlro/implementation/LROsImpl.java
  protocol-tests/src/main/java/fixtures/lro/implementation/LROsImpl.java
  protocol-tests/src/main/java/fixtures/lro/implementation/LroRetrysImpl.java
  protocol-tests/src/main/java/fixtures/lro/implementation/LrosCustomHeadersImpl.java
  protocol-tests/src/main/java/fixtures/lro/implementation/LrosaDsImpl.java
  protocol-tests/src/main/java/fixtures/specialheader/implementation/HeadersImpl.java
  vanilla-tests/src/main/java/fixtures/lro/LRORetrys.java
  vanilla-tests/src/main/java/fixtures/lro/LROs.java
  vanilla-tests/src/main/java/fixtures/lro/LROsCustomHeaders.java
  vanilla-tests/src/main/java/fixtures/lro/LrosaDs.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

config for unbranding
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
  typespec-tests/tsp-checkout.sh
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

consolidate package name to ClassType and Annotation
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/Annotation.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientBuilderTrait.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientMethod.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/GenericType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/Proxy.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ProxyMethod.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ProxyMethodParameter.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ServiceClient.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceAsyncMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceSyncMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/EnumTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceAsyncClientTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientBuilderTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceSyncClientTemplate.java
  javagen/src/main/java/com/azure/autorest/template/example/ProtocolExampleWriter.java
Owners: @weidongxu-microsoft, @srnagar

keep branding
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

extract the getServiceVersionValue logic to function to avoid duplicate code
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
Owners: @weidongxu-microsoft, @srnagar

ClassType for json lib
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/Annotation.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientBuilderTrait.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientMethod.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientModel.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceAsyncMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceSyncMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceSyncClientTemplate.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/example/ProtocolExampleWriter.java
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

update according to comments
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
Owners: @weidongxu-microsoft, @srnagar

client, sync azure-identity
  fluent-tests/pom.xml
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  typespec-tests/pom.xml
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

client, sync azure-identity (#2361)
  fluent-tests/pom.xml
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  typespec-tests/pom.xml
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

fix example value for BinaryData
  javagen/src/main/java/com/azure/autorest/model/clientmodel/examplemodel/BinaryDataNode.java
  javagen/src/main/java/com/azure/autorest/template/example/ModelExampleWriter.java
  javagen/src/main/java/com/azure/autorest/util/ModelExampleUtil.java
Owners: @weidongxu-microsoft, @srnagar

regen
  typespec-tests/src/samples/java/com/cadl/multicontenttypes/generated/SingleContentTypeUploadImageForSingleContentType.java
  typespec-tests/src/test/java/com/cadl/multicontenttypes/generated/SingleContentTypeUploadImageForSingleContentTypeTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

escape string
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/template/example/ModelExampleWriter.java
  javagen/src/main/java/com/azure/autorest/util/TemplateUtil.java
  typespec-tests/tsp/examples/SingleContentType_uploadImageForSingleContentType.json
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

re-generate test code
  typespec-tests/src/samples/java/com/cadl/multicontenttypes/generated/SingleContentTypeUploadImageForSingleContentType.java
  typespec-tests/src/test/java/com/cadl/multicontenttypes/generated/SingleContentTypeUploadImageForSingleContentTypeTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, fix binarydata example (#2362)
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/examplemodel/BinaryDataNode.java
  javagen/src/main/java/com/azure/autorest/template/example/ModelExampleWriter.java
  javagen/src/main/java/com/azure/autorest/util/ModelExampleUtil.java
  javagen/src/main/java/com/azure/autorest/util/TemplateUtil.java
  typespec-tests/src/samples/java/com/cadl/multicontenttypes/generated/SingleContentTypeUploadImageForSingleContentType.java
  typespec-tests/src/test/java/com/cadl/multicontenttypes/generated/SingleContentTypeUploadImageForSingleContentTypeTests.java
  typespec-tests/tsp/examples/SingleContentType_uploadImageForSingleContentType.json
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Client, set/replace api-version in LRO URL (#2349)
  azure-dataplane-tests/src/main/java/com/azure/ai/formrecognizer/documentanalysis/dpg/implementation/FormRecognizerClientImpl.java
  azure-dataplane-tests/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/FormRecognizerClientImpl.java
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
  protocol-tests/src/main/java/fixtures/dpgcustomization/implementation/DpgClientImpl.java
  protocol-tests/src/main/java/fixtures/endpointlro/implementation/LROsImpl.java
  protocol-tests/src/main/java/fixtures/lro/implementation/LROsImpl.java
  protocol-tests/src/main/java/fixtures/lro/implementation/LroRetrysImpl.java
  protocol-tests/src/main/java/fixtures/lro/implementation/LrosCustomHeadersImpl.java
  protocol-tests/src/main/java/fixtures/lro/implementation/LrosaDsImpl.java
  protocol-tests/src/main/java/fixtures/specialheader/implementation/HeadersImpl.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/implementation/RpcClientImpl.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/implementation/LegacyClientImpl.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/standard/implementation/StandardClientImpl.java
  typespec-tests/src/main/java/com/cadl/protocolandconvenient/implementation/ProtocolAndConvenientClientImpl.java
  typespec-tests/src/main/java/com/cadl/specialheaders/implementation/SpecialHeadersClientImpl.java
  typespec-tests/src/main/java/com/cadl/union/implementation/UnionClientImpl.java
  typespec-tests/src/main/java/com/cadl/versioning/implementation/VersioningClientImpl.java
  vanilla-tests/src/main/java/fixtures/lro/LRORetrys.java
  vanilla-tests/src/main/java/fixtures/lro/LROs.java
  vanilla-tests/src/main/java/fixtures/lro/LROsCustomHeaders.java
  vanilla-tests/src/main/java/fixtures/lro/LrosaDs.java
  vanilla-tests/swagger/lro.md
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

use getBytes(StandardCharset.UTF_8)
  javagen/src/main/java/com/azure/autorest/template/example/ModelExampleWriter.java
  typespec-extension/pom.xml
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

re-generate test code
  typespec-tests/src/samples/java/com/cadl/multicontenttypes/generated/SingleContentTypeUploadImageForSingleContentType.java
  typespec-tests/src/test/java/com/cadl/multicontenttypes/generated/SingleContentTypeUploadImageForSingleContentTypeTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao
