Repository Azure/autorest.java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @weidongxu-microsoft, @srnagar, @jsquire, @ronniegeraghty, @haolingdong-msft, @XiaofeiCao, @JianpingChen, @anuchandy

Add peerDep @typespec/http
  typespec-extension/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
Owners: @weidongxu-microsoft, @srnagar

remove the check on generation script
  typespec-tests/Generate.ps1
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

re-generate test code
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/models/User.java
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/models/UserOrder.java
  typespec-tests/src/main/java/com/cadl/specialheaders/models/Resource.java
  typespec-tests/src/main/java/com/encode/bytes/models/Base64UrlArrayBytesProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/BytesProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/CollectionsByteProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/CollectionsModelProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/DatetimeProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/DurationProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/InnerModel.java
  typespec-tests/src/main/java/com/type/property/nullable/models/StringProperty.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

disable helper
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Only use ISO-8601 on serialization
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/implementation/models/ArtifactManifestPropertiesInternal.java
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/implementation/models/ArtifactTagPropertiesInternal.java
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/implementation/models/ManifestAttributesBase.java
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/implementation/models/TagAttributesBase.java
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/models/ContainerRepositoryProperties.java
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/models/OciAnnotations.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  typespec-tests/src/main/java/com/cadl/builtin/models/Builtin.java
  typespec-tests/src/main/java/com/cadl/builtin/models/Encoded.java
  typespec-tests/src/main/java/com/cadl/optional/models/AllPropertiesOptional.java
  typespec-tests/src/main/java/com/cadl/optional/models/Optional.java
  typespec-tests/src/main/java/com/cadl/wiretype/models/SubClass.java
  typespec-tests/src/main/java/com/cadl/wiretype/models/SubClassMismatch.java
  typespec-tests/src/main/java/com/cadl/wiretype/models/SuperClass.java
  typespec-tests/src/main/java/com/encode/datetime/models/DefaultDatetimeProperty.java
  typespec-tests/src/main/java/com/encode/datetime/models/Rfc3339DatetimeProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/DatetimeProperty.java
  typespec-tests/src/main/java/com/type/property/optional/models/DatetimeProperty.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/DatetimeProperty.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Cookiecuttershark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/DatetimeWrapper.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Goblinshark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Sawshark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Shark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Cookiecuttershark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/DatetimeWrapper.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Goblinshark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Sawshark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Shark.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/AccessPolicy.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/Banana.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Use sdk repo's main branch for preview pipeline
  eng/pipelines/preview.yml
Owners: @weidongxu-microsoft, @srnagar

Fix documentation
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/implementation/models/PostContentSchemaGrantType.java
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/implementation/models/TokenGrantType.java
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/models/ArtifactArchitecture.java
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/models/ArtifactManifestOrder.java
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/models/ArtifactOperatingSystem.java
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/models/ArtifactTagOrder.java
  javagen/src/main/java/com/azure/autorest/template/EnumTemplate.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/models/JobStatus.java
  typespec-tests/src/main/java/com/cadl/enumservice/models/Color.java
  typespec-tests/src/main/java/com/cadl/enumservice/models/ColorModel.java
  typespec-tests/src/main/java/com/cadl/enumservice/models/OperationName.java
  typespec-tests/src/main/java/com/cadl/enumservice/models/OperationStateValues.java
  typespec-tests/src/main/java/com/cadl/enumservice/models/Priority.java
  typespec-tests/src/main/java/com/cadl/enumservice/models/Unit.java
  typespec-tests/src/main/java/com/cadl/internal/implementation/models/Color.java
  typespec-tests/src/main/java/com/cadl/internal/implementation/models/ColorModel.java
  typespec-tests/src/main/java/com/cadl/literalservice/models/ModelOptionalLiteral.java
  typespec-tests/src/main/java/com/cadl/literalservice/models/OptionalLiteralParam.java
  typespec-tests/src/main/java/com/cadl/naming/models/DataStatus.java
  typespec-tests/src/main/java/com/cadl/naming/models/RequestType.java
  typespec-tests/src/main/java/com/cadl/naming/models/TypesModel.java
  typespec-tests/src/main/java/com/cadl/response/models/OperationState.java
  typespec-tests/src/main/java/com/type/enums/extensible/models/DaysOfWeekExtensibleEnum.java
  typespec-tests/src/main/java/com/type/enums/fixed/models/DaysOfWeekEnum.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/FixedInnerEnum.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/InnerEnum.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/CMYKColors.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/GoblinSharkColor.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/MyKind.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/CMYKColors.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/GoblinSharkColor.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/MyKind.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/AccessTier.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/ArchiveStatus.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/BlobType.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/CopyStatusType.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/LeaseDurationType.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/LeaseStateType.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/LeaseStatusType.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/PublicAccessType.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Add DevOps caching
  eng/pipelines/ci-typespec-java-dev-nightly.yaml
  eng/pipelines/ci-typespec-java.yaml
  eng/pipelines/ci.yaml
  eng/pipelines/fluent_integration.yaml
  eng/pipelines/publish-autorest-java.yaml
  eng/pipelines/publish-typespec-java.yaml
  eng/pipelines/steps/cache-maven-repository.yml
  eng/pipelines/steps/cleanup-maven-local-cache.yml
  eng/pipelines/variables/globals.yml
  eng/scripts/Remove-AzureArtifactsFromCache.ps1
Owners: @weidongxu-microsoft, @srnagar

Remove folder from key
  eng/pipelines/steps/cache-maven-repository.yml
Owners: @weidongxu-microsoft, @srnagar

Have fluent tests depend on fluent gen
  fluent-tests/pom.xml
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Fix script reference path
  eng/pipelines/steps/cleanup-maven-local-cache.yml
Owners: @weidongxu-microsoft, @srnagar

Pass DefaultOptions
  eng/pipelines/ci-typespec-java-dev-nightly.yaml
  eng/pipelines/ci-typespec-java.yaml
  eng/pipelines/ci.yaml
  eng/pipelines/fluent_integration.yaml
  eng/pipelines/publish-autorest-java.yaml
  eng/pipelines/publish-typespec-java.yaml
Owners: @weidongxu-microsoft, @srnagar

re-generate test code
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/implementation/JsonMergePatchHelper.java
  typespec-tests/src/main/java/com/cadl/specialheaders/implementation/JsonMergePatchHelper.java
  typespec-tests/src/main/java/com/type/property/nullable/implementation/JsonMergePatchHelper.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

revert format change.
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
Owners: @weidongxu-microsoft, @srnagar

revert format change.
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
Owners: @weidongxu-microsoft, @srnagar

Last few changes before merge
  javagen/src/main/java/com/azure/autorest/template/EnumTemplate.java
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
  javagen/src/main/resources/CoreToCodegenBridgeUtils.java
  typespec-extension/src/emitter.ts
  typespec-extension/src/main/java/com/azure/typespec/model/EmitterOptions.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/implementation/CoreToCodegenBridgeUtils.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/models/JobStatus.java
  typespec-tests/src/main/java/com/cadl/builtin/implementation/CoreToCodegenBridgeUtils.java
  typespec-tests/src/main/java/com/cadl/enumservice/models/Color.java
  typespec-tests/src/main/java/com/cadl/enumservice/models/ColorModel.java
  typespec-tests/src/main/java/com/cadl/enumservice/models/OperationName.java
  typespec-tests/src/main/java/com/cadl/enumservice/models/OperationStateValues.java
  typespec-tests/src/main/java/com/cadl/enumservice/models/Priority.java
  typespec-tests/src/main/java/com/cadl/enumservice/models/Unit.java
  typespec-tests/src/main/java/com/cadl/errormodel/implementation/CoreToCodegenBridgeUtils.java
  typespec-tests/src/main/java/com/cadl/internal/implementation/models/Color.java
  typespec-tests/src/main/java/com/cadl/internal/implementation/models/ColorModel.java
  typespec-tests/src/main/java/com/cadl/literalservice/models/ModelOptionalLiteral.java
  typespec-tests/src/main/java/com/cadl/literalservice/models/OptionalLiteralParam.java
  typespec-tests/src/main/java/com/cadl/naming/models/DataStatus.java
  typespec-tests/src/main/java/com/cadl/naming/models/RequestType.java
  typespec-tests/src/main/java/com/cadl/naming/models/TypesModel.java
  typespec-tests/src/main/java/com/cadl/optional/implementation/CoreToCodegenBridgeUtils.java
  typespec-tests/src/main/java/com/cadl/response/implementation/CoreToCodegenBridgeUtils.java
  typespec-tests/src/main/java/com/cadl/response/models/OperationState.java
  typespec-tests/src/main/java/com/encode/duration/implementation/CoreToCodegenBridgeUtils.java
  typespec-tests/src/main/java/com/type/enums/extensible/models/DaysOfWeekExtensibleEnum.java
  typespec-tests/src/main/java/com/type/enums/fixed/models/DaysOfWeekEnum.java
  typespec-tests/src/main/java/com/type/property/nullable/implementation/CoreToCodegenBridgeUtils.java
  typespec-tests/src/main/java/com/type/property/optional/implementation/CoreToCodegenBridgeUtils.java
  typespec-tests/src/main/java/com/type/property/valuetypes/implementation/CoreToCodegenBridgeUtils.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/FixedInnerEnum.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/InnerEnum.java
  typespec-tests/tspconfig.yaml
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/implementation/CoreToCodegenBridgeUtils.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/implementation/CoreToCodegenBridgeUtils.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Remove invalid DefaultOptions
  eng/pipelines/variables/globals.yml
Owners: @weidongxu-microsoft, @srnagar

Move DefaultOptions to the right place in autorest.java and make --no-transfer-progress a default option
  eng/pipelines/ci-typespec-java-dev-nightly.yaml
  eng/pipelines/ci-typespec-java.yaml
  eng/pipelines/ci.yaml
  eng/pipelines/fluent_integration.yaml
  eng/pipelines/publish-autorest-java.yaml
  eng/pipelines/publish-typespec-java.yaml
  eng/pipelines/variables/globals.yml
Owners: @weidongxu-microsoft, @srnagar

Add DevOps caching (#2425)
  eng/pipelines/ci-typespec-java-dev-nightly.yaml
  eng/pipelines/ci-typespec-java.yaml
  eng/pipelines/ci.yaml
  eng/pipelines/fluent_integration.yaml
  eng/pipelines/publish-autorest-java.yaml
  eng/pipelines/publish-typespec-java.yaml
  eng/pipelines/steps/cache-maven-repository.yml
  eng/pipelines/steps/cleanup-maven-local-cache.yml
  eng/pipelines/variables/globals.yml
  eng/scripts/Remove-AzureArtifactsFromCache.ps1
  fluent-tests/pom.xml
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Regenerate
  azure-dataplane-tests/src/main/java/com/azure/data/schemaregistry/implementation/AzureSchemaRegistryImpl.java
  azure-dataplane-tests/src/main/java/com/azure/data/schemaregistry/implementation/AzureSchemaRegistryImplBuilder.java
  azure-dataplane-tests/src/main/java/com/azure/data/schemaregistry/implementation/models/Error.java
  azure-dataplane-tests/src/main/java/com/azure/data/schemaregistry/implementation/models/ErrorDetail.java
  azure-dataplane-tests/src/main/java/com/azure/data/schemaregistry/implementation/models/SchemaFormat.java
  azure-dataplane-tests/src/main/java/com/azure/data/schemaregistry/implementation/models/SchemaGroups.java
  azure-dataplane-tests/src/main/java/com/azure/data/schemaregistry/implementation/models/SchemaId.java
  azure-dataplane-tests/src/main/java/com/azure/data/schemaregistry/implementation/models/SchemaVersions.java
  azure-dataplane-tests/src/main/java/com/azure/data/schemaregistry/implementation/models/SchemasGetByIdHeaders.java
  azure-dataplane-tests/src/main/java/com/azure/data/schemaregistry/implementation/models/SchemasGetSchemaVersionHeaders.java
  azure-dataplane-tests/src/main/java/com/azure/data/schemaregistry/implementation/models/SchemasQueryIdByContentHeaders.java
  azure-dataplane-tests/src/main/java/com/azure/data/schemaregistry/implementation/models/SchemasRegisterHeaders.java
  javagen/pom.xml
Owners: @weidongxu-microsoft, @srnagar

Add crossLanguageDefinitionId to apiview-properties.json (#2358)
  androidgen/src/main/java/com/azure/autorest/android/model/clientmodel/AndroidClientMethod.java
  androidgen/src/main/java/com/azure/autorest/android/model/clientmodel/AndroidClientModel.java
  androidgen/src/main/java/com/azure/autorest/android/model/clientmodel/AndroidServiceClient.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/ChoiceSchema.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/Client.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/ObjectSchema.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/Operation.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/MapperUtils.java
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/AsyncSyncClient.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/Client.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientBuilder.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientMethod.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientModel.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientResponse.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/EnumType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ServiceClient.java
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/common/client.ts
  typespec-extension/src/common/operation.ts
  typespec-extension/src/common/schemas/choice.ts
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
  typespec-extension/src/main/java/com/azure/typespec/Main.java
  typespec-extension/src/main/java/com/azure/typespec/mapper/TypeSpecServiceClientMapper.java
  typespec-extension/src/main/java/com/azure/typespec/model/EmitterOptions.java
Owners: @JianpingChen, @anuchandy, @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

use ClientModelUtil.CORE_TO_CODEGEN_BRIDGE_UTILS_CLASS_NAME
  javagen/src/main/java/com/azure/autorest/Javagen.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaPackage.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

fix
  javagen/src/main/java/com/azure/autorest/Javagen.java
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
  typespec-tests/src/main/java/com/cadl/multipart/models/FormData.java
  typespec-tests/src/main/java/com/cadl/multipart/models/ImageType.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

cadl-ranch 0.27
  typespec-tests/package.json
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix compile when additionalProperties is not Object
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
Owners: @weidongxu-microsoft, @srnagar

bug fix, json and xml lib is not for test
  javagen/src/main/java/com/azure/autorest/mapper/PomMapper.java
Owners: @weidongxu-microsoft, @srnagar

use sealed choice for Union with literal values
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

sync version
  azure-dataplane-tests/pom.xml
  typespec-tests/pom.xml
  vanilla-tests/pom.xml
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

fix pritmive type in additionalProperties
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
Owners: @weidongxu-microsoft, @srnagar

turn on json-merge-patch to see generated model code
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
  typespec-tests/tsp/patch.tsp
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

bug fix on dedpulicate name
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

union tests
  typespec-tests/src/test/java/com/type/union/UnionsClientTest.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

improve MultipartFormDataHelper
  typespec-tests/src/main/java/com/cadl/multipart/implementation/MultipartFormDataHelper.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

regen
  typespec-tests/src/main/java/com/payload/multipart/MultiPartAsyncClient.java
  typespec-tests/src/main/java/com/payload/multipart/MultiPartClient.java
  typespec-tests/src/main/java/com/payload/multipart/implementation/MultiPartClientImpl.java
  typespec-tests/src/main/java/com/payload/multipart/implementation/MultipartFormDataHelper.java
  typespec-tests/src/main/java/com/payload/multipart/models/MultiPartRequest.java
  typespec-tests/src/main/java/com/payload/multipart/models/package-info.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

add cadl-ranch test
  typespec-tests/src/test/java/com/encode/bytes/EncodeBytesTests.java
  typespec-tests/src/test/java/com/payload/FileUtils.java
  typespec-tests/src/test/java/com/payload/contentnegotiation/SharedRouteTests.java
  typespec-tests/src/test/java/com/payload/multipart/MultipartTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

enable testEnumsOnlyClient but there still pending question on toObject for ExpandableStringEnum
  typespec-tests/src/test/java/com/type/union/UnionsClientTest.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

revert merge problem
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
Owners: @weidongxu-microsoft, @srnagar

support for nested models
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  typespec-extension/src/main/java/com/azure/typespec/model/EmitterOptions.java
  typespec-tests/tsp/patch.tsp
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

sync ch.qos.logback:logback-classic
  eng/versioning/external_dependencies.txt
  typespec-extension/pom.xml
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

.github/CODEOWNERS:

# default
*                           @weidongxu-microsoft @srnagar

# Git Hub bot rules
/.github/fabricbot.json     @jsquire @ronniegeraghty

# fluentgen
/fluent*                    @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/azure-tests                @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

# androidgen
/androidgen                 @JianpingChen @anuchandy

# protocol
/protocol*                  @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update-tests       @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar

# typespec
/typespec-extension         @srnagar @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/typespec-tests             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
