Repository Azure/autorest.java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @weidongxu-microsoft, @srnagar, @jsquire, @ronniegeraghty, @haolingdong-msft, @XiaofeiCao, @JianpingChen, @anuchandy

.github/CODEOWNERS:

# default
*                           @weidongxu-microsoft @srnagar

# Git Hub bot rules
/.github/fabricbot.json     @jsquire @ronniegeraghty

# fluentgen
/fluent*                    @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/azure-tests                @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

# androidgen
/androidgen                 @JianpingChen @anuchandy

# protocol
/protocol*                  @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update-tests       @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar

# typespec
/typespec-extension         @srnagar @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/typespec-tests             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

Change back to passing -f
  postprocessor/src/main/java/com/azure/autorest/postprocessor/Postprocessor.java
Owners: @weidongxu-microsoft, @srnagar

Print Maven information
  eng/pipelines/ci.yaml
Owners: @weidongxu-microsoft, @srnagar

Remove shell out
  eng/pipelines/ci.yaml
  postprocessor/src/main/java/com/azure/autorest/postprocessor/Postprocessor.java
Owners: @weidongxu-microsoft, @srnagar

Update everywhere
  eng/pipelines/ci-typespec-java-dev-nightly.yaml
  eng/pipelines/ci-typespec-java.yaml
  fluentgen/src/main/java/com/azure/autorest/fluent/FluentGen.java
  postprocessor/src/main/java/com/azure/autorest/postprocessor/Postprocessor.java
  typespec-extension/src/main/java/com/azure/typespec/Main.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Finalize using Spotless
  Generate.ps1
  fluentgen/src/main/java/com/azure/autorest/fluent/FluentGen.java
  postprocessor/src/main/java/com/azure/autorest/postprocessor/Postprocessor.java
  typespec-extension/src/main/java/com/azure/typespec/Main.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Fix Windows needed cmd /c
  fluentgen/src/main/java/com/azure/autorest/fluent/FluentGen.java
  fluentgen/src/main/resources/spotless-pom.xml
  postprocessor/src/main/java/com/azure/autorest/postprocessor/Postprocessor.java
  postprocessor/src/main/resources/readme/pom.xml
  typespec-extension/src/main/java/com/azure/typespec/Main.java
  typespec-extension/src/main/resources/spotless-pom.xml
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

Remove synchronization in Connection
  extension-base/src/main/java/com/azure/autorest/extension/base/jsonrpc/Connection.java
  fluentgen/src/main/java/com/azure/autorest/fluent/FluentGen.java
  javagen/src/main/java/com/azure/autorest/Javagen.java
  postprocessor/src/main/java/com/azure/autorest/postprocessor/Postprocessor.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Replace existing on copy
  postprocessor/src/main/java/com/azure/autorest/postprocessor/Postprocessor.java
  typespec-extension/src/main/java/com/azure/typespec/Main.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Fix linting
  postprocessor/src/main/java/com/azure/autorest/postprocessor/Postprocessor.java
Owners: @weidongxu-microsoft, @srnagar

Remove replace existing
  fluentgen/src/main/java/com/azure/autorest/fluent/FluentGen.java
  postprocessor/src/main/java/com/azure/autorest/postprocessor/Postprocessor.java
  typespec-extension/src/main/java/com/azure/typespec/Main.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

Use a different POM file name
  fluentgen/src/main/java/com/azure/autorest/fluent/FluentGen.java
  postprocessor/src/main/java/com/azure/autorest/postprocessor/Postprocessor.java
  typespec-extension/src/main/java/com/azure/typespec/Main.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

Standardize source path
  postprocessor/pom.xml
  postprocessor/src/main/java/com/azure/autorest/postprocessor/Postprocessor.java
  typespec-extension/pom.xml
  typespec-extension/src/main/java/com/azure/typespec/Main.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Use Maven to compile code customization (#2374)
  extension-base/pom.xml
  postprocessor/src/main/java/com/azure/autorest/postprocessor/Postprocessor.java
  typespec-extension/pom.xml
  typespec-extension/src/main/java/com/azure/typespec/Main.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

clean up azuresdkmaven
  androidgen/pom.xml
  azure-dataplane-tests/pom.xml
  customization-base/pom.xml
  fluentgen/pom.xml
  javagen/pom.xml
  postprocessor/pom.xml
  typespec-extension/pom.xml
  typespec-tests/pom.xml
  vanilla-tests/pom.xml
Owners: @JianpingChen, @anuchandy, @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

tsp, support BearerAuth for non-branded (#2375)
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientBuilderTrait.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientBuilderTemplate.java
  javagen/src/main/java/com/azure/autorest/template/TemplateHelper.java
  typespec-extension/src/code-model-builder.ts
  typespec-tests/Setup.ps1
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

clean up azuresdkmaven (#2377)
  androidgen/pom.xml
  azure-dataplane-tests/pom.xml
  customization-base/pom.xml
  fluentgen/pom.xml
  javagen/pom.xml
  postprocessor/pom.xml
  typespec-extension/pom.xml
  typespec-tests/pom.xml
  vanilla-tests/pom.xml
Owners: @JianpingChen, @anuchandy, @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

checkstyle
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
  typespec-extension/src/main/java/com/azure/typespec/util/FileUtil.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix JavaSettings in TypeSpecFluentNamer
  typespec-extension/src/main/java/com/azure/autorest/fluent/TypeSpecFluentNamer.java
  typespec-extension/src/main/java/com/azure/autorest/fluent/TypeSpecFluentPlugin.java
  typespec-extension/src/main/java/com/azure/typespec/Main.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, unbranded, branch for Trait and addQueryParam
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientBuilderTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientTemplate.java
  javagen/src/main/java/com/azure/autorest/template/TemplateHelper.java
Owners: @weidongxu-microsoft, @srnagar

set TypeSpecFluentPlugin in TypeSpecFluentNamer ctor
  typespec-extension/src/main/java/com/azure/autorest/fluent/TypeSpecFluentNamer.java
  typespec-extension/src/main/java/com/azure/autorest/fluent/TypeSpecFluentPlugin.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

do not generate .properties file
  typespec-extension/src/main/java/com/azure/typespec/Main.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

settingsMap as TypeSpecFluentNamer constructor
  typespec-extension/src/main/java/com/azure/autorest/fluent/TypeSpecFluentNamer.java
  typespec-extension/src/main/java/com/azure/autorest/fluent/TypeSpecFluentPlugin.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix mockito-core
  eng/versioning/external_dependencies.txt
  fluent-tests/pom.xml
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

tsp, unbranded, branch for Trait and addQueryParam (#2378)
  eng/versioning/external_dependencies.txt
  fluent-tests/pom.xml
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientBuilderTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientTemplate.java
  javagen/src/main/java/com/azure/autorest/template/TemplateHelper.java
  typespec-extension/src/main/java/com/azure/typespec/Main.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

regen
  openai-in-typespec/openai-sdk/src/main/java/com/openai/OpenAIClient.java
  openai-in-typespec/openai-sdk/src/main/java/com/openai/OpenAIClientBuilder.java
  openai-in-typespec/openai-sdk/src/main/resources/openai.properties
Owners: @weidongxu-microsoft, @srnagar

mpg codegen (#2373)
  fluentgen/src/main/java/com/azure/autorest/fluent/FluentGen.java
  fluentnamer/src/main/java/com/azure/autorest/fluentnamer/FluentNamer.java
  typespec-extension/package.json
  typespec-extension/pom.xml
  typespec-extension/src/emitter.ts
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
  typespec-extension/src/main/java/com/azure/autorest/fluent/TypeSpecFluentMapperFactory.java
  typespec-extension/src/main/java/com/azure/autorest/fluent/TypeSpecFluentNamer.java
  typespec-extension/src/main/java/com/azure/autorest/fluent/TypeSpecFluentPlugin.java
  typespec-extension/src/main/java/com/azure/typespec/Main.java
  typespec-extension/src/main/java/com/azure/typespec/model/EmitterOptions.java
  typespec-extension/src/main/java/com/azure/typespec/util/FileUtil.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

bump cadl-ranch
  typespec-tests/package.json
  typespec-tests/pom.xml
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

handle boolean literal in union variant
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

bug fix or ignoring Union name
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

add a last fallback for duplicate name
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

handle enum or union as float
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/type-utils.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

revert back to 0.24.0
  typespec-tests/package.json
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

test
  typespec-tests/src/main/java/com/cadl/enumservice/EnumServiceAsyncClient.java
  typespec-tests/src/main/java/com/cadl/enumservice/EnumServiceClient.java
  typespec-tests/src/main/java/com/cadl/enumservice/implementation/EnumServiceClientImpl.java
  typespec-tests/src/main/java/com/cadl/enumservice/models/Operation.java
  typespec-tests/src/main/java/com/cadl/enumservice/models/Unit.java
  typespec-tests/tsp/enum.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

regen
  typespec-extension/src/code-model-builder.ts
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/standard/StandardAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/standard/StandardClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/standard/implementation/StandardClientImpl.java
  typespec-tests/src/main/java/com/cadl/enumservice/models/Operation.java
  typespec-tests/src/main/java/com/cadl/multicontenttypes/MultiContentTypesAsyncClient.java
  typespec-tests/src/main/java/com/cadl/multicontenttypes/MultiContentTypesClient.java
  typespec-tests/src/main/java/com/cadl/multicontenttypes/implementation/MultiContentTypesClientImpl.java
  typespec-tests/src/main/java/com/cadl/multipleapiversion/SecondAsyncClient.java
  typespec-tests/src/main/java/com/cadl/multipleapiversion/SecondClient.java
  typespec-tests/src/main/java/com/cadl/multipleapiversion/models/Resource2.java
  typespec-tests/src/main/java/com/type/union/UnionAsyncClient.java
  typespec-tests/src/main/java/com/type/union/UnionClient.java
  typespec-tests/src/main/java/com/type/union/implementation/UnionClientImpl.java
  typespec-tests/tsp/multiple-apiversion.tsp
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, mitigate lro use of property other than "result"
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, mitigate lro use of property other than "result" (#2380)
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

skip azure model
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/external-schemas.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

bug fix
  typespec-extension/src/code-model-builder.ts
  typespec-tests/src/main/java/com/cadl/enumservice/models/Operation.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

regen
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/standard/StandardAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/standard/StandardClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/standard/implementation/StandardClientImpl.java
  typespec-tests/src/main/java/com/cadl/multicontenttypes/MultiContentTypesAsyncClient.java
  typespec-tests/src/main/java/com/cadl/multicontenttypes/MultiContentTypesClient.java
  typespec-tests/src/main/java/com/cadl/multicontenttypes/implementation/MultiContentTypesClientImpl.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Turn preprocessor and fluentnamer into non-plugins
  fluentgen/readme.md
  fluentgen/src/main/java/com/azure/autorest/fluent/FluentGen.java
  fluentnamer/package.json
  fluentnamer/pom.xml
  fluentnamer/readme.md
  fluentnamer/src/main/java/com/azure/autorest/fluent/model/ResourceType.java
  fluentnamer/src/main/java/com/azure/autorest/fluent/transformer/SchemaNameNormalization.java
  fluentnamer/src/main/java/com/azure/autorest/fluentnamer/FluentNamer.java
  fluentnamer/src/main/java/com/azure/autorest/fluentnamer/Main.java
  javagen/data-plane.md
  javagen/pom.xml
  javagen/readme.md
  javagen/src/main/java/com/azure/autorest/Javagen.java
  preprocessor/package.json
  preprocessor/pom.xml
  preprocessor/readme.md
  preprocessor/src/main/java/com/azure/autorest/preprocessor/Main.java
  preprocessor/src/main/java/com/azure/autorest/preprocessor/Preprocessor.java
  preprocessor/src/main/java/com/azure/autorest/preprocessor/namer/CodeNamer.java
  preprocessor/src/main/java/com/azure/autorest/preprocessor/tranformer/Transformer.java
  preprocessor/src/test/java/com/azure/autorest/MockPreprocessor.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar
