Repository Azure/autorest.java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @weidongxu-microsoft, @srnagar, @jsquire, @ronniegeraghty, @haolingdong-msft, @XiaofeiCao, @JianpingChen, @anuchandy

add comments
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

regen test
  typespec-tests/main.tsp
  typespec-tests/src/main/java/com/_specs_/azure/core/traits/TraitsAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/traits/TraitsClient.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update test code
  typespec-tests/src/test/java/com/_specs_/azure/core/traits/TraitsTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

add MATCH_CONDITIONS
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/util/SchemaUtil.java
Owners: @weidongxu-microsoft, @srnagar

remove main.tsp
  typespec-tests/main.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

rename
  typespec-tests/tsp/multiple-content-types.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

bug fix on parameter.operation
  preprocessor/src/main/java/com/azure/autorest/preprocessor/tranformer/Transformer.java
Owners: @weidongxu-microsoft, @srnagar

bug fix
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

more tests
  typespec-tests/src/main/java/com/cadl/specialheaders/SpecialHeadersAsyncClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/SpecialHeadersClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/implementation/SpecialHeadersClientImpl.java
  typespec-tests/tsp/special-headers.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Remove the need for enable-xml
  Generate.ps1
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/Schema.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/CustomProxyParameterMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ObjectMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ProxyParameterMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/UnionMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ArrayType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientModel.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/EnumType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/GenericType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/IType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/PrimitiveType.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
  javagen/src/main/java/com/azure/autorest/util/SchemaUtil.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/JsonInput.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/JsonOutput.java
  vanilla-tests/src/main/java/fixtures/xmlservice/models/JsonInput.java
  vanilla-tests/src/main/java/fixtures/xmlservice/models/JsonOutput.java
  vanilla-tests/src/main/java/fixtures/xmlservice/models/XmlsGetHeadersHeaders.java
  vanilla-tests/swagger/xml-tag-with-attribute-and-value.json
Owners: @weidongxu-microsoft, @srnagar

regen
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/RpcAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/RpcClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/implementation/RpcClientImpl.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/LegacyAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/LegacyClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/LegacyClientBuilder.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/LegacyServiceVersion.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/implementation/LegacyClientImpl.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/implementation/package-info.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/models/ErrorResponse.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/models/JobData.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/models/JobResult.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/models/JobStatus.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/models/package-info.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/package-info.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/models/JobDataJobResultJobPollResultLongRunningFinalLocationJobResult.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/models/JobPollResult.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/models/OperationState.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/models/package-info.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/package-info.java
  typespec-tests/src/test/java/com/_specs_/azure/core/lro/rpc/LroRpcTests.java
  typespec-tests/src/test/java/com/_specs_/azure/core/lro/rpc/legacy/LegacyRpcTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

changelog
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

add skip-special-headers option
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/emitter.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

add test
  typespec-tests/src/main/java/com/cadl/specialheaders/SpecialHeadersAsyncClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/SpecialHeadersClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/SpecialHeadersClientBuilder.java
  typespec-tests/src/main/java/com/cadl/specialheaders/implementation/SpecialHeadersClientImpl.java
  typespec-tests/src/main/java/com/cadl/specialheaders/models/Resource.java
  typespec-tests/tsp/special-headers.tsp
  typespec-tests/tspconfig.yaml
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, group etag headers to RequestConditions (#2196)
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/Language.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/Languages.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/util/SchemaUtil.java
  preprocessor/src/main/java/com/azure/autorest/preprocessor/tranformer/Transformer.java
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/operation-utils.ts
  typespec-tests/package.json
  typespec-tests/src/main/java/com/_specs_/azure/core/traits/TraitsAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/traits/TraitsClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/SpecialHeadersAsyncClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/SpecialHeadersClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/implementation/SpecialHeadersClientImpl.java
  typespec-tests/src/test/java/com/_specs_/azure/core/traits/TraitsTests.java
  typespec-tests/tsp/multiple-content-types.tsp
  typespec-tests/tsp/special-headers.tsp
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

re-generate test code
  typespec-tests/src/main/java/com/cadl/specialheaders/SpecialHeadersAsyncClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/SpecialHeadersClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/SpecialHeadersClientBuilder.java
  typespec-tests/src/main/java/com/cadl/specialheaders/models/Resource.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, temporary, add "skip-special-headers" in emitter options (#2198)
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/emitter.ts
  typespec-tests/src/main/java/com/cadl/specialheaders/SpecialHeadersAsyncClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/SpecialHeadersClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/implementation/SpecialHeadersClientImpl.java
  typespec-tests/tsp/special-headers.tsp
  typespec-tests/tspconfig.yaml
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

use HttpHeaderName when work on http headers
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/util/ModelTemplateHeaderHelper.java
Owners: @weidongxu-microsoft, @srnagar

regen
  typespec-tests/src/main/java/com/_specs_/azure/core/traits/TraitsAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/traits/TraitsClient.java
  typespec-tests/src/main/java/com/cadl/builtin/BuiltinAsyncClient.java
  typespec-tests/src/main/java/com/cadl/builtin/BuiltinClient.java
  typespec-tests/src/main/java/com/cadl/enumservice/EnumServiceAsyncClient.java
  typespec-tests/src/main/java/com/cadl/enumservice/EnumServiceClient.java
  typespec-tests/src/main/java/com/cadl/naming/NamingAsyncClient.java
  typespec-tests/src/main/java/com/cadl/naming/NamingClient.java
  typespec-tests/src/main/java/com/cadl/optional/OptionalAsyncClient.java
  typespec-tests/src/main/java/com/cadl/optional/OptionalClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/SpecialHeadersAsyncClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/SpecialHeadersClient.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

minor fix for https://github.com/Azure/autorest.java/pull/2198
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

add a local test
  typespec-tests/src/test/java/com/cadl/builtin/EncodeTests.java
  typespec-tests/src/test/java/com/cadl/builtin/Model.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, use HttpHeaderName for headers on RequestOptions (#2199)
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/util/ModelTemplateHeaderHelper.java
  typespec-extension/src/code-model-builder.ts
  typespec-tests/src/main/java/com/_specs_/azure/core/traits/TraitsAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/traits/TraitsClient.java
  typespec-tests/src/main/java/com/cadl/builtin/BuiltinAsyncClient.java
  typespec-tests/src/main/java/com/cadl/builtin/BuiltinClient.java
  typespec-tests/src/main/java/com/cadl/enumservice/EnumServiceAsyncClient.java
  typespec-tests/src/main/java/com/cadl/enumservice/EnumServiceClient.java
  typespec-tests/src/main/java/com/cadl/naming/NamingAsyncClient.java
  typespec-tests/src/main/java/com/cadl/naming/NamingClient.java
  typespec-tests/src/main/java/com/cadl/optional/OptionalAsyncClient.java
  typespec-tests/src/main/java/com/cadl/optional/OptionalClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/SpecialHeadersAsyncClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/SpecialHeadersClient.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Fix Android constructor
  androidgen/src/main/java/com/azure/autorest/android/model/clientmodel/AndroidClientModel.java
Owners: @JianpingChen, @anuchandy

Remove the need for enable-xml (#2197)
  Generate.ps1
  androidgen/src/main/java/com/azure/autorest/android/model/clientmodel/AndroidClientModel.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/Schema.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/CustomProxyParameterMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ObjectMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ProxyParameterMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/UnionMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ArrayType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientModel.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/EnumType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/GenericType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/IType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/PrimitiveType.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
  javagen/src/main/java/com/azure/autorest/util/SchemaUtil.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/JsonInput.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/JsonOutput.java
  vanilla-tests/src/main/java/fixtures/xmlservice/models/JsonInput.java
  vanilla-tests/src/main/java/fixtures/xmlservice/models/JsonOutput.java
  vanilla-tests/src/main/java/fixtures/xmlservice/models/XmlsGetHeadersHeaders.java
  vanilla-tests/swagger/xml-tag-with-attribute-and-value.json
Owners: @weidongxu-microsoft, @srnagar, @JianpingChen, @anuchandy

test case
  typespec-tests/tsp/wire-type.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

generate code - the wrong code
  typespec-tests/src/main/java/com/cadl/wiretype/WireTypeAsyncClient.java
  typespec-tests/src/main/java/com/cadl/wiretype/WireTypeClient.java
  typespec-tests/src/main/java/com/cadl/wiretype/WireTypeClientBuilder.java
  typespec-tests/src/main/java/com/cadl/wiretype/implementation/WireTypeClientImpl.java
  typespec-tests/src/main/java/com/cadl/wiretype/implementation/package-info.java
  typespec-tests/src/main/java/com/cadl/wiretype/models/SubClass.java
  typespec-tests/src/main/java/com/cadl/wiretype/models/SubClassBothMismatch.java
  typespec-tests/src/main/java/com/cadl/wiretype/models/SubClassMismatch.java
  typespec-tests/src/main/java/com/cadl/wiretype/models/SuperClass.java
  typespec-tests/src/main/java/com/cadl/wiretype/models/SuperClassMismatch.java
  typespec-tests/src/main/java/com/cadl/wiretype/models/package-info.java
  typespec-tests/src/main/java/com/cadl/wiretype/package-info.java
  typespec-tests/src/main/resources/cadl-wiretype.properties
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

move test
  typespec-tests/src/test/java/com/cadl/builtin/EncodeTests.java
  typespec-tests/src/test/java/com/cadl/wiretype/LocalModelTests.java
  typespec-tests/src/test/java/com/cadl/wiretype/Model.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tests - fails on wrong code
  typespec-tests/src/main/java/com/cadl/wiretype/WireTypeAsyncClient.java
  typespec-tests/src/main/java/com/cadl/wiretype/WireTypeClient.java
  typespec-tests/src/main/java/com/cadl/wiretype/implementation/WireTypeClientImpl.java
  typespec-tests/src/main/java/com/cadl/wiretype/models/SubClass.java
  typespec-tests/src/main/java/com/cadl/wiretype/models/SubClassBothMismatch.java
  typespec-tests/src/main/java/com/cadl/wiretype/models/SubClassMismatch.java
  typespec-tests/src/main/java/com/cadl/wiretype/models/SuperClassMismatch.java
  typespec-tests/src/test/java/com/cadl/wiretype/LocalModelTests.java
  typespec-tests/src/test/java/com/cadl/wiretype/WireTypeTests.java
  typespec-tests/tsp/wire-type.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Tsp, fix special char encoding issue for partial update cases (#2195)
  partial-update/src/test/java/com/azure/autorest/partialupdate/util/PartialUpdateHandlerTest.java
  postprocessor/src/main/java/com/azure/autorest/postprocessor/Postprocessor.java
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
  typespec-tests/src/main/java/com/cadl/partialupdate/PartialUpdateAsyncClient.java
  typespec-tests/src/main/java/com/cadl/partialupdate/PartialUpdateClient.java
  typespec-tests/src/main/java/com/cadl/partialupdate/implementation/PartialUpdateClientImpl.java
  typespec-tests/src/main/java/com/cadl/partialupdate/models/PartialUpdateModel.java
  typespec-tests/tsp/partialupdate.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

fix for conflict on type erasure
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
Owners: @weidongxu-microsoft, @srnagar

regen code, now it should pass tests
  typespec-tests/src/main/java/com/cadl/builtin/models/FormatString.java
  typespec-tests/src/main/java/com/cadl/wiretype/models/SubClass.java
  typespec-tests/src/main/java/com/cadl/wiretype/models/SubClassBothMismatch.java
  typespec-tests/src/main/java/com/cadl/wiretype/models/SubClassMismatch.java
  typespec-tests/src/main/java/com/cadl/wiretype/models/SuperClassMismatch.java
  typespec-tests/src/main/java/com/encode/duration/models/FloatSecondsDurationProperty.java
  typespec-tests/src/main/java/com/encode/duration/models/Int32SecondsDurationProperty.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update test
  typespec-tests/package.json
  typespec-tests/src/test/java/com/cadl/wiretype/WireTypeTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

cadl-ranch 0.16.1
  typespec-tests/package.json
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

regen, compile fail
  typespec-tests/src/main/java/com/encode/bytes/BytesClientBuilder.java
  typespec-tests/src/main/java/com/encode/bytes/HeaderAsyncClient.java
  typespec-tests/src/main/java/com/encode/bytes/HeaderClient.java
  typespec-tests/src/main/java/com/encode/bytes/PropertyAsyncClient.java
  typespec-tests/src/main/java/com/encode/bytes/PropertyClient.java
  typespec-tests/src/main/java/com/encode/bytes/QueryAsyncClient.java
  typespec-tests/src/main/java/com/encode/bytes/QueryClient.java
  typespec-tests/src/main/java/com/encode/bytes/implementation/BytesClientImpl.java
  typespec-tests/src/main/java/com/encode/bytes/implementation/HeadersImpl.java
  typespec-tests/src/main/java/com/encode/bytes/implementation/PropertiesImpl.java
  typespec-tests/src/main/java/com/encode/bytes/implementation/QueriesImpl.java
  typespec-tests/src/main/java/com/encode/bytes/implementation/package-info.java
  typespec-tests/src/main/java/com/encode/bytes/models/Base64BytesProperty.java
  typespec-tests/src/main/java/com/encode/bytes/models/Base64UrlArrayBytesProperty.java
  typespec-tests/src/main/java/com/encode/bytes/models/Base64UrlBytesProperty.java
  typespec-tests/src/main/java/com/encode/bytes/models/DefaultBytesProperty.java
  typespec-tests/src/main/java/com/encode/bytes/models/package-info.java
  typespec-tests/src/main/java/com/encode/bytes/package-info.java
  typespec-tests/src/main/java/com/encode/datetime/DatetimeClientBuilder.java
  typespec-tests/src/main/java/com/encode/datetime/HeaderAsyncClient.java
  typespec-tests/src/main/java/com/encode/datetime/HeaderClient.java
  typespec-tests/src/main/java/com/encode/datetime/PropertyAsyncClient.java
  typespec-tests/src/main/java/com/encode/datetime/PropertyClient.java
  typespec-tests/src/main/java/com/encode/datetime/QueryAsyncClient.java
  typespec-tests/src/main/java/com/encode/datetime/QueryClient.java
  typespec-tests/src/main/java/com/encode/datetime/implementation/DatetimeClientImpl.java
  typespec-tests/src/main/java/com/encode/datetime/implementation/HeadersImpl.java
  typespec-tests/src/main/java/com/encode/datetime/implementation/PropertiesImpl.java
  typespec-tests/src/main/java/com/encode/datetime/implementation/QueriesImpl.java
  typespec-tests/src/main/java/com/encode/datetime/implementation/package-info.java
  typespec-tests/src/main/java/com/encode/datetime/models/DefaultDatetimeProperty.java
  typespec-tests/src/main/java/com/encode/datetime/models/Rfc3339DatetimeProperty.java
  typespec-tests/src/main/java/com/encode/datetime/models/Rfc7231DatetimeProperty.java
  typespec-tests/src/main/java/com/encode/datetime/models/UnixTimestampArrayDatetimeProperty.java
  typespec-tests/src/main/java/com/encode/datetime/models/UnixTimestampDatetimeProperty.java
  typespec-tests/src/main/java/com/encode/datetime/models/package-info.java
  typespec-tests/src/main/java/com/encode/datetime/package-info.java
  typespec-tests/src/main/resources/encode-bytes.properties
  typespec-tests/src/main/resources/encode-datetime.properties
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

use longer local variable name, to avoid conflict with client parameter name
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceSyncMethodTemplate.java
Owners: @weidongxu-microsoft, @srnagar

regen
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/BasicClient.java
  typespec-tests/src/main/java/com/cadl/enumservice/implementation/EnumServiceClientImpl.java
  typespec-tests/src/main/java/com/cadl/protocolandconvenient/ProtocolAndConvenientClient.java
  typespec-tests/src/main/java/com/cadl/versioning/VersioningClient.java
  typespec-tests/src/main/java/com/encode/bytes/implementation/HeadersImpl.java
  typespec-tests/src/main/java/com/encode/bytes/implementation/QueriesImpl.java
  typespec-tests/src/main/java/com/encode/datetime/implementation/HeadersImpl.java
  typespec-tests/src/main/java/com/encode/datetime/implementation/QueriesImpl.java
  typespec-tests/src/main/java/com/encode/duration/implementation/QueriesImpl.java
  typespec-tests/src/main/java/com/parameters/collectionformat/implementation/HeadersImpl.java
  typespec-tests/src/main/java/com/parameters/collectionformat/implementation/QueriesImpl.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

disable test that calls httpbin.org
  typespec-tests/src/test/java/com/cadl/server/ServerTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

rename local var
  javagen/src/main/java/com/azure/autorest/template/ConvenienceSyncMethodTemplate.java
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/BasicClient.java
  typespec-tests/src/main/java/com/cadl/protocolandconvenient/ProtocolAndConvenientClient.java
  typespec-tests/src/main/java/com/cadl/versioning/VersioningClient.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

regen
  protocol-tests/src/main/java/fixtures/requiredheaderquery/implementation/ParamsImpl.java
  protocol-tests/src/main/java/fixtures/url/implementation/PathsImpl.java
  vanilla-tests/src/main/java/fixtures/requiredoptional/Explicits.java
  vanilla-tests/src/main/java/fixtures/url/Paths.java
  vanilla-tests/src/main/java/fixtures/url/Queries.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

regen
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/BasicClient.java
  typespec-tests/src/main/java/com/cadl/protocolandconvenient/ProtocolAndConvenientClient.java
  typespec-tests/src/main/java/com/cadl/versioning/VersioningClient.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

.github/CODEOWNERS:

# default
*                           @weidongxu-microsoft @srnagar

# Git Hub bot rules
/.github/fabricbot.json     @jsquire @ronniegeraghty

# fluentgen
/fluent*                    @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/azure-tests                @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

# androidgen
/androidgen                 @JianpingChen @anuchandy

# protocol
/protocol*                  @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update-tests       @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar

# typespec
/typespec-extension         @srnagar @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/typespec-tests             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
