Repository Azure/autorest.java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @weidongxu-microsoft, @srnagar, @jsquire, @ronniegeraghty, @haolingdong-msft, @XiaofeiCao, @JianpingChen, @anuchandy

.github/CODEOWNERS:

# default
*                           @weidongxu-microsoft @srnagar

# Git Hub bot rules
/.github/fabricbot.json     @jsquire @ronniegeraghty

# fluentgen
/fluent*                    @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/azure-tests                @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

# androidgen
/androidgen                 @JianpingChen @anuchandy

# protocol
/protocol*                  @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update-tests       @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar

# typespec
/typespec-extension         @srnagar @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/typespec-tests             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

update patch null tests (#2081)
  typespec-tests/src/test/java/com/models/property/nullable/CollectionsByteClientTest.java
  typespec-tests/src/test/java/com/models/property/nullable/CollectionsModelClientTest.java
  typespec-tests/src/test/java/com/models/property/nullable/DatetimeOperationClientTest.java
  typespec-tests/src/test/java/com/models/property/nullable/DurationOperationClientTest.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

add static field test
  partial-update/src/test/java/com/azure/autorest/partialupdate/util/PartialUpdateHandlerTest.java
  partial-update/src/test/resources/partialupdate/StringOperationGeneratedClient.java
  partial-update/src/test/resources/partialupdate/StringOperationWithAddedMemberClient.java
  partial-update/src/test/resources/partialupdate/StringOperationWithAddedMemberGeneratedClient.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

only track usage=Input if property is not read-only
  typespec-extension/src/code-model-builder.ts
  typespec-tests/tsp/model.tsp
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

generate new test
  typespec-tests/src/main/java/com/cadl/model/ModelAsyncClient.java
  typespec-tests/src/main/java/com/cadl/model/ModelClient.java
  typespec-tests/src/main/java/com/cadl/model/ModelClientBuilder.java
  typespec-tests/src/main/java/com/cadl/model/implementation/ModelClientImpl.java
  typespec-tests/src/main/java/com/cadl/model/implementation/package-info.java
  typespec-tests/src/main/java/com/cadl/model/models/InputOutputData2.java
  typespec-tests/src/main/java/com/cadl/model/models/OutputData.java
  typespec-tests/src/main/java/com/cadl/model/models/OutputData3.java
  typespec-tests/src/main/java/com/cadl/model/models/Resource1.java
  typespec-tests/src/main/java/com/cadl/model/models/Resource2.java
  typespec-tests/src/main/java/com/cadl/model/models/Resource3.java
  typespec-tests/src/main/java/com/cadl/model/models/package-info.java
  typespec-tests/src/main/java/com/cadl/model/package-info.java
  typespec-tests/src/main/resources/cadl-model.properties
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

re-generate test code
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/implementation/ContainerRegistryBlobsImpl.java
Owners: @weidongxu-microsoft, @srnagar

tsp, keep model used in readonly property as output-only model (#2086)
  typespec-extension/src/code-model-builder.ts
  typespec-tests/src/main/java/com/cadl/model/ModelAsyncClient.java
  typespec-tests/src/main/java/com/cadl/model/ModelClient.java
  typespec-tests/src/main/java/com/cadl/model/ModelClientBuilder.java
  typespec-tests/src/main/java/com/cadl/model/implementation/ModelClientImpl.java
  typespec-tests/src/main/java/com/cadl/model/implementation/package-info.java
  typespec-tests/src/main/java/com/cadl/model/models/InputOutputData2.java
  typespec-tests/src/main/java/com/cadl/model/models/OutputData.java
  typespec-tests/src/main/java/com/cadl/model/models/OutputData3.java
  typespec-tests/src/main/java/com/cadl/model/models/Resource1.java
  typespec-tests/src/main/java/com/cadl/model/models/Resource2.java
  typespec-tests/src/main/java/com/cadl/model/models/Resource3.java
  typespec-tests/src/main/java/com/cadl/model/models/package-info.java
  typespec-tests/src/main/java/com/cadl/model/package-info.java
  typespec-tests/src/main/resources/cadl-model.properties
  typespec-tests/tsp/model.tsp
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

remove unused imports
  partial-update/src/test/resources/partialupdate/StringOperationGeneratedClient.java
  partial-update/src/test/resources/partialupdate/StringOperationWithAddedMemberClient.java
  partial-update/src/test/resources/partialupdate/StringOperationWithAddedMemberGeneratedClient.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

Bug bounty testing, please do not approve.. (rhroos)
  androidgen/package.json
  androidgen/pom.xml
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/pom.xml
  customization-tests/pom.xml
  customization-tests/swagger/pom.xml
  extension-base/pom.xml
  fluent-tests/pom.xml
  fluentgen/package.json
  fluentgen/pom.xml
  fluentnamer/package.json
  fluentnamer/pom.xml
  javagen/package.json
  javagen/pom.xml
  package.json
  partial-update-tests/existing/pom.xml
  partial-update-tests/generated/pom.xml
  partial-update-tests/pom.xml
  partial-update/pom.xml
  pom.xml
  postprocessor/package.json
  postprocessor/pom.xml
  preprocessor/package.json
  preprocessor/pom.xml
  protocol-resilience-test/llcinitial/pom.xml
  protocol-resilience-test/llcupdate1/pom.xml
  protocol-resilience-test/pom.xml
  protocol-tests/pom.xml
  typespec-extension/package.json
  typespec-extension/pom.xml
  typespec-tests/package.json
  typespec-tests/pom.xml
  vanilla-tests/pom.xml
Owners: @JianpingChen, @anuchandy, @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

migrate to PollingStrategyOptions
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientMethod.java
Owners: @weidongxu-microsoft, @srnagar

regen
  azure-dataplane-tests/src/main/java/com/azure/ai/formrecognizer/documentanalysis/dpg/implementation/FormRecognizerClientImpl.java
  azure-dataplane-tests/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/FormRecognizerClientImpl.java
  protocol-tests/src/main/java/fixtures/dpgcustomization/implementation/DpgClientImpl.java
  protocol-tests/src/main/java/fixtures/endpointlro/implementation/LROsImpl.java
  protocol-tests/src/main/java/fixtures/lro/implementation/LROsImpl.java
  protocol-tests/src/main/java/fixtures/lro/implementation/LroRetrysImpl.java
  protocol-tests/src/main/java/fixtures/lro/implementation/LrosCustomHeadersImpl.java
  protocol-tests/src/main/java/fixtures/lro/implementation/LrosaDsImpl.java
  protocol-tests/src/main/java/fixtures/specialheader/implementation/HeadersImpl.java
  typespec-tests/src/main/java/com/azure/lro/core/implementation/CoreClientImpl.java
  typespec-tests/src/main/java/com/azure/lro/implementation/LroClientImpl.java
  typespec-tests/src/main/java/com/azure/lro/rpc/implementation/RpcClientImpl.java
  typespec-tests/src/main/java/com/cadl/longrunning/implementation/LongRunningClientImpl.java
  typespec-tests/src/main/java/com/cadl/protocolandconvenient/implementation/ProtocolAndConvenientClientImpl.java
  typespec-tests/src/main/java/com/cadl/specialheaders/implementation/SpecialHeadersClientImpl.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

update readme for default of polling strategy
  readme.md
Owners: @weidongxu-microsoft, @srnagar

client, add azure-core-experimental in Project
  eng/versioning/external_dependencies.txt
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

client, migrate to PollingStrategyOptions in LRO (#2091)
  azure-dataplane-tests/src/main/java/com/azure/ai/formrecognizer/documentanalysis/dpg/implementation/FormRecognizerClientImpl.java
  azure-dataplane-tests/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/FormRecognizerClientImpl.java
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientMethod.java
  protocol-tests/src/main/java/fixtures/dpgcustomization/implementation/DpgClientImpl.java
  protocol-tests/src/main/java/fixtures/endpointlro/implementation/LROsImpl.java
  protocol-tests/src/main/java/fixtures/lro/implementation/LROsImpl.java
  protocol-tests/src/main/java/fixtures/lro/implementation/LroRetrysImpl.java
  protocol-tests/src/main/java/fixtures/lro/implementation/LrosCustomHeadersImpl.java
  protocol-tests/src/main/java/fixtures/lro/implementation/LrosaDsImpl.java
  protocol-tests/src/main/java/fixtures/specialheader/implementation/HeadersImpl.java
  readme.md
  typespec-tests/src/main/java/com/azure/lro/core/implementation/CoreClientImpl.java
  typespec-tests/src/main/java/com/azure/lro/implementation/LroClientImpl.java
  typespec-tests/src/main/java/com/azure/lro/rpc/implementation/RpcClientImpl.java
  typespec-tests/src/main/java/com/cadl/longrunning/implementation/LongRunningClientImpl.java
  typespec-tests/src/main/java/com/cadl/protocolandconvenient/implementation/ProtocolAndConvenientClientImpl.java
  typespec-tests/src/main/java/com/cadl/specialheaders/implementation/SpecialHeadersClientImpl.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

client, add azure-core-experimental in Project (#2092)
  eng/versioning/external_dependencies.txt
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Add custom package-info descriptions concept
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/PackageInfo.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  readme.md
Owners: @weidongxu-microsoft, @srnagar

This is a bug bounty test.. dont panic. Please do not approve.. (bzjsya)
  androidgen/package.json
  androidgen/pom.xml
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/pom.xml
  customization-tests/pom.xml
  customization-tests/swagger/pom.xml
  extension-base/pom.xml
  fluent-tests/pom.xml
  fluentgen/package.json
  fluentgen/pom.xml
  fluentnamer/package.json
  fluentnamer/pom.xml
  javagen/package.json
  javagen/pom.xml
  package.json
  partial-update-tests/existing/pom.xml
  partial-update-tests/generated/pom.xml
  partial-update-tests/pom.xml
  partial-update/pom.xml
  pom.xml
  postprocessor/package.json
  postprocessor/pom.xml
  preprocessor/package.json
  preprocessor/pom.xml
  protocol-resilience-test/llcinitial/pom.xml
  protocol-resilience-test/llcupdate1/pom.xml
  protocol-resilience-test/pom.xml
  protocol-tests/pom.xml
  typespec-extension/package.json
  typespec-extension/pom.xml
  typespec-tests/package.json
  typespec-tests/pom.xml
  vanilla-tests/pom.xml
Owners: @JianpingChen, @anuchandy, @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Dont panic, this is a bug bounty test... Please do not approve.. (oblxed)
  androidgen/package.json
  androidgen/pom.xml
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/pom.xml
  customization-tests/pom.xml
  customization-tests/swagger/pom.xml
  extension-base/pom.xml
  fluent-tests/pom.xml
  fluentgen/package.json
  fluentgen/pom.xml
  fluentnamer/package.json
  fluentnamer/pom.xml
  javagen/package.json
  javagen/pom.xml
  package.json
  partial-update-tests/existing/pom.xml
  partial-update-tests/generated/pom.xml
  partial-update-tests/pom.xml
  partial-update/pom.xml
  pom.xml
  postprocessor/package.json
  postprocessor/pom.xml
  preprocessor/package.json
  preprocessor/pom.xml
  protocol-resilience-test/llcinitial/pom.xml
  protocol-resilience-test/llcupdate1/pom.xml
  protocol-resilience-test/pom.xml
  protocol-tests/pom.xml
  typespec-extension/package.json
  typespec-extension/pom.xml
  typespec-tests/package.json
  typespec-tests/pom.xml
  vanilla-tests/pom.xml
Owners: @JianpingChen, @anuchandy, @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

lroMetadata for new flow
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/LongRunningMetadata.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/Operation.java
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
  javagen/src/main/java/com/azure/autorest/util/SchemaUtil.java
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/common/operation.ts
  typespec-extension/src/models.ts
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

regen
  typespec-tests/pom.xml
  typespec-tests/src/main/java/com/azure/lro/LroAsyncClient.java
  typespec-tests/src/main/java/com/azure/lro/LroClient.java
  typespec-tests/src/main/java/com/azure/lro/core/CoreAsyncClient.java
  typespec-tests/src/main/java/com/azure/lro/core/CoreClient.java
  typespec-tests/src/main/java/com/azure/lro/core/implementation/CoreClientImpl.java
  typespec-tests/src/main/java/com/azure/lro/core/models/OperationState.java
  typespec-tests/src/main/java/com/azure/lro/core/models/ResourceOperationStatusUserError.java
  typespec-tests/src/main/java/com/azure/lro/core/models/ResourceOperationStatusUserExportedUserError.java
  typespec-tests/src/main/java/com/azure/lro/implementation/LroClientImpl.java
  typespec-tests/src/main/java/com/cadl/longrunning/LongRunningAsyncClient.java
  typespec-tests/src/main/java/com/cadl/longrunning/LongRunningClient.java
  typespec-tests/src/main/java/com/cadl/longrunning/implementation/LongRunningClientImpl.java
  typespec-tests/src/main/java/com/cadl/longrunning/models/OperationState.java
  typespec-tests/src/main/java/com/cadl/longrunning/models/ResourceOperationStatusResourceError.java
  typespec-tests/src/main/java/com/cadl/longrunning/models/ResourceOperationStatusResourceExportedResourceError.java
  typespec-tests/src/main/java/com/cadl/protocolandconvenient/ProtocolAndConvenientAsyncClient.java
  typespec-tests/src/main/java/com/cadl/protocolandconvenient/ProtocolAndConvenientClient.java
  typespec-tests/src/main/java/com/cadl/protocolandconvenient/implementation/ProtocolAndConvenientClientImpl.java
  typespec-tests/src/main/java/com/cadl/protocolandconvenient/models/OperationState.java
  typespec-tests/src/main/java/com/cadl/protocolandconvenient/models/ResourceOperationStatusResourceIError.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update test case
  typespec-tests/src/test/java/com/azure/lro/LroTests.java
  typespec-tests/src/test/java/com/azure/lro/core/LroCoreTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update cadl-ranch
  typespec-tests/package.json
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

more strict on relying on getLroMetadata
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

remove lro basic case, as it been removed from cadl-ranch
  typespec-tests/src/main/java/com/azure/lro/LroAsyncClient.java
  typespec-tests/src/main/java/com/azure/lro/LroClient.java
  typespec-tests/src/main/java/com/azure/lro/implementation/LroClientImpl.java
  typespec-tests/src/test/java/com/azure/lro/LroTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix lint
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

walkaround for invalid namespace
  typespec-tests/Generate.ps1
  typespec-tests/src/main/java/com/type/enums/extensible/ExtensibleAsyncClient.java
  typespec-tests/src/main/java/com/type/enums/extensible/ExtensibleClient.java
  typespec-tests/src/main/java/com/type/enums/extensible/ExtensibleClientBuilder.java
  typespec-tests/src/main/java/com/type/enums/extensible/implementation/ExtensibleClientImpl.java
  typespec-tests/src/main/java/com/type/enums/extensible/implementation/package-info.java
  typespec-tests/src/main/java/com/type/enums/extensible/models/DaysOfWeekExtensibleEnum.java
  typespec-tests/src/main/java/com/type/enums/extensible/models/package-info.java
  typespec-tests/src/main/java/com/type/enums/extensible/package-info.java
  typespec-tests/src/main/java/com/type/enums/fixed/FixedAsyncClient.java
  typespec-tests/src/main/java/com/type/enums/fixed/FixedClient.java
  typespec-tests/src/main/java/com/type/enums/fixed/FixedClientBuilder.java
  typespec-tests/src/main/java/com/type/enums/fixed/implementation/FixedClientImpl.java
  typespec-tests/src/main/java/com/type/enums/fixed/implementation/package-info.java
  typespec-tests/src/main/java/com/type/enums/fixed/models/DaysOfWeekEnum.java
  typespec-tests/src/main/java/com/type/enums/fixed/models/package-info.java
  typespec-tests/src/main/java/com/type/enums/fixed/package-info.java
  typespec-tests/src/main/resources/type-enums-extensible.properties
  typespec-tests/src/main/resources/type-enums-fixed.properties
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

use isLroMetadataSupported from utils
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/utils.ts
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/standard/implementation/StandardClientImpl.java
  typespec-tests/src/main/java/com/cadl/longrunning/implementation/LongRunningClientImpl.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

partly support external models
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ImplementationDetails.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/external-schemas.ts
  typespec-extension/src/main/java/com/azure/typespec/util/ModelUtil.java
  typespec-extension/src/utils.ts
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/RpcAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/RpcClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/implementation/RpcClientImpl.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/standard/StandardAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/standard/StandardClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/standard/implementation/StandardClientImpl.java
  typespec-tests/src/main/java/com/cadl/errormodel/ErrorModelAsyncClient.java
  typespec-tests/src/main/java/com/cadl/errormodel/ErrorModelClient.java
  typespec-tests/src/main/java/com/cadl/errormodel/implementation/ErrorModelClientImpl.java
  typespec-tests/src/main/java/com/cadl/longrunning/LongRunningAsyncClient.java
  typespec-tests/src/main/java/com/cadl/longrunning/LongRunningClient.java
  typespec-tests/src/main/java/com/cadl/longrunning/implementation/LongRunningClientImpl.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

client, refactor Project, move all dependency related info to Dependency enum
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/FluentPomMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/PomMapper.java
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

update sync_version.py
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  eng/versioning/sync_versions.py
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  typespec-tests/pom.xml
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

remove KNOWN_DEPENDENCY_PREFIXES
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/FluentPomMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/PomMapper.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

bug fix
  javagen/src/main/java/com/azure/autorest/mapper/PomMapper.java
Owners: @weidongxu-microsoft, @srnagar

add comments
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/FluentPomMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/PomMapper.java
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

client, refactor Project, move all dependency related info to Project.Dependency enum (#2101)
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  eng/versioning/sync_versions.py
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/FluentPomMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/PomMapper.java
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  typespec-tests/pom.xml
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

fix EMPTY_SET
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
Owners: @weidongxu-microsoft, @srnagar

unit test for PomMapper
  javagen/src/main/java/com/azure/autorest/mapper/PomMapper.java
  javagen/src/test/java/com/azure/autorest/mapper/PomMapperTests.java
  typespec-tests/Generate.ps1
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

add usage to script
  Generate.ps1
Owners: @weidongxu-microsoft, @srnagar

client, bug fix, add a unit test for PomMapper (#2102)
  Generate.ps1
  javagen/src/main/java/com/azure/autorest/mapper/PomMapper.java
  javagen/src/test/java/com/azure/autorest/mapper/PomMapperTests.java
  typespec-tests/Generate.ps1
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

mgmt, fix mgmt_fix-ResourceTypeNormalization; update recorded m4
  fluentgen/src/test/java/com/azure/autorest/fluent/TestUtils.java
  fluentgen/src/test/resources/code-model-fluentnamer-botservice.yaml
  fluentgen/src/test/resources/code-model-fluentnamer-locks.yaml
  fluentgen/src/test/resources/code-model-fluentnamer-policy.yaml
  fluentgen/src/test/resources/code-model-fluentnamer-signalr.yaml
  fluentgen/src/test/resources/code-model-fluentnamer-storage.yaml
  fluentnamer/src/main/java/com/azure/autorest/fluent/transformer/ResourceTypeNormalization.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

use the commit of botservices having bug
  fluentgen/src/test/java/com/azure/autorest/fluent/TestUtils.java
  fluentgen/src/test/resources/code-model-fluentnamer-botservice.yaml
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

nit
  fluentgen/src/test/java/com/azure/autorest/fluent/FluentGenTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao
