Repository Azure/autorest.java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @weidongxu-microsoft, @srnagar, @jsquire, @ronniegeraghty, @haolingdong-msft, @XiaofeiCao, @JianpingChen, @anuchandy

.github/CODEOWNERS:

# default
*                           @weidongxu-microsoft @srnagar

# Git Hub bot rules
/.github/fabricbot.json     @jsquire @ronniegeraghty

# fluentgen
/fluent*                    @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/azure-tests                @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

# androidgen
/androidgen                 @JianpingChen @anuchandy

# protocol
/protocol*                  @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update-tests       @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar

# typespec
/typespec-extension         @srnagar @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/typespec-tests             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

Continue to have Preprocessor implement NewPlugin but throw in some methods
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/NewPlugin.java
  fluentgen/src/main/java/com/azure/autorest/fluent/FluentGen.java
  fluentnamer/src/main/java/com/azure/autorest/fluentnamer/FluentNamer.java
  javagen/src/main/java/com/azure/autorest/Javagen.java
  preprocessor/src/main/java/com/azure/autorest/preprocessor/Preprocessor.java
  typespec-extension/src/main/java/com/azure/autorest/fluent/TypeSpecFluentNamer.java
  typespec-extension/src/main/java/com/azure/autorest/fluent/TypeSpecFluentPlugin.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Fix fluentgen pipeline configuration
  fluentgen/package.json
  fluentgen/readme.md
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Share code formatting logic
  androidgen/src/main/java/com/azure/autorest/android/Androidgen.java
  azure-dataplane-tests/pom.xml
  eng/pipelines/ci-typespec-java-dev-nightly.yaml
  eng/pipelines/ci-typespec-java.yaml
  eng/pipelines/ci.yaml
  eng/pipelines/fluent_integration.yaml
  eng/pipelines/post-publish-sdk.yaml
  eng/pipelines/publish-autorest-java.yaml
  eng/pipelines/publish-typespec-java.yaml
  fluentgen/pom.xml
  fluentgen/src/main/java/com/azure/autorest/fluent/FluentGen.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/projectmodel/CodeSample.java
  fluentnamer/src/main/java/com/azure/autorest/fluentnamer/FluentNamer.java
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  preprocessor/src/main/java/com/azure/autorest/preprocessor/Preprocessor.java
  typespec-extension/src/main/java/com/azure/typespec/Main.java
Owners: @JianpingChen, @anuchandy, @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Static method for just formatting files
  fluentgen/src/main/java/com/azure/autorest/fluent/FluentGen.java
  postprocessor/src/main/java/com/azure/autorest/postprocessor/Postprocessor.java
  typespec-extension/src/main/java/com/azure/typespec/Main.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

Turn preprocessor, fluentnamer, and postprocessor into dependencies
  androidgen/README.md
  androidgen/data-plane.md
  androidgen/src/main/java/com/azure/autorest/android/Androidgen.java
  eng/pipelines/ci-typespec-java-dev-nightly.yaml
  eng/pipelines/ci-typespec-java.yaml
  eng/pipelines/ci.yaml
  eng/pipelines/fluent_integration.yaml
  eng/pipelines/post-publish-sdk.yaml
  eng/pipelines/publish-autorest-java.yaml
  eng/pipelines/publish-typespec-java.yaml
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/NewPlugin.java
  fluentgen/package.json
  fluentgen/pom.xml
  fluentgen/readme.md
  fluentgen/src/main/java/com/azure/autorest/fluent/FluentGen.java
  fluentnamer/package.json
  fluentnamer/pom.xml
  fluentnamer/readme.md
  fluentnamer/src/main/java/com/azure/autorest/fluentnamer/FluentNamer.java
  fluentnamer/src/main/java/com/azure/autorest/fluentnamer/Main.java
  javagen/data-plane.md
  javagen/pom.xml
  javagen/readme.md
  javagen/src/main/java/com/azure/autorest/Javagen.java
  postprocessor/package.json
  postprocessor/readme.md
  postprocessor/src/main/java/com/azure/autorest/postprocessor/Main.java
  postprocessor/src/main/java/com/azure/autorest/postprocessor/Postprocessor.java
  preprocessor/package.json
  preprocessor/pom.xml
  preprocessor/readme.md
  preprocessor/src/main/java/com/azure/autorest/preprocessor/Main.java
  preprocessor/src/main/java/com/azure/autorest/preprocessor/Preprocessor.java
  preprocessor/src/test/java/com/azure/autorest/MockPreprocessor.java
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
  typespec-extension/src/main/java/com/azure/autorest/fluent/TypeSpecFluentNamer.java
  typespec-extension/src/main/java/com/azure/autorest/fluent/TypeSpecFluentPlugin.java
  typespec-extension/src/main/java/com/azure/typespec/Main.java
Owners: @JianpingChen, @anuchandy, @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Fix possible generation issues
  androidgen/pom.xml
  fluentgen/pom.xml
  fluentnamer/src/main/java/com/azure/autorest/fluentnamer/FluentNamer.java
  javagen/pom.xml
  postprocessor/pom.xml
  postprocessor/src/main/java/com/azure/autorest/postprocessor/Postprocessor.java
  typespec-extension/pom.xml
Owners: @JianpingChen, @anuchandy, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

Revert maven-shade-plugin changes
  androidgen/pom.xml
  customization-base/pom.xml
  fluentgen/pom.xml
  javagen/pom.xml
  partial-update/pom.xml
  postprocessor/pom.xml
  typespec-extension/pom.xml
Owners: @JianpingChen, @anuchandy, @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Add missing dependency
  javagen/pom.xml
Owners: @weidongxu-microsoft, @srnagar

Update typespec-extension/src/code-model-builder.ts
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

mpg, support lro (#2391)
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/common/code-model.ts
  typespec-extension/src/emitter.ts
  typespec-extension/src/main/java/com/azure/autorest/fluent/TypeSpecFluentPlugin.java
  typespec-extension/src/main/java/com/azure/typespec/Main.java
  typespec-extension/src/main/java/com/azure/typespec/model/EmitterOptions.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, TypeSpec Union as BinaryData (#2390)
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/implementation/models/AcrErrorInfo.java
  javagen/src/main/java/com/azure/autorest/mapper/UnionMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/UnionModelMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/emitter.ts
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
  typespec-extension/src/main/java/com/azure/typespec/model/EmitterOptions.java
  typespec-tests/Generate.ps1
  typespec-tests/src/main/java/com/cadl/internal/implementation/models/ByteArrayStandAloneUnionDataModel.java
  typespec-tests/src/main/java/com/cadl/internal/implementation/models/StandAloneUnionDataModelBase.java
  typespec-tests/src/main/java/com/cadl/internal/implementation/models/UrlStandAloneUnionDataModel.java
  typespec-tests/src/main/java/com/cadl/multicontenttypes/MultiContentTypesAsyncClient.java
  typespec-tests/src/main/java/com/cadl/multicontenttypes/MultiContentTypesClient.java
  typespec-tests/src/main/java/com/cadl/multicontenttypes/implementation/MultiContentTypesClientImpl.java
  typespec-tests/src/main/java/com/cadl/union/UnionAsyncClient.java
  typespec-tests/src/main/java/com/cadl/union/UnionClient.java
  typespec-tests/src/main/java/com/cadl/union/implementation/UnionClientImpl.java
  typespec-tests/src/main/java/com/cadl/union/models/ArrayData.java
  typespec-tests/src/main/java/com/cadl/union/models/Result.java
  typespec-tests/src/main/java/com/cadl/union/models/SendLongOptions.java
  typespec-tests/src/main/java/com/cadl/union/models/User.java
  typespec-tests/src/main/java/com/cadl/union/models/package-info.java
  typespec-tests/src/main/java/com/type/union/UnionAsyncClient.java
  typespec-tests/src/main/java/com/type/union/UnionClient.java
  typespec-tests/src/main/java/com/type/union/implementation/UnionClientImpl.java
  typespec-tests/src/main/java/com/type/union/models/BaseModel.java
  typespec-tests/src/main/java/com/type/union/models/Model1.java
  typespec-tests/src/main/java/com/type/union/models/Model2.java
  typespec-tests/src/main/java/com/type/union/models/ModelWithNamedUnionProperty.java
  typespec-tests/src/main/java/com/type/union/models/ModelWithNamedUnionPropertyInResponse.java
  typespec-tests/src/main/java/com/type/union/models/ModelWithSimpleUnionProperty.java
  typespec-tests/src/main/java/com/type/union/models/ModelWithSimpleUnionPropertyInResponse.java
  typespec-tests/src/main/java/com/type/union/models/package-info.java
  typespec-tests/src/test/java/com/type/union/UnionsClientTest.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

mgmt, fix format
  fluentgen/src/main/resources/eclipse-format-azure-sdk-for-java.xml
  postprocessor/src/main/resources/readme/eclipse-format-azure-sdk-for-java.xml
  typespec-extension/src/main/resources/eclipse-format-azure-sdk-for-java.xml
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

enable stream-style-serialization
  typespec-extension/src/emitter.ts
  typespec-extension/src/main/java/com/azure/typespec/model/EmitterOptions.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

drop PollResult from experimental, use PollOperationDetails in core
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/util/SchemaUtil.java
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/external-schemas.ts
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

re-generate test code
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/RpcAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/RpcClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/implementation/RpcClientImpl.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/standard/StandardAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/standard/StandardClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/standard/implementation/StandardClientImpl.java
  typespec-tests/src/main/java/com/cadl/protocolandconvenient/ProtocolAndConvenientAsyncClient.java
  typespec-tests/src/main/java/com/cadl/protocolandconvenient/ProtocolAndConvenientClient.java
  typespec-tests/src/main/java/com/cadl/protocolandconvenient/implementation/ProtocolAndConvenientClientImpl.java
  typespec-tests/src/main/java/com/cadl/union/UnionAsyncClient.java
  typespec-tests/src/main/java/com/cadl/union/UnionClient.java
  typespec-tests/src/main/java/com/cadl/union/implementation/UnionClientImpl.java
  typespec-tests/src/main/java/com/cadl/versioning/VersioningAsyncClient.java
  typespec-tests/src/main/java/com/cadl/versioning/VersioningClient.java
  typespec-tests/src/main/java/com/cadl/versioning/implementation/VersioningClientImpl.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update test code
  javagen/src/main/java/com/azure/autorest/util/SchemaUtil.java
  typespec-tests/src/test/java/com/_specs_/azure/core/lro/rpc/RpcTests.java
  typespec-tests/src/test/java/com/_specs_/azure/core/lro/standard/LroCoreTests.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Fix Typespec generation
  postprocessor/src/main/java/com/azure/autorest/postprocessor/Postprocessor.java
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Fix Fluent generation
  fluentnamer/src/main/java/com/azure/autorest/fluent/util/FluentJavaSettings.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

use org.eclipse.jdt.core.formatter.alignment_for_expressions_in_array_initializer
  fluentgen/src/main/resources/eclipse-format-azure-sdk-for-java.xml
  postprocessor/src/main/resources/readme/eclipse-format-azure-sdk-for-java.xml
  typespec-extension/src/main/resources/eclipse-format-azure-sdk-for-java.xml
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

add `Next` to generated post pageable method when in collision
  fluent-tests/prepare-tests.bat
  fluent-tests/src/test/java/com/azure/mgmttest/LiteCompilationTests.java
  preprocessor/src/main/java/com/azure/autorest/preprocessor/tranformer/Transformer.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

re-generate test code
  azure-tests/src/main/java/fixtures/custombaseuri/paging/Pagings.java
  azure-tests/src/main/java/fixtures/paging/AutoRestPagingTestServiceAsyncClient.java
  azure-tests/src/main/java/fixtures/paging/AutoRestPagingTestServiceClient.java
  azure-tests/src/main/java/fixtures/paging/implementation/PagingsImpl.java
  protocol-tests/src/main/java/fixtures/paging/AutoRestPagingTestServiceAsyncClient.java
  protocol-tests/src/main/java/fixtures/paging/AutoRestPagingTestServiceClient.java
  protocol-tests/src/main/java/fixtures/paging/implementation/PagingsImpl.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

lro, double check poll response is valid for new strategy
  typespec-extension/src/operation-utils.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix result
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

test
  typespec-tests/src/main/java/com/cadl/response/ResponseAsyncClient.java
  typespec-tests/src/main/java/com/cadl/response/ResponseClient.java
  typespec-tests/src/main/java/com/cadl/response/implementation/ResponseClientImpl.java
  typespec-tests/src/main/java/com/cadl/response/models/OperationDetails1.java
  typespec-tests/src/main/java/com/cadl/response/models/OperationDetails2.java
  typespec-tests/src/main/java/com/cadl/response/models/OperationState.java
  typespec-tests/src/main/java/com/cadl/response/models/Resource.java
  typespec-tests/tsp/response.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

add Build-TypeSpec.ps1
  Build-TypeSpec.ps1
Owners: @weidongxu-microsoft, @srnagar

Fix enum handling
  javagen/src/main/java/com/azure/autorest/model/clientmodel/EnumType.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/EnumTemplate.java
  javagen/src/main/java/com/azure/autorest/template/util/ModelTemplateHeaderHelper.java
  typespec-tests/existingcode/src/main/java/com/cadl/partialupdate/PartialUpdateAsyncClient.java
  typespec-tests/existingcode/src/main/java/com/cadl/partialupdate/PartialUpdateClient.java
  typespec-tests/existingcode/src/main/java/com/cadl/partialupdate/PartialUpdateClientBuilder.java
  typespec-tests/existingcode/src/main/java/com/cadl/partialupdate/PartialUpdateServiceVersion.java
  typespec-tests/existingcode/src/main/java/com/cadl/partialupdate/implementation/PartialUpdateClientImpl.java
  typespec-tests/existingcode/src/main/java/com/cadl/partialupdate/implementation/package-info.java
  typespec-tests/existingcode/src/main/java/com/cadl/partialupdate/models/PartialUpdateModel.java
  typespec-tests/existingcode/src/main/java/com/cadl/partialupdate/models/package-info.java
  typespec-tests/existingcode/src/main/java/com/cadl/partialupdate/package-info.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Fix running customization using Java 17+
  customization-base/src/main/java/com/azure/autorest/customization/implementation/ls/EclipseLanguageClient.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/ls/EclipseLanguageServerFacade.java
  extension-base/src/main/java/com/azure/autorest/extension/base/jsonrpc/Connection.java
Owners: @weidongxu-microsoft, @srnagar

Added code changes to make the demo work.
  openai-in-typespec/openai-sdk/src/main/java/com/openai/OpenAIClientBuilder.java
  openai-in-typespec/openai-sdk/src/main/java/com/openai/implementation/OpenAIClientImpl.java
Owners: @weidongxu-microsoft, @srnagar

mgmt, fix code format about array init (#2394)
  azure-dataplane-tests/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/models/OperationDetails.java
  customization-tests/src/main/java/fixtures/bodycomplex/AutoRestComplexTestServiceBuilder.java
  customization-tests/src/main/java/fixtures/bodycomplex/implementation/models/Fish.java
  customization-tests/src/main/java/fixtures/bodycomplex/implementation/models/Shark.java
  fluentgen/src/main/resources/eclipse-format-azure-sdk-for-java.xml
  partial-update-tests/generated/src/main/java/fixtures/bodystring/AutoRestSwaggerBatServiceClientBuilder.java
  postprocessor/src/main/resources/readme/eclipse-format-azure-sdk-for-java.xml
  protocol-tests/src/main/java/fixtures/constantandclientparam/ConstantAndClientParameterServiceClientBuilder.java
  protocol-tests/src/main/java/fixtures/headexceptions/AutoRestHeadExceptionTestServiceClientBuilder.java
  protocol-tests/src/main/java/fixtures/url/multi/AutoRestUrlMutliCollectionFormatTestServiceClientBuilder.java
  typespec-extension/src/main/resources/eclipse-format-azure-sdk-for-java.xml
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/AccessClientBuilder.java
  typespec-tests/src/main/java/com/cadl/visibility/VisibilityClientBuilder.java
  typespec-tests/src/main/java/com/client/structure/service/RenamedOperationClientBuilder.java
  typespec-tests/src/main/java/com/encode/bytes/BytesClientBuilder.java
  typespec-tests/src/main/java/com/encode/datetime/DatetimeClientBuilder.java
  typespec-tests/src/main/java/com/encode/duration/DurationClientBuilder.java
  typespec-tests/src/main/java/com/parameters/bodyoptionality/BodyOptionalityClientBuilder.java
  typespec-tests/src/main/java/com/payload/contentnegotiation/ContentNegotiationClientBuilder.java
  typespec-tests/src/main/java/com/projection/projectedname/ProjectedNameClientBuilder.java
  typespec-tests/src/main/java/com/specialwords/SpecialWordsClientBuilder.java
  typespec-tests/src/main/java/com/type/array/ArrayClientBuilder.java
  typespec-tests/src/main/java/com/type/dictionary/DictionaryClientBuilder.java
  typespec-tests/src/main/java/com/type/model/inheritance/nesteddiscriminator/models/Fish.java
  typespec-tests/src/main/java/com/type/model/inheritance/nesteddiscriminator/models/Shark.java
  typespec-tests/src/main/java/com/type/model/inheritance/singlediscriminator/models/Bird.java
  typespec-tests/src/main/java/com/type/property/nullable/NullableClientBuilder.java
  typespec-tests/src/main/java/com/type/property/optional/OptionalClientBuilder.java
  typespec-tests/src/main/java/com/type/property/valuetypes/ValueTypesClientBuilder.java
  typespec-tests/src/main/java/com/type/scalar/ScalarClientBuilder.java
  vanilla-tests/src/main/java/fixtures/bodycomplex/models/Fish.java
  vanilla-tests/src/main/java/fixtures/bodycomplex/models/Shark.java
  vanilla-tests/src/main/java/fixtures/bodydictionary/AutoRestSwaggerBATDictionaryServiceBuilder.java
  vanilla-tests/src/main/java/fixtures/discriminatorflattening/clientflatten/models/MetricAlertCriteria.java
  vanilla-tests/src/main/java/fixtures/discriminatorflattening/models/MetricAlertCriteria.java
  vanilla-tests/src/main/java/fixtures/discriminatorflattening/noflatten/models/MetricAlertCriteria.java
  vanilla-tests/src/main/java/fixtures/discriminatorflattening/requirexmsflattened/models/MetricAlertCriteria.java
  vanilla-tests/src/main/java/fixtures/inheritance/donotpassdiscriminator/models/MetricAlertCriteria.java
  vanilla-tests/src/main/java/fixtures/inheritance/passdiscriminator/models/MetricAlertCriteria.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

tsp, drop PollResult from core-experimental, use PollOperationDetails in core (#2395)
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/util/SchemaUtil.java
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/external-schemas.ts
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/RpcAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/RpcClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/implementation/RpcClientImpl.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/standard/StandardAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/standard/StandardClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/standard/implementation/StandardClientImpl.java
  typespec-tests/src/main/java/com/cadl/protocolandconvenient/ProtocolAndConvenientAsyncClient.java
  typespec-tests/src/main/java/com/cadl/protocolandconvenient/ProtocolAndConvenientClient.java
  typespec-tests/src/main/java/com/cadl/protocolandconvenient/implementation/ProtocolAndConvenientClientImpl.java
  typespec-tests/src/main/java/com/cadl/union/UnionAsyncClient.java
  typespec-tests/src/main/java/com/cadl/union/UnionClient.java
  typespec-tests/src/main/java/com/cadl/union/implementation/UnionClientImpl.java
  typespec-tests/src/main/java/com/cadl/versioning/VersioningAsyncClient.java
  typespec-tests/src/main/java/com/cadl/versioning/VersioningClient.java
  typespec-tests/src/main/java/com/cadl/versioning/implementation/VersioningClientImpl.java
  typespec-tests/src/test/java/com/_specs_/azure/core/lro/rpc/RpcTests.java
  typespec-tests/src/test/java/com/_specs_/azure/core/lro/standard/LroCoreTests.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

update changelog for release
  typespec-extension/changelog.md
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

follow up for non-azure
  javagen/src/main/java/com/azure/autorest/template/TemplateHelper.java
  typespec-extension/src/code-model-builder.ts
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

review
  typespec-extension/src/operation-utils.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

a few more
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, fix for cases with invalid LRO response for new poll strategy (#2399)
  Build-TypeSpec.ps1
  typespec-extension/changelog.md
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/operation-utils.ts
  typespec-tests/src/main/java/com/cadl/response/ResponseAsyncClient.java
  typespec-tests/src/main/java/com/cadl/response/ResponseClient.java
  typespec-tests/src/main/java/com/cadl/response/implementation/ResponseClientImpl.java
  typespec-tests/src/main/java/com/cadl/response/models/OperationDetails1.java
  typespec-tests/src/main/java/com/cadl/response/models/OperationDetails2.java
  typespec-tests/src/main/java/com/cadl/response/models/OperationState.java
  typespec-tests/src/main/java/com/cadl/response/models/Resource.java
  typespec-tests/tsp/response.tsp
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

follow up for non-azure (#2402)
  javagen/src/main/java/com/azure/autorest/template/TemplateHelper.java
  typespec-extension/src/code-model-builder.ts
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

add sample
  openai-in-typespec/openai-sdk/src/samples/java/com/openai/CreateChatCompletion.java
Owners: @weidongxu-microsoft, @srnagar

Reverted the "authorization" header to be all lowercase in OpenAIClientBuilder.
  openai-in-typespec/openai-sdk/src/main/java/com/openai/OpenAIClientBuilder.java
Owners: @weidongxu-microsoft, @srnagar

works
  openai-in-typespec/openai-sdk/src/main/java/com/openai/models/CreateChatCompletionRequest.java
  openai-in-typespec/openai-sdk/src/samples/java/com/openai/CreateChatCompletion.java
Owners: @weidongxu-microsoft, @srnagar

fix for BinaryData in json
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
Owners: @weidongxu-microsoft, @srnagar
