Repository Azure/autorest.java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @weidongxu-microsoft, @srnagar, @jsquire, @ronniegeraghty, @haolingdong-msft, @XiaofeiCao, @JianpingChen, @anuchandy

changelog
  typespec-extension/changelog.md
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

nit, avoid use any
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

format
  typespec-tests/tsp/flatten.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, multipart/form-data content-type=applicaiton/json (#2459)
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/resources/MultipartFormDataHelper.java
  typespec-tests/src/main/java/com/cadl/multipart/MultipartAsyncClient.java
  typespec-tests/src/main/java/com/cadl/multipart/MultipartClient.java
  typespec-tests/src/main/java/com/cadl/multipart/implementation/MultipartClientImpl.java
  typespec-tests/src/main/java/com/cadl/multipart/implementation/MultipartFormDataHelper.java
  typespec-tests/src/main/java/com/cadl/multipart/models/FormData.java
  typespec-tests/src/main/java/com/cadl/multipart/models/Size.java
  typespec-tests/src/main/java/com/payload/multipart/MultiPartAsyncClient.java
  typespec-tests/src/main/java/com/payload/multipart/MultiPartClient.java
  typespec-tests/src/main/java/com/payload/multipart/implementation/MultipartFormDataHelper.java
  typespec-tests/src/test/java/com/payload/multipart/MultipartTests.java
  typespec-tests/tsp/multipart.tsp
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Add a unit test first
  typespec-tests/src/test/java/com/cadl/builtin/BuiltinClientTest.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

not handle nullable value map for now
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
Owners: @weidongxu-microsoft, @srnagar

tsp, fix projectedName json on spread/flatten (#2462)
  eng/pipelines/ci-typespec-java-dev-nightly.yaml
  eng/pipelines/ci-typespec-java.yaml
  typespec-extension/changelog.md
  typespec-extension/src/code-model-builder.ts
  typespec-tests/src/main/java/com/cadl/flatten/FlattenAsyncClient.java
  typespec-tests/src/main/java/com/cadl/flatten/FlattenClient.java
  typespec-tests/src/main/java/com/cadl/flatten/implementation/FlattenClientImpl.java
  typespec-tests/src/main/java/com/cadl/naming/NamingAsyncClient.java
  typespec-tests/src/main/java/com/cadl/naming/implementation/NamingOpsImpl.java
  typespec-tests/src/main/java/com/cadl/naming/models/BinaryData.java
  typespec-tests/src/main/java/com/cadl/naming/models/BytesData.java
  typespec-tests/src/main/java/com/cadl/naming/models/Data.java
  typespec-tests/tsp/flatten.tsp
  typespec-tests/tsp/naming.tsp
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

temporary disable multipart
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, test for projectedName in option grouping
  typespec-tests/tsp/flatten.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

set element IType as nullable, if nullableItems=true
  typespec-tests/src/main/java/com/cadl/builtin/BuiltinAsyncClient.java
  typespec-tests/src/main/java/com/cadl/builtin/BuiltinClient.java
  typespec-tests/src/main/java/com/cadl/builtin/implementation/BuiltinOpsImpl.java
  typespec-tests/src/main/java/com/cadl/builtin/models/Builtin.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

add case on serialization for null model map property
  typespec-tests/src/test/java/com/cadl/builtin/BuiltinClientTest.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

code for the fix
  javagen/src/main/java/com/azure/autorest/mapper/DictionaryMapper.java
Owners: @weidongxu-microsoft, @srnagar

regen
  typespec-tests/src/main/java/com/type/dictionary/NullableFloatValueAsyncClient.java
  typespec-tests/src/main/java/com/type/dictionary/NullableFloatValueClient.java
  typespec-tests/src/main/java/com/type/dictionary/implementation/NullableFloatValuesImpl.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, set MapType element IType as nullable, if nullableItems=true (#2465)
  javagen/src/main/java/com/azure/autorest/mapper/DictionaryMapper.java
  typespec-tests/src/main/java/com/cadl/builtin/BuiltinAsyncClient.java
  typespec-tests/src/main/java/com/cadl/builtin/BuiltinClient.java
  typespec-tests/src/main/java/com/cadl/builtin/implementation/BuiltinOpsImpl.java
  typespec-tests/src/main/java/com/cadl/builtin/models/Builtin.java
  typespec-tests/src/main/java/com/type/dictionary/NullableFloatValueAsyncClient.java
  typespec-tests/src/main/java/com/type/dictionary/NullableFloatValueClient.java
  typespec-tests/src/main/java/com/type/dictionary/implementation/NullableFloatValuesImpl.java
  typespec-tests/tsp/flatten.tsp
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

serialize nullable value map for patch
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
Owners: @weidongxu-microsoft, @srnagar

bump version
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix javadoc required/optional on dictionary value
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplateBase.java
Owners: @weidongxu-microsoft, @srnagar

simplify stream-serialization on BinaryData
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
Owners: @weidongxu-microsoft, @srnagar

regen
  azure-dataplane-tests/src/main/java/com/azure/ai/formrecognizer/documentanalysis/dpg/FormRecognizerAsyncClient.java
  azure-dataplane-tests/src/main/java/com/azure/ai/formrecognizer/documentanalysis/dpg/FormRecognizerClient.java
  azure-dataplane-tests/src/main/java/com/azure/ai/formrecognizer/documentanalysis/dpg/implementation/FormRecognizerClientImpl.java
  protocol-tests/src/main/java/fixtures/bodycomplex/DictionaryAsyncClient.java
  protocol-tests/src/main/java/fixtures/bodycomplex/DictionaryClient.java
  protocol-tests/src/main/java/fixtures/bodycomplex/implementation/DictionariesImpl.java
  protocol-tests/src/main/java/fixtures/lro/LROsAsyncClient.java
  protocol-tests/src/main/java/fixtures/lro/LROsClient.java
  protocol-tests/src/main/java/fixtures/lro/LroRetrysAsyncClient.java
  protocol-tests/src/main/java/fixtures/lro/LroRetrysClient.java
  protocol-tests/src/main/java/fixtures/lro/LrosCustomHeaderAsyncClient.java
  protocol-tests/src/main/java/fixtures/lro/LrosCustomHeaderClient.java
  protocol-tests/src/main/java/fixtures/lro/LrosaDsAsyncClient.java
  protocol-tests/src/main/java/fixtures/lro/LrosaDsClient.java
  protocol-tests/src/main/java/fixtures/lro/implementation/LROsImpl.java
  protocol-tests/src/main/java/fixtures/lro/implementation/LroRetrysImpl.java
  protocol-tests/src/main/java/fixtures/lro/implementation/LrosCustomHeadersImpl.java
  protocol-tests/src/main/java/fixtures/lro/implementation/LrosaDsImpl.java
  protocol-tests/src/main/java/fixtures/requiredoptionalbody/RequiredOptionalBodyAsyncClient.java
  protocol-tests/src/main/java/fixtures/requiredoptionalbody/RequiredOptionalBodyClient.java
  protocol-tests/src/main/java/fixtures/requiredoptionalbody/implementation/RequiredOptionalBodyClientImpl.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

update according to comments
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  typespec-tests/src/test/java/com/cadl/patch/PatchClientTest.java
  typespec-tests/tsp/patch.tsp
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

revert
  typespec-extension/src/main/java/com/azure/typespec/model/EmitterOptions.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Fixed the not working test case for PR#2445
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/ExtendsModelArrayAdditionalProperties.java
  typespec-tests/src/test/java/com/type/property/additionalproperties/ExtendsTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update test cases
  typespec-tests/src/test/java/com/cadl/patch/PatchClientTest.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

format
  typespec-tests/tsp/patch.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

add test case
  typespec-tests/src/test/java/com/cadl/union/UnionTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
Owners: @weidongxu-microsoft, @srnagar

re-generate test code
  typespec-tests/src/main/java/com/cadl/internal/implementation/models/StandAloneUnion.java
  typespec-tests/src/main/java/com/cadl/multipart/models/FormData.java
  typespec-tests/src/main/java/com/cadl/union/models/Result.java
  typespec-tests/src/main/java/com/cadl/union/models/SendLongOptions.java
  typespec-tests/src/main/java/com/cadl/union/models/SubResult.java
  typespec-tests/src/main/java/com/payload/multipart/models/MultiPartRequest.java
  typespec-tests/src/main/java/com/type/union/models/EnumsOnlyCases.java
  typespec-tests/src/main/java/com/type/union/models/GetResponse5.java
  typespec-tests/src/main/java/com/type/union/models/MixedLiteralsCases.java
  typespec-tests/src/main/java/com/type/union/models/MixedTypesCases.java
  typespec-tests/src/main/java/com/type/union/models/StringAndArrayCases.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

comment
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
Owners: @weidongxu-microsoft, @srnagar

Fixed comments of PR#2467
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/ExtendsModelArrayAdditionalProperties.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, add step for debug in IDE in test module
  typespec-extension/changelog.md
  typespec-tests/readme.md
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, fix regression on BinaryData serialization (#2469)
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  typespec-tests/src/main/java/com/cadl/internal/implementation/models/StandAloneUnion.java
  typespec-tests/src/main/java/com/cadl/multipart/models/FormData.java
  typespec-tests/src/main/java/com/cadl/union/models/Result.java
  typespec-tests/src/main/java/com/cadl/union/models/SendLongOptions.java
  typespec-tests/src/main/java/com/cadl/union/models/SubResult.java
  typespec-tests/src/main/java/com/payload/multipart/models/MultiPartRequest.java
  typespec-tests/src/main/java/com/type/union/models/EnumsOnlyCases.java
  typespec-tests/src/main/java/com/type/union/models/GetResponse5.java
  typespec-tests/src/main/java/com/type/union/models/MixedLiteralsCases.java
  typespec-tests/src/main/java/com/type/union/models/MixedTypesCases.java
  typespec-tests/src/main/java/com/type/union/models/StringAndArrayCases.java
  typespec-tests/src/test/java/com/cadl/union/UnionTests.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

update readme
  typespec-tests/readme.md
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, prepare 0.12.1 (#2470)
  typespec-extension/changelog.md
  typespec-tests/readme.md
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

add client part code
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
Owners: @weidongxu-microsoft, @srnagar

regen
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/BasicAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/BasicClient.java
  typespec-tests/src/main/java/com/cadl/patch/PatchAsyncClient.java
  typespec-tests/src/main/java/com/cadl/patch/PatchClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/EtagHeadersAsyncClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/EtagHeadersClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/RepeatabilityHeadersAsyncClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/RepeatabilityHeadersClient.java
  typespec-tests/src/main/java/com/type/property/nullable/BytesAsyncClient.java
  typespec-tests/src/main/java/com/type/property/nullable/BytesClient.java
  typespec-tests/src/main/java/com/type/property/nullable/CollectionsByteAsyncClient.java
  typespec-tests/src/main/java/com/type/property/nullable/CollectionsByteClient.java
  typespec-tests/src/main/java/com/type/property/nullable/CollectionsModelAsyncClient.java
  typespec-tests/src/main/java/com/type/property/nullable/CollectionsModelClient.java
  typespec-tests/src/main/java/com/type/property/nullable/DatetimeOperationAsyncClient.java
  typespec-tests/src/main/java/com/type/property/nullable/DatetimeOperationClient.java
  typespec-tests/src/main/java/com/type/property/nullable/DurationOperationAsyncClient.java
  typespec-tests/src/main/java/com/type/property/nullable/DurationOperationClient.java
  typespec-tests/src/main/java/com/type/property/nullable/StringOperationAsyncClient.java
  typespec-tests/src/main/java/com/type/property/nullable/StringOperationClient.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update existing cadl-ranch case
  typespec-tests/src/test/java/com/type/property/nullable/StringClientTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update according to comments
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/JsonMergePatchHelperTemplate.java
Owners: @weidongxu-microsoft, @srnagar

regen
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/implementation/JsonMergePatchHelper.java
  typespec-tests/src/main/java/com/cadl/patch/implementation/JsonMergePatchHelper.java
  typespec-tests/src/main/java/com/cadl/specialheaders/implementation/JsonMergePatchHelper.java
  typespec-tests/src/main/java/com/type/property/nullable/implementation/JsonMergePatchHelper.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

support patch for optional body
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
Owners: @weidongxu-microsoft, @srnagar

add test case and regen
  typespec-tests/src/main/java/com/cadl/patch/PatchAsyncClient.java
  typespec-tests/src/main/java/com/cadl/patch/PatchClient.java
  typespec-tests/src/main/java/com/cadl/patch/implementation/PatchesImpl.java
  typespec-tests/src/main/java/com/cadl/specialheaders/EtagHeadersOptionalBodyAsyncClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/EtagHeadersOptionalBodyClient.java
  typespec-tests/tsp/patch.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

.github/CODEOWNERS:

# default
*                           @weidongxu-microsoft @srnagar

# Git Hub bot rules
/.github/fabricbot.json     @jsquire @ronniegeraghty

# fluentgen
/fluent*                    @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/azure-tests                @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

# androidgen
/androidgen                 @JianpingChen @anuchandy

# protocol
/protocol*                  @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update-tests       @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar

# typespec
/typespec-extension         @srnagar @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/typespec-tests             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
