Repository Azure/autorest.java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @weidongxu-microsoft, @srnagar, @jsquire, @ronniegeraghty, @haolingdong-msft, @XiaofeiCao, @JianpingChen, @anuchandy

mpg, remove lro workaround, use getLroMetadata (#2526)
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix package bug
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
Owners: @weidongxu-microsoft, @srnagar

sync 0.52
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

bump version 0.12.4
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/readme.md
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

disable flatten in DPG
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

support clientName
  typespec-extension/src/code-model-builder.ts
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

test case for clientName
  typespec-tests/src/main/java/com/cadl/naming/models/BytesData.java
  typespec-tests/tsp/naming.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

changelog
  typespec-extension/changelog.md
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

format
  typespec-extension/changelog.md
  typespec-tests/tsp/naming.tsp
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

use 0.13.0
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, upgrade compiler 0.52 (#2527)
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/readme.md
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
  typespec-tests/package.json
  typespec-tests/src/main/java/com/cadl/naming/models/BytesData.java
  typespec-tests/tsp/naming.tsp
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

support flattenProperty
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

changelog
  typespec-extension/changelog.md
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

mgmt, support flattenProperty (#2529)
  typespec-extension/changelog.md
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

changelog and some code comments
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
  typespec-extension/changelog.md
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

set release date to 01-26 as this be the deadline in Loop
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

avoid flatten on multipart request
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
  typespec-extension/src/code-model-builder.ts
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

bug fix on multipart request with anonymous
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

add host parameter for arm
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

re-generate test code
  typespec-tests/src/main/java/com/cadl/armresourceprovider/ArmResourceProviderManager.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/ArmResourceProviderClient.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ArmResourceProviderClientBuilder.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ArmResourceProviderClientImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ChildResourcesInterfacesClientImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/OperationsClientImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/TopLevelArmResourceInterfacesClientImpl.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

format, comment
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

lint
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

review feedback
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
Owners: @weidongxu-microsoft, @srnagar

Ensure polymorphic models close reader and support Java 21 Eclipse language server
  customization-base/src/main/java/com/azure/autorest/customization/Customization.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/ls/EclipseLanguageClient.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/ls/EclipseLanguageServerFacade.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/DotFish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Fish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/MyBaseType.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Salmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Shark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/DotFish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Fish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/MyBaseType.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Salmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Shark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationimmutableoutput/models/DotFish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationimmutableoutput/models/Fish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationimmutableoutput/models/MyBaseType.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationimmutableoutput/models/Salmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationimmutableoutput/models/Shark.java
Owners: @weidongxu-microsoft, @srnagar

Update code generation
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/implementation/models/AbstractModel.java
  typespec-tests/src/main/java/com/cadl/naming/models/Data.java
  typespec-tests/src/main/java/com/cadl/patch/models/Fish.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumdiscriminator/models/Dog.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumdiscriminator/models/Snake.java
  typespec-tests/src/main/java/com/type/model/inheritance/nesteddiscriminator/models/Fish.java
  typespec-tests/src/main/java/com/type/model/inheritance/nesteddiscriminator/models/Shark.java
  typespec-tests/src/main/java/com/type/model/inheritance/singlediscriminator/models/Bird.java
  typespec-tests/src/main/java/com/type/model/inheritance/singlediscriminator/models/Dinosaur.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/ExtendsUnknownAdditionalPropertiesDiscriminated.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/IsUnknownAdditionalPropertiesDiscriminated.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

mpg, add host parameter if `server` is synthesized by `@armProviderNamespace` (#2532)
  typespec-extension/src/code-model-builder.ts
  typespec-tests/src/main/java/com/cadl/armresourceprovider/ArmResourceProviderManager.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/ArmResourceProviderClient.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ArmResourceProviderClientBuilder.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ArmResourceProviderClientImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ChildResourcesInterfacesClientImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/OperationsClientImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/TopLevelArmResourceInterfacesClientImpl.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, multipart with ##FileDetails class (#2525)
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
  javagen/src/main/resources/MultipartFormDataHelper.java
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
  typespec-tests/package.json
  typespec-tests/src/main/java/com/cadl/multipart/MultipartAsyncClient.java
  typespec-tests/src/main/java/com/cadl/multipart/MultipartClient.java
  typespec-tests/src/main/java/com/cadl/multipart/implementation/MultipartFormDataHelper.java
  typespec-tests/src/main/java/com/cadl/multipart/models/FileDetails.java
  typespec-tests/src/main/java/com/cadl/multipart/models/FormData.java
  typespec-tests/src/main/java/com/cadl/multipart/models/ImageFileDetails.java
  typespec-tests/src/main/java/com/payload/multipart/MultiPartAsyncClient.java
  typespec-tests/src/main/java/com/payload/multipart/MultiPartClient.java
  typespec-tests/src/main/java/com/payload/multipart/implementation/MultipartFormDataHelper.java
  typespec-tests/src/main/java/com/payload/multipart/models/BinaryArrayPartsRequest.java
  typespec-tests/src/main/java/com/payload/multipart/models/ComplexPartsRequest.java
  typespec-tests/src/main/java/com/payload/multipart/models/JsonArrayPartsRequest.java
  typespec-tests/src/main/java/com/payload/multipart/models/JsonPartRequest.java
  typespec-tests/src/main/java/com/payload/multipart/models/MultiBinaryPartsRequest.java
  typespec-tests/src/main/java/com/payload/multipart/models/MultiPartRequest.java
  typespec-tests/src/main/java/com/payload/multipart/models/PictureFileDetails.java
  typespec-tests/src/main/java/com/payload/multipart/models/PicturesFileDetails.java
  typespec-tests/src/main/java/com/payload/multipart/models/ProfileImageFileDetails.java
  typespec-tests/src/test/java/com/payload/multipart/MultipartTests.java
  typespec-tests/tsp/multipart.tsp
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Remove decrement of Parallelization
  Generate-TypeSpec.ps1
  Generate.ps1
  typespec-tests/Generate.ps1
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Move Fluentgen to same pattern used in Javagen and TypeSpec
  azure-tests/pom.xml
  eng/pipelines/fluent_integration.yaml
  fluent-tests/pom.xml
  protocol-tests/pom.xml
  vanilla-tests/pom.xml
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

Fix incorrect reference
  eng/pipelines/fluent_integration.yaml
Owners: @weidongxu-microsoft, @srnagar

Make fluent code generation parallel
  fluent-tests/Initialize-Tests.ps1
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Don't run tests before code generation
  eng/pipelines/fluent_integration.yaml
Owners: @weidongxu-microsoft, @srnagar

Use in-memory code formatting (#2479)
  Generate-TypeSpec.ps1
  Generate.ps1
  androidgen/package.json
  eng/pipelines/ci-typespec-java-dev-nightly.yaml
  eng/pipelines/ci-typespec-java.yaml
  eng/pipelines/ci.yaml
  extension-base/src/main/java/com/azure/autorest/extension/base/jsonrpc/Connection.java
  fluentgen/package.json
  javagen/package.json
  package.json
  postprocessor/pom.xml
  postprocessor/src/main/java/com/azure/autorest/postprocessor/Postprocessor.java
  postprocessor/src/main/java/com/azure/autorest/postprocessor/implementation/CodeFormatterUtil.java
  typespec-extension/src/emitter.ts
  typespec-tests/Generate.ps1
  typespec-tests/src/main/java/com/cadl/enumservice/EnumServiceAsyncClient.java
  typespec-tests/src/main/java/com/cadl/enumservice/EnumServiceClient.java
  typespec-tests/src/main/java/com/cadl/optional/OptionalAsyncClient.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/CookiecuttersharkTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/FishTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/GoblinsharkTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/SalmonTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/SawsharkTests.java
Owners: @weidongxu-microsoft, @srnagar, @JianpingChen, @anuchandy, @haolingdong-msft, @XiaofeiCao

Fix script pathing
  eng/pipelines/fluent_integration.yaml
  fluent-tests/Initialize-Tests.ps1
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Ensure polymorphic models close reader and support Java 21 Eclipse language server (#2533)
  customization-base/src/main/java/com/azure/autorest/customization/Customization.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/ls/EclipseLanguageClient.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/ls/EclipseLanguageServerFacade.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/implementation/models/AbstractModel.java
  typespec-tests/src/main/java/com/cadl/naming/models/Data.java
  typespec-tests/src/main/java/com/cadl/patch/models/Fish.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumdiscriminator/models/Dog.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumdiscriminator/models/Snake.java
  typespec-tests/src/main/java/com/type/model/inheritance/nesteddiscriminator/models/Fish.java
  typespec-tests/src/main/java/com/type/model/inheritance/nesteddiscriminator/models/Shark.java
  typespec-tests/src/main/java/com/type/model/inheritance/singlediscriminator/models/Bird.java
  typespec-tests/src/main/java/com/type/model/inheritance/singlediscriminator/models/Dinosaur.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/ExtendsUnknownAdditionalPropertiesDiscriminated.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/IsUnknownAdditionalPropertiesDiscriminated.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/DotFish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Fish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/MyBaseType.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Salmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Shark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/DotFish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Fish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/MyBaseType.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Salmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Shark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationimmutableoutput/models/DotFish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationimmutableoutput/models/Fish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationimmutableoutput/models/MyBaseType.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationimmutableoutput/models/Salmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationimmutableoutput/models/Shark.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Remove fluent-tests bat script, replaced by PowerShell script
  docs/developer/readme.md
  fluent-tests/Initialize-Tests.ps1
  fluent-tests/prepare-tests.bat
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Move Fluentgen to same pattern used in Javagen and TypeSpec (#2534)
  azure-tests/pom.xml
  docs/developer/readme.md
  eng/pipelines/fluent_integration.yaml
  fluent-tests/Initialize-Tests.ps1
  fluent-tests/pom.xml
  fluent-tests/prepare-tests.bat
  protocol-tests/pom.xml
  vanilla-tests/pom.xml
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

update cadl-ranch
  typespec-tests/package.json
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

re-generate test code
  typespec-tests/src/main/java/com/payload/jsonmergepatch/JsonMergePatchAsyncClient.java
  typespec-tests/src/main/java/com/payload/jsonmergepatch/JsonMergePatchClient.java
  typespec-tests/src/main/java/com/payload/jsonmergepatch/JsonMergePatchClientBuilder.java
  typespec-tests/src/main/java/com/payload/jsonmergepatch/implementation/JsonMergePatchClientImpl.java
  typespec-tests/src/main/java/com/payload/jsonmergepatch/implementation/JsonMergePatchHelper.java
  typespec-tests/src/main/java/com/payload/jsonmergepatch/implementation/package-info.java
  typespec-tests/src/main/java/com/payload/jsonmergepatch/models/InnerModel.java
  typespec-tests/src/main/java/com/payload/jsonmergepatch/models/Resource.java
  typespec-tests/src/main/java/com/payload/jsonmergepatch/models/ResourcePatch.java
  typespec-tests/src/main/java/com/payload/jsonmergepatch/models/package-info.java
  typespec-tests/src/main/java/com/payload/jsonmergepatch/package-info.java
  typespec-tests/src/main/java/com/payload/multipart/MultiPartAsyncClient.java
  typespec-tests/src/main/java/com/payload/multipart/MultiPartClient.java
  typespec-tests/src/main/java/com/payload/multipart/implementation/FormDatasImpl.java
  typespec-tests/src/main/java/com/type/model/flatten/FlattenAsyncClient.java
  typespec-tests/src/main/java/com/type/model/flatten/FlattenClient.java
  typespec-tests/src/main/java/com/type/model/flatten/FlattenClientBuilder.java
  typespec-tests/src/main/java/com/type/model/flatten/implementation/FlattenClientImpl.java
  typespec-tests/src/main/java/com/type/model/flatten/implementation/package-info.java
  typespec-tests/src/main/java/com/type/model/flatten/models/ChildFlattenModel.java
  typespec-tests/src/main/java/com/type/model/flatten/models/ChildModel.java
  typespec-tests/src/main/java/com/type/model/flatten/models/FlattenModel.java
  typespec-tests/src/main/java/com/type/model/flatten/models/NestedFlattenModel.java
  typespec-tests/src/main/java/com/type/model/flatten/models/package-info.java
  typespec-tests/src/main/java/com/type/model/flatten/package-info.java
  typespec-tests/src/main/resources/payload-jsonmergepatch.properties
  typespec-tests/src/main/resources/type-model-flatten.properties
  typespec-tests/src/test/java/com/payload/jsonmergepatch/generated/JsonMergePatchClientTestBase.java
  typespec-tests/src/test/java/com/type/model/flatten/generated/FlattenClientTestBase.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

add 1 multipart test
  typespec-tests/src/test/java/com/payload/multipart/MultipartTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

.github/CODEOWNERS:

# default
*                           @weidongxu-microsoft @srnagar

# Git Hub bot rules
/.github/fabricbot.json     @jsquire @ronniegeraghty

# fluentgen
/fluent*                    @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/azure-tests                @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

# androidgen
/androidgen                 @JianpingChen @anuchandy

# protocol
/protocol*                  @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update-tests       @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar

# typespec
/typespec-extension         @srnagar @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/typespec-tests             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
