Repository Azure/autorest.java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @weidongxu-microsoft, @srnagar, @jsquire, @ronniegeraghty, @haolingdong-msft, @XiaofeiCao, @JianpingChen, @anuchandy

.github/CODEOWNERS:

# default
*                           @weidongxu-microsoft @srnagar

# Git Hub bot rules
/.github/fabricbot.json     @jsquire @ronniegeraghty

# fluentgen
/fluent*                    @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/azure-tests                @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

# androidgen
/androidgen                 @JianpingChen @anuchandy

# protocol
/protocol*                  @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update-tests       @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar

# typespec
/typespec-extension         @srnagar @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/typespec-tests             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

update cadl-ranch
  typespec-tests/package.json
  typespec-tests/src/test/java/com/contentnegotiation/SharedRouteTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, remove getAllModels (#2279)
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, update cadl-ranch (#2280)
  typespec-tests/package.json
  typespec-tests/src/test/java/com/contentnegotiation/SharedRouteTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update according to comment
  javagen/src/main/java/com/azure/autorest/model/clientmodel/TestContext.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTestTemplate.java
Owners: @weidongxu-microsoft, @srnagar

Genereate.ps1
  typespec-tests/src/test/java/com/cadl/flatten/generated/FlattenOpSendLongTests.java
  typespec-tests/src/test/java/com/cadl/flatten/generated/FlattenOpSendTests.java
  typespec-tests/src/test/java/com/cadl/specialheaders/generated/EtagHeadersPutWithRequestHeadersTests.java
  typespec-tests/src/test/java/com/cadl/versioning/generated/VersioningOpListTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

use UrlBuilder, in case that nextLink already has maxpagesize query parameter
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientMethod.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/implementation/BasicClientImpl.java
  typespec-tests/src/main/java/com/cadl/protocolandconvenient/implementation/ProtocolAndConvenientClientImpl.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

fix typo
  typespec-tests/tsp/protocol-api-convenient-api.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

test
  typespec-tests/src/main/java/com/payload/pageable/PageableAsyncClient.java
  typespec-tests/src/main/java/com/payload/pageable/PageableClient.java
  typespec-tests/src/main/java/com/payload/pageable/PageableClientBuilder.java
  typespec-tests/src/main/java/com/payload/pageable/implementation/PageableClientImpl.java
  typespec-tests/src/main/java/com/payload/pageable/implementation/package-info.java
  typespec-tests/src/main/java/com/payload/pageable/models/User.java
  typespec-tests/src/main/java/com/payload/pageable/models/package-info.java
  typespec-tests/src/main/java/com/payload/pageable/package-info.java
  typespec-tests/src/test/java/com/PageableTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

dpg, support maxpagesize for Paged model (#2277)
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientMethod.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/util/MethodUtil.java
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/BasicAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/BasicClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/implementation/BasicClientImpl.java
  typespec-tests/src/main/java/com/cadl/protocolandconvenient/ProtocolAndConvenientAsyncClient.java
  typespec-tests/src/main/java/com/cadl/protocolandconvenient/ProtocolAndConvenientClient.java
  typespec-tests/src/main/java/com/cadl/protocolandconvenient/implementation/ProtocolAndConvenientClientImpl.java
  typespec-tests/src/test/java/com/_specs_/azure/core/basic/CoreTests.java
  typespec-tests/tsp/protocol-api-convenient-api.tsp
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

regen
  typespec-tests/src/main/java/com/payload/pageable/PageableAsyncClient.java
  typespec-tests/src/main/java/com/payload/pageable/PageableClient.java
  typespec-tests/src/main/java/com/payload/pageable/PageableClientBuilder.java
  typespec-tests/src/main/java/com/payload/pageable/implementation/PageableClientImpl.java
  typespec-tests/src/main/java/com/payload/pageable/models/User.java
  typespec-tests/src/test/java/com/PageableTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Code changes
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/EnumType.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
Owners: @weidongxu-microsoft, @srnagar

Fixes for polymorphic discriminators and XML
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Cookiecuttershark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/DotSalmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Goblinshark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/MyDerivedType.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Salmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Sawshark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Shark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/SmartSalmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Cookiecuttershark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/DotSalmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Goblinshark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/MyDerivedType.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Salmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Sawshark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Shark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/SmartSalmon.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/BlobProperties.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/ContainerProperties.java
Owners: @weidongxu-microsoft, @srnagar

add dev-options
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/emitter.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

handle template instead
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

assertions
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTestTemplate.java
  javagen/src/main/java/com/azure/autorest/template/example/ClientMethodExampleWriter.java
Owners: @weidongxu-microsoft, @srnagar

Handle read-only properties better in stream-style serialization (#2281)
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/implementation/models/DeleteRepositoryResult.java
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/models/ArtifactManifestPlatform.java
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/models/ContainerRepositoryProperties.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/EnumType.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Datetimerfc1123Wrapper.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/ReadonlyObj.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Datetimerfc1123Wrapper.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/ReadonlyObj.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/BlobProperties.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/ContainerProperties.java
Owners: @weidongxu-microsoft, @srnagar

limit the scope to Azure.Core op template
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

support access and usage
  javagen/src/main/java/com/azure/autorest/mapper/UnionMapper.java
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/type-utils.ts
  typespec-tests/package.json
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

update test case
  typespec-tests/tsp/internal.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

regen
  typespec-tests/src/main/java/com/cadl/internal/models/Request.java
  typespec-tests/src/main/java/com/cadl/internal/models/RequestInner.java
  typespec-tests/src/main/java/com/cadl/internal/models/Response.java
  typespec-tests/src/main/java/com/cadl/internal/models/StandAloneData.java
  typespec-tests/src/main/java/com/cadl/internal/models/StandAloneDataInner.java
  typespec-tests/src/main/java/com/cadl/internal/models/StandAloneUnion.java
  typespec-tests/src/main/java/com/cadl/internal/models/package-info.java
  typespec-tests/src/main/java/com/cadl/multicontenttypes/MultiContentTypesAsyncClient.java
  typespec-tests/src/main/java/com/cadl/multicontenttypes/MultiContentTypesClient.java
  typespec-tests/src/main/java/com/cadl/multicontenttypes/implementation/MultiContentTypesClientImpl.java
  typespec-tests/src/main/java/com/cadl/union/UnionAsyncClient.java
  typespec-tests/src/main/java/com/cadl/union/UnionClient.java
  typespec-tests/src/main/java/com/cadl/union/implementation/UnionClientImpl.java
  typespec-tests/src/main/java/com/type/union/UnionAsyncClient.java
  typespec-tests/src/main/java/com/type/union/UnionClient.java
  typespec-tests/src/main/java/com/type/union/implementation/UnionClientImpl.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

disable UnionModelMapper
  javagen/src/main/java/com/azure/autorest/mapper/UnionModelMapper.java
Owners: @weidongxu-microsoft, @srnagar

new cadl-ranch Union test
  javagen/src/main/java/com/azure/autorest/mapper/UnionModelMapper.java
  typespec-tests/src/test/java/com/type/union/UnionsClientTest.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

changelog
  typespec-extension/changelog.md
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

support assertions
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTestTemplate.java
  javagen/src/main/java/com/azure/autorest/template/example/ClientMethodExampleWriter.java
  typespec-tests/tsp/examples/BuiltinOp_Read.json
  typespec-tests/tsp/examples/ResponseOp_Exists.json
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Generate.ps1
  typespec-tests/src/samples/java/com/cadl/builtin/generated/BuiltinOpRead.java
  typespec-tests/src/samples/java/com/cadl/response/generated/ResponseOpExists.java
  typespec-tests/src/samples/java/com/cadl/specialchars/generated/BuiltinOpRead.java
  typespec-tests/src/test/java/com/cadl/builtin/generated/BuiltinOpReadTests.java
  typespec-tests/src/test/java/com/cadl/response/generated/ResponseOpExistsTests.java
  typespec-tests/src/test/java/com/cadl/specialchars/generated/BuiltinOpReadTests.java
  typespec-tests/src/test/java/com/cadl/specialheaders/generated/EtagHeadersPutWithRequestHeadersTests.java
  typespec-tests/src/test/java/com/cadl/versioning/generated/VersioningOpListTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

add HashMap import
  javagen/src/main/java/com/azure/autorest/template/example/ClientMethodExampleWriter.java
  typespec-tests/src/test/java/com/cadl/builtin/generated/BuiltinOpReadTests.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

test for embedded model
  javagen/src/main/java/com/azure/autorest/template/example/ClientMethodExampleWriter.java
  typespec-tests/tsp/examples/BuiltinOp_Read.json
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

fix assertion
  javagen/src/main/java/com/azure/autorest/template/example/ClientMethodExampleWriter.java
  typespec-tests/src/test/java/com/cadl/builtin/generated/BuiltinOpReadTests.java
  typespec-tests/src/test/java/com/cadl/versioning/generated/VersioningOpListTests.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

bump version
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

revert Union
  javagen/src/main/java/com/azure/autorest/mapper/UnionMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/UnionModelMapper.java
Owners: @weidongxu-microsoft, @srnagar

throw Error if model with access=public refs Union
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/type-utils.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

remove public model ref Union in test
  typespec-tests/src/main/java/com/cadl/internal/models/StandAloneUnion.java
  typespec-tests/src/main/java/com/cadl/multicontenttypes/MultiContentTypesAsyncClient.java
  typespec-tests/src/main/java/com/cadl/multicontenttypes/MultiContentTypesClient.java
  typespec-tests/src/main/java/com/cadl/multicontenttypes/implementation/MultiContentTypesClientImpl.java
  typespec-tests/src/main/java/com/cadl/union/UnionAsyncClient.java
  typespec-tests/src/main/java/com/cadl/union/UnionClient.java
  typespec-tests/src/main/java/com/cadl/union/implementation/UnionClientImpl.java
  typespec-tests/src/main/java/com/type/union/UnionAsyncClient.java
  typespec-tests/src/main/java/com/type/union/UnionClient.java
  typespec-tests/src/main/java/com/type/union/implementation/UnionClientImpl.java
  typespec-tests/tsp/internal.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

nit
  typespec-tests/src/test/java/com/type/union/UnionsClientTest.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

set enable-page-size=true in DPG
  javagen/src/main/resources/data-plane.md
  preprocessor/data-plane.md
Owners: @weidongxu-microsoft, @srnagar

still put the StandAloneUnion as internal, for future task on internal model
  typespec-tests/tsp/internal.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

list
  javagen/src/main/java/com/azure/autorest/template/example/ClientMethodExampleWriter.java
Owners: @weidongxu-microsoft, @srnagar

refactor
  javagen/src/main/java/com/azure/autorest/template/example/ClientMethodExampleWriter.java
  typespec-tests/src/test/java/com/cadl/builtin/generated/BuiltinOpReadTests.java
  typespec-tests/src/test/java/com/cadl/versioning/generated/VersioningOpListTests.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

fix content-type in ProtocolExampleWriter
  javagen/src/main/java/com/azure/autorest/template/example/ProtocolExampleWriter.java
Owners: @weidongxu-microsoft, @srnagar

update according to comments, handle HEAD as well
  javagen/src/main/java/com/azure/autorest/template/example/ClientMethodExampleWriter.java
  javagen/src/main/java/com/azure/autorest/template/example/ProtocolExampleWriter.java
  typespec-tests/src/test/java/com/cadl/builtin/generated/BuiltinOpReadTests.java
  typespec-tests/src/test/java/com/cadl/response/generated/ResponseOpExistsTests.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao
