Repository Azure/autorest.java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @weidongxu-microsoft, @srnagar, @jsquire, @ronniegeraghty, @haolingdong-msft, @XiaofeiCao, @JianpingChen, @anuchandy

.github/CODEOWNERS:

# default
*                           @weidongxu-microsoft @srnagar

# Git Hub bot rules
/.github/fabricbot.json     @jsquire @ronniegeraghty

# fluentgen
/fluent*                    @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/azure-tests                @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

# androidgen
/androidgen                 @JianpingChen @anuchandy

# protocol
/protocol*                  @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update-tests       @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar

# typespec
/typespec-extension         @srnagar @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/typespec-tests             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

remove mapOf
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTestTemplate.java
  typespec-tests/Setup.ps1
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

deal with Void return type
  javagen/src/main/java/com/azure/autorest/template/example/ClientMethodExampleWriter.java
  typespec-tests/src/test/java/com/cadl/flatten/generated/FlattenOpSendLongTests.java
  typespec-tests/src/test/java/com/cadl/flatten/generated/FlattenOpSendTests.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

add comments and new line
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTestTemplate.java
  javagen/src/main/java/com/azure/autorest/template/example/ClientMethodExampleWriter.java
  typespec-tests/src/test/java/com/cadl/builtin/generated/BuiltinOpReadTests.java
  typespec-tests/src/test/java/com/cadl/flatten/generated/FlattenOpSendLongTests.java
  typespec-tests/src/test/java/com/cadl/flatten/generated/FlattenOpSendTests.java
  typespec-tests/src/test/java/com/cadl/response/generated/ResponseOpExistsTests.java
  typespec-tests/src/test/java/com/cadl/specialchars/generated/BuiltinOpReadTests.java
  typespec-tests/src/test/java/com/cadl/specialheaders/generated/EtagHeadersPutWithRequestHeadersTests.java
  typespec-tests/src/test/java/com/cadl/versioning/generated/VersioningOpListTests.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

tsp, test generation, assertions (#2287)
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTestTemplate.java
  javagen/src/main/java/com/azure/autorest/template/example/ClientMethodExampleWriter.java
  javagen/src/main/java/com/azure/autorest/template/example/ProtocolExampleWriter.java
  typespec-tests/Setup.ps1
  typespec-tests/src/samples/java/com/cadl/builtin/generated/BuiltinOpRead.java
  typespec-tests/src/samples/java/com/cadl/response/generated/ResponseOpExists.java
  typespec-tests/src/samples/java/com/cadl/specialchars/generated/BuiltinOpRead.java
  typespec-tests/src/test/java/com/cadl/builtin/generated/BuiltinOpReadTests.java
  typespec-tests/src/test/java/com/cadl/flatten/generated/FlattenOpSendLongTests.java
  typespec-tests/src/test/java/com/cadl/flatten/generated/FlattenOpSendTests.java
  typespec-tests/src/test/java/com/cadl/response/generated/ResponseOpExistsTests.java
  typespec-tests/src/test/java/com/cadl/specialchars/generated/BuiltinOpReadTests.java
  typespec-tests/src/test/java/com/cadl/specialheaders/generated/EtagHeadersPutWithRequestHeadersTests.java
  typespec-tests/src/test/java/com/cadl/versioning/generated/VersioningOpListTests.java
  typespec-tests/tsp/examples/BuiltinOp_Read.json
  typespec-tests/tsp/examples/ResponseOp_Exists.json
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Update changelog.md
  typespec-extension/changelog.md
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, throw Error if access=public model refs Union (#2288)
  javagen/src/main/java/com/azure/autorest/mapper/UnionMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/UnionModelMapper.java
  javagen/src/main/resources/data-plane.md
  preprocessor/data-plane.md
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/type-utils.ts
  typespec-tests/package.json
  typespec-tests/src/main/java/com/cadl/internal/models/StandAloneUnion.java
  typespec-tests/src/main/java/com/cadl/multicontenttypes/MultiContentTypesAsyncClient.java
  typespec-tests/src/main/java/com/cadl/multicontenttypes/MultiContentTypesClient.java
  typespec-tests/src/main/java/com/cadl/multicontenttypes/implementation/MultiContentTypesClientImpl.java
  typespec-tests/src/main/java/com/cadl/union/UnionAsyncClient.java
  typespec-tests/src/main/java/com/cadl/union/UnionClient.java
  typespec-tests/src/main/java/com/cadl/union/implementation/UnionClientImpl.java
  typespec-tests/src/main/java/com/type/union/UnionAsyncClient.java
  typespec-tests/src/main/java/com/type/union/UnionClient.java
  typespec-tests/src/main/java/com/type/union/implementation/UnionClientImpl.java
  typespec-tests/src/test/java/com/type/union/UnionsClientTest.java
  typespec-tests/tsp/internal.tsp
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

test case for serviceOperation
  typespec-tests/tsp/service-operation.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

try serviceOperation
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/operation-utils.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

check Options
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Update emitter.ts
  typespec-extension/src/emitter.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

regen
  typespec-tests/src/main/java/com/cadl/serviceoperation/FooAsyncClient.java
  typespec-tests/src/main/java/com/cadl/serviceoperation/FooClient.java
  typespec-tests/src/main/java/com/cadl/serviceoperation/FooClientBuilder.java
  typespec-tests/src/main/java/com/cadl/serviceoperation/ServiceOperationServiceVersion.java
  typespec-tests/src/main/java/com/cadl/serviceoperation/implementation/FooClientImpl.java
  typespec-tests/src/main/java/com/cadl/serviceoperation/implementation/package-info.java
  typespec-tests/src/main/java/com/cadl/serviceoperation/models/ListOptions.java
  typespec-tests/src/main/java/com/cadl/serviceoperation/models/User.java
  typespec-tests/src/main/java/com/cadl/serviceoperation/models/package-info.java
  typespec-tests/src/main/java/com/cadl/serviceoperation/package-info.java
  typespec-tests/src/main/resources/cadl-serviceoperation.properties
  typespec-tests/src/test/java/com/cadl/serviceoperation/generated/FooClientTestBase.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Fixes for handling nullable, converted wire types
  azure-dataplane-tests/src/main/java/com/azure/data/schemaregistry/implementation/AzureSchemaRegistryImplBuilder.java
  azure-dataplane-tests/src/main/java/com/azure/data/schemaregistry/implementation/SchemasImpl.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
Owners: @weidongxu-microsoft, @srnagar

tsp, improve lro logic
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/operation-utils.ts
  typespec-extension/src/type-utils.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

handle unnamed model
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, improve LRO logic (#2291)
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/operation-utils.ts
  typespec-extension/src/type-utils.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

assertions fix
  javagen/src/main/java/com/azure/autorest/template/example/ClientMethodExampleWriter.java
  typespec-tests/tsp/examples/ModelOp_PutNested.json
  typespec-tests/tsp/model.tsp
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Generate.ps1
  typespec-tests/src/main/java/com/cadl/model/ModelAsyncClient.java
  typespec-tests/src/main/java/com/cadl/model/ModelClient.java
  typespec-tests/src/main/java/com/cadl/model/implementation/ModelClientImpl.java
  typespec-tests/src/main/java/com/cadl/model/models/NestedModel.java
  typespec-tests/src/main/java/com/cadl/model/models/NestedModel1.java
  typespec-tests/src/main/java/com/cadl/model/models/NestedModel2.java
  typespec-tests/src/samples/java/com/cadl/model/generated/ModelOpPutNested.java
  typespec-tests/src/test/java/com/cadl/builtin/generated/BuiltinOpReadTests.java
  typespec-tests/src/test/java/com/cadl/model/generated/ModelOpPutNestedTests.java
  typespec-tests/src/test/java/com/cadl/versioning/generated/VersioningOpListTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Generate.ps1
  azure-dataplane-tests/src/main/java/com/azure/data/schemaregistry/implementation/AzureSchemaRegistryImplBuilder.java
  azure-dataplane-tests/src/main/java/com/azure/data/schemaregistry/implementation/SchemasImpl.java
Owners: @weidongxu-microsoft, @srnagar

tsp, test generation, fix assertions (#2292)
  azure-dataplane-tests/src/main/java/com/azure/data/schemaregistry/implementation/AzureSchemaRegistryImplBuilder.java
  azure-dataplane-tests/src/main/java/com/azure/data/schemaregistry/implementation/SchemasImpl.java
  javagen/src/main/java/com/azure/autorest/template/example/ClientMethodExampleWriter.java
  typespec-tests/src/main/java/com/cadl/model/ModelAsyncClient.java
  typespec-tests/src/main/java/com/cadl/model/ModelClient.java
  typespec-tests/src/main/java/com/cadl/model/implementation/ModelClientImpl.java
  typespec-tests/src/main/java/com/cadl/model/models/NestedModel.java
  typespec-tests/src/main/java/com/cadl/model/models/NestedModel1.java
  typespec-tests/src/main/java/com/cadl/model/models/NestedModel2.java
  typespec-tests/src/samples/java/com/cadl/model/generated/ModelOpPutNested.java
  typespec-tests/src/test/java/com/cadl/builtin/generated/BuiltinOpReadTests.java
  typespec-tests/src/test/java/com/cadl/model/generated/ModelOpPutNestedTests.java
  typespec-tests/src/test/java/com/cadl/versioning/generated/VersioningOpListTests.java
  typespec-tests/tsp/examples/ModelOp_PutNested.json
  typespec-tests/tsp/model.tsp
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

support internal for classes
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/SchemaContext.java
  javagen/src/main/java/com/azure/autorest/mapper/ObjectMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/UnionMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/UnionModelMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ImplementationDetails.java
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/common/schemas/usage.ts
  typespec-extension/src/main/java/com/azure/typespec/util/ModelUtil.java
  typespec-tests/tsp/internal.tsp
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

internal API
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/common/operation.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

adjust test
  typespec-tests/tsp/internal.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

regen
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/implementation/models/AbstractModel.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/implementation/models/BaseModel.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/implementation/models/InnerModel.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/implementation/models/InternalDecoratorModelInInternal.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/implementation/models/NoDecoratorModelInInternal.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/implementation/models/OuterModel.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/implementation/models/PublicDecoratorModelInInternal.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/implementation/models/RealModel.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/implementation/models/package-info.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/internal/implementation/models/InternalModel.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/internal/implementation/models/package-info.java
  typespec-tests/src/main/java/com/cadl/internal/implementation/models/ByteArrayDataModel.java
  typespec-tests/src/main/java/com/cadl/internal/implementation/models/DataModelBase.java
  typespec-tests/src/main/java/com/cadl/internal/implementation/models/ResponseInternal.java
  typespec-tests/src/main/java/com/cadl/internal/implementation/models/ResponseInternalInner.java
  typespec-tests/src/main/java/com/cadl/internal/implementation/models/StandAloneUnion.java
  typespec-tests/src/main/java/com/cadl/internal/implementation/models/UrlDataModel.java
  typespec-tests/src/main/java/com/cadl/internal/implementation/models/package-info.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

comment
  javagen/src/main/java/com/azure/autorest/mapper/UnionMapper.java
Owners: @weidongxu-microsoft, @srnagar

nit
  typespec-tests/tsp/internal.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

format
  javagen/src/main/java/com/azure/autorest/mapper/UnionModelMapper.java
Owners: @weidongxu-microsoft, @srnagar

nit
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

rename CONVENIENCE_API to PUBLIC
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/SchemaContext.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ImplementationDetails.java
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/common/schemas/usage.ts
  typespec-extension/src/main/java/com/azure/typespec/util/ModelUtil.java
  typespec-extension/src/test/java/com/azure/typespec/util/ModelUtilTests.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

comment
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

test
  typespec-tests/src/test/java/com/_specs_/azure/clientgenerator/core/access/AccessTests.java
  typespec-tests/src/test/java/com/_specs_/azure/clientgenerator/core/usage/UsageTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

test
  typespec-tests/src/test/java/com/_specs_/azure/clientgenerator/core/usage/UsageTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

package for enum
  javagen/src/main/java/com/azure/autorest/mapper/MapperUtils.java
Owners: @weidongxu-microsoft, @srnagar

include Enum
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

temporary disable op.internalApi
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

regen
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/implementation/models/AbstractModel.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/implementation/models/BaseModel.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/implementation/models/InnerModel.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/implementation/models/InternalDecoratorModelInInternal.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/implementation/models/NoDecoratorModelInInternal.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/implementation/models/OuterModel.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/implementation/models/PublicDecoratorModelInInternal.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/implementation/models/RealModel.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/implementation/models/package-info.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/internal/implementation/models/InternalModel.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/internal/implementation/models/package-info.java
  typespec-tests/src/main/java/com/cadl/internal/implementation/models/ResponseInternal.java
  typespec-tests/src/main/java/com/cadl/internal/implementation/models/ResponseInternalInner.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update test after regen
  typespec-tests/src/test/java/com/_specs_/azure/clientgenerator/core/access/AccessTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

avoid deprecated
  typespec-tests/src/test/java/com/authentication/util/BearerTokenAuthenticationPolicy.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

add test for Enum as internal
  typespec-tests/src/main/java/com/cadl/internal/implementation/models/Color.java
  typespec-tests/src/main/java/com/cadl/internal/implementation/models/ColorModel.java
  typespec-tests/tsp/internal.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

avoid HttpHeaders.set(String,)
  javagen/src/main/java/com/azure/autorest/template/ServiceClientBuilderTemplate.java
Owners: @weidongxu-microsoft, @srnagar

handle internalApi first, for schema usage
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao
