Repository Azure/autorest.java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jianghaolu, @srnagar, @ChenTanyi, @weidongxu-microsoft, @yungezz, @xccc-msft

.github/CODEOWNERS:

# default
*                           @jianghaolu @srnagar

# fluentgen
/fluentnamer                @ChenTanyi @weidongxu-microsoft @yungezz @xccc-msft
/fluentgen                  @ChenTanyi @weidongxu-microsoft @yungezz @xccc-msft
/fluent-tests               @ChenTanyi @weidongxu-microsoft @yungezz @xccc-msft
/azure-tests                @ChenTanyi @weidongxu-microsoft @yungezz @xccc-msft

Support customization code in README (#804)
  customization-base/src/main/java/com/azure/autorest/customization/Customization.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/Utils.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/ls/BuildWorkspaceStatus.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/ls/EclipseLanguageClient.java
  customization-tests/swagger/README.md
  customization-tests/swagger/src/main/java/fixtures/bodycomplex/customization/BodyComplexCustomization.java
  pom.xml
  postprocessor/src/main/java/com/azure/autorest/postprocessor/Postprocessor.java
  postprocessor/src/main/resources/readme/pom.xml
Owners: @jianghaolu, @srnagar

fix python references and add lro section
  docs/client/operations.md
  docs/samples/readme.md
Owners: @jianghaolu, @srnagar

generate samples
  docs/samples/specification/azure_key_credential/generated/src/main/java/com/azure/key/credential/sample/AutoRestHeadTestService.java
  docs/samples/specification/azure_key_credential/generated/src/main/java/com/azure/key/credential/sample/AutoRestHeadTestServiceBuilder.java
  docs/samples/specification/azure_key_credential/generated/src/main/java/com/azure/key/credential/sample/HttpSuccess.java
  docs/samples/specification/azure_key_credential/generated/src/main/java/com/azure/key/credential/sample/package-info.java
  docs/samples/specification/azure_key_credential/readme.md
  docs/samples/specification/basic/generated/src/main/java/com/azure/basic/sample/AutoRestHeadTestService.java
  docs/samples/specification/basic/generated/src/main/java/com/azure/basic/sample/AutoRestHeadTestServiceBuilder.java
  docs/samples/specification/basic/generated/src/main/java/com/azure/basic/sample/HttpSuccess.java
  docs/samples/specification/basic/generated/src/main/java/com/azure/basic/sample/package-info.java
  docs/samples/specification/basic/readme.md
  docs/samples/specification/management/generated/src/main/java/com/azure/mgmt/sample/AutoRestHeadTestService.java
  docs/samples/specification/management/generated/src/main/java/com/azure/mgmt/sample/AutoRestHeadTestServiceBuilder.java
  docs/samples/specification/management/generated/src/main/java/com/azure/mgmt/sample/HttpSuccess.java
  docs/samples/specification/management/generated/src/main/java/com/azure/mgmt/sample/fluent/AutoRestHeadTestService.java
  docs/samples/specification/management/generated/src/main/java/com/azure/mgmt/sample/fluent/HttpSuccessClient.java
  docs/samples/specification/management/generated/src/main/java/com/azure/mgmt/sample/fluent/models/package-info.java
  docs/samples/specification/management/generated/src/main/java/com/azure/mgmt/sample/fluent/package-info.java
  docs/samples/specification/management/generated/src/main/java/com/azure/mgmt/sample/implementation/AutoRestHeadTestServiceBuilder.java
  docs/samples/specification/management/generated/src/main/java/com/azure/mgmt/sample/implementation/AutoRestHeadTestServiceImpl.java
  docs/samples/specification/management/generated/src/main/java/com/azure/mgmt/sample/implementation/HttpSuccessClientImpl.java
  docs/samples/specification/management/generated/src/main/java/com/azure/mgmt/sample/package-info.java
  docs/samples/specification/management/readme.md
Owners: @jianghaolu, @srnagar

[Automation] Report
  fluent-tests/report.md
Owners: @ChenTanyi, @weidongxu-microsoft, @yungezz, @xccc-msft

[Automation] Report
  fluent-tests/report.md
Owners: @ChenTanyi, @weidongxu-microsoft, @yungezz, @xccc-msft

use regenerate-pom option
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  fluent-tests/prepare-tests.bat
  fluentgen/src/main/java/com/azure/autorest/fluent/FluentGen.java
Owners: @jianghaolu, @srnagar, @ChenTanyi, @weidongxu-microsoft, @yungezz, @xccc-msft

update bat
  fluent-tests/prepare-tests.bat
Owners: @ChenTanyi, @weidongxu-microsoft, @yungezz, @xccc-msft

v4 fluentlite use regenerate-pom option (#876)
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  fluent-tests/prepare-tests.bat
  fluentgen/src/main/java/com/azure/autorest/fluent/FluentGen.java
Owners: @jianghaolu, @srnagar, @ChenTanyi, @weidongxu-microsoft, @yungezz, @xccc-msft

[Automation] Report
  fluent-tests/report.md
Owners: @ChenTanyi, @weidongxu-microsoft, @yungezz, @xccc-msft

[Automation] Report
  fluent-tests/report.md
Owners: @ChenTanyi, @weidongxu-microsoft, @yungezz, @xccc-msft

add samples to generation
  generate.bat
Owners: @jianghaolu, @srnagar

load input-file from autorest
  fluentnamer/src/main/java/com/azure/autorest/fluent/util/AutorestSettings.java
  fluentnamer/src/main/java/com/azure/autorest/fluent/util/FluentJavaSettings.java
Owners: @ChenTanyi, @weidongxu-microsoft, @yungezz, @xccc-msft

disable pom generate in test
  generate
  generate.bat
Owners: @jianghaolu, @srnagar

v4 fluentlite load input-file from autorest (#878)
  fluentnamer/src/main/java/com/azure/autorest/fluent/util/AutorestSettings.java
  fluentnamer/src/main/java/com/azure/autorest/fluent/util/FluentJavaSettings.java
  generate
  generate.bat
Owners: @ChenTanyi, @weidongxu-microsoft, @yungezz, @xccc-msft, @jianghaolu, @srnagar

exclude template in code coverage
  fluentgen/pom.xml
Owners: @ChenTanyi, @weidongxu-microsoft, @yungezz, @xccc-msft

support resource action
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/ResourceParser.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/FluentResourceModel.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/fluentmodel/LocalVariable.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/fluentmodel/ResourceImplementation.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/fluentmodel/ResourceLocalVariables.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/fluentmodel/ResourceOperation.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/fluentmodel/action/ResourceActions.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/fluentmodel/method/CollectionMethodOperationByIdTemplate.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/fluentmodel/method/FluentActionMethod.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/fluentmodel/method/FluentBaseMethod.java
  fluentgen/src/main/java/com/azure/autorest/fluent/template/FluentResourceModelInterfaceTemplate.java
Owners: @ChenTanyi, @weidongxu-microsoft, @yungezz, @xccc-msft

update test
  fluent-tests/src/test/java/com/azure/mgmttest/LiteCompilationTests.java
Owners: @ChenTanyi, @weidongxu-microsoft, @yungezz, @xccc-msft

update m4 to 4.15.448
  fluentnamer/readme.md
Owners: @ChenTanyi, @weidongxu-microsoft, @yungezz, @xccc-msft
