Repository Azure/autorest.java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @weidongxu-microsoft, @srnagar, @jsquire, @ronniegeraghty, @haolingdong-msft, @XiaofeiCao, @JianpingChen, @anuchandy

test
  typespec-tests/src/test/java/com/client/naming/NamingTests.java
  typespec-tests/src/test/java/com/type/property/valuetypes/EnumValueTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

regen
  typespec-tests/src/main/java/com/client/naming/EnumAsyncClient.java
  typespec-tests/src/main/java/com/client/naming/EnumClient.java
  typespec-tests/src/main/java/com/client/naming/NamingClientBuilder.java
  typespec-tests/src/main/java/com/client/naming/UnionEnumAsyncClient.java
  typespec-tests/src/main/java/com/client/naming/UnionEnumClient.java
  typespec-tests/src/main/java/com/client/naming/implementation/EnumsImpl.java
  typespec-tests/src/main/java/com/client/naming/implementation/NamingClientImpl.java
  typespec-tests/src/main/java/com/client/naming/implementation/UnionEnumsImpl.java
  typespec-tests/src/main/java/com/client/naming/models/ClientExtensibleEnum.java
  typespec-tests/src/main/java/com/client/naming/models/ExtensibleEnum.java
  typespec-tests/src/main/java/com/type/property/valuetypes/EnumValueAsyncClient.java
  typespec-tests/src/main/java/com/type/property/valuetypes/EnumValueClient.java
  typespec-tests/src/main/java/com/type/property/valuetypes/UnionEnumValueAsyncClient.java
  typespec-tests/src/main/java/com/type/property/valuetypes/UnionEnumValueClient.java
  typespec-tests/src/main/java/com/type/property/valuetypes/ValueTypesClientBuilder.java
  typespec-tests/src/main/java/com/type/property/valuetypes/implementation/EnumValuesImpl.java
  typespec-tests/src/main/java/com/type/property/valuetypes/implementation/UnionEnumValuesImpl.java
  typespec-tests/src/main/java/com/type/property/valuetypes/implementation/ValueTypesClientImpl.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/EnumValueProperty.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/ExtendedEnum.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/UnionEnumValueProperty.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

bump cadl-ranch
  typespec-tests/package.json
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

client, remove duplicate code in 2 CodeNamer (#2610)
  javagen/src/main/java/com/azure/autorest/mapper/ProxyMethodExampleMapper.java
  javagen/src/main/java/com/azure/autorest/util/CodeNamer.java
  preprocessor/src/main/java/com/azure/autorest/preprocessor/namer/CodeNamer.java
Owners: @weidongxu-microsoft, @srnagar

re-generate test code
  typespec-tests/src/main/java/com/_specs_/azure/core/scalar/ScalarAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/scalar/ScalarClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/scalar/ScalarClientBuilder.java
  typespec-tests/src/main/java/com/_specs_/azure/core/scalar/ScalarServiceVersion.java
  typespec-tests/src/main/java/com/_specs_/azure/core/scalar/implementation/AzureLocationScalarsImpl.java
  typespec-tests/src/main/java/com/_specs_/azure/core/scalar/implementation/ScalarClientImpl.java
  typespec-tests/src/main/java/com/_specs_/azure/core/scalar/implementation/package-info.java
  typespec-tests/src/main/java/com/_specs_/azure/core/scalar/models/AzureLocationModel.java
  typespec-tests/src/main/java/com/_specs_/azure/core/scalar/models/package-info.java
  typespec-tests/src/main/java/com/_specs_/azure/core/scalar/package-info.java
  typespec-tests/src/main/java/com/client/naming/EnumAsyncClient.java
  typespec-tests/src/main/java/com/client/naming/EnumClient.java
  typespec-tests/src/main/java/com/client/naming/implementation/EnumsImpl.java
  typespec-tests/src/main/java/com/type/property/valuetypes/EnumValueAsyncClient.java
  typespec-tests/src/main/java/com/type/property/valuetypes/EnumValueClient.java
  typespec-tests/src/main/java/com/type/property/valuetypes/implementation/EnumValuesImpl.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/EnumValueProperty.java
  typespec-tests/src/main/resources/_specs_-azure-core-scalar.properties
  typespec-tests/src/test/java/com/_specs_/azure/core/scalar/generated/ScalarClientTestBase.java
  typespec-tests/src/test/java/com/client/naming/generated/NamingClientTestBase.java
  typespec-tests/src/test/java/com/type/property/valuetypes/generated/ValueTypesClientTestBase.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix for javadoc
  typespec-tests/src/main/java/com/cadl/partialupdate/models/PartialUpdateModel.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, update cadl-ranch 0.31.3 (#2618)
  typespec-tests/package.json
  typespec-tests/src/main/java/com/_specs_/azure/core/scalar/ScalarAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/scalar/ScalarClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/scalar/ScalarClientBuilder.java
  typespec-tests/src/main/java/com/_specs_/azure/core/scalar/ScalarServiceVersion.java
  typespec-tests/src/main/java/com/_specs_/azure/core/scalar/implementation/AzureLocationScalarsImpl.java
  typespec-tests/src/main/java/com/_specs_/azure/core/scalar/implementation/ScalarClientImpl.java
  typespec-tests/src/main/java/com/_specs_/azure/core/scalar/implementation/package-info.java
  typespec-tests/src/main/java/com/_specs_/azure/core/scalar/models/AzureLocationModel.java
  typespec-tests/src/main/java/com/_specs_/azure/core/scalar/models/package-info.java
  typespec-tests/src/main/java/com/_specs_/azure/core/scalar/package-info.java
  typespec-tests/src/main/java/com/client/naming/UnionEnumAsyncClient.java
  typespec-tests/src/main/java/com/client/naming/UnionEnumClient.java
  typespec-tests/src/main/java/com/client/naming/implementation/NamingClientImpl.java
  typespec-tests/src/main/java/com/client/naming/implementation/UnionEnumsImpl.java
  typespec-tests/src/main/java/com/client/naming/models/ClientExtensibleEnum.java
  typespec-tests/src/main/java/com/client/naming/models/ExtensibleEnum.java
  typespec-tests/src/main/java/com/type/property/valuetypes/UnionEnumValueAsyncClient.java
  typespec-tests/src/main/java/com/type/property/valuetypes/UnionEnumValueClient.java
  typespec-tests/src/main/java/com/type/property/valuetypes/ValueTypesClientBuilder.java
  typespec-tests/src/main/java/com/type/property/valuetypes/implementation/UnionEnumValuesImpl.java
  typespec-tests/src/main/java/com/type/property/valuetypes/implementation/ValueTypesClientImpl.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/ExtendedEnum.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/UnionEnumValueProperty.java
  typespec-tests/src/main/resources/_specs_-azure-core-scalar.properties
  typespec-tests/src/test/java/com/_specs_/azure/core/scalar/generated/ScalarClientTestBase.java
  typespec-tests/src/test/java/com/client/naming/NamingTests.java
  typespec-tests/src/test/java/com/client/naming/generated/NamingClientTestBase.java
  typespec-tests/src/test/java/com/type/property/valuetypes/EnumValueTests.java
  typespec-tests/src/test/java/com/type/property/valuetypes/generated/ValueTypesClientTestBase.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

temporary ignore com/cadl/naming/NamingAsyncClient.java
  typespec-tests/pom.xml
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

escape delimiter
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
Owners: @weidongxu-microsoft, @srnagar

re-generate test code
  typespec-tests/src/main/java/com/parameters/collectionformat/implementation/QueriesImpl.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

re-generate test code
  protocol-tests/src/main/java/fixtures/url/QueriesAsyncClient.java
  protocol-tests/src/main/java/fixtures/url/QueriesClient.java
  protocol-tests/src/main/java/fixtures/url/implementation/QueriesImpl.java
  vanilla-tests/src/main/java/fixtures/url/Queries.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

try DPG map BinarySchema to ClassType.BINARY_DATA
  javagen/src/main/java/com/azure/autorest/mapper/BinaryMapper.java
Owners: @weidongxu-microsoft, @srnagar

tsp, improve code/doc of tab separated items (#2606)
  eng/pipelines/ci-typespec-java.yaml
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  protocol-tests/src/main/java/fixtures/url/QueriesAsyncClient.java
  protocol-tests/src/main/java/fixtures/url/QueriesClient.java
  protocol-tests/src/main/java/fixtures/url/implementation/QueriesImpl.java
  typespec-tests/pom.xml
  typespec-tests/src/main/java/com/cadl/partialupdate/models/PartialUpdateModel.java
  typespec-tests/src/main/java/com/parameters/collectionformat/implementation/QueriesImpl.java
  vanilla-tests/src/main/java/fixtures/url/Queries.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

re-generate test code
  typespec-tests/src/main/java/com/cadl/multipart/MultipartAsyncClient.java
  typespec-tests/src/main/java/com/cadl/multipart/MultipartClient.java
  typespec-tests/src/main/java/com/cadl/multipart/models/FileDataFileDetails.java
  typespec-tests/src/main/java/com/cadl/multipart/models/FileDetails.java
  typespec-tests/src/main/java/com/cadl/multipart/models/ImageFileDetails.java
  typespec-tests/src/main/java/com/payload/multipart/models/PictureFileDetails.java
  typespec-tests/src/main/java/com/payload/multipart/models/PicturesFileDetails.java
  typespec-tests/src/main/java/com/payload/multipart/models/ProfileImageFileDetails.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

format
  typespec-extension/src/external-schemas.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, add test for cadl-ranch Azure/Core/Scalar
  typespec-tests/src/test/java/com/_specs_/azure/core/scalar/ScalarTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Fixed comments
  typespec-tests/src/test/java/com/_specs_/azure/core/scalar/ScalarTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

test Jackson serialization
  vanilla-tests/src/test/java/fixtures/inheritance/passdiscriminator/ValidateDiscriminatorIsPassedTests.java
Owners: @weidongxu-microsoft, @srnagar

avoid call to deprecated method
  fluentgen/src/main/java/com/azure/autorest/fluent/template/FluentServiceClientTemplate.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

re-generate test code
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ArmResourceProviderClientImpl.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, add test for cadl-ranch Azure.Core.Scalar (#2621)
  typespec-tests/src/test/java/com/_specs_/azure/core/scalar/ScalarTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

include HttpHeaderName in imports
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ServiceClient.java
Owners: @weidongxu-microsoft, @srnagar

re-generate test code
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ArmResourceProviderClientImpl.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

test unknown kind
  vanilla-tests/src/test/java/fixtures/inheritance/passdiscriminator/ValidateDiscriminatorIsPassedTests.java
Owners: @weidongxu-microsoft, @srnagar

nit
  vanilla-tests/src/test/java/fixtures/inheritance/passdiscriminator/ValidateDiscriminatorIsPassedTests.java
Owners: @weidongxu-microsoft, @srnagar

client, add test case for Jackson serialization (#2622)
  fluentgen/src/main/java/com/azure/autorest/fluent/template/FluentServiceClientTemplate.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ServiceClient.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ArmResourceProviderClientImpl.java
  vanilla-tests/src/test/java/fixtures/inheritance/passdiscriminator/ValidateDiscriminatorIsPassedTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

tsp, refactor multipart/form-data, move the model to typescript (#2619)
  javagen/src/main/java/com/azure/autorest/mapper/BinaryMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
  javagen/src/main/java/com/azure/autorest/util/TypeUtil.java
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/external-schemas.ts
  typespec-tests/src/main/java/com/cadl/multipart/MultipartAsyncClient.java
  typespec-tests/src/main/java/com/cadl/multipart/MultipartClient.java
  typespec-tests/src/main/java/com/cadl/multipart/models/FileDataFileDetails.java
  typespec-tests/src/main/java/com/cadl/multipart/models/FileDetails.java
  typespec-tests/src/main/java/com/cadl/multipart/models/ImageFileDetails.java
  typespec-tests/src/main/java/com/payload/multipart/models/PictureFileDetails.java
  typespec-tests/src/main/java/com/payload/multipart/models/PicturesFileDetails.java
  typespec-tests/src/main/java/com/payload/multipart/models/ProfileImageFileDetails.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

test
  Generate.ps1
  fluent-tests/Initialize-Tests.ps1
  fluent-tests/src/test/java/com/azure/mgmttest/CompilationTests.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

polymorphic setter protected
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
Owners: @weidongxu-microsoft, @srnagar

tsp, bug fix, isDisciminator not set to discriminator property
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, bug fix, isDisciminator not set to discriminator property (#2623)
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

re-generate test code
  azure-dataplane-tests/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/models/OperationDetails.java
  customization-tests/src/main/java/fixtures/bodycomplex/implementation/models/DotFish.java
  customization-tests/src/main/java/fixtures/bodycomplex/implementation/models/Fish.java
  customization-tests/src/main/java/fixtures/bodycomplex/implementation/models/MyBaseType.java
  typespec-tests/src/main/java/com/cadl/naming/models/Data.java
  typespec-tests/src/main/java/com/cadl/patch/models/Fish.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumdiscriminator/models/Dog.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumdiscriminator/models/Snake.java
  typespec-tests/src/main/java/com/type/model/inheritance/nesteddiscriminator/models/Fish.java
  typespec-tests/src/main/java/com/type/model/inheritance/singlediscriminator/models/Bird.java
  typespec-tests/src/main/java/com/type/model/inheritance/singlediscriminator/models/Dinosaur.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/ExtendsUnknownAdditionalPropertiesDiscriminated.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/IsUnknownAdditionalPropertiesDiscriminated.java
  vanilla-tests/src/main/java/fixtures/bodycomplex/models/DotFish.java
  vanilla-tests/src/main/java/fixtures/bodycomplex/models/Fish.java
  vanilla-tests/src/main/java/fixtures/bodycomplex/models/MyBaseType.java
  vanilla-tests/src/main/java/fixtures/discriminatorenum/models/Dog.java
  vanilla-tests/src/main/java/fixtures/discriminatorflattening/clientflatten/models/MetricAlertCriteria.java
  vanilla-tests/src/main/java/fixtures/discriminatorflattening/models/MetricAlertCriteria.java
  vanilla-tests/src/main/java/fixtures/discriminatorflattening/noflatten/models/MetricAlertCriteria.java
  vanilla-tests/src/main/java/fixtures/discriminatorflattening/requirexmsflattened/models/MetricAlertCriteria.java
  vanilla-tests/src/main/java/fixtures/discriminatorsetter/EnumDiscriminator.java
  vanilla-tests/src/main/java/fixtures/discriminatorsetter/EnumDiscriminatorBuilder.java
  vanilla-tests/src/main/java/fixtures/discriminatorsetter/implementation/models/Dog.java
  vanilla-tests/src/main/java/fixtures/discriminatorsetter/implementation/models/DogKind.java
  vanilla-tests/src/main/java/fixtures/discriminatorsetter/implementation/models/package-info.java
  vanilla-tests/src/main/java/fixtures/discriminatorsetter/models/Golden.java
  vanilla-tests/src/main/java/fixtures/discriminatorsetter/models/package-info.java
  vanilla-tests/src/main/java/fixtures/discriminatorsetter/package-info.java
  vanilla-tests/src/main/java/fixtures/inheritance/passdiscriminator/models/MetricAlertCriteria.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/DotFish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Fish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/MyBaseType.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/DotFish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Fish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/MyBaseType.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationimmutableoutput/models/DotFish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationimmutableoutput/models/Fish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationimmutableoutput/models/MyBaseType.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

disable mock test
  fluent-tests/Initialize-Tests.ps1
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

if property is discriminator, it is required
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplateBase.java
Owners: @weidongxu-microsoft, @srnagar

do not generate json-merge-patch model if not stream
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
Owners: @weidongxu-microsoft, @srnagar

re-generate test code
  azure-dataplane-tests/src/main/java/com/azure/ai/formrecognizer/documentanalysis/dpg/FormRecognizerAsyncClient.java
  azure-dataplane-tests/src/main/java/com/azure/ai/formrecognizer/documentanalysis/dpg/FormRecognizerClient.java
  azure-dataplane-tests/src/main/java/com/azure/ai/formrecognizer/documentanalysis/dpg/implementation/FormRecognizerClientImpl.java
  protocol-tests/src/main/java/fixtures/bodycomplex/FlattencomplexAsyncClient.java
  protocol-tests/src/main/java/fixtures/bodycomplex/FlattencomplexClient.java
  protocol-tests/src/main/java/fixtures/bodycomplex/PolymorphicrecursiveAsyncClient.java
  protocol-tests/src/main/java/fixtures/bodycomplex/PolymorphicrecursiveClient.java
  protocol-tests/src/main/java/fixtures/bodycomplex/PolymorphismAsyncClient.java
  protocol-tests/src/main/java/fixtures/bodycomplex/PolymorphismClient.java
  protocol-tests/src/main/java/fixtures/bodycomplex/implementation/FlattencomplexesImpl.java
  protocol-tests/src/main/java/fixtures/bodycomplex/implementation/PolymorphicrecursivesImpl.java
  protocol-tests/src/main/java/fixtures/bodycomplex/implementation/PolymorphismsImpl.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/RelativeModelInOperationAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/RelativeModelInOperationClient.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/implementation/RelativeModelInOperationsImpl.java
  typespec-tests/src/main/java/com/cadl/naming/NamingAsyncClient.java
  typespec-tests/src/main/java/com/cadl/naming/implementation/NamingOpsImpl.java
  typespec-tests/src/main/java/com/cadl/patch/PatchAsyncClient.java
  typespec-tests/src/main/java/com/cadl/patch/PatchClient.java
  typespec-tests/src/main/java/com/cadl/patch/implementation/PatchesImpl.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumdiscriminator/EnumDiscriminatorAsyncClient.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumdiscriminator/EnumDiscriminatorClient.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumdiscriminator/implementation/EnumDiscriminatorClientImpl.java
  typespec-tests/src/main/java/com/type/model/inheritance/nesteddiscriminator/NestedDiscriminatorAsyncClient.java
  typespec-tests/src/main/java/com/type/model/inheritance/nesteddiscriminator/NestedDiscriminatorClient.java
  typespec-tests/src/main/java/com/type/model/inheritance/nesteddiscriminator/implementation/NestedDiscriminatorClientImpl.java
  typespec-tests/src/main/java/com/type/model/inheritance/singlediscriminator/SingleDiscriminatorAsyncClient.java
  typespec-tests/src/main/java/com/type/model/inheritance/singlediscriminator/SingleDiscriminatorClient.java
  typespec-tests/src/main/java/com/type/model/inheritance/singlediscriminator/implementation/SingleDiscriminatorClientImpl.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/ExtendsUnknownDiscriminatedAsyncClient.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/ExtendsUnknownDiscriminatedClient.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/IsUnknownDiscriminatedAsyncClient.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/IsUnknownDiscriminatedClient.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/implementation/ExtendsUnknownDiscriminatedsImpl.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/implementation/IsUnknownDiscriminatedsImpl.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

bump version
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

add logics on enum and union
  typespec-extension/src/code-model-builder.ts
  typespec-tests/tsp/enum.tsp
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Clean up some issues
  extension-base/src/main/java/com/azure/autorest/extension/base/util/HttpHeaderName.java
  fluentgen/src/main/java/com/azure/autorest/fluent/template/FluentManagerTemplate.java
  fluentgen/src/main/java/com/azure/autorest/fluent/util/FluentUtils.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/util/ModelTemplateHeaderHelper.java
  javagen/src/main/java/com/azure/autorest/util/ReturnTypeDescriptionAssembler.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Fix generation that broke
  protocol-tests/src/main/java/fixtures/constantandclientparam/ConstantAndClientParameterServiceAsyncClient.java
  protocol-tests/src/main/java/fixtures/constantandclientparam/ConstantAndClientParameterServiceClient.java
  protocol-tests/src/main/java/fixtures/constantandclientparam/ConstantAndClientParameterServiceClientBuilder.java
  protocol-tests/src/main/java/fixtures/constantandclientparam/ConstantAndClientParameterServiceVersion.java
  protocol-tests/src/main/java/fixtures/constantandclientparam/implementation/ConstantAndClientParameterServiceClientImpl.java
  protocol-tests/src/main/java/fixtures/constantandclientparam/implementation/package-info.java
  protocol-tests/src/main/java/fixtures/constantandclientparam/package-info.java
  protocol-tests/src/main/java/fixtures/endpointlro/LroEndpointAsyncClient.java
  protocol-tests/src/main/java/fixtures/endpointlro/LroEndpointClient.java
  protocol-tests/src/main/java/fixtures/endpointlro/LroEndpointClientBuilder.java
  protocol-tests/src/main/java/fixtures/endpointlro/LroEndpointServiceVersion.java
  protocol-tests/src/main/java/fixtures/endpointlro/implementation/LROsImpl.java
  protocol-tests/src/main/java/fixtures/endpointlro/implementation/LroEndpointClientImpl.java
  protocol-tests/src/main/java/fixtures/endpointlro/implementation/package-info.java
  protocol-tests/src/main/java/fixtures/endpointlro/package-info.java
  protocol-tests/src/main/resources/fixtures-constantandclientparam.properties
  protocol-tests/src/main/resources/fixtures-endpointlro.properties
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

.github/CODEOWNERS:

# default
*                           @weidongxu-microsoft @srnagar

# Git Hub bot rules
/.github/fabricbot.json     @jsquire @ronniegeraghty

# fluentgen
/fluent*                    @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/azure-tests                @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

# androidgen
/androidgen                 @JianpingChen @anuchandy

# protocol
/protocol*                  @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update-tests       @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar

# typespec
/typespec-extension         @srnagar @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/typespec-tests             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
