Repository Azure/autorest.java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @weidongxu-microsoft, @srnagar, @AlexGhiondea, @jsquire, @haolingdong-msft, @XiaofeiCao, @JianpingChen, @anuchandy

.github/CODEOWNERS:

# default
*                           @weidongxu-microsoft @srnagar

# Git Hub bot rules
/.github/fabricbot.json     @AlexGhiondea @jsquire

# fluentgen
/fluent*                    @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/azure-tests                @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

# androidgen
/androidgen                 @JianpingChen @anuchandy

# protocol
/protocol*                  @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar

minor fix on ServiceMethod annotation
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
  protocol-tests/src/main/java/fixtures/dpgcustomization/implementation/DpgClientImpl.java
  protocol-tests/src/main/java/fixtures/llcupdate1/implementation/ParamsImpl.java
  vanilla-tests/src/main/java/fixtures/bodydictionary/implementation/DictionariesImpl.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

client, pin testserver
  generate
  generate.bat
Owners: @weidongxu-microsoft, @srnagar

client, pin testserver (#1369)
  generate
  generate.bat
Owners: @weidongxu-microsoft, @srnagar

dpg, support sendRequest method (#1363)
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  generate
  generate.bat
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/MethodGroupMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ServiceClientMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientMethod.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientMethodParameter.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientMethodType.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/WrapperClientMethodTemplate.java
  protocol-tests/src/main/java/fixtures/dpgcustomization/DpgAsyncClient.java
  protocol-tests/src/main/java/fixtures/dpgcustomization/DpgClient.java
  protocol-tests/src/main/java/fixtures/dpgcustomization/implementation/DpgClientImpl.java
  protocol-tests/src/main/java/fixtures/llcupdate1/DpgAsyncClient.java
  protocol-tests/src/main/java/fixtures/llcupdate1/DpgClient.java
  protocol-tests/src/main/java/fixtures/llcupdate1/implementation/ParamsImpl.java
  protocol-tests/src/test/java/fixtures/dpgcustomization/DpgCustomizationTests.java
  protocol-tests/src/test/java/fixtures/dpgcustomization/DpgSendRequestTests.java
  protocol-tests/src/test/java/fixtures/dpgupdate/DpgUpdateTests.java
  vanilla-tests/src/main/java/fixtures/bodydictionary/AutoRestSwaggerBATDictionaryServiceAsyncClient.java
  vanilla-tests/src/main/java/fixtures/bodydictionary/AutoRestSwaggerBATDictionaryServiceClient.java
  vanilla-tests/src/main/java/fixtures/bodydictionary/implementation/DictionariesImpl.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

dpg, customize PollerFlux and PagedFlux
  protocol-tests/src/test/java/fixtures/dpgcustomization/DpgCustomizationTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

implement fluent live test template
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/FluentMapper.java
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/FluentPomMapper.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/FluentLiveTestCase.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/FluentLiveTests.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/javamodel/FluentJavaPackage.java
  fluentgen/src/main/java/com/azure/autorest/fluent/template/FluentExampleTemplate.java
  fluentgen/src/main/java/com/azure/autorest/fluent/template/FluentLiveTestsTemplate.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/LiveTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

dpg, customize PollerFlux and PagedFlux (#1370)
  protocol-tests/src/test/java/fixtures/dpgcustomization/DpgCustomizationTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

dpg, test codegen, compare Object instead of String
  javagen/src/main/java/com/azure/autorest/template/example/ProtocolExampleWriter.java
Owners: @weidongxu-microsoft, @srnagar

dpg, test codegen, compare Object instead of String (#1371)
  javagen/src/main/java/com/azure/autorest/template/example/ProtocolExampleWriter.java
Owners: @weidongxu-microsoft, @srnagar

dpg, extract test data to json
  protocol-sdk-integration-tests/data-specs.json
  protocol-sdk-integration-tests/test.py
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

include all generated data-plane SDK to smoke test
  protocol-sdk-integration-tests/data-specs.json
  protocol-sdk-integration-tests/test.py
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

code style change
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/ExampleParser.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

merge generateLiveTests into generateTests
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  fluentgen/src/main/java/com/azure/autorest/fluent/FluentGen.java
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/FluentPomMapper.java
  fluentgen/src/test/java/com/azure/autorest/fluent/TestUtils.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

dpg, prepare smoke tests (#1372)
  protocol-sdk-integration-tests/data-specs.json
  protocol-sdk-integration-tests/test.py
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

fix situation where operationGroup does not exist
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/ExampleParser.java
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/FluentMapper.java
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/FluentProxyMethodMapper.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/FluentExampleLiveTestStep.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/FluentLiveTestCase.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/FluentLiveTests.java
  fluentgen/src/main/java/com/azure/autorest/fluent/template/FluentLiveTestsTemplate.java
  fluentgen/src/test/java/com/azure/autorest/fluent/mapper/FluentNamerTests.java
  fluentgen/src/test/resources/code-model-fluentnamer-nulloperationgroup.yaml
  fluentnamer/src/main/java/com/azure/autorest/fluent/transformer/FluentTransformer.java
  fluentnamer/src/main/java/com/azure/autorest/fluent/util/FluentConsts.java
  javagen/src/main/java/com/azure/autorest/mapper/ProxyMethodMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ExampleLiveTestStep.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

convert necessary immutable class
  fluentgen/src/test/java/com/azure/autorest/fluent/mapper/FluentNamerTests.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/LiveTestCase.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/LiveTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

nit, move livetests map into a separate mapper
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/FluentLiveTestsMapper.java
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/FluentMapper.java
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/FluentProxyMethodMapper.java
  fluentgen/src/test/java/com/azure/autorest/fluent/mapper/FluentNamerTests.java
  fluentnamer/src/main/java/com/azure/autorest/fluent/transformer/FluentTransformer.java
  fluentnamer/src/main/java/com/azure/autorest/fluent/util/FluentConsts.java
  fluentnamer/src/main/java/com/azure/autorest/fluent/util/Utils.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/LiveTestsMapper.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

replace labelled for-loop to stream filter
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/ScenarioStep.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/TestScenarioStepType.java
  fluentgen/src/main/java/com/azure/autorest/fluent/FluentGen.java
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/ExampleParser.java
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/FluentLiveTestsMapper.java
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/FluentPomMapper.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/FluentExampleLiveTestStep.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/FluentLiveTestStep.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/FluentLiveTests.java
  fluentgen/src/main/java/com/azure/autorest/fluent/template/FluentLiveTestsTemplate.java
  fluentgen/src/test/resources/code-model-fluentnamer-signalr.yaml
  javagen/src/main/java/com/azure/autorest/mapper/LiveTestsMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ExampleLiveTestStep.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/LiveTestCase.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/LiveTestStep.java
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

revert fluentnamer readme
  fluentnamer/readme.md
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Fabric Bot Configuration (#1366)
  .github/fabricbot.json
Owners: @AlexGhiondea, @jsquire
