Repository Azure/autorest.java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @weidongxu-microsoft, @srnagar, @jsquire, @ronniegeraghty, @haolingdong-msft, @XiaofeiCao, @JianpingChen, @anuchandy

rename union's flattenOp, remove union sample
  typespec-tests/src/samples/java/com/cadl/union/generated/FlattenOpSend.java
  typespec-tests/src/samples/java/com/cadl/union/generated/FlattenOpSendLong.java
  typespec-tests/tsp/union.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

mgmt, fix for model inherit error, whether it is used in Exception (#2235)
  fluentgen/src/main/java/com/azure/autorest/fluent/template/FluentModelTemplate.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

dpg, support assets.json and TestProxyTestBase.java (#2222)
  javagen/src/main/java/com/azure/autorest/Javagen.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaPackage.java
  javagen/src/main/java/com/azure/autorest/template/ProtocolTestBaseTemplate.java
  javagen/src/main/java/com/azure/autorest/template/TestProxyAssetsTemplate.java
  javagen/src/main/java/com/azure/autorest/template/example/ProtocolTestWriter.java
  javagen/src/test/java/com/azure/autorest/template/TestProxyAssertsTemplateTests.java
  protocol-sdk-integration-tests/test.py
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

eng, fix merge conflict
  javagen/src/test/java/com/azure/autorest/template/TestProxyAssertsTemplateTests.java
Owners: @weidongxu-microsoft, @srnagar

eng, fix merge conflict (#2238)
  javagen/src/test/java/com/azure/autorest/template/TestProxyAssertsTemplateTests.java
Owners: @weidongxu-microsoft, @srnagar

eng, update action and ci
  .github/workflows/fluent-test-gen-all.yml
  .github/workflows/pre-release-typespec.yml
Owners: @weidongxu-microsoft, @srnagar

eng, update action and ci (#2239)
  .github/workflows/fluent-test-gen-all.yml
  .github/workflows/pre-release-typespec.yml
Owners: @weidongxu-microsoft, @srnagar

test case
  fluent-tests/prepare-tests.bat
  fluent-tests/src/test/java/com/azure/mgmttest/RuntimeTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

mitigate the issue of ErrorResponse used in model
  fluent-tests/prepare-tests.bat
  fluent-tests/src/test/java/com/azure/mgmttest/RuntimeTests.java
  fluentnamer/src/main/java/com/azure/autorest/fluent/transformer/ErrorTypeNormalization.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

mgmt, mitigate the issue of ErrorResponse used in model (#2242)
  fluent-tests/prepare-tests.bat
  fluent-tests/src/test/java/com/azure/mgmttest/RuntimeTests.java
  fluentnamer/src/main/java/com/azure/autorest/fluent/transformer/ErrorTypeNormalization.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix flatten parameter mapping
  javagen/src/main/java/com/azure/autorest/template/example/ClientMethodExampleWriter.java
Owners: @weidongxu-microsoft, @srnagar

update cadl-ranch
  typespec-tests/package.json
  typespec-tests/src/main/java/com/specialheaders/clientrequestid/ClientRequestIdAsyncClient.java
  typespec-tests/src/main/java/com/specialheaders/clientrequestid/ClientRequestIdClient.java
  typespec-tests/src/main/java/com/specialheaders/clientrequestid/ClientRequestIdClientBuilder.java
  typespec-tests/src/main/java/com/specialheaders/clientrequestid/implementation/ClientRequestIdClientImpl.java
  typespec-tests/src/main/java/com/specialheaders/clientrequestid/implementation/package-info.java
  typespec-tests/src/main/java/com/specialheaders/clientrequestid/package-info.java
  typespec-tests/src/main/resources/specialheaders-clientrequestid.properties
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

test case
  typespec-tests/package.json
  typespec-tests/src/test/java/com/specialheaders/clientrequestid/RequestIdTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, update cadl ranch (#2244)
  typespec-tests/package.json
  typespec-tests/src/main/java/com/specialheaders/clientrequestid/ClientRequestIdAsyncClient.java
  typespec-tests/src/main/java/com/specialheaders/clientrequestid/ClientRequestIdClient.java
  typespec-tests/src/main/java/com/specialheaders/clientrequestid/ClientRequestIdClientBuilder.java
  typespec-tests/src/main/java/com/specialheaders/clientrequestid/implementation/ClientRequestIdClientImpl.java
  typespec-tests/src/main/java/com/specialheaders/clientrequestid/implementation/package-info.java
  typespec-tests/src/main/java/com/specialheaders/clientrequestid/package-info.java
  typespec-tests/src/main/resources/specialheaders-clientrequestid.properties
  typespec-tests/src/test/java/com/specialheaders/clientrequestid/RequestIdTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

mgmt, use composite instead of inherit, if model inherit ErrorResponse
  fluentnamer/src/main/java/com/azure/autorest/fluent/transformer/ErrorTypeNormalization.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update according to comments
  javagen/src/main/java/com/azure/autorest/template/example/ClientMethodExampleWriter.java
Owners: @weidongxu-microsoft, @srnagar

mgmt, use composite instead of inherit, if model inherit ErrorResponse (#2245)
  fluentnamer/src/main/java/com/azure/autorest/fluent/transformer/ErrorTypeNormalization.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, support sample codegen for grouping and flattening (#2236)
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
  javagen/src/main/java/com/azure/autorest/template/example/ClientMethodExampleWriter.java
  javagen/src/main/java/com/azure/autorest/template/example/ModelExampleWriter.java
  javagen/src/main/java/com/azure/autorest/util/MethodUtil.java
  javagen/src/main/java/com/azure/autorest/util/ModelExampleUtil.java
  typespec-tests/Setup.ps1
  typespec-tests/src/samples/java/com/cadl/flatten/generated/FlattenOpSend.java
  typespec-tests/src/samples/java/com/cadl/flatten/generated/FlattenOpSendLong.java
  typespec-tests/src/samples/java/com/cadl/specialheaders/generated/EtagHeadersPutWithRequestHeaders.java
  typespec-tests/tsp/examples/2022-06-01-preview/FlattenOp_Send.json
  typespec-tests/tsp/examples/2022-06-01-preview/FlattenOp_SendLong.json
  typespec-tests/tsp/examples/EtagHeaders_PutWithRequestHeaders.json
  typespec-tests/tsp/union.tsp
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

tsp, prepare 0.8.6
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, prepare 0.8.6 (#2246)
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, enable-sync-stack
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
  typespec-extension/src/main/java/com/azure/typespec/model/EmitterOptions.java
  typespec-tests/package.json
  typespec-tests/tspconfig.yaml
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, enable-sync-stack (#2247)
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
  typespec-extension/src/main/java/com/azure/typespec/model/EmitterOptions.java
  typespec-tests/package.json
  typespec-tests/tspconfig.yaml
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, use operation.sourceOperation
  typespec-extension/src/operation-utils.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, use operation.sourceOperation (#2248)
  typespec-extension/src/operation-utils.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

emitter, operationRefersUnion
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/operation-utils.ts
  typespec-extension/src/type-utils.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

regen
  typespec-tests/src/main/java/com/cadl/union/UnionAsyncClient.java
  typespec-tests/src/main/java/com/cadl/union/UnionClient.java
  typespec-tests/src/main/java/com/cadl/union/models/ArrayData.java
  typespec-tests/src/main/java/com/cadl/union/models/ArrayDataDataUnionModel.java
  typespec-tests/src/main/java/com/cadl/union/models/ByteArrayDataUnionModel.java
  typespec-tests/src/main/java/com/cadl/union/models/DataUnionModelBase.java
  typespec-tests/src/main/java/com/cadl/union/models/InputModelBase.java
  typespec-tests/src/main/java/com/cadl/union/models/IntegerListInputModel.java
  typespec-tests/src/main/java/com/cadl/union/models/ListOfIntegerListInputModel.java
  typespec-tests/src/main/java/com/cadl/union/models/SendLongOptions.java
  typespec-tests/src/main/java/com/cadl/union/models/StringDataUnionModel.java
  typespec-tests/src/main/java/com/cadl/union/models/StringInputModel.java
  typespec-tests/src/main/java/com/cadl/union/models/StringListInputModel.java
  typespec-tests/src/main/java/com/cadl/union/models/TimeDataUnionModel.java
  typespec-tests/src/main/java/com/cadl/union/models/User.java
  typespec-tests/src/main/java/com/cadl/union/models/package-info.java
  typespec-tests/src/main/java/com/type/union/UnionAsyncClient.java
  typespec-tests/src/main/java/com/type/union/UnionClient.java
  typespec-tests/src/main/java/com/type/union/models/BaseModel.java
  typespec-tests/src/main/java/com/type/union/models/IntegerListSimpleUnionModel.java
  typespec-tests/src/main/java/com/type/union/models/IntegerSimpleUnionModel.java
  typespec-tests/src/main/java/com/type/union/models/Model1.java
  typespec-tests/src/main/java/com/type/union/models/Model1NamedUnionModel.java
  typespec-tests/src/main/java/com/type/union/models/Model2.java
  typespec-tests/src/main/java/com/type/union/models/Model2NamedUnionModel.java
  typespec-tests/src/main/java/com/type/union/models/ModelWithNamedUnionProperty.java
  typespec-tests/src/main/java/com/type/union/models/ModelWithSimpleUnionProperty.java
  typespec-tests/src/main/java/com/type/union/models/NamedUnionModelBase.java
  typespec-tests/src/main/java/com/type/union/models/SimpleUnionModelBase.java
  typespec-tests/src/main/java/com/type/union/models/package-info.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

test
  typespec-tests/src/test/java/com/cadl/union/UnionTest.java
  typespec-tests/src/test/java/com/type/union/UnionsClientTest.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

changelog
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-extension/src/operation-utils.ts
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

nit
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/operation-utils.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

handle param
  typespec-extension/src/operation-utils.ts
  typespec-tests/tsp/union.tsp
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

test
  typespec-tests/src/main/java/com/cadl/union/UnionAsyncClient.java
  typespec-tests/src/main/java/com/cadl/union/UnionClient.java
  typespec-tests/src/main/java/com/cadl/union/implementation/UnionClientImpl.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

comment
  typespec-extension/src/type-utils.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

use cache
  typespec-extension/changelog.md
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/operation-utils.ts
  typespec-extension/src/type-utils.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update test to include recursive
  typespec-tests/tsp/union.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, Union imply protocol API (#2249)
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/operation-utils.ts
  typespec-extension/src/type-utils.ts
  typespec-tests/package.json
  typespec-tests/src/main/java/com/cadl/union/UnionAsyncClient.java
  typespec-tests/src/main/java/com/cadl/union/UnionClient.java
  typespec-tests/src/main/java/com/cadl/union/implementation/UnionClientImpl.java
  typespec-tests/src/main/java/com/cadl/union/models/ArrayData.java
  typespec-tests/src/main/java/com/cadl/union/models/ArrayDataDataUnionModel.java
  typespec-tests/src/main/java/com/cadl/union/models/ByteArrayDataUnionModel.java
  typespec-tests/src/main/java/com/cadl/union/models/DataUnionModelBase.java
  typespec-tests/src/main/java/com/cadl/union/models/InputModelBase.java
  typespec-tests/src/main/java/com/cadl/union/models/IntegerListInputModel.java
  typespec-tests/src/main/java/com/cadl/union/models/ListOfIntegerListInputModel.java
  typespec-tests/src/main/java/com/cadl/union/models/SendLongOptions.java
  typespec-tests/src/main/java/com/cadl/union/models/StringDataUnionModel.java
  typespec-tests/src/main/java/com/cadl/union/models/StringInputModel.java
  typespec-tests/src/main/java/com/cadl/union/models/StringListInputModel.java
  typespec-tests/src/main/java/com/cadl/union/models/TimeDataUnionModel.java
  typespec-tests/src/main/java/com/cadl/union/models/User.java
  typespec-tests/src/main/java/com/cadl/union/models/package-info.java
  typespec-tests/src/main/java/com/type/union/UnionAsyncClient.java
  typespec-tests/src/main/java/com/type/union/UnionClient.java
  typespec-tests/src/main/java/com/type/union/models/BaseModel.java
  typespec-tests/src/main/java/com/type/union/models/IntegerListSimpleUnionModel.java
  typespec-tests/src/main/java/com/type/union/models/IntegerSimpleUnionModel.java
  typespec-tests/src/main/java/com/type/union/models/Model1.java
  typespec-tests/src/main/java/com/type/union/models/Model1NamedUnionModel.java
  typespec-tests/src/main/java/com/type/union/models/Model2.java
  typespec-tests/src/main/java/com/type/union/models/Model2NamedUnionModel.java
  typespec-tests/src/main/java/com/type/union/models/ModelWithNamedUnionProperty.java
  typespec-tests/src/main/java/com/type/union/models/ModelWithSimpleUnionProperty.java
  typespec-tests/src/main/java/com/type/union/models/NamedUnionModelBase.java
  typespec-tests/src/main/java/com/type/union/models/SimpleUnionModelBase.java
  typespec-tests/src/main/java/com/type/union/models/package-info.java
  typespec-tests/src/test/java/com/cadl/union/UnionTest.java
  typespec-tests/src/test/java/com/type/union/UnionsClientTest.java
  typespec-tests/tsp/union.tsp
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

mgmt, fix a javadoc issue on manager
  fluentgen/src/main/java/com/azure/autorest/fluent/template/FluentManagerTemplate.java
  javagen/src/main/java/com/azure/autorest/template/example/ModelExampleWriter.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

regen
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/DictionaryWrapperTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/SmartSalmonTests.java
Owners: @weidongxu-microsoft, @srnagar

eng, update script to include package version in PR
  eng/pipelines/post-publish-sdk.yaml
Owners: @weidongxu-microsoft, @srnagar

fix
  eng/pipelines/post-publish-sdk.yaml
Owners: @weidongxu-microsoft, @srnagar

fix
  eng/pipelines/post-publish-sdk.yaml
Owners: @weidongxu-microsoft, @srnagar

.github/CODEOWNERS:

# default
*                           @weidongxu-microsoft @srnagar

# Git Hub bot rules
/.github/fabricbot.json     @jsquire @ronniegeraghty

# fluentgen
/fluent*                    @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/azure-tests                @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

# androidgen
/androidgen                 @JianpingChen @anuchandy

# protocol
/protocol*                  @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update-tests       @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar

# typespec
/typespec-extension         @srnagar @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/typespec-tests             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
