Repository Azure/autorest.java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @weidongxu-microsoft, @srnagar, @jsquire, @ronniegeraghty, @haolingdong-msft, @XiaofeiCao, @JianpingChen, @anuchandy

format
  typespec-tests/tsp/patch.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update readme
  typespec-tests/readme.md
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

nit
  typespec-tests/readme.md
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

refactor newBuilder()
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientParameterMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ProxyMethodMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientMethodParameter.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientModelProperty.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ProxyMethod.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ProxyMethodParameter.java
Owners: @weidongxu-microsoft, @srnagar

nit
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

client, sync ch.qos.logback:logback-classic with SDK repo (#2435)
  eng/versioning/external_dependencies.txt
  typespec-extension/pom.xml
  typespec-tests/readme.md
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

fix
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/FluentExampleLiveTestStep.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/FluentLiveTestCase.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientModelProperty.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ProxyMethodParameter.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

nit
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

do not skip pollingOperation
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

bump version 0.11.3
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

re-generate test code
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/LegacyAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/LegacyClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/implementation/LegacyClientImpl.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Add test cases for tsp, cadl-ranch Type/Property/Optional
  typespec-tests/src/test/java/com/type/property/optional/BooleanLiteralClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/FloatLiteralClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/IntLiteralClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/StringLiteralClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/UnionFloatLiteralClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/UnionIntLiteralClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/UnionStringLiteralClientTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Disabled not working test cases.
  typespec-tests/src/test/java/com/type/property/optional/FloatLiteralClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/IntLiteralClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/UnionFloatLiteralClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/UnionIntLiteralClientTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fixed comment for pr#2438
  typespec-tests/src/test/java/com/type/property/optional/BooleanLiteralClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/FloatLiteralClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/IntLiteralClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/StringLiteralClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/UnionFloatLiteralClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/UnionIntLiteralClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/UnionStringLiteralClientTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Add test cases for Projection_ProjectedName_Model_client and Projection_ProjectedName_Model_language
  typespec-tests/src/test/java/com/projection/projectedname/ProjectedNameClientTest.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Fixed comment for pr#2439
  typespec-tests/src/test/java/com/projection/projectedname/ProjectedNameClientTest.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Add test cases for tsp, cadl-ranch Type/Property/Optional (#2438)
  typespec-tests/src/test/java/com/type/property/optional/BooleanLiteralClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/FloatLiteralClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/IntLiteralClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/StringLiteralClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/UnionFloatLiteralClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/UnionIntLiteralClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/UnionStringLiteralClientTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Add test cases for for tsp, cadl-ranch Projection.ProjectedName (#2439)
  typespec-tests/src/test/java/com/projection/projectedname/ProjectedNameClientTest.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

enhance discriminator case and map/array
  javagen/src/main/java/com/azure/autorest/template/JsonMergePatchHelperTemplate.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  typespec-tests/tsp/patch.tsp
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Fix polymorphic discriminator, use Linux for fluentgen CI
  Generate.ps1
  eng/pipelines/fluent_integration.yaml
  fluent-tests/Initialize-Tests.ps1
  fluent-tests/pom.xml
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  typespec-tests/src/main/java/com/type/model/inheritance/nesteddiscriminator/models/GoblinShark.java
  typespec-tests/src/main/java/com/type/model/inheritance/nesteddiscriminator/models/SawShark.java
  typespec-tests/src/main/java/com/type/model/inheritance/nesteddiscriminator/models/Shark.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Change exec configuration
  fluent-tests/pom.xml
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Roll back change to PowerShell and Linux but keep script
  eng/pipelines/fluent_integration.yaml
  fluent-tests/pom.xml
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Use slf4j-simple instead of logback
  eng/versioning/external_dependencies.txt
  typespec-extension/pom.xml
  typespec-extension/src/emitter.ts
  typespec-extension/src/main/resources/logback.xml
  typespec-extension/src/main/resources/simplelogger.properties
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Fix indentation
  eng/scripts/Build-Packages.ps1
  eng/scripts/Initialize-Repository.ps1
Owners: @weidongxu-microsoft, @srnagar

Fix more indentation
  eng/scripts/Command-InvocationHelpers.ps1
Owners: @weidongxu-microsoft, @srnagar

Have enums map to their backing value for TypeSpec
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientMethod.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/GenericType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ProxyMethodParameter.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaFileContents.java
  javagen/src/main/java/com/azure/autorest/model/xmlmodel/XmlFileContents.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/PomTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientTemplate.java
  typespec-tests/src/main/java/com/type/enums/extensible/ExtensibleAsyncClient.java
  typespec-tests/src/main/java/com/type/enums/extensible/ExtensibleClient.java
  typespec-tests/src/main/java/com/type/enums/fixed/FixedAsyncClient.java
  typespec-tests/src/main/java/com/type/enums/fixed/FixedClient.java
  typespec-tests/src/main/java/com/type/union/FloatsOnlyAsyncClient.java
  typespec-tests/src/main/java/com/type/union/FloatsOnlyClient.java
  typespec-tests/src/main/java/com/type/union/IntsOnlyAsyncClient.java
  typespec-tests/src/main/java/com/type/union/IntsOnlyClient.java
  typespec-tests/src/main/java/com/type/union/StringExtensibleAsyncClient.java
  typespec-tests/src/main/java/com/type/union/StringExtensibleClient.java
  typespec-tests/src/main/java/com/type/union/StringExtensibleNamedAsyncClient.java
  typespec-tests/src/main/java/com/type/union/StringExtensibleNamedClient.java
  typespec-tests/src/main/java/com/type/union/StringsOnlyAsyncClient.java
  typespec-tests/src/main/java/com/type/union/StringsOnlyClient.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Use slf4j-simple instead of logback (#2441)
  eng/versioning/external_dependencies.txt
  typespec-extension/pom.xml
  typespec-extension/src/emitter.ts
  typespec-extension/src/main/resources/logback.xml
  typespec-extension/src/main/resources/simplelogger.properties
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Fix polymorphic discriminator, use Linux for fluentgen CI (#2440)
  Generate.ps1
  fluent-tests/Initialize-Tests.ps1
  fluent-tests/pom.xml
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  typespec-tests/src/main/java/com/type/model/inheritance/nesteddiscriminator/models/GoblinShark.java
  typespec-tests/src/main/java/com/type/model/inheritance/nesteddiscriminator/models/SawShark.java
  typespec-tests/src/main/java/com/type/model/inheritance/nesteddiscriminator/models/Shark.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

use nullable of element type for enum, in case the enum itself is optional
  javagen/src/main/java/com/azure/autorest/model/clientmodel/EnumType.java
Owners: @weidongxu-microsoft, @srnagar

enable failed test
  typespec-tests/src/test/java/com/type/property/optional/FloatLiteralClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/IntLiteralClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/UnionFloatLiteralClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/UnionIntLiteralClientTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Update TypeSpecPlugin.java
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Update changelog.md
  typespec-extension/changelog.md
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

regen
  typespec-tests/src/main/java/com/cadl/enumservice/models/Operation.java
  typespec-tests/src/main/java/com/type/property/optional/models/FloatLiteralProperty.java
  typespec-tests/src/main/java/com/type/property/optional/models/IntLiteralProperty.java
  typespec-tests/src/main/java/com/type/property/optional/models/UnionFloatLiteralProperty.java
  typespec-tests/src/main/java/com/type/property/optional/models/UnionIntLiteralProperty.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/UnionFloatLiteralProperty.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/UnionIntLiteralProperty.java
  typespec-tests/src/main/java/com/type/union/models/GetResponse3.java
  typespec-tests/src/main/java/com/type/union/models/GetResponse4.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

sync sdk version
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  eng/versioning/external_dependencies.txt
  fluent-tests/pom.xml
  fluentnamer/pom.xml
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  protocol-tests/pom.xml
  typespec-tests/pom.xml
  vanilla-tests/pom.xml
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

support BigDecimal
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  typespec-extension/src/code-model-builder.ts
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Add test cases for tsp, cadl-ranch Type/Property/AdditionalProperties && Type/Property/ValueTypes
  typespec-tests/src/test/java/com/type/property/additionalproperties/ExtendsTests.java
  typespec-tests/src/test/java/com/type/property/additionalproperties/IsFloatClientTest.java
  typespec-tests/src/test/java/com/type/property/additionalproperties/IsModelArrayClientTest.java
  typespec-tests/src/test/java/com/type/property/additionalproperties/IsModelClientTest.java
  typespec-tests/src/test/java/com/type/property/additionalproperties/IsStringClientTest.java
  typespec-tests/src/test/java/com/type/property/additionalproperties/IsUnknownClientTest.java
  typespec-tests/src/test/java/com/type/property/valuetypes/LiteralTests.java
  typespec-tests/src/test/java/com/type/property/valuetypes/UnionTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

regen
  typespec-tests/src/main/java/com/cadl/builtin/BuiltinAsyncClient.java
  typespec-tests/src/main/java/com/cadl/builtin/BuiltinClient.java
  typespec-tests/src/main/java/com/cadl/builtin/implementation/BuiltinClientImpl.java
  typespec-tests/src/main/java/com/cadl/builtin/models/Builtin.java
  typespec-tests/src/main/java/com/type/property/valuetypes/Decimal128AsyncClient.java
  typespec-tests/src/main/java/com/type/property/valuetypes/Decimal128Client.java
  typespec-tests/src/main/java/com/type/property/valuetypes/DecimalAsyncClient.java
  typespec-tests/src/main/java/com/type/property/valuetypes/DecimalClient.java
  typespec-tests/src/main/java/com/type/property/valuetypes/implementation/Decimal128sImpl.java
  typespec-tests/src/main/java/com/type/property/valuetypes/implementation/DecimalsImpl.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/Decimal128Property.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/DecimalProperty.java
  typespec-tests/src/main/java/com/type/scalar/Decimal128TypeAsyncClient.java
  typespec-tests/src/main/java/com/type/scalar/Decimal128TypeClient.java
  typespec-tests/src/main/java/com/type/scalar/Decimal128VerifyAsyncClient.java
  typespec-tests/src/main/java/com/type/scalar/Decimal128VerifyClient.java
  typespec-tests/src/main/java/com/type/scalar/DecimalTypeAsyncClient.java
  typespec-tests/src/main/java/com/type/scalar/DecimalTypeClient.java
  typespec-tests/src/main/java/com/type/scalar/DecimalVerifyAsyncClient.java
  typespec-tests/src/main/java/com/type/scalar/DecimalVerifyClient.java
  typespec-tests/src/main/java/com/type/scalar/implementation/Decimal128TypesImpl.java
  typespec-tests/src/main/java/com/type/scalar/implementation/Decimal128VerifiesImpl.java
  typespec-tests/src/main/java/com/type/scalar/implementation/DecimalTypesImpl.java
  typespec-tests/src/main/java/com/type/scalar/implementation/DecimalVerifiesImpl.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Add test cases for tsp, cadl-ranch Type/Property/AdditionalProperties && Type/Property/ValueTypes (#2445)
  typespec-tests/src/test/java/com/type/property/additionalproperties/ExtendsTests.java
  typespec-tests/src/test/java/com/type/property/additionalproperties/IsFloatClientTest.java
  typespec-tests/src/test/java/com/type/property/additionalproperties/IsModelArrayClientTest.java
  typespec-tests/src/test/java/com/type/property/additionalproperties/IsModelClientTest.java
  typespec-tests/src/test/java/com/type/property/additionalproperties/IsStringClientTest.java
  typespec-tests/src/test/java/com/type/property/additionalproperties/IsUnknownClientTest.java
  typespec-tests/src/test/java/com/type/property/valuetypes/LiteralTests.java
  typespec-tests/src/test/java/com/type/property/valuetypes/UnionTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

add test case
  typespec-tests/src/test/java/com/type/scalar/ScalarTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

add test
  typespec-tests/src/test/java/com/type/scalar/DecimalTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

.github/CODEOWNERS:

# default
*                           @weidongxu-microsoft @srnagar

# Git Hub bot rules
/.github/fabricbot.json     @jsquire @ronniegeraghty

# fluentgen
/fluent*                    @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/azure-tests                @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

# androidgen
/androidgen                 @JianpingChen @anuchandy

# protocol
/protocol*                  @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update-tests       @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar

# typespec
/typespec-extension         @srnagar @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/typespec-tests             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
