Repository Azure/autorest.java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @weidongxu-microsoft, @srnagar, @jsquire, @ronniegeraghty, @haolingdong-msft, @XiaofeiCao, @JianpingChen, @anuchandy

avoid nested ternary
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplateBase.java
Owners: @weidongxu-microsoft, @srnagar

bug fix, 'partial update' will execute twice when generate from TypeSpec. (#2572)
  partial-update/src/main/java/com/azure/autorest/partialupdate/util/PartialUpdateHandler.java
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-extension/src/main/java/com/azure/typespec/Main.java
  typespec-tests/package.json
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

bump dependencies
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update as Azure.Core 0.39.1 has breaking change on member.variant -> member.type
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

test for clientName
  typespec-tests/tsp/naming.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

re-generate test code
  typespec-tests/src/main/java/com/cadl/naming/models/DataStatus.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix lint
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix format
  typespec-tests/tsp/naming.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

bug fixes: 1. set toJsonMergePatch as private, 2. switch the order of updatedProperties check and null check
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
Owners: @weidongxu-microsoft, @srnagar

regen
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/models/User.java
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/models/UserOrder.java
  typespec-tests/src/main/java/com/cadl/partialupdate/models/PartialUpdateModel.java
  typespec-tests/src/main/java/com/cadl/patch/models/Fish.java
  typespec-tests/src/main/java/com/cadl/patch/models/InnerModel.java
  typespec-tests/src/main/java/com/cadl/patch/models/Resource.java
  typespec-tests/src/main/java/com/cadl/patch/models/Salmon.java
  typespec-tests/src/main/java/com/cadl/patch/models/Shark.java
  typespec-tests/src/main/java/com/cadl/specialheaders/models/Resource.java
  typespec-tests/src/main/java/com/payload/jsonmergepatch/models/InnerModel.java
  typespec-tests/src/main/java/com/payload/jsonmergepatch/models/ResourcePatch.java
  typespec-tests/src/main/java/com/type/property/nullable/models/BytesProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/CollectionsByteProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/CollectionsModelProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/DatetimeProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/DurationProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/InnerModel.java
  typespec-tests/src/main/java/com/type/property/nullable/models/StringProperty.java
  typespec-tests/src/test/java/com/cadl/patch/PatchClientTest.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Remove mockito from mock tests (#2573)
  fluent-tests/pom.xml
  fluent-tests/src/test/java/com/azure/mgmttest/RuntimeTests.java
  fluentgen/src/main/java/com/azure/autorest/fluent/FluentGen.java
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/FluentPomMapper.java
  fluentgen/src/main/java/com/azure/autorest/fluent/template/FluentMethodMockTestTemplate.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Initial cleanup of Autorest extension
  extension-base/src/main/java/com/azure/autorest/extension/base/jsonrpc/CallerResponse.java
  extension-base/src/main/java/com/azure/autorest/extension/base/jsonrpc/Connection.java
  extension-base/src/main/java/com/azure/autorest/extension/base/jsonrpc/ProtocolUtils.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/AndSchema.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/AnnotatedPropertyUtils.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/AnySchema.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/ApiVersion.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/ArmIdSchema.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/ArraySchema.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/BinarySchema.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/BooleanSchema.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/ByteArraySchema.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/CharSchema.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/ChoiceSchema.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/ChoiceValue.java
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/AutorestSettings.java
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/NewPlugin.java
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  javagen/src/main/java/com/azure/autorest/template/SwaggerReadmeTemplate.java
  preprocessor/src/main/java/com/azure/autorest/preprocessor/Preprocessor.java
Owners: @weidongxu-microsoft, @srnagar

Everything but JavaSettings
  extension-base/src/main/java/com/azure/autorest/extension/base/model/Message.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/MessageChannel.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/SmartLocation.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/SourceLocation.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/extensionmodel/AllowedResource.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/extensionmodel/XmsArmIdDetails.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/extensionmodel/XmsEnum.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/extensionmodel/XmsExamples.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/extensionmodel/XmsExtensions.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/extensionmodel/XmsInternalAutorestAnonymousSchema.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/extensionmodel/XmsLongRunningOperationOptions.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/extensionmodel/XmsPageable.java
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/PluginLogger.java
Owners: @weidongxu-microsoft, @srnagar

JavaSettings
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
Owners: @weidongxu-microsoft, @srnagar

fix PagedResponseBase<Void, int>
  javagen/src/main/java/com/azure/autorest/template/ConvenienceAsyncMethodTemplate.java
Owners: @weidongxu-microsoft, @srnagar

test case
  typespec-tests/tsp/response.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

re-generate test code
  typespec-tests/src/main/java/com/cadl/response/ResponseAsyncClient.java
  typespec-tests/src/main/java/com/cadl/response/ResponseClient.java
  typespec-tests/src/main/java/com/cadl/response/implementation/ResponseClientImpl.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, support paged scalar (#2580)
  javagen/src/main/java/com/azure/autorest/template/ConvenienceAsyncMethodTemplate.java
  typespec-tests/src/main/java/com/cadl/response/ResponseAsyncClient.java
  typespec-tests/src/main/java/com/cadl/response/ResponseClient.java
  typespec-tests/src/main/java/com/cadl/response/implementation/ResponseClientImpl.java
  typespec-tests/tsp/response.tsp
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

java code
  javagen/src/main/java/com/azure/autorest/template/ConvenienceAsyncMethodTemplate.java
  partial-update/src/main/java/com/azure/autorest/partialupdate/util/PartialUpdateHandler.java
  typespec-extension/src/main/java/com/azure/typespec/Main.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

tsp, refine unionAsEnum (#2575)
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-tests/package.json
  typespec-tests/src/main/java/com/cadl/naming/models/DataStatus.java
  typespec-tests/tsp/naming.tsp
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

typespec and dependencies
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

bump to 0.13.9
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

revert https://github.com/Azure/autorest.java/pull/2571
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix changelog
  typespec-extension/changelog.md
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

sync version
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

re-generate test code
  typespec-tests/src/main/java/com/type/union/EnumsOnlyAsyncClient.java
  typespec-tests/src/main/java/com/type/union/EnumsOnlyClient.java
  typespec-tests/src/main/java/com/type/union/implementation/EnumsOnliesImpl.java
  typespec-tests/src/main/java/com/type/union/models/EnumsOnlyCases.java
  typespec-tests/src/main/java/com/type/union/models/EnumsOnlyCasesLr.java
  typespec-tests/src/main/java/com/type/union/models/EnumsOnlyCasesUd.java
  typespec-tests/src/main/java/com/type/union/models/LR.java
  typespec-tests/src/main/java/com/type/union/models/StringExtensibleNamedUnion.java
  typespec-tests/src/main/java/com/type/union/models/UD.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update test
  typespec-tests/src/test/java/com/type/union/UnionsClientTest.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

script
  eng/sdk/sync_sdk.py
Owners: @weidongxu-microsoft, @srnagar

re-generate test code
  typespec-tests/src/main/java/com/client/naming/ModelAsyncClient.java
  typespec-tests/src/main/java/com/client/naming/ModelClient.java
  typespec-tests/src/main/java/com/client/naming/NamingAsyncClient.java
  typespec-tests/src/main/java/com/client/naming/NamingClient.java
  typespec-tests/src/main/java/com/client/naming/NamingClientBuilder.java
  typespec-tests/src/main/java/com/client/naming/implementation/ModelsImpl.java
  typespec-tests/src/main/java/com/client/naming/implementation/NamingClientImpl.java
  typespec-tests/src/main/java/com/client/naming/implementation/package-info.java
  typespec-tests/src/main/java/com/client/naming/models/ClientModel.java
  typespec-tests/src/main/java/com/client/naming/models/ClientNameAndJsonEncodedNameModel.java
  typespec-tests/src/main/java/com/client/naming/models/ClientNameModel.java
  typespec-tests/src/main/java/com/client/naming/models/JavaModel.java
  typespec-tests/src/main/java/com/client/naming/models/LanguageClientNameModel.java
  typespec-tests/src/main/java/com/client/naming/models/package-info.java
  typespec-tests/src/main/java/com/client/naming/package-info.java
  typespec-tests/src/main/java/com/serialization/encodedname/json/JsonAsyncClient.java
  typespec-tests/src/main/java/com/serialization/encodedname/json/JsonClient.java
  typespec-tests/src/main/java/com/serialization/encodedname/json/JsonClientBuilder.java
  typespec-tests/src/main/java/com/serialization/encodedname/json/implementation/JsonClientImpl.java
  typespec-tests/src/main/java/com/serialization/encodedname/json/implementation/PropertiesImpl.java
  typespec-tests/src/main/java/com/serialization/encodedname/json/implementation/package-info.java
  typespec-tests/src/main/java/com/serialization/encodedname/json/models/JsonEncodedNameModel.java
  typespec-tests/src/main/java/com/serialization/encodedname/json/models/package-info.java
  typespec-tests/src/main/java/com/serialization/encodedname/json/package-info.java
  typespec-tests/src/main/java/com/type/array/models/package-info.java
  typespec-tests/src/main/java/com/type/array/package-info.java
  typespec-tests/src/main/java/com/type/property/valuetypes/UnionFloatLiteralAsyncClient.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/FloatLiteralProperty.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/UnionFloatLiteralPropertyProperty.java
  typespec-tests/src/main/resources/client-naming.properties
  typespec-tests/src/main/resources/serialization-encodedname-json.properties
  typespec-tests/src/test/java/com/client/naming/generated/NamingClientTestBase.java
  typespec-tests/src/test/java/com/serialization/encodedname/json/generated/JsonClientTestBase.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update tests
  typespec-tests/src/test/java/com/type/array/Float32ValueClientTest.java
  typespec-tests/src/test/java/com/type/dictionary/Float32ValueClientTest.java
  typespec-tests/src/test/java/com/type/property/additionalproperties/ExtendsTests.java
  typespec-tests/src/test/java/com/type/property/additionalproperties/IsFloatClientTest.java
  typespec-tests/src/test/java/com/type/property/valuetypes/FloatOperationClientTest.java
  typespec-tests/src/test/java/com/type/property/valuetypes/LiteralTests.java
  typespec-tests/src/test/java/com/type/property/valuetypes/UnionTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

new test
  typespec-tests/src/test/java/com/client/naming/NamingTests.java
  typespec-tests/src/test/java/com/serialization/encodedname/json/JsonTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

comment
  typespec-tests/src/test/java/com/client/naming/NamingTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

use the process in tcgc
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update tests according to comments
  typespec-tests/src/test/java/com/cadl/patch/PatchClientTest.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

regen
  typespec-tests/src/main/java/com/cadl/partialupdate/models/PartialUpdateModel.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

0.31.0 fixed the problem
  typespec-tests/package.json
  typespec-tests/src/test/java/com/client/naming/NamingTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

re-generate test code
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/LegacyAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/LegacyClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/implementation/CreateResourcePollViaOperationLocationsImpl.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/models/JobStatus.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/InnerEnum.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

add another test case for inheritance
  typespec-tests/src/main/java/com/cadl/patch/PatchAsyncClient.java
  typespec-tests/src/main/java/com/cadl/patch/PatchClient.java
  typespec-tests/src/main/java/com/cadl/patch/implementation/PatchesImpl.java
  typespec-tests/src/main/java/com/cadl/patch/models/Resource.java
  typespec-tests/tsp/patch.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Remove non-null annotation setting
  androidgen/src/main/java/com/azure/autorest/android/mapper/AndroidServiceClientMapper.java
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientParameterMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/CustomClientParameterMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ServiceClientMapper.java
Owners: @JianpingChen, @anuchandy, @weidongxu-microsoft, @srnagar

Remove NON_NULL ClassType
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
Owners: @weidongxu-microsoft, @srnagar

.github/CODEOWNERS:

# default
*                           @weidongxu-microsoft @srnagar

# Git Hub bot rules
/.github/fabricbot.json     @jsquire @ronniegeraghty

# fluentgen
/fluent*                    @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/azure-tests                @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

# androidgen
/androidgen                 @JianpingChen @anuchandy

# protocol
/protocol*                  @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update-tests       @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar

# typespec
/typespec-extension         @srnagar @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/typespec-tests             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
