Repository Azure/autorest.java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @weidongxu-microsoft, @srnagar, @jsquire, @ronniegeraghty, @haolingdong-msft, @XiaofeiCao, @JianpingChen, @anuchandy

tsp, loadExamples (#2061)
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-extension/readme.md
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/emitter.ts
  typespec-extension/src/utils.ts
  typespec-tests/package.json
  typespec-tests/tsp_checkout.sh
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

add test case on user override the headers
  protocol-tests/src/test/java/fixtures/specialheader/SpecialHeaderTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

fix convenience method filter and add pageable test
  javagen/src/main/java/com/azure/autorest/template/ConvenienceSyncMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
  typespec-tests/src/test/java/com/_specs_/azure/core/CoreTests.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

remove sync-stack.tsp
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
  typespec-tests/src/main/java/com/cadl/syncstack/SyncStackAsyncClient.java
  typespec-tests/src/main/java/com/cadl/syncstack/SyncStackClient.java
  typespec-tests/src/main/java/com/cadl/syncstack/SyncStackClientBuilder.java
  typespec-tests/src/main/java/com/cadl/syncstack/SyncStackServiceVersion.java
  typespec-tests/src/main/java/com/cadl/syncstack/implementation/SyncStackClientImpl.java
  typespec-tests/src/main/java/com/cadl/syncstack/implementation/package-info.java
  typespec-tests/src/main/java/com/cadl/syncstack/models/ExportedResource.java
  typespec-tests/src/main/java/com/cadl/syncstack/models/OperationState.java
  typespec-tests/src/main/java/com/cadl/syncstack/models/Resource.java
  typespec-tests/src/main/java/com/cadl/syncstack/models/ResourceOperationStatusResourceError.java
  typespec-tests/src/main/java/com/cadl/syncstack/models/ResourceOperationStatusResourceExportedResourceError.java
  typespec-tests/src/main/java/com/cadl/syncstack/models/package-info.java
  typespec-tests/src/main/java/com/cadl/syncstack/package-info.java
  typespec-tests/src/main/resources/cadl-syncstack.properties
  typespec-tests/src/test/java/com/cadl/syncstack/generated/SyncStackClientTestBase.java
  typespec-tests/tsp/sync-stack.tsp
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

enable-sync-stack default false
  typespec-extension/src/main/java/com/azure/autorest/CadlPlugin.java
  typespec-tests/src/test/java/com/_specs_/azure/core/CoreTests.java
  typespec-tests/tspconfig.yaml
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

regen tests
  typespec-tests/src/main/java/com/_specs_/azure/traits/implementation/TraitsClientImpl.java
  typespec-tests/src/main/java/com/cadl/specialheaders/implementation/SpecialHeadersClientImpl.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update prettierrc
  typespec-tests/.prettierignore
  typespec-tests/.prettierrc.yaml
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

dpg, SDK fill repeatability headers only when user did not set it (#2065)
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
  protocol-tests/src/main/java/fixtures/specialheader/implementation/HeadersImpl.java
  protocol-tests/src/test/java/fixtures/specialheader/SpecialHeaderTests.java
  typespec-extension/.prettierrc.yaml
  typespec-tests/.prettierignore
  typespec-tests/.prettierrc.yaml
  typespec-tests/src/main/java/com/_specs_/azure/traits/implementation/TraitsClientImpl.java
  typespec-tests/src/main/java/com/cadl/specialheaders/implementation/SpecialHeadersClientImpl.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

fix enable-sync-stack: false
  javagen/src/main/java/com/azure/autorest/template/ConvenienceSyncMethodTemplate.java
Owners: @weidongxu-microsoft, @srnagar

eng, sync versions
  androidgen/pom.xml
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  fluent-tests/pom.xml
  fluentnamer/pom.xml
  javagen/pom.xml
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  partial-update-tests/pom.xml
  protocol-resilience-test/pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  protocol-tests/pom.xml
  typespec-extension/pom.xml
  typespec-tests/pom.xml
  vanilla-tests/pom.xml
Owners: @JianpingChen, @anuchandy, @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

fix enable-sync-stack: false (#2071)
  javagen/src/main/java/com/azure/autorest/template/ConvenienceSyncMethodTemplate.java
Owners: @weidongxu-microsoft, @srnagar

tsp, enable dict null test
  typespec-tests/src/test/java/com/dictionary/NullableFloatValueClientTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, enable dict null test (#2073)
  typespec-tests/src/test/java/com/dictionary/NullableFloatValueClientTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

eng, sync versions (#2072)
  androidgen/pom.xml
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  fluent-tests/pom.xml
  fluentnamer/pom.xml
  javagen/pom.xml
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  partial-update-tests/pom.xml
  protocol-resilience-test/pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  protocol-tests/pom.xml
  typespec-extension/pom.xml
  typespec-tests/pom.xml
  vanilla-tests/pom.xml
Owners: @JianpingChen, @anuchandy, @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

changelog
  typespec-extension/changelog.md
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix expect
  typespec-tests/package.json
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

need to fix api
  typespec-tests/package.json
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

use api 0.2.1
  typespec-tests/package.json
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

upgrade to compiler 0.43
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-extension/readme.md
  typespec-extension/src/code-model-builder.ts
  typespec-tests/Setup.ps1
  typespec-tests/package.json
  typespec-tests/src/main/java/com/collectionformat/CollectionFormatAsyncClient.java
  typespec-tests/src/main/java/com/collectionformat/CollectionFormatClient.java
  typespec-tests/src/main/java/com/collectionformat/implementation/CollectionFormatClientImpl.java
  typespec-tests/src/main/java/com/collectionformat/models/MessageResponse.java
  typespec-tests/src/main/java/com/collectionformat/package-info.java
  typespec-tests/src/main/java/com/server/parameterized/package-info.java
  typespec-tests/src/main/java/com/server/path/multiple/MultipleAsyncClient.java
  typespec-tests/src/main/java/com/server/path/multiple/MultipleClient.java
  typespec-tests/src/main/java/com/server/path/multiple/MultipleClientBuilder.java
  typespec-tests/src/main/java/com/server/path/multiple/MultipleServiceVersion.java
  typespec-tests/src/main/java/com/server/path/multiple/implementation/MultipleClientImpl.java
  typespec-tests/src/main/java/com/server/path/multiple/implementation/package-info.java
  typespec-tests/src/main/java/com/server/path/multiple/package-info.java
  typespec-tests/src/main/java/com/server/path/single/SingleAsyncClient.java
  typespec-tests/src/main/java/com/server/path/single/SingleClient.java
  typespec-tests/src/main/java/com/server/path/single/SingleClientBuilder.java
  typespec-tests/src/main/java/com/server/path/single/implementation/SingleClientImpl.java
  typespec-tests/src/main/java/com/server/path/single/implementation/package-info.java
  typespec-tests/src/main/java/com/server/path/single/package-info.java
  typespec-tests/src/main/resources/server-path-multiple.properties
  typespec-tests/src/main/resources/server-path-single.properties
  typespec-tests/src/test/java/com/collectionformat/CollectionFormatClientTest.java
  typespec-tests/src/test/java/com/server/parameterized/ParameterizedClientTest.java
  typespec-tests/src/test/java/com/server/path/multiple/generated/MultipleClientTestBase.java
  typespec-tests/src/test/java/com/server/path/single/generated/SingleClientTestBase.java
  typespec-tests/tsp/builtin.tsp
  typespec-tests/tsp/optional.tsp
  typespec-tests/tsp/union.tsp
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

regen
  typespec-tests/src/main/java/com/models/property/nullable/CollectionsModelAsyncClient.java
  typespec-tests/src/main/java/com/models/property/nullable/CollectionsModelClient.java
  typespec-tests/src/main/java/com/models/property/nullable/implementation/CollectionsModelsImpl.java
  typespec-tests/src/main/java/com/models/property/nullable/models/CollectionsModelProperty.java
  typespec-tests/src/main/java/com/models/property/nullable/models/InnerModel.java
  typespec-tests/src/main/java/com/parameters/collectionformat/CollectionFormatClientBuilder.java
  typespec-tests/src/main/java/com/parameters/collectionformat/HeaderAsyncClient.java
  typespec-tests/src/main/java/com/parameters/collectionformat/HeaderClient.java
  typespec-tests/src/main/java/com/parameters/collectionformat/QueryAsyncClient.java
  typespec-tests/src/main/java/com/parameters/collectionformat/QueryClient.java
  typespec-tests/src/main/java/com/parameters/collectionformat/implementation/CollectionFormatClientImpl.java
  typespec-tests/src/main/java/com/parameters/collectionformat/implementation/HeadersImpl.java
  typespec-tests/src/main/java/com/parameters/collectionformat/implementation/QueriesImpl.java
  typespec-tests/src/main/java/com/parameters/collectionformat/implementation/package-info.java
  typespec-tests/src/main/java/com/parameters/collectionformat/package-info.java
  typespec-tests/src/main/resources/parameters-collectionformat.properties
  typespec-tests/src/test/java/com/collectionformat/CollectionFormatClientTest.java
  typespec-tests/src/test/java/com/parameters/collectionformat/CollectionFormatClientTest.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

regen (#2075)
  typespec-tests/src/main/java/com/models/property/nullable/CollectionsModelAsyncClient.java
  typespec-tests/src/main/java/com/models/property/nullable/CollectionsModelClient.java
  typespec-tests/src/main/java/com/models/property/nullable/implementation/CollectionsModelsImpl.java
  typespec-tests/src/main/java/com/models/property/nullable/models/CollectionsModelProperty.java
  typespec-tests/src/main/java/com/models/property/nullable/models/InnerModel.java
  typespec-tests/src/main/java/com/parameters/collectionformat/CollectionFormatClientBuilder.java
  typespec-tests/src/main/java/com/parameters/collectionformat/HeaderAsyncClient.java
  typespec-tests/src/main/java/com/parameters/collectionformat/HeaderClient.java
  typespec-tests/src/main/java/com/parameters/collectionformat/QueryAsyncClient.java
  typespec-tests/src/main/java/com/parameters/collectionformat/QueryClient.java
  typespec-tests/src/main/java/com/parameters/collectionformat/implementation/CollectionFormatClientImpl.java
  typespec-tests/src/main/java/com/parameters/collectionformat/implementation/HeadersImpl.java
  typespec-tests/src/main/java/com/parameters/collectionformat/implementation/QueriesImpl.java
  typespec-tests/src/main/java/com/parameters/collectionformat/implementation/package-info.java
  typespec-tests/src/main/java/com/parameters/collectionformat/package-info.java
  typespec-tests/src/main/resources/parameters-collectionformat.properties
  typespec-tests/src/test/java/com/collectionformat/CollectionFormatClientTest.java
  typespec-tests/src/test/java/com/parameters/collectionformat/CollectionFormatClientTest.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

config for eventgrid
  typespec-tests/tsp_checkout.sh
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

config for eventgrid (#2077)
  typespec-tests/tsp_checkout.sh
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

@internal support
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

regen
  typespec-tests/src/main/java/com/internal/InternalAsyncClient.java
  typespec-tests/src/main/java/com/models/property/nullable/CollectionsModelAsyncClient.java
  typespec-tests/src/main/java/com/models/property/nullable/CollectionsModelClient.java
  typespec-tests/src/main/java/com/models/property/nullable/implementation/CollectionsModelsImpl.java
  typespec-tests/src/main/java/com/models/property/nullable/models/CollectionsModelProperty.java
  typespec-tests/src/main/java/com/models/property/nullable/models/InnerModel.java
  typespec-tests/src/main/java/com/parameters/collectionformat/CollectionFormatClientBuilder.java
  typespec-tests/src/main/java/com/parameters/collectionformat/HeaderAsyncClient.java
  typespec-tests/src/main/java/com/parameters/collectionformat/HeaderClient.java
  typespec-tests/src/main/java/com/parameters/collectionformat/QueryAsyncClient.java
  typespec-tests/src/main/java/com/parameters/collectionformat/QueryClient.java
  typespec-tests/src/main/java/com/parameters/collectionformat/implementation/CollectionFormatClientImpl.java
  typespec-tests/src/main/java/com/parameters/collectionformat/implementation/HeadersImpl.java
  typespec-tests/src/main/java/com/parameters/collectionformat/implementation/QueriesImpl.java
  typespec-tests/src/main/java/com/parameters/collectionformat/implementation/package-info.java
  typespec-tests/src/main/java/com/parameters/collectionformat/package-info.java
  typespec-tests/src/main/resources/parameters-collectionformat.properties
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

add cadl-ranch test
  typespec-tests/src/test/java/com/internal/InternalTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

format
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

bump version for release
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

changelog.md
  typespec-extension/changelog.md
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

move logic earlier in operation process
  typespec-extension/src/code-model-builder.ts
  typespec-tests/src/main/java/com/internal/models/InternalModel.java
  typespec-tests/src/main/java/com/internal/models/ModelOnlyUsedByInternalOperation.java
  typespec-tests/src/main/java/com/internal/models/package-info.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

format
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

cadl-ranch, add more tests
  typespec-tests/src/test/java/com/arrays/itemtypes/NullableFloatValueClientTest.java
  typespec-tests/src/test/java/com/models/property/nullable/BytesClientTest.java
  typespec-tests/src/test/java/com/models/property/nullable/CollectionsByteClientTest.java
  typespec-tests/src/test/java/com/models/property/nullable/CollectionsModelClientTest.java
  typespec-tests/src/test/java/com/models/property/nullable/DatetimeOperationClientTest.java
  typespec-tests/src/test/java/com/models/property/nullable/DurationOperationClientTest.java
  typespec-tests/src/test/java/com/server/path/multiple/MultipleClientTest.java
  typespec-tests/src/test/java/com/server/path/single/SingleClientTest.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

optimize imports
  typespec-tests/src/test/java/com/arrays/itemtypes/NullableFloatValueClientTest.java
  typespec-tests/src/test/java/com/models/property/nullable/BytesClientTest.java
  typespec-tests/src/test/java/com/models/property/nullable/CollectionsByteClientTest.java
  typespec-tests/src/test/java/com/models/property/nullable/CollectionsModelClientTest.java
  typespec-tests/src/test/java/com/models/property/nullable/DatetimeOperationClientTest.java
  typespec-tests/src/test/java/com/models/property/nullable/DurationOperationClientTest.java
  typespec-tests/src/test/java/com/server/path/multiple/MultipleClientTest.java
  typespec-tests/src/test/java/com/server/path/single/SingleClientTest.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

cadl-ranch, add more tests (#2079)
  typespec-tests/src/test/java/com/arrays/itemtypes/NullableFloatValueClientTest.java
  typespec-tests/src/test/java/com/models/property/nullable/BytesClientTest.java
  typespec-tests/src/test/java/com/models/property/nullable/CollectionsByteClientTest.java
  typespec-tests/src/test/java/com/models/property/nullable/CollectionsModelClientTest.java
  typespec-tests/src/test/java/com/models/property/nullable/DatetimeOperationClientTest.java
  typespec-tests/src/test/java/com/models/property/nullable/DurationOperationClientTest.java
  typespec-tests/src/test/java/com/server/path/multiple/MultipleClientTest.java
  typespec-tests/src/test/java/com/server/path/single/SingleClientTest.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp support `@internal` (#2078)
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-tests/package.json
  typespec-tests/src/main/java/com/internal/InternalAsyncClient.java
  typespec-tests/src/main/java/com/internal/InternalClient.java
  typespec-tests/src/main/java/com/internal/models/InternalModel.java
  typespec-tests/src/main/java/com/internal/models/ModelOnlyUsedByInternalOperation.java
  typespec-tests/src/main/java/com/internal/models/package-info.java
  typespec-tests/src/test/java/com/internal/InternalTests.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, test case for patch null
  typespec-tests/src/test/java/com/models/property/nullable/BytesClientTest.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, test case for patch null (#2080)
  typespec-tests/src/test/java/com/models/property/nullable/BytesClientTest.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update patch null tests
  typespec-tests/src/test/java/com/models/property/nullable/CollectionsByteClientTest.java
  typespec-tests/src/test/java/com/models/property/nullable/CollectionsModelClientTest.java
  typespec-tests/src/test/java/com/models/property/nullable/DatetimeOperationClientTest.java
  typespec-tests/src/test/java/com/models/property/nullable/DurationOperationClientTest.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Rename package and custom types and custom types subpackage options
  typespec-extension/pom.xml
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
  typespec-extension/src/main/java/com/azure/typespec/Main.java
  typespec-extension/src/main/java/com/azure/typespec/mapper/TypeSpecClientMapper.java
  typespec-extension/src/main/java/com/azure/typespec/mapper/TypeSpecMapperFactory.java
  typespec-extension/src/main/java/com/azure/typespec/mapper/TypeSpecPrimitiveMapper.java
  typespec-extension/src/main/java/com/azure/typespec/mapper/TypeSpecServiceClientMapper.java
  typespec-extension/src/main/java/com/azure/typespec/model/DevOptions.java
  typespec-extension/src/main/java/com/azure/typespec/model/EmitterOptions.java
  typespec-extension/src/main/java/com/azure/typespec/util/ModelUtil.java
  typespec-extension/src/test/java/com/azure/typespec/util/ModelUtilTests.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Rename package and custom types and custom types subpackage options (#2082)
  typespec-extension/pom.xml
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
  typespec-extension/src/main/java/com/azure/typespec/Main.java
  typespec-extension/src/main/java/com/azure/typespec/mapper/TypeSpecClientMapper.java
  typespec-extension/src/main/java/com/azure/typespec/mapper/TypeSpecMapperFactory.java
  typespec-extension/src/main/java/com/azure/typespec/mapper/TypeSpecPrimitiveMapper.java
  typespec-extension/src/main/java/com/azure/typespec/mapper/TypeSpecServiceClientMapper.java
  typespec-extension/src/main/java/com/azure/typespec/model/DevOptions.java
  typespec-extension/src/main/java/com/azure/typespec/model/EmitterOptions.java
  typespec-extension/src/main/java/com/azure/typespec/util/ModelUtil.java
  typespec-extension/src/test/java/com/azure/typespec/util/ModelUtilTests.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

.github/CODEOWNERS:

# default
*                           @weidongxu-microsoft @srnagar

# Git Hub bot rules
/.github/fabricbot.json     @jsquire @ronniegeraghty

# fluentgen
/fluent*                    @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/azure-tests                @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

# androidgen
/androidgen                 @JianpingChen @anuchandy

# protocol
/protocol*                  @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update-tests       @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar

# typespec
/typespec-extension         @srnagar @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/typespec-tests             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
