Repository Azure/autorest.java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @weidongxu-microsoft, @srnagar, @jsquire, @ronniegeraghty, @haolingdong-msft, @XiaofeiCao, @JianpingChen, @anuchandy

.github/CODEOWNERS:

# default
*                           @weidongxu-microsoft @srnagar

# Git Hub bot rules
/.github/fabricbot.json     @jsquire @ronniegeraghty

# fluentgen
/fluent*                    @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/azure-tests                @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

# androidgen
/androidgen                 @JianpingChen @anuchandy

# protocol
/protocol*                  @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update-tests       @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar

# typespec
/typespec-extension         @srnagar @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/typespec-tests             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

sync pom
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  fluent-tests/pom.xml
  fluentnamer/pom.xml
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  protocol-tests/pom.xml
  typespec-tests/pom.xml
  vanilla-tests/pom.xml
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Update tsconfig.json (#2336)
  typespec-extension/tsconfig.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update cadl-ranch
  typespec-tests/package.json
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

regen
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/internal/implementation/models/InternalModel.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/internal/implementation/models/package-info.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/internal/implementation/package-info.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/internal/models/PublicModel.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/internal/models/SharedModel.java
  typespec-tests/src/main/java/com/type/scalar/BooleanOperationAsyncClient.java
  typespec-tests/src/main/java/com/type/scalar/BooleanOperationClient.java
  typespec-tests/src/main/java/com/type/scalar/ScalarClientBuilder.java
  typespec-tests/src/main/java/com/type/scalar/StringOperationAsyncClient.java
  typespec-tests/src/main/java/com/type/scalar/StringOperationClient.java
  typespec-tests/src/main/java/com/type/scalar/UnknownAsyncClient.java
  typespec-tests/src/main/java/com/type/scalar/UnknownClient.java
  typespec-tests/src/main/java/com/type/scalar/implementation/BooleanOperationsImpl.java
  typespec-tests/src/main/java/com/type/scalar/implementation/ScalarClientImpl.java
  typespec-tests/src/main/java/com/type/scalar/implementation/StringOperationsImpl.java
  typespec-tests/src/main/java/com/type/scalar/implementation/UnknownsImpl.java
  typespec-tests/src/main/java/com/type/scalar/implementation/package-info.java
  typespec-tests/src/main/java/com/type/scalar/package-info.java
  typespec-tests/src/main/resources/type-scalar.properties
  typespec-tests/src/test/java/com/type/scalar/generated/ScalarClientTestBase.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

remove internal test
  typespec-tests/src/test/java/com/_specs_/azure/clientgenerator/core/internal/InternalTests.java
  typespec-tests/src/test/java/com/_specs_/azure/clientgenerator/core/internal/generated/InternalClientTestBase.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

enable special-words
  typespec-tests/src/test/java/com/specialwords/ModelClientTest.java
  typespec-tests/src/test/java/com/specialwords/ModelPropertyClientTest.java
  typespec-tests/src/test/java/com/specialwords/OperationClientTest.java
  typespec-tests/src/test/java/com/specialwords/ParameterClientTest.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp update cadl-ranch (#2337)
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  fluent-tests/pom.xml
  fluentnamer/pom.xml
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  protocol-tests/pom.xml
  typespec-tests/package.json
  typespec-tests/pom.xml
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/internal/implementation/models/InternalModel.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/internal/implementation/models/package-info.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/internal/implementation/package-info.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/internal/models/PublicModel.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/internal/models/SharedModel.java
  typespec-tests/src/main/java/com/type/scalar/BooleanOperationAsyncClient.java
  typespec-tests/src/main/java/com/type/scalar/BooleanOperationClient.java
  typespec-tests/src/main/java/com/type/scalar/ScalarClientBuilder.java
  typespec-tests/src/main/java/com/type/scalar/StringOperationAsyncClient.java
  typespec-tests/src/main/java/com/type/scalar/StringOperationClient.java
  typespec-tests/src/main/java/com/type/scalar/UnknownAsyncClient.java
  typespec-tests/src/main/java/com/type/scalar/UnknownClient.java
  typespec-tests/src/main/java/com/type/scalar/implementation/BooleanOperationsImpl.java
  typespec-tests/src/main/java/com/type/scalar/implementation/ScalarClientImpl.java
  typespec-tests/src/main/java/com/type/scalar/implementation/StringOperationsImpl.java
  typespec-tests/src/main/java/com/type/scalar/implementation/UnknownsImpl.java
  typespec-tests/src/main/java/com/type/scalar/implementation/package-info.java
  typespec-tests/src/main/java/com/type/scalar/package-info.java
  typespec-tests/src/main/resources/type-scalar.properties
  typespec-tests/src/test/java/com/_specs_/azure/clientgenerator/core/internal/InternalTests.java
  typespec-tests/src/test/java/com/_specs_/azure/clientgenerator/core/internal/generated/InternalClientTestBase.java
  typespec-tests/src/test/java/com/specialwords/ModelClientTest.java
  typespec-tests/src/test/java/com/specialwords/ModelPropertyClientTest.java
  typespec-tests/src/test/java/com/specialwords/OperationClientTest.java
  typespec-tests/src/test/java/com/specialwords/ParameterClientTest.java
  typespec-tests/src/test/java/com/type/scalar/generated/ScalarClientTestBase.java
  vanilla-tests/pom.xml
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

simple handle for anonymous model
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update test case
  typespec-tests/tsp/naming.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

test do not merge
  eng/pipelines/ci-typespec-java.yaml
Owners: @weidongxu-microsoft, @srnagar

test do not merge
  eng/pipelines/ci.yaml
Owners: @weidongxu-microsoft, @srnagar

test do not merge
  eng/pipelines/ci-typespec-java.yaml
Owners: @weidongxu-microsoft, @srnagar

handle deprecation of statusCode
  typespec-extension/changelog.md
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

regen
  typespec-tests/package.json
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/LegacyAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/LegacyClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/implementation/LegacyClientImpl.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

bug fix
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

require latest typespec, for "statusCodes"
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

format;
  typespec-extension/src/code-model-builder.ts
  typespec-tests/tsp/multiple-apiversion.tsp
  typespec-tests/tsp/versioning.tsp
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, upgrade compiler 0.49, switch to statusCodes with HttpStatusCodeRange (#2342)
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-tests/package.json
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/LegacyAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/LegacyClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/implementation/LegacyClientImpl.java
  typespec-tests/tsp/multiple-apiversion.tsp
  typespec-tests/tsp/versioning.tsp
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

use 0.10.0 for next version
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix unknwon, which is Object
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  typespec-tests/src/main/java/com/type/scalar/UnknownAsyncClient.java
  typespec-tests/src/main/java/com/type/scalar/UnknownClient.java
  typespec-tests/src/test/java/com/type/scalar/ScalarTests.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

nit, rename
  typespec-tests/tsp-checkout.sh
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, fix scalar of unknown in convenience method (#2343)
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-tests/package.json
  typespec-tests/src/main/java/com/type/scalar/UnknownAsyncClient.java
  typespec-tests/src/main/java/com/type/scalar/UnknownClient.java
  typespec-tests/src/test/java/com/type/scalar/ScalarTests.java
  typespec-tests/tsp-checkout.sh
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

name anonymous model only when namer=true
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/emitter.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

format
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, suppress isInternal
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, suppress isInternal (#2344)
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Handle String-based Enum discriminators in stream-style serialization
  customization-base/src/main/java/com/azure/autorest/customization/implementation/Utils.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/ls/EclipseLanguageClient.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/ls/EclipseLanguageServerFacade.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/ls/models/FileChangeType.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/ls/models/SymbolKind.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Cookiecuttershark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/DotSalmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Goblinshark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/MyDerivedType.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Salmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Sawshark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Shark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/SmartSalmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Cookiecuttershark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/DotSalmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Goblinshark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/MyDerivedType.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Salmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Sawshark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Shark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/SmartSalmon.java
Owners: @weidongxu-microsoft, @srnagar

Fix regression where single page paging API generates invalid code
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
Owners: @weidongxu-microsoft, @srnagar

Fix regression where single page paging API generates invalid code (#2347)
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
Owners: @weidongxu-microsoft, @srnagar

code to support set apiversion for lro
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
Owners: @weidongxu-microsoft, @srnagar

regen
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/implementation/RpcClientImpl.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/implementation/LegacyClientImpl.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/standard/implementation/StandardClientImpl.java
  typespec-tests/src/main/java/com/cadl/protocolandconvenient/implementation/ProtocolAndConvenientClientImpl.java
  typespec-tests/src/main/java/com/cadl/specialheaders/implementation/SpecialHeadersClientImpl.java
  typespec-tests/src/main/java/com/cadl/union/implementation/UnionClientImpl.java
  typespec-tests/src/main/java/com/cadl/versioning/implementation/VersioningClientImpl.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

sync-only for sync-methods option
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ProxyMethodMapper.java
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
Owners: @weidongxu-microsoft, @srnagar

mgmt, add graalvm-config-suffix option
  fluentgen/src/main/java/com/azure/autorest/fluent/FluentGen.java
  fluentnamer/src/main/java/com/azure/autorest/fluent/util/FluentJavaSettings.java
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

Update TypeSpecPlugin.java
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

regen
  azure-dataplane-tests/src/main/java/com/azure/ai/formrecognizer/documentanalysis/dpg/implementation/FormRecognizerClientImpl.java
  azure-dataplane-tests/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/FormRecognizerClientImpl.java
  protocol-tests/src/main/java/fixtures/dpgcustomization/implementation/DpgClientImpl.java
  protocol-tests/src/main/java/fixtures/endpointlro/implementation/LROsImpl.java
  protocol-tests/src/main/java/fixtures/lro/implementation/LROsImpl.java
  protocol-tests/src/main/java/fixtures/lro/implementation/LroRetrysImpl.java
  protocol-tests/src/main/java/fixtures/lro/implementation/LrosCustomHeadersImpl.java
  protocol-tests/src/main/java/fixtures/lro/implementation/LrosaDsImpl.java
  protocol-tests/src/main/java/fixtures/specialheader/implementation/HeadersImpl.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Regenerate code
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Cookiecuttershark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/DotSalmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Goblinshark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/MyDerivedType.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Salmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Sawshark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Shark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/SmartSalmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Cookiecuttershark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/DotSalmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Goblinshark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/MyDerivedType.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Salmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Sawshark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Shark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/SmartSalmon.java
Owners: @weidongxu-microsoft, @srnagar

verify createSdkContext works
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Revert "verify createSdkContext works"
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Revert "verify createSdkContext works" (#2352)
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

verify context
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao
