Repository Azure/autorest.java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @weidongxu-microsoft, @srnagar, @jsquire, @ronniegeraghty, @haolingdong-msft, @XiaofeiCao, @JianpingChen, @anuchandy

.github/CODEOWNERS:

# default
*                           @weidongxu-microsoft @srnagar

# Git Hub bot rules
/.github/fabricbot.json     @jsquire @ronniegeraghty

# fluentgen
/fluent*                    @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/azure-tests                @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

# androidgen
/androidgen                 @JianpingChen @anuchandy

# protocol
/protocol*                  @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update-tests       @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar

# typespec
/typespec-extension         @srnagar @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/typespec-tests             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

remove workarounds
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/main/java/com/azure/typespec/util/ModelUtil.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

remove armKind
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/ObjectSchema.java
  fluentnamer/src/main/java/com/azure/autorest/fluent/transformer/ResourceTypeNormalization.java
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/common/client.ts
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

remove unnecessary field
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/ObjectSchema.java
Owners: @weidongxu-microsoft, @srnagar

update cadl-ranch
  typespec-tests/package.json
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

test for multipart
  typespec-tests/src/test/java/com/payload/multipart/MultipartTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix a case for multipart, it needs a call without optional file
  typespec-tests/src/test/java/com/payload/multipart/MultipartTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

test for version
  typespec-tests/src/test/java/com/server/versions/NotVersionedTests.java
  typespec-tests/src/test/java/com/server/versions/VersionedTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix api-version in client
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

test
  typespec-tests/src/test/java/com/server/versions/NotVersionedTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix systemData property
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/operation-utils.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

remove local test, covered by cadl-ranch
  typespec-tests/tsp/apiversion.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

correct api-version definition in server.tsp
  typespec-tests/src/main/java/com/cadl/server/ContosoAsyncClient.java
  typespec-tests/src/main/java/com/cadl/server/ContosoClient.java
  typespec-tests/src/main/java/com/cadl/server/ContosoClientBuilder.java
  typespec-tests/src/main/java/com/cadl/server/ContosoServiceVersion.java
  typespec-tests/src/main/java/com/cadl/server/HttpbinAsyncClient.java
  typespec-tests/src/main/java/com/cadl/server/HttpbinClient.java
  typespec-tests/src/main/java/com/cadl/server/HttpbinClientBuilder.java
  typespec-tests/src/main/java/com/cadl/server/implementation/ContosoClientImpl.java
  typespec-tests/src/main/java/com/cadl/server/implementation/HttpbinClientImpl.java
  typespec-tests/src/main/java/com/cadl/server/implementation/package-info.java
  typespec-tests/src/main/java/com/cadl/server/package-info.java
  typespec-tests/tsp/server.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

re-generate test code
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/BasicAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/BasicClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/implementation/JsonMergePatchHelper.java
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/models/User.java
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/models/UserOrder.java
  typespec-tests/src/main/java/com/cadl/patch/PatchAsyncClient.java
  typespec-tests/src/main/java/com/cadl/patch/PatchClient.java
  typespec-tests/src/main/java/com/cadl/patch/implementation/JsonMergePatchHelper.java
  typespec-tests/src/main/java/com/cadl/patch/models/Fish.java
  typespec-tests/src/main/java/com/cadl/patch/models/InnerModel.java
  typespec-tests/src/main/java/com/cadl/patch/models/Resource.java
  typespec-tests/src/main/java/com/cadl/patch/models/Salmon.java
  typespec-tests/src/main/java/com/cadl/patch/models/Shark.java
  typespec-tests/src/main/java/com/cadl/specialheaders/RepeatabilityHeadersAsyncClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/RepeatabilityHeadersClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/implementation/JsonMergePatchHelper.java
  typespec-tests/src/main/java/com/cadl/specialheaders/models/Resource.java
  typespec-tests/src/main/java/com/type/property/nullable/BytesAsyncClient.java
  typespec-tests/src/main/java/com/type/property/nullable/BytesClient.java
  typespec-tests/src/main/java/com/type/property/nullable/CollectionsByteAsyncClient.java
  typespec-tests/src/main/java/com/type/property/nullable/CollectionsByteClient.java
  typespec-tests/src/main/java/com/type/property/nullable/CollectionsModelAsyncClient.java
  typespec-tests/src/main/java/com/type/property/nullable/CollectionsModelClient.java
  typespec-tests/src/main/java/com/type/property/nullable/DatetimeOperationAsyncClient.java
  typespec-tests/src/main/java/com/type/property/nullable/DatetimeOperationClient.java
  typespec-tests/src/main/java/com/type/property/nullable/DurationOperationAsyncClient.java
  typespec-tests/src/main/java/com/type/property/nullable/DurationOperationClient.java
  typespec-tests/src/main/java/com/type/property/nullable/StringOperationAsyncClient.java
  typespec-tests/src/main/java/com/type/property/nullable/StringOperationClient.java
  typespec-tests/src/main/java/com/type/property/nullable/implementation/JsonMergePatchHelper.java
  typespec-tests/src/main/java/com/type/property/nullable/models/BytesProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/CollectionsByteProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/CollectionsModelProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/DatetimeProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/DurationProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/InnerModel.java
  typespec-tests/src/main/java/com/type/property/nullable/models/StringProperty.java
  typespec-tests/src/main/resources/cadl-server.properties
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix version in other tests
  typespec-tests/tsp/lro.tsp
  typespec-tests/tsp/protocol-api-convenient-api.tsp
  typespec-tests/tsp/response.tsp
  typespec-tests/tsp/special-chars.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

re-generate test code
  typespec-tests/src/main/java/com/cadl/longrunning/LongRunningAsyncClient.java
  typespec-tests/src/main/java/com/cadl/longrunning/LongRunningClient.java
  typespec-tests/src/main/java/com/cadl/longrunning/LongRunningClientBuilder.java
  typespec-tests/src/main/java/com/cadl/longrunning/LongRunningServiceVersion.java
  typespec-tests/src/main/java/com/cadl/longrunning/implementation/CoreToCodegenBridgeUtils.java
  typespec-tests/src/main/java/com/cadl/longrunning/implementation/LongRunningClientImpl.java
  typespec-tests/src/main/java/com/cadl/longrunning/implementation/package-info.java
  typespec-tests/src/main/java/com/cadl/longrunning/models/JobData.java
  typespec-tests/src/main/java/com/cadl/longrunning/models/JobResult.java
  typespec-tests/src/main/java/com/cadl/longrunning/models/JobResultResult.java
  typespec-tests/src/main/java/com/cadl/longrunning/models/JobStatus.java
  typespec-tests/src/main/java/com/cadl/longrunning/models/OperationState.java
  typespec-tests/src/main/java/com/cadl/longrunning/models/PollResponse.java
  typespec-tests/src/main/java/com/cadl/longrunning/models/package-info.java
  typespec-tests/src/main/java/com/cadl/longrunning/package-info.java
  typespec-tests/src/main/java/com/cadl/protocolandconvenient/ProtocolAndConvenientAsyncClient.java
  typespec-tests/src/main/java/com/cadl/protocolandconvenient/ProtocolAndConvenientClient.java
  typespec-tests/src/main/java/com/cadl/protocolandconvenient/ProtocolAndConvenientClientBuilder.java
  typespec-tests/src/main/java/com/cadl/protocolandconvenient/ProtocolAndConvenientServiceVersion.java
  typespec-tests/src/main/java/com/cadl/protocolandconvenient/implementation/ProtocolAndConvenienceOpsImpl.java
  typespec-tests/src/main/java/com/cadl/protocolandconvenient/implementation/ProtocolAndConvenientClientImpl.java
  typespec-tests/src/main/java/com/cadl/response/ResponseAsyncClient.java
  typespec-tests/src/main/java/com/cadl/response/ResponseClient.java
  typespec-tests/src/main/java/com/cadl/response/ResponseClientBuilder.java
  typespec-tests/src/main/java/com/cadl/response/ResponseServiceVersion.java
  typespec-tests/src/main/java/com/cadl/response/implementation/ResponseClientImpl.java
  typespec-tests/src/main/java/com/cadl/specialchars/SpecialCharsAsyncClient.java
  typespec-tests/src/main/java/com/cadl/specialchars/SpecialCharsClient.java
  typespec-tests/src/main/java/com/cadl/specialchars/implementation/BuiltinOpsImpl.java
  typespec-tests/src/main/java/com/cadl/specialchars/implementation/SpecialCharsClientImpl.java
  typespec-tests/src/main/java/com/cadl/specialchars/models/Resource.java
  typespec-tests/src/main/java/com/cadl/specialchars/models/package-info.java
  typespec-tests/src/main/java/com/cadl/specialchars/package-info.java
  typespec-tests/src/main/java/com/longrunning/LongRunningClientBuilder.java
  typespec-tests/src/main/java/com/longrunning/implementation/package-info.java
  typespec-tests/src/main/resources/cadl-longrunning.properties
  typespec-tests/src/main/resources/longrunning.properties
  typespec-tests/src/test/java/com/cadl/longrunning/generated/LongRunningClientTestBase.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix
  typespec-tests/tsp/special-chars.tsp
  typespec-tests/tsp/special-headers.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

re-generate test code
  typespec-tests/src/main/java/com/cadl/specialchars/SpecialCharsAsyncClient.java
  typespec-tests/src/main/java/com/cadl/specialchars/SpecialCharsClient.java
  typespec-tests/src/main/java/com/cadl/specialchars/SpecialCharsClientBuilder.java
  typespec-tests/src/main/java/com/cadl/specialchars/implementation/BuiltinOpsImpl.java
  typespec-tests/src/main/java/com/cadl/specialchars/implementation/SpecialCharsClientImpl.java
  typespec-tests/src/main/java/com/cadl/specialchars/implementation/package-info.java
  typespec-tests/src/main/java/com/cadl/specialchars/models/Resource.java
  typespec-tests/src/main/java/com/cadl/specialchars/models/package-info.java
  typespec-tests/src/main/java/com/cadl/specialchars/package-info.java
  typespec-tests/src/main/java/com/cadl/specialheaders/EtagHeadersAsyncClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/EtagHeadersClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/RepeatabilityHeadersAsyncClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/RepeatabilityHeadersClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/SkipSpecialHeadersAsyncClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/SpecialHeadersServiceVersion.java
  typespec-tests/src/main/java/com/cadl/specialheaders/implementation/EtagHeadersImpl.java
  typespec-tests/src/main/java/com/cadl/specialheaders/implementation/EtagHeadersOptionalBodiesImpl.java
  typespec-tests/src/main/java/com/cadl/specialheaders/implementation/RepeatabilityHeadersImpl.java
  typespec-tests/src/main/java/com/cadl/specialheaders/implementation/SpecialHeadersClientImpl.java
  typespec-tests/src/main/resources/cadl-specialchars.properties
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

delete
  typespec-tests/src/test/java/com/cadl/apiversion/generated/ApiVersionClientTestBase.java
  typespec-tests/src/test/java/com/longrunning/generated/LongRunningClientTestBase.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

remove condition no longer needed
  typespec-tests/Generate.ps1
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

sync folder of samples
  typespec-tests/tsp/examples/2022-06-01-preview/EtagHeaders_PutWithRequestHeaders.json
  typespec-tests/tsp/examples/2022-06-01-preview/ResponseOp_Exists.json
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

re-generate test code
  typespec-tests/src/samples/java/com/cadl/response/generated/ResponseOpExists.java
  typespec-tests/src/samples/java/com/cadl/specialheaders/generated/EtagHeadersPutWithRequestHeaders.java
  typespec-tests/src/test/java/com/cadl/response/generated/ResponseOpExistsTests.java
  typespec-tests/src/test/java/com/cadl/specialheaders/generated/EtagHeadersPutWithRequestHeadersTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix comment
  preprocessor/src/main/java/com/azure/autorest/preprocessor/tranformer/Transformer.java
Owners: @weidongxu-microsoft, @srnagar

tsp, add test for cadl-ranch Type/Model and Type/Property
  typespec-tests/src/main/java/com/type/model/inheritance/nesteddiscriminator/models/Salmon.java
  typespec-tests/src/main/java/com/type/model/inheritance/nesteddiscriminator/models/Shark.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/ExtendsUnknownAdditionalPropertiesDerived.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/ExtendsUnknownAdditionalPropertiesDiscriminatedDerived.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/IsUnknownAdditionalPropertiesDiscriminated.java
  typespec-tests/src/test/java/com/type/model/inheritance/NestedDiscriminatorTests.java
  typespec-tests/src/test/java/com/type/property/additionalproperties/ExtendsTests.java
  typespec-tests/src/test/java/com/type/property/additionalproperties/IsUnknownClientTest.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, add test for cadl-ranch Type/Model and Type/Property
  typespec-tests/src/main/java/com/type/model/inheritance/nesteddiscriminator/models/Salmon.java
  typespec-tests/src/main/java/com/type/model/inheritance/nesteddiscriminator/models/Shark.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/ExtendsUnknownAdditionalPropertiesDerived.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/ExtendsUnknownAdditionalPropertiesDiscriminatedDerived.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/IsUnknownAdditionalPropertiesDiscriminated.java
  typespec-tests/src/test/java/com/type/model/inheritance/NestedDiscriminatorTests.java
  typespec-tests/src/test/java/com/type/property/additionalproperties/ExtendsTests.java
  typespec-tests/src/test/java/com/type/property/additionalproperties/IsUnknownClientTest.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

remove version from tsp that not use version
  typespec-tests/tsp/builtin.tsp
  typespec-tests/tsp/enum.tsp
  typespec-tests/tsp/error.tsp
  typespec-tests/tsp/internal.tsp
  typespec-tests/tsp/literal.tsp
  typespec-tests/tsp/model.tsp
  typespec-tests/tsp/multipart.tsp
  typespec-tests/tsp/multiple-content-types.tsp
  typespec-tests/tsp/naming.tsp
  typespec-tests/tsp/optional.tsp
  typespec-tests/tsp/partialupdate.tsp
  typespec-tests/tsp/server.tsp
  typespec-tests/tsp/special-chars.tsp
  typespec-tests/tsp/visibility.tsp
  typespec-tests/tsp/wire-type.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, add test for cadl-ranch Type/Model and Type/Property
  typespec-tests/src/test/java/com/type/model/inheritance/NestedDiscriminatorTests.java
  typespec-tests/src/test/java/com/type/property/additionalproperties/ExtendsTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update comments
  preprocessor/src/main/java/com/azure/autorest/preprocessor/tranformer/Transformer.java
  typespec-extension/src/code-model-builder.ts
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

comment
  preprocessor/src/main/java/com/azure/autorest/preprocessor/tranformer/Transformer.java
Owners: @weidongxu-microsoft, @srnagar

tsp, add test for cadl-ranch Type/Model and Type/Property
  typespec-tests/src/test/java/com/type/model/inheritance/NestedDiscriminatorTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

client, add bytebuddy to test dependency in pom
  eng/versioning/external_dependencies.txt
  eng/versioning/sync_versions.py
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/FluentPomMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/PomMapper.java
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

enable the NotVersioned test
  typespec-tests/src/test/java/com/server/versions/NotVersionedTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix Resource Parent not correctly identified
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

comment
  eng/versioning/sync_versions.py
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/FluentPomMapper.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

subscription id doc
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

remove mockito from DPG pom
  javagen/src/main/java/com/azure/autorest/mapper/PomMapper.java
Owners: @weidongxu-microsoft, @srnagar

client, add bytebuddy to test dependency in pom (#2490)
  eng/versioning/external_dependencies.txt
  eng/versioning/sync_versions.py
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/FluentPomMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/PomMapper.java
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  typespec-tests/src/test/java/com/server/versions/NotVersionedTests.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

fix dependency
  typespec-extension/package-lock.json
  typespec-extension/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix dependency, use fixed version for devDependency
  typespec-extension/package-lock.json
  typespec-extension/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, refactor, move multipart in code-model to serializationFormats
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/SchemaContext.java
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientModel.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ImplementationDetails.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceAsyncMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceSyncMethodTemplate.java
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/common/schemas/usage.ts
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

format
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao
