Repository Azure/autorest.java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @weidongxu-microsoft, @srnagar, @jsquire, @ronniegeraghty, @haolingdong-msft, @XiaofeiCao, @JianpingChen, @anuchandy

tsp, internal model generate to implementation package (#2293)
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/SchemaContext.java
  javagen/src/main/java/com/azure/autorest/mapper/MapperUtils.java
  javagen/src/main/java/com/azure/autorest/mapper/ObjectMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/UnionMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ImplementationDetails.java
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/common/operation.ts
  typespec-extension/src/common/schemas/usage.ts
  typespec-extension/src/main/java/com/azure/typespec/util/ModelUtil.java
  typespec-extension/src/test/java/com/azure/typespec/util/ModelUtilTests.java
  typespec-tests/src/main/java/com/cadl/internal/implementation/models/ByteArrayDataModel.java
  typespec-tests/src/main/java/com/cadl/internal/implementation/models/Color.java
  typespec-tests/src/main/java/com/cadl/internal/implementation/models/ColorModel.java
  typespec-tests/src/main/java/com/cadl/internal/implementation/models/DataModelBase.java
  typespec-tests/src/main/java/com/cadl/internal/implementation/models/StandAloneUnion.java
  typespec-tests/src/main/java/com/cadl/internal/implementation/models/UrlDataModel.java
  typespec-tests/src/main/java/com/cadl/internal/implementation/models/package-info.java
  typespec-tests/src/test/java/com/_specs_/azure/clientgenerator/core/access/AccessTests.java
  typespec-tests/src/test/java/com/_specs_/azure/clientgenerator/core/usage/UsageTests.java
  typespec-tests/src/test/java/com/authentication/util/BearerTokenAuthenticationPolicy.java
  typespec-tests/tsp/internal.tsp
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

bump version
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

regen
  typespec-tests/src/main/java/com/encode/datetime/ResponseHeaderAsyncClient.java
  typespec-tests/src/main/java/com/encode/datetime/ResponseHeaderClient.java
  typespec-tests/src/main/java/com/encode/datetime/implementation/DatetimeClientImpl.java
  typespec-tests/src/main/java/com/encode/datetime/implementation/ResponseHeadersImpl.java
  typespec-tests/src/main/java/com/specialheaders/conditionalrequest/ConditionalRequestAsyncClient.java
  typespec-tests/src/main/java/com/specialheaders/conditionalrequest/ConditionalRequestClient.java
  typespec-tests/src/main/java/com/specialheaders/conditionalrequest/ConditionalRequestClientBuilder.java
  typespec-tests/src/main/java/com/specialheaders/conditionalrequest/implementation/ConditionalRequestClientImpl.java
  typespec-tests/src/main/java/com/specialheaders/conditionalrequest/implementation/package-info.java
  typespec-tests/src/main/java/com/specialheaders/conditionalrequest/package-info.java
  typespec-tests/src/main/resources/specialheaders-conditionalrequest.properties
  typespec-tests/src/test/java/com/encode/datetime/generated/DatetimeClientTestBase.java
  typespec-tests/src/test/java/com/specialheaders/conditionalrequest/generated/ConditionalRequestClientTestBase.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

add test
  typespec-tests/src/test/java/com/encode/datetime/EncodeDateTimeTests.java
  typespec-tests/src/test/java/com/specialheaders/conditionalrequest/generated/conditionalrequest/ConditionalTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

bug fix, header in response to be processes as ModelProperty
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

use abs path for image
  docs/developer/readme.md
  typespec-extension/readme.md
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

tsp, update cadl-ranch, bump version (#2296)
  docs/developer/readme.md
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-extension/readme.md
  typespec-extension/src/code-model-builder.ts
  typespec-tests/package.json
  typespec-tests/src/main/java/com/encode/datetime/ResponseHeaderAsyncClient.java
  typespec-tests/src/main/java/com/encode/datetime/ResponseHeaderClient.java
  typespec-tests/src/main/java/com/encode/datetime/implementation/DatetimeClientImpl.java
  typespec-tests/src/main/java/com/encode/datetime/implementation/ResponseHeadersImpl.java
  typespec-tests/src/main/java/com/specialheaders/conditionalrequest/ConditionalRequestAsyncClient.java
  typespec-tests/src/main/java/com/specialheaders/conditionalrequest/ConditionalRequestClient.java
  typespec-tests/src/main/java/com/specialheaders/conditionalrequest/ConditionalRequestClientBuilder.java
  typespec-tests/src/main/java/com/specialheaders/conditionalrequest/implementation/ConditionalRequestClientImpl.java
  typespec-tests/src/main/java/com/specialheaders/conditionalrequest/implementation/package-info.java
  typespec-tests/src/main/java/com/specialheaders/conditionalrequest/package-info.java
  typespec-tests/src/main/resources/specialheaders-conditionalrequest.properties
  typespec-tests/src/test/java/com/encode/datetime/EncodeDateTimeTests.java
  typespec-tests/src/test/java/com/encode/datetime/generated/DatetimeClientTestBase.java
  typespec-tests/src/test/java/com/specialheaders/conditionalrequest/generated/ConditionalRequestClientTestBase.java
  typespec-tests/src/test/java/com/specialheaders/conditionalrequest/generated/conditionalrequest/ConditionalTests.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

optimize import
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientBuilderTrait.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientBuilderTemplate.java
Owners: @weidongxu-microsoft, @srnagar

remove core version in tsp modules
  typespec-extension/pom.xml
  typespec-tests/pom.xml
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update readme and changelog
  readme.md
  typespec-extension/changelog.md
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

regen tsp
  typespec-tests/src/main/java/com/authentication/apikey/ApiKeyClientBuilder.java
  typespec-tests/src/main/java/com/authentication/http/custom/CustomClientBuilder.java
  typespec-tests/src/main/java/com/authentication/union/UnionClientBuilder.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

nit
  javagen/src/main/resources/data-plane.md
  preprocessor/data-plane.md
  readme.md
Owners: @weidongxu-microsoft, @srnagar

Use KeyCredential instead of AzureKeyCredential (#2294)
  Generate.ps1
  androidgen/pom.xml
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-tests/pom.xml
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  fluent-tests/pom.xml
  fluentnamer/pom.xml
  javagen/pom.xml
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientBuilderTrait.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientBuilderTemplate.java
  javagen/src/main/resources/data-plane.md
  partial-update-tests/pom.xml
  pom.xml
  preprocessor/data-plane.md
  protocol-resilience-test/pom.xml
  protocol-tests/pom.xml
  readme.md
  typespec-extension/changelog.md
  typespec-extension/pom.xml
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
  typespec-tests/pom.xml
  typespec-tests/src/main/java/com/authentication/apikey/ApiKeyClientBuilder.java
  typespec-tests/src/main/java/com/authentication/http/custom/CustomClientBuilder.java
  typespec-tests/src/main/java/com/authentication/union/UnionClientBuilder.java
  vanilla-tests/pom.xml
  vanilla-tests/src/main/java/fixtures/securityinfo/AutorestSecurityInfoBuilder.java
Owners: @weidongxu-microsoft, @srnagar, @JianpingChen, @anuchandy, @haolingdong-msft, @XiaofeiCao

bump azure-core to latest
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  fluent-tests/pom.xml
  fluentnamer/pom.xml
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  protocol-tests/pom.xml
  typespec-extension/changelog.md
  typespec-tests/pom.xml
  vanilla-tests/pom.xml
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

bump azure-core to latest (#2298)
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  fluent-tests/pom.xml
  fluentnamer/pom.xml
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  protocol-tests/pom.xml
  typespec-extension/changelog.md
  typespec-tests/pom.xml
  vanilla-tests/pom.xml
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

re-enable internalApi
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

treat "include" as "access(Access.public)"
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

regen
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/implementation/models/AbstractModel.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/implementation/models/BaseModel.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/implementation/models/InnerModel.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/implementation/models/InternalDecoratorModelInInternal.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/implementation/models/NoDecoratorModelInInternal.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/implementation/models/OuterModel.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/implementation/models/PublicDecoratorModelInInternal.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/implementation/models/RealModel.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/implementation/models/package-info.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/internal/implementation/models/InternalModel.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/internal/implementation/models/package-info.java
  typespec-tests/src/main/java/com/cadl/internal/implementation/models/ResponseInternal.java
  typespec-tests/src/main/java/com/cadl/internal/implementation/models/ResponseInternalInner.java
  typespec-tests/src/test/java/com/_specs_/azure/clientgenerator/core/access/AccessTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

bump version
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

changelog
  typespec-extension/changelog.md
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

compiler 0.48
  typespec-extension/changelog.md
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

bump cadl-ranch
  typespec-tests/package.json
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

nit update internal.tsp to avoid model named Response
  typespec-tests/tsp/internal.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

internalApi generate package private convenience API
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/Operation.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  typespec-extension/src/code-model-builder.ts
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

regen
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/InternalOperationAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/InternalOperationClient.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/RelativeModelInOperationAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/RelativeModelInOperationClient.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/SharedModelInOperationAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/SharedModelInOperationClient.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/internal/InternalAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/internal/InternalClient.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/internal/SharedAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/internal/SharedClient.java
  typespec-tests/src/main/java/com/cadl/internal/InternalAsyncClient.java
  typespec-tests/src/main/java/com/cadl/internal/InternalClient.java
  typespec-tests/src/main/java/com/cadl/internal/implementation/InternalClientImpl.java
  typespec-tests/src/main/java/com/cadl/internal/models/ApiRequest.java
  typespec-tests/src/main/java/com/cadl/internal/models/ApiResponse.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update test
  typespec-tests/src/test/java/com/_specs_/azure/clientgenerator/core/access/AccessTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update test
  typespec-tests/src/test/java/com/_specs_/azure/clientgenerator/core/internal/InternalTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

bump nodejs dependencies
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

add functions-have-names
  package.json
  typespec-tests/package.json
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

tsp, internalApi generate model classes (#2300)
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/Operation.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  package.json
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-tests/package.json
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/InternalOperationAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/InternalOperationClient.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/RelativeModelInOperationAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/RelativeModelInOperationClient.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/SharedModelInOperationAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/SharedModelInOperationClient.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/implementation/models/AbstractModel.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/implementation/models/BaseModel.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/implementation/models/InnerModel.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/implementation/models/InternalDecoratorModelInInternal.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/implementation/models/NoDecoratorModelInInternal.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/implementation/models/OuterModel.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/implementation/models/PublicDecoratorModelInInternal.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/implementation/models/RealModel.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/implementation/models/package-info.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/internal/InternalAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/internal/InternalClient.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/internal/SharedAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/internal/SharedClient.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/internal/implementation/models/InternalModel.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/internal/implementation/models/package-info.java
  typespec-tests/src/main/java/com/cadl/internal/InternalAsyncClient.java
  typespec-tests/src/main/java/com/cadl/internal/InternalClient.java
  typespec-tests/src/main/java/com/cadl/internal/implementation/InternalClientImpl.java
  typespec-tests/src/main/java/com/cadl/internal/implementation/models/ResponseInternal.java
  typespec-tests/src/main/java/com/cadl/internal/implementation/models/ResponseInternalInner.java
  typespec-tests/src/main/java/com/cadl/internal/models/ApiRequest.java
  typespec-tests/src/main/java/com/cadl/internal/models/ApiResponse.java
  typespec-tests/src/test/java/com/_specs_/azure/clientgenerator/core/access/AccessTests.java
  typespec-tests/src/test/java/com/_specs_/azure/clientgenerator/core/internal/InternalTests.java
  typespec-tests/tsp/internal.tsp
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

use 0.9.0 as there is some major behavior change since 0.8.12
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

filter package private client method
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
Owners: @weidongxu-microsoft, @srnagar

nit
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
Owners: @weidongxu-microsoft, @srnagar

tsp, do not generate sample/test, if API is internal (#2301)
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

tsp, update java header
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

changelog
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

use KeyCredential in test
  javagen/src/main/java/com/azure/autorest/template/example/ClientInitializationExampleWriter.java
Owners: @weidongxu-microsoft, @srnagar

use KeyCredential in test
  javagen/src/main/java/com/azure/autorest/template/example/ClientInitializationExampleWriter.java
Owners: @weidongxu-microsoft, @srnagar

include CI on feature hotfix release
  eng/pipelines/ci-typespec-java.yaml
  eng/pipelines/ci.yaml
  eng/pipelines/fluent_integration.yaml
Owners: @weidongxu-microsoft, @srnagar

changelog, plan a hotfix 0.8.13 from 0.8.12 release tag
  typespec-extension/changelog.md
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

.github/CODEOWNERS:

# default
*                           @weidongxu-microsoft @srnagar

# Git Hub bot rules
/.github/fabricbot.json     @jsquire @ronniegeraghty

# fluentgen
/fluent*                    @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/azure-tests                @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

# androidgen
/androidgen                 @JianpingChen @anuchandy

# protocol
/protocol*                  @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update-tests       @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar

# typespec
/typespec-extension         @srnagar @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/typespec-tests             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
