Repository Azure/autorest.java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @weidongxu-microsoft, @srnagar, @jsquire, @ronniegeraghty, @haolingdong-msft, @XiaofeiCao, @JianpingChen, @anuchandy

add test for model via Jackson
  typespec-tests/src/test/java/com/type/scalar/DecimalTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, bug fix for stream-seralization in optional Enum (#2444)
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  eng/versioning/external_dependencies.txt
  fluent-tests/pom.xml
  fluentnamer/pom.xml
  javagen/src/main/java/com/azure/autorest/model/clientmodel/EnumType.java
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  protocol-tests/pom.xml
  typespec-tests/pom.xml
  typespec-tests/src/main/java/com/cadl/enumservice/models/Operation.java
  typespec-tests/src/main/java/com/type/property/optional/models/FloatLiteralProperty.java
  typespec-tests/src/main/java/com/type/property/optional/models/IntLiteralProperty.java
  typespec-tests/src/main/java/com/type/property/optional/models/UnionFloatLiteralProperty.java
  typespec-tests/src/main/java/com/type/property/optional/models/UnionIntLiteralProperty.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/UnionFloatLiteralProperty.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/UnionIntLiteralProperty.java
  typespec-tests/src/main/java/com/type/union/models/GetResponse3.java
  typespec-tests/src/main/java/com/type/union/models/GetResponse4.java
  typespec-tests/src/test/java/com/type/property/optional/FloatLiteralClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/IntLiteralClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/UnionFloatLiteralClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/UnionIntLiteralClientTests.java
  vanilla-tests/pom.xml
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Alan fixed the enum case
  typespec-tests/src/test/java/com/type/union/UnionsClientTest.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

use fromString
  typespec-tests/src/test/java/com/type/union/UnionsClientTest.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

re-generate test code
  typespec-tests/src/main/java/com/cadl/multipart/models/ImageType.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Update test to do a better comparison
  typespec-tests/src/test/java/com/cadl/builtin/EncodeTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, support decimal (#2446)
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  typespec-extension/src/code-model-builder.ts
  typespec-tests/src/main/java/com/cadl/builtin/BuiltinAsyncClient.java
  typespec-tests/src/main/java/com/cadl/builtin/BuiltinClient.java
  typespec-tests/src/main/java/com/cadl/builtin/implementation/BuiltinClientImpl.java
  typespec-tests/src/main/java/com/cadl/builtin/models/Builtin.java
  typespec-tests/src/main/java/com/type/property/valuetypes/Decimal128AsyncClient.java
  typespec-tests/src/main/java/com/type/property/valuetypes/Decimal128Client.java
  typespec-tests/src/main/java/com/type/property/valuetypes/DecimalAsyncClient.java
  typespec-tests/src/main/java/com/type/property/valuetypes/DecimalClient.java
  typespec-tests/src/main/java/com/type/property/valuetypes/implementation/Decimal128sImpl.java
  typespec-tests/src/main/java/com/type/property/valuetypes/implementation/DecimalsImpl.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/Decimal128Property.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/DecimalProperty.java
  typespec-tests/src/main/java/com/type/scalar/Decimal128TypeAsyncClient.java
  typespec-tests/src/main/java/com/type/scalar/Decimal128TypeClient.java
  typespec-tests/src/main/java/com/type/scalar/Decimal128VerifyAsyncClient.java
  typespec-tests/src/main/java/com/type/scalar/Decimal128VerifyClient.java
  typespec-tests/src/main/java/com/type/scalar/DecimalTypeAsyncClient.java
  typespec-tests/src/main/java/com/type/scalar/DecimalTypeClient.java
  typespec-tests/src/main/java/com/type/scalar/DecimalVerifyAsyncClient.java
  typespec-tests/src/main/java/com/type/scalar/DecimalVerifyClient.java
  typespec-tests/src/main/java/com/type/scalar/implementation/Decimal128TypesImpl.java
  typespec-tests/src/main/java/com/type/scalar/implementation/Decimal128VerifiesImpl.java
  typespec-tests/src/main/java/com/type/scalar/implementation/DecimalTypesImpl.java
  typespec-tests/src/main/java/com/type/scalar/implementation/DecimalVerifiesImpl.java
  typespec-tests/src/test/java/com/type/scalar/DecimalTests.java
  typespec-tests/src/test/java/com/type/scalar/ScalarTests.java
  typespec-tests/src/test/java/com/type/union/UnionsClientTest.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

allow access(public) to get the pollingOperation back to public
  typespec-extension/changelog.md
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/models.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

regen
  typespec-tests/package.json
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/LegacyAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/LegacyClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/implementation/LegacyClientImpl.java
  typespec-tests/src/test/java/com/type/union/UnionsClientTest.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

test
  typespec-tests/src/test/java/com/encode/bytes/EncodeBytesTests.java
  typespec-tests/src/test/java/com/type/model/inheritance/RecursiveReferenceTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Update changelog.md
  typespec-extension/changelog.md
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, allow access(public) to API in pollingOperation (#2437)
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-extension/src/models.ts
  typespec-tests/package.json
  typespec-tests/src/test/java/com/encode/bytes/EncodeBytesTests.java
  typespec-tests/src/test/java/com/type/model/inheritance/RecursiveReferenceTests.java
  typespec-tests/src/test/java/com/type/union/UnionsClientTest.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

bump version to 0.12.0
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, add missing decimal test for cadl-ranch
  typespec-tests/src/test/java/com/type/property/valuetypes/DecimalTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update DecimalTests to reuse generated DecimalProperty
  typespec-tests/src/test/java/com/type/scalar/DecimalTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, add missing decimal test for cadl-ranch (#2449)
  typespec-tests/src/test/java/com/type/property/valuetypes/DecimalTests.java
  typespec-tests/src/test/java/com/type/scalar/DecimalTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

bump typespec version
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

readme
  typespec-extension/readme.md
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

adapt to new client/operation group structure
  typespec-extension/package.json
  typespec-extension/pom.xml
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/emitter.ts
  typespec-tests/tsp-checkout.sh
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

bump cadl-ranch
  typespec-tests/package.json
  typespec-tests/src/test/java/com/type/model/inheritance/RecursiveReferenceTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

bug fix on missing imports
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
Owners: @weidongxu-microsoft, @srnagar

fix ServiceVersion reference in operation group
  androidgen/src/main/java/com/azure/autorest/android/model/clientmodel/AndroidMethodGroupClient.java
  checkstyle-suppressions.xml
  javagen/src/main/java/com/azure/autorest/mapper/MethodGroupMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ServiceClientMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/MethodGroupClient.java
  javagen/src/main/java/com/azure/autorest/template/MethodGroupTemplate.java
  typespec-extension/changelog.md
  typespec-extension/src/main/java/com/azure/typespec/mapper/TypeSpecServiceClientMapper.java
Owners: @JianpingChen, @anuchandy, @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

regen
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/implementation/TwoModelsAsPageItemsImpl.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/implementation/CreateResourcePollViaOperationLocationsImpl.java
  typespec-tests/src/main/java/com/cadl/apiversion/implementation/ApiVersionOpsImpl.java
  typespec-tests/src/main/java/com/cadl/flatten/implementation/FlattenOpsImpl.java
  typespec-tests/src/main/java/com/cadl/protocolandconvenient/implementation/ProtocolAndConvenienceOpsImpl.java
  typespec-tests/src/main/java/com/cadl/specialheaders/EtagHeadersAsyncClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/EtagHeadersClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/EtagHeadersOptionalBodyAsyncClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/EtagHeadersOptionalBodyClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/implementation/EtagHeadersImpl.java
  typespec-tests/src/main/java/com/cadl/specialheaders/implementation/EtagHeadersOptionalBodiesImpl.java
  typespec-tests/src/main/java/com/cadl/specialheaders/implementation/RepeatabilityHeadersImpl.java
  typespec-tests/src/main/java/com/cadl/specialheaders/implementation/SkipSpecialHeadersImpl.java
  typespec-tests/src/main/java/com/cadl/union/implementation/UnionFlattenOpsImpl.java
  typespec-tests/src/main/java/com/cadl/versioning/implementation/VersioningOpsImpl.java
  typespec-tests/src/test/java/com/client/structure/DefaultClientTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

modify local test
  typespec-tests/src/main/java/com/cadl/enumservice/EnumServiceAsyncClient.java
  typespec-tests/src/main/java/com/cadl/enumservice/EnumServiceClient.java
  typespec-tests/src/main/java/com/cadl/enumservice/EnumServiceClientBuilder.java
  typespec-tests/src/main/java/com/cadl/enumservice/implementation/EnumOpsImpl.java
  typespec-tests/src/main/java/com/cadl/enumservice/implementation/EnumServiceClientImpl.java
  typespec-tests/src/main/java/com/cadl/flatten/FlattenAsyncClient.java
  typespec-tests/src/main/java/com/cadl/flatten/FlattenClient.java
  typespec-tests/src/main/java/com/cadl/flatten/FlattenClientBuilder.java
  typespec-tests/src/main/java/com/cadl/flatten/implementation/FlattenClientImpl.java
  typespec-tests/src/main/java/com/cadl/flatten/implementation/FlattenOpsImpl.java
  typespec-tests/src/samples/java/com/cadl/flatten/generated/FlattenOpSend.java
  typespec-tests/src/samples/java/com/cadl/flatten/generated/FlattenOpSendLong.java
  typespec-tests/tsp/enum.tsp
  typespec-tests/tsp/flatten.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

regen
  javagen/src/main/java/com/azure/autorest/mapper/MethodGroupMapper.java
  protocol-tests/src/main/java/fixtures/bodycomplex/implementation/ArraysImpl.java
  protocol-tests/src/main/java/fixtures/bodycomplex/implementation/BasicsImpl.java
  protocol-tests/src/main/java/fixtures/bodycomplex/implementation/DictionariesImpl.java
  protocol-tests/src/main/java/fixtures/bodycomplex/implementation/FlattencomplexesImpl.java
  protocol-tests/src/main/java/fixtures/bodycomplex/implementation/InheritancesImpl.java
  protocol-tests/src/main/java/fixtures/bodycomplex/implementation/PolymorphicrecursivesImpl.java
  protocol-tests/src/main/java/fixtures/bodycomplex/implementation/PolymorphismsImpl.java
  protocol-tests/src/main/java/fixtures/bodycomplex/implementation/PrimitivesImpl.java
  protocol-tests/src/main/java/fixtures/bodycomplex/implementation/ReadonlypropertiesImpl.java
  protocol-tests/src/main/java/fixtures/paging/implementation/PagingsImpl.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

revert partial-update
  typespec-tests/src/main/java/com/cadl/partialupdate/PartialUpdateAsyncClient.java
  typespec-tests/src/main/java/com/cadl/partialupdate/PartialUpdateClient.java
  typespec-tests/src/main/java/com/cadl/partialupdate/PartialUpdateClientBuilder.java
  typespec-tests/src/main/java/com/cadl/partialupdate/implementation/PartialUpdateClientImpl.java
  typespec-tests/tsp/partialupdate.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Prepare 4.1.25 release
  package.json
Owners: @weidongxu-microsoft, @srnagar

Prepare 4.1.25 release (#2451)
  package.json
Owners: @weidongxu-microsoft, @srnagar

Replace `npm install` calls with `npm ci`
  .github/workflows/fluent-test-gen-all.yml
  .github/workflows/generate-test-code.yml
  .github/workflows/pre-release-typespec.yml
  Build-TypeSpec.ps1
  Generate-TypeSpec.ps1
  Generate.ps1
  eng/pipelines/ci.yaml
  typespec-tests/Setup.ps1
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

allow generate empty operation group
  javagen/src/main/java/com/azure/autorest/mapper/MethodGroupMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/MethodGroupClient.java
  javagen/src/main/java/com/azure/autorest/template/MethodGroupTemplate.java
Owners: @weidongxu-microsoft, @srnagar

update package.json, for @azure-tools/typespec-client-generator-core need to be on 0.36.1
  .gitignore
  typespec-extension/package-lock.json
  typespec-extension/package.json
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

update root module
  package-lock.json
Owners: @weidongxu-microsoft, @srnagar

should be OK to npm install in test module
  typespec-tests/Setup.ps1
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update package.json to compiler 0.51
  typespec-extension/package-lock.json
  typespec-extension/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

do not skip op because of pollingOperation
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

add lro test
  typespec-tests/tsp/lro.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

regen
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/LegacyAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/LegacyClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/implementation/CreateResourcePollViaOperationLocationsImpl.java
  typespec-tests/src/main/java/com/longrunning/LongRunningAsyncClient.java
  typespec-tests/src/main/java/com/longrunning/LongRunningClient.java
  typespec-tests/src/main/java/com/longrunning/LongRunningClientBuilder.java
  typespec-tests/src/main/java/com/longrunning/LongRunningServiceVersion.java
  typespec-tests/src/main/java/com/longrunning/implementation/CoreToCodegenBridgeUtils.java
  typespec-tests/src/main/java/com/longrunning/implementation/LongRunningClientImpl.java
  typespec-tests/src/main/java/com/longrunning/implementation/package-info.java
  typespec-tests/src/main/java/com/longrunning/models/JobData.java
  typespec-tests/src/main/java/com/longrunning/models/JobResult.java
  typespec-tests/src/main/java/com/longrunning/models/JobResultResult.java
  typespec-tests/src/main/java/com/longrunning/models/JobStatus.java
  typespec-tests/src/main/java/com/longrunning/models/OperationState.java
  typespec-tests/src/main/java/com/longrunning/models/PollResponse.java
  typespec-tests/src/main/java/com/longrunning/models/package-info.java
  typespec-tests/src/main/java/com/longrunning/package-info.java
  typespec-tests/src/main/resources/longrunning.properties
  typespec-tests/src/test/java/com/longrunning/generated/LongRunningClientTestBase.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

move PollResponse to service namespace
  typespec-tests/tsp/lro.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, do not skip op with pollingOperation decorator (#2454)
  typespec-extension/src/code-model-builder.ts
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/LegacyAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/LegacyClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/implementation/CreateResourcePollViaOperationLocationsImpl.java
  typespec-tests/src/main/java/com/longrunning/LongRunningAsyncClient.java
  typespec-tests/src/main/java/com/longrunning/LongRunningClient.java
  typespec-tests/src/main/java/com/longrunning/LongRunningClientBuilder.java
  typespec-tests/src/main/java/com/longrunning/LongRunningServiceVersion.java
  typespec-tests/src/main/java/com/longrunning/implementation/CoreToCodegenBridgeUtils.java
  typespec-tests/src/main/java/com/longrunning/implementation/LongRunningClientImpl.java
  typespec-tests/src/main/java/com/longrunning/implementation/package-info.java
  typespec-tests/src/main/java/com/longrunning/models/JobData.java
  typespec-tests/src/main/java/com/longrunning/models/JobResult.java
  typespec-tests/src/main/java/com/longrunning/models/JobResultResult.java
  typespec-tests/src/main/java/com/longrunning/models/JobStatus.java
  typespec-tests/src/main/java/com/longrunning/models/OperationState.java
  typespec-tests/src/main/java/com/longrunning/models/PollResponse.java
  typespec-tests/src/main/java/com/longrunning/models/package-info.java
  typespec-tests/src/main/java/com/longrunning/package-info.java
  typespec-tests/src/main/resources/longrunning.properties
  typespec-tests/src/test/java/com/longrunning/generated/LongRunningClientTestBase.java
  typespec-tests/tsp/lro.tsp
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, fix bug that azure-core-experimantal missing from pom/module-info
  javagen/src/main/java/com/azure/autorest/Javagen.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ModuleInfo.java
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
Owners: @weidongxu-microsoft, @srnagar

.github/CODEOWNERS:

# default
*                           @weidongxu-microsoft @srnagar

# Git Hub bot rules
/.github/fabricbot.json     @jsquire @ronniegeraghty

# fluentgen
/fluent*                    @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/azure-tests                @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

# androidgen
/androidgen                 @JianpingChen @anuchandy

# protocol
/protocol*                  @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update-tests       @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar

# typespec
/typespec-extension         @srnagar @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/typespec-tests             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
