Repository Azure/autorest.java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @weidongxu-microsoft, @srnagar, @jsquire, @ronniegeraghty, @haolingdong-msft, @XiaofeiCao, @JianpingChen, @anuchandy

.github/CODEOWNERS:

# default
*                           @weidongxu-microsoft @srnagar

# Git Hub bot rules
/.github/fabricbot.json     @jsquire @ronniegeraghty

# fluentgen
/fluent*                    @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/azure-tests                @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

# androidgen
/androidgen                 @JianpingChen @anuchandy

# protocol
/protocol*                  @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update-tests       @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar

# typespec
/typespec-extension         @srnagar @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/typespec-tests             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

fix
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  typespec-tests/Generate.ps1
  typespec-tests/tsp/union.tsp
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

re-generate test code
  typespec-tests/src/main/java/com/type/union/models/ModelWithNamedUnionProperty.java
  typespec-tests/src/main/java/com/type/union/models/ModelWithNamedUnionPropertyInResponse.java
  typespec-tests/src/main/java/com/type/union/models/ModelWithSimpleUnionProperty.java
  typespec-tests/src/main/java/com/type/union/models/ModelWithSimpleUnionPropertyInResponse.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix script
  typespec-tests/Generate.ps1
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

re-generate test code
  typespec-tests/src/main/java/com/cadl/union/models/ArrayData.java
  typespec-tests/src/main/java/com/cadl/union/models/Result.java
  typespec-tests/src/main/java/com/cadl/union/models/SendLongOptions.java
  typespec-tests/src/main/java/com/cadl/union/models/User.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update test
  typespec-tests/tsp/union.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix error in test case
  typespec-tests/tsp/union.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

re-generate test code
  typespec-tests/src/main/java/com/cadl/union/models/SubResult.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update test
  typespec-tests/src/main/java/com/cadl/union/models/ArrayData.java
  typespec-tests/src/main/java/com/cadl/union/models/Result.java
  typespec-tests/src/main/java/com/cadl/union/models/SendLongOptions.java
  typespec-tests/src/main/java/com/cadl/union/models/SubResult.java
  typespec-tests/src/main/java/com/cadl/union/models/User.java
  typespec-tests/tsp/union.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

test
  typespec-tests/src/test/java/com/cadl/union/UnionTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update test
  typespec-tests/src/main/java/com/cadl/union/models/ArrayData.java
  typespec-tests/src/main/java/com/cadl/union/models/Result.java
  typespec-tests/src/main/java/com/cadl/union/models/SendLongOptions.java
  typespec-tests/src/main/java/com/cadl/union/models/SubResult.java
  typespec-tests/src/main/java/com/cadl/union/models/User.java
  typespec-tests/src/test/java/com/cadl/union/UnionTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

bug fix
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  typespec-tests/src/main/java/com/cadl/union/models/Result.java
  typespec-tests/src/main/java/com/cadl/union/models/SubResult.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

bump to 0.11.1
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

re-generate test code
  typespec-tests/src/main/java/com/cadl/union/models/SendLongOptions.java
  typespec-tests/src/main/java/com/type/union/models/ModelWithNamedUnionProperty.java
  typespec-tests/src/main/java/com/type/union/models/ModelWithNamedUnionPropertyInResponse.java
  typespec-tests/src/main/java/com/type/union/models/ModelWithSimpleUnionProperty.java
  typespec-tests/src/main/java/com/type/union/models/ModelWithSimpleUnionPropertyInResponse.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

simplify null check logic, always check null
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  typespec-extension/changelog.md
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

handle optional
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  typespec-tests/src/main/java/com/cadl/union/models/Result.java
  typespec-tests/src/main/java/com/cadl/union/models/SubResult.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

re-generate test code
  typespec-tests/src/main/java/com/type/union/models/ModelWithNamedUnionProperty.java
  typespec-tests/src/main/java/com/type/union/models/ModelWithNamedUnionPropertyInResponse.java
  typespec-tests/src/main/java/com/type/union/models/ModelWithSimpleUnionProperty.java
  typespec-tests/src/main/java/com/type/union/models/ModelWithSimpleUnionPropertyInResponse.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

comments
  typespec-tests/src/test/java/com/cadl/union/UnionTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, add polling option, allow it to override LroMetadata
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
  typespec-extension/src/emitter.ts
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
  typespec-extension/src/main/java/com/azure/typespec/model/EmitterOptions.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

tsp, fix NPE when using BinaryData (#2403)
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-tests/Generate.ps1
  typespec-tests/package.json
  typespec-tests/src/main/java/com/cadl/union/models/ArrayData.java
  typespec-tests/src/main/java/com/cadl/union/models/Result.java
  typespec-tests/src/main/java/com/cadl/union/models/SendLongOptions.java
  typespec-tests/src/main/java/com/cadl/union/models/SubResult.java
  typespec-tests/src/main/java/com/cadl/union/models/User.java
  typespec-tests/src/test/java/com/cadl/union/UnionTests.java
  typespec-tests/tsp/union.tsp
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

regen
  openai-in-typespec/openai-sdk/src/main/java/com/openai/models/CreateChatCompletionRequest.java
  openai-in-typespec/openai-sdk/src/main/java/com/openai/models/CreateCompletionRequest.java
  openai-in-typespec/openai-sdk/src/main/java/com/openai/models/CreateFineTuningJobRequestHyperparameters.java
  openai-in-typespec/openai-sdk/src/main/java/com/openai/models/FineTuningJobHyperparameters.java
  openai-in-typespec/package.json
Owners: @weidongxu-microsoft, @srnagar

tsp, add polling option, allow it to override LroMetadata (#2404)
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
  typespec-extension/src/emitter.ts
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
  typespec-extension/src/main/java/com/azure/typespec/model/EmitterOptions.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Get Java 17 working
  customization-base/src/main/java/com/azure/autorest/customization/ClassCustomization.java
  customization-base/src/main/java/com/azure/autorest/customization/ConstantCustomization.java
  customization-base/src/main/java/com/azure/autorest/customization/PropertyCustomization.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/Utils.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/ls/EclipseLanguageClient.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/ls/EclipseLanguageServerFacade.java
  extension-base/src/main/java/com/azure/autorest/extension/base/jsonrpc/Connection.java
Owners: @weidongxu-microsoft, @srnagar

Merge in other PR
  customization-base/src/main/java/com/azure/autorest/customization/implementation/ls/EclipseLanguageClient.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/ls/EclipseLanguageServerFacade.java
  extension-base/src/main/java/com/azure/autorest/extension/base/jsonrpc/Connection.java
Owners: @weidongxu-microsoft, @srnagar

prepare release 4.1.24
  package.json
Owners: @weidongxu-microsoft, @srnagar

prepare release 4.1.24 (#2406)
  package.json
Owners: @weidongxu-microsoft, @srnagar

emitter to add usage.json-merge-patch
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/common/schemas/usage.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

codegen to conceive usage.json-merge-patch
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/SchemaContext.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ImplementationDetails.java
Owners: @weidongxu-microsoft, @srnagar

nit on enum name
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ImplementationDetails.java
Owners: @weidongxu-microsoft, @srnagar

nit on enum name
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/SchemaContext.java
Owners: @weidongxu-microsoft, @srnagar

tsp, json-merge-patch, add usage.json-merge-patch to models (#2407)
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/SchemaContext.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ImplementationDetails.java
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/common/schemas/usage.ts
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

bug on pass-discriminator-to-child-deserialization
  vanilla-tests/src/main/java/fixtures/inheritance/passdiscriminator/models/MetricAlertSingleResourceMultipleMetricCriteria.java
  vanilla-tests/src/test/java/fixtures/Bug.java
Owners: @weidongxu-microsoft, @srnagar

include decimal128
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix bug of not using projectedName on body param
  typespec-extension/src/code-model-builder.ts
  typespec-tests/src/main/java/com/cadl/naming/NamingAsyncClient.java
  typespec-tests/src/main/java/com/cadl/naming/NamingClient.java
  typespec-tests/src/main/java/com/cadl/naming/implementation/NamingClientImpl.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

re-generate test code
  typespec-tests/src/main/java/com/cadl/naming/NamingClient.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

a few more lines
  vanilla-tests/src/test/java/fixtures/Bug.java
Owners: @weidongxu-microsoft, @srnagar

Handle ResponseError serialization
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaPackage.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
  javagen/src/main/resources/ResponseErrorUtils.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/implementation/ResponseErrorUtils.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/models/ErrorResponse.java
  typespec-tests/src/main/java/com/cadl/errormodel/implementation/ResponseErrorUtils.java
  typespec-tests/src/main/java/com/cadl/errormodel/models/Diagnostic.java
  typespec-tests/src/main/java/com/cadl/response/implementation/ResponseErrorUtils.java
  typespec-tests/src/main/java/com/cadl/response/models/OperationDetails1.java
  typespec-tests/src/main/java/com/cadl/response/models/OperationDetails2.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Regenerate non-TypeSpec
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/implementation/models/ArtifactManifestPropertiesInternal.java
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/implementation/models/ManifestAttributesBase.java
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/implementation/models/Paths108HwamOauth2ExchangePostRequestbodyContentApplicationXWwwFormUrlencodedSchema.java
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/implementation/models/PathsV3R3RxOauth2TokenPostRequestbodyContentApplicationXWwwFormUrlencodedSchema.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Basic.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Goblinshark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/MyDerivedType.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Basic.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Goblinshark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/MyDerivedType.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Salmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/SmartSalmon.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/BlobProperties.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/ContainerProperties.java
Owners: @weidongxu-microsoft, @srnagar

Run build sequentially to see what deadlocks
  eng/pipelines/ci-typespec-java-dev-nightly.yaml
  eng/pipelines/ci-typespec-java.yaml
  eng/pipelines/ci.yaml
  eng/pipelines/publish-autorest-java.yaml
  eng/pipelines/publish-typespec-java.yaml
Owners: @weidongxu-microsoft, @srnagar

Forcibly close the server
  customization-base/src/main/java/com/azure/autorest/customization/Customization.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/ls/EclipseLanguageClient.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/ls/EclipseLanguageServerFacade.java
  customization-base/src/test/java/com/azure/autorest/customization/AnnotationTests.java
  customization-base/src/test/java/com/azure/autorest/customization/ClassCustomizationTests.java
Owners: @weidongxu-microsoft, @srnagar

bump version to 0.11.2
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao
