Repository Azure/autorest.java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @weidongxu-microsoft, @srnagar, @jsquire, @ronniegeraghty, @haolingdong-msft, @XiaofeiCao, @JianpingChen, @anuchandy

tsp, update test customization code for stream-serialization
  typespec-tests/customization/src/main/java/CustomizationEncodeBytes.java
  typespec-tests/src/main/java/com/encode/bytes/models/Base64UrlArrayBytesProperty.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

support for map only
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
Owners: @weidongxu-microsoft, @srnagar

tsp, update test customization code for stream-serialization (#2474)
  typespec-tests/customization/src/main/java/CustomizationEncodeBytes.java
  typespec-tests/src/main/java/com/encode/bytes/models/Base64UrlArrayBytesProperty.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Updates to when the package-private setter is added
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/SchemaContext.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ImplementationDetails.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/implementation/models/AbstractModel.java
  typespec-tests/src/main/java/com/type/model/inheritance/singlediscriminator/models/Dinosaur.java
  vanilla-tests/src/main/java/fixtures/requiredfieldsascotrargstransformation/models/TransformationAsParentRequiredFields.java
  vanilla-tests/src/main/java/fixtures/requiredfieldsascotrargstransformation/models/TransformationAsRequiredFields.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Don't add setter for required properties
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/implementation/models/AbstractModel.java
  typespec-tests/src/main/java/com/type/model/inheritance/singlediscriminator/models/Dinosaur.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Allow setting the working directory
  customization-base/src/main/java/com/azure/autorest/customization/Customization.java
  customization-base/src/test/java/com/azure/autorest/customization/AnnotationTests.java
  extension-base/src/main/java/com/azure/autorest/extension/base/util/FileUtils.java
  fluentnamer/src/main/java/com/azure/autorest/fluentnamer/FluentNamer.java
  postprocessor/src/main/java/com/azure/autorest/postprocessor/Postprocessor.java
  preprocessor/src/main/java/com/azure/autorest/preprocessor/Preprocessor.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Change env configuration name
  extension-base/src/main/java/com/azure/autorest/extension/base/util/FileUtils.java
Owners: @weidongxu-microsoft, @srnagar

add application/json to accept header, only when it be empty
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

support text as request/response body
  javagen/src/main/java/com/azure/autorest/template/ConvenienceAsyncMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceSyncMethodTemplate.java
Owners: @weidongxu-microsoft, @srnagar

bump cadl-ranch 0.28.1
  typespec-tests/package.json
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

test
  typespec-tests/src/test/java/com/payload/mediatype/MediaTypeTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

regen
  typespec-tests/src/main/java/com/cadl/multicontenttypes/implementation/SingleContentTypesImpl.java
  typespec-tests/src/main/java/com/cadl/response/implementation/ResponseClientImpl.java
  typespec-tests/src/main/java/com/client/structure/service/BazFooAsyncClient.java
  typespec-tests/src/main/java/com/client/structure/service/BazFooClient.java
  typespec-tests/src/main/java/com/client/structure/service/QuxAsyncClient.java
  typespec-tests/src/main/java/com/client/structure/service/QuxBarAsyncClient.java
  typespec-tests/src/main/java/com/client/structure/service/QuxBarClient.java
  typespec-tests/src/main/java/com/client/structure/service/QuxClient.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/BazFoosImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/QuxBarsImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/QuxesImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/ServiceClientClientImpl.java
  typespec-tests/src/main/java/com/payload/mediatype/MediaTypeAsyncClient.java
  typespec-tests/src/main/java/com/payload/mediatype/MediaTypeClient.java
  typespec-tests/src/main/java/com/payload/mediatype/MediaTypeClientBuilder.java
  typespec-tests/src/main/java/com/payload/mediatype/implementation/MediaTypeClientImpl.java
  typespec-tests/src/main/java/com/payload/mediatype/implementation/StringBodiesImpl.java
  typespec-tests/src/main/java/com/payload/mediatype/implementation/package-info.java
  typespec-tests/src/main/java/com/payload/mediatype/package-info.java
  typespec-tests/src/main/resources/payload-mediatype.properties
  typespec-tests/src/test/java/com/client/structure/service/generated/ServiceClientClientTestBase.java
  typespec-tests/src/test/java/com/payload/mediatype/generated/MediaTypeClientTestBase.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

a new test from cadl-ranch
  typespec-tests/src/test/java/com/client/structure/DefaultClientTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

comment
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
Owners: @weidongxu-microsoft, @srnagar

tsp, support text request/response body (#2476)
  javagen/src/main/java/com/azure/autorest/template/ConvenienceAsyncMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceSyncMethodTemplate.java
  typespec-extension/src/code-model-builder.ts
  typespec-tests/package.json
  typespec-tests/src/main/java/com/cadl/multicontenttypes/implementation/SingleContentTypesImpl.java
  typespec-tests/src/main/java/com/cadl/response/implementation/ResponseClientImpl.java
  typespec-tests/src/main/java/com/client/structure/service/BazFooAsyncClient.java
  typespec-tests/src/main/java/com/client/structure/service/BazFooClient.java
  typespec-tests/src/main/java/com/client/structure/service/QuxAsyncClient.java
  typespec-tests/src/main/java/com/client/structure/service/QuxBarAsyncClient.java
  typespec-tests/src/main/java/com/client/structure/service/QuxBarClient.java
  typespec-tests/src/main/java/com/client/structure/service/QuxClient.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/BazFoosImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/QuxBarsImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/QuxesImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/ServiceClientClientImpl.java
  typespec-tests/src/main/java/com/payload/mediatype/MediaTypeAsyncClient.java
  typespec-tests/src/main/java/com/payload/mediatype/MediaTypeClient.java
  typespec-tests/src/main/java/com/payload/mediatype/MediaTypeClientBuilder.java
  typespec-tests/src/main/java/com/payload/mediatype/implementation/MediaTypeClientImpl.java
  typespec-tests/src/main/java/com/payload/mediatype/implementation/StringBodiesImpl.java
  typespec-tests/src/main/java/com/payload/mediatype/implementation/package-info.java
  typespec-tests/src/main/java/com/payload/mediatype/package-info.java
  typespec-tests/src/main/resources/payload-mediatype.properties
  typespec-tests/src/test/java/com/client/structure/DefaultClientTests.java
  typespec-tests/src/test/java/com/client/structure/service/generated/ServiceClientClientTestBase.java
  typespec-tests/src/test/java/com/payload/mediatype/MediaTypeTests.java
  typespec-tests/src/test/java/com/payload/mediatype/generated/MediaTypeClientTestBase.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

update according to comments
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  typespec-tests/src/test/java/com/_specs_/azure/core/basic/CoreTests.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

modify according to comments
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
Owners: @weidongxu-microsoft, @srnagar

add one test case for array and regen
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/BasicAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/BasicClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/models/User.java
  typespec-tests/src/main/java/com/cadl/patch/PatchAsyncClient.java
  typespec-tests/src/main/java/com/cadl/patch/PatchClient.java
  typespec-tests/src/main/java/com/cadl/patch/implementation/PatchesImpl.java
  typespec-tests/src/main/java/com/cadl/patch/implementation/package-info.java
  typespec-tests/src/main/java/com/cadl/patch/models/Resource.java
  typespec-tests/src/main/java/com/cadl/patch/models/Salmon.java
  typespec-tests/src/main/java/com/cadl/patch/models/package-info.java
  typespec-tests/src/main/java/com/cadl/patch/package-info.java
  typespec-tests/src/main/java/com/cadl/specialheaders/EtagHeadersAsyncClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/EtagHeadersClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/EtagHeadersOptionalBodyAsyncClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/EtagHeadersOptionalBodyClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/RepeatabilityHeadersAsyncClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/RepeatabilityHeadersClient.java
  typespec-tests/src/main/java/com/type/property/nullable/models/CollectionsByteProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/CollectionsModelProperty.java
  typespec-tests/src/test/java/com/cadl/patch/PatchClientTest.java
  typespec-tests/tsp/patch.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Allow setting the working directory (#2475)
  customization-base/src/main/java/com/azure/autorest/customization/Customization.java
  customization-base/src/test/java/com/azure/autorest/customization/AnnotationTests.java
  extension-base/src/main/java/com/azure/autorest/extension/base/util/FileUtils.java
  fluentnamer/src/main/java/com/azure/autorest/fluentnamer/FluentNamer.java
  postprocessor/src/main/java/com/azure/autorest/postprocessor/Postprocessor.java
  preprocessor/src/main/java/com/azure/autorest/preprocessor/Preprocessor.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Add models-subpackage option for TypeSpec
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
  typespec-extension/src/main/java/com/azure/typespec/model/EmitterOptions.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Add models-subpackage option for TypeSpec (#2477)
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
  typespec-extension/src/main/java/com/azure/typespec/model/EmitterOptions.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

client hierarchy workaround
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

resource model
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/ObjectSchema.java
  fluentnamer/src/main/java/com/azure/autorest/fluent/transformer/ResourceTypeNormalization.java
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/common/client.ts
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

remove client hierarchy workaround
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

emitter
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix builtin models
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/main/java/com/azure/autorest/fluent/TypeSpecFluentPlugin.java
  typespec-extension/src/main/java/com/azure/typespec/util/ModelUtil.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

rename get, listBySubscription
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/main/java/com/azure/autorest/fluent/TypeSpecFluentPlugin.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

subscriptionId workaround
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/FluentResourceCollection.java
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/operation-utils.ts
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

update according to comments
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  typespec-tests/tsp/patch.tsp
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

refactor to save code-model produced by FluentNamer
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/FluentResourceCollection.java
  fluentnamer/src/main/java/com/azure/autorest/fluent/transformer/OperationNameNormalization.java
  fluentnamer/src/main/java/com/azure/autorest/fluentnamer/FluentNamer.java
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/emitter.ts
  typespec-extension/src/main/java/com/azure/autorest/fluent/TypeSpecFluentNamer.java
  typespec-extension/src/main/java/com/azure/autorest/fluent/TypeSpecFluentPlugin.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

fix listBySubscription and get
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/FluentClientMethodMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
  typespec-extension/src/code-model-builder.ts
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

fix code model
  typespec-extension/src/main/java/com/azure/autorest/fluent/TypeSpecFluentPlugin.java
  typespec-extension/src/main/java/com/azure/typespec/Main.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Make parallel
  postprocessor/src/main/java/com/azure/autorest/postprocessor/implementation/CodeFormatterUtil.java
  typespec-tests/src/main/java/com/cadl/partialupdate/PartialUpdateAsyncClient.java
  typespec-tests/src/main/java/com/cadl/partialupdate/PartialUpdateClient.java
  typespec-tests/src/main/java/com/cadl/partialupdate/PartialUpdateClientBuilder.java
  typespec-tests/src/main/java/com/cadl/partialupdate/models/PartialUpdateModel.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

re-generate test code
  typespec-tests/src/main/java/com/cadl/patch/implementation/package-info.java
  typespec-tests/src/main/java/com/cadl/patch/models/package-info.java
  typespec-tests/src/main/java/com/cadl/patch/package-info.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update tests
  typespec-tests/src/test/java/com/cadl/patch/PatchClientTest.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Fix the issue that serialization happens after disabling jsonMergePatch
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
Owners: @weidongxu-microsoft, @srnagar

re-generate test code
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/BasicAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/BasicClient.java
  typespec-tests/src/main/java/com/cadl/patch/PatchAsyncClient.java
  typespec-tests/src/main/java/com/cadl/patch/PatchClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/RepeatabilityHeadersAsyncClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/RepeatabilityHeadersClient.java
  typespec-tests/src/main/java/com/type/property/nullable/BytesAsyncClient.java
  typespec-tests/src/main/java/com/type/property/nullable/BytesClient.java
  typespec-tests/src/main/java/com/type/property/nullable/CollectionsByteAsyncClient.java
  typespec-tests/src/main/java/com/type/property/nullable/CollectionsByteClient.java
  typespec-tests/src/main/java/com/type/property/nullable/CollectionsModelAsyncClient.java
  typespec-tests/src/main/java/com/type/property/nullable/CollectionsModelClient.java
  typespec-tests/src/main/java/com/type/property/nullable/DatetimeOperationAsyncClient.java
  typespec-tests/src/main/java/com/type/property/nullable/DatetimeOperationClient.java
  typespec-tests/src/main/java/com/type/property/nullable/DurationOperationAsyncClient.java
  typespec-tests/src/main/java/com/type/property/nullable/DurationOperationClient.java
  typespec-tests/src/main/java/com/type/property/nullable/StringOperationAsyncClient.java
  typespec-tests/src/main/java/com/type/property/nullable/StringOperationClient.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix listNext in client method
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/FluentResourceCollection.java
  preprocessor/src/main/java/com/azure/autorest/preprocessor/tranformer/Transformer.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

fix hardcoded ArmResource model generation
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

.github/CODEOWNERS:

# default
*                           @weidongxu-microsoft @srnagar

# Git Hub bot rules
/.github/fabricbot.json     @jsquire @ronniegeraghty

# fluentgen
/fluent*                    @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/azure-tests                @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

# androidgen
/androidgen                 @JianpingChen @anuchandy

# protocol
/protocol*                  @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update-tests       @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar

# typespec
/typespec-extension         @srnagar @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/typespec-tests             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
