Repository Azure/autorest.java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @weidongxu-microsoft, @srnagar, @jsquire, @ronniegeraghty, @haolingdong-msft, @XiaofeiCao, @JianpingChen, @anuchandy

fix annotation
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
Owners: @weidongxu-microsoft, @srnagar

fix formatting
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

regen
  azure-dataplane-tests/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/FormRecognizerClientImplBuilder.java
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
Owners: @weidongxu-microsoft, @srnagar

branch on Metadata import
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientModel.java
Owners: @weidongxu-microsoft, @srnagar

fix metadata
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientModel.java
Owners: @weidongxu-microsoft, @srnagar

fix key credential
  azure-dataplane-tests/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/FormRecognizerClientImplBuilder.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
Owners: @weidongxu-microsoft, @srnagar

fix var name
  azure-dataplane-tests/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/FormRecognizerClientImplBuilder.java
Owners: @weidongxu-microsoft, @srnagar

Generic core update (#2607)
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  javagen/pom.xml
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/PomMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/PrimitiveMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/Annotation.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientBuilderTrait.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientMethod.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientModel.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/Pom.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ProxyMethod.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ProxyMethodParameter.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaPackage.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/EnumTemplate.java
  javagen/src/main/java/com/azure/autorest/template/MethodGroupTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/PomTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ProxyTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceAsyncClientTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientBuilderTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceSyncClientTemplate.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/WrapperClientMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
  javagen/src/main/java/com/azure/autorest/util/TemplateUtil.java
  javagen/src/main/resources/GenericMultipartFormDataHelper.java
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

remove branded flag related logic
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/emitter.ts
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
  typespec-extension/src/main/java/com/azure/typespec/model/EmitterOptions.java
  typespec-tests/tspconfig.yaml
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

client, remove dupicate code in CodeNamer
  javagen/src/main/java/com/azure/autorest/util/CodeNamer.java
  preprocessor/src/main/java/com/azure/autorest/preprocessor/namer/CodeNamer.java
Owners: @weidongxu-microsoft, @srnagar

fix
  javagen/src/main/java/com/azure/autorest/mapper/ProxyMethodExampleMapper.java
  preprocessor/src/main/java/com/azure/autorest/preprocessor/namer/CodeNamer.java
Owners: @weidongxu-microsoft, @srnagar

use getter
  javagen/src/main/java/com/azure/autorest/util/CodeNamer.java
  preprocessor/src/main/java/com/azure/autorest/preprocessor/namer/CodeNamer.java
Owners: @weidongxu-microsoft, @srnagar

Latic apears to be a misspell
  javagen/src/main/java/com/azure/autorest/util/CodeNamer.java
  preprocessor/src/main/java/com/azure/autorest/preprocessor/namer/CodeNamer.java
Owners: @weidongxu-microsoft, @srnagar

update according to comments
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  typespec-extension/src/emitter.ts
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
  typespec-tests/tspconfig.yaml
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

update version
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update version and format
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/src/emitter.ts
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update according to comments
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

format
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

add package-dir option and add the related check logics
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/emitter.ts
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
  typespec-extension/src/main/java/com/azure/typespec/model/EmitterOptions.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

move FileDetails model to code-model
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
  javagen/src/main/java/com/azure/autorest/util/TypeUtil.java
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/external-schemas.ts
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

format
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update according to comments
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/emitter.ts
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update according to comments
  typespec-extension/src/emitter.ts
  typespec-extension/src/main/java/com/azure/typespec/model/EmitterOptions.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, support flavor flag from typespec config (#2609)
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/emitter.ts
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
  typespec-extension/src/main/java/com/azure/typespec/model/EmitterOptions.java
  typespec-tests/package.json
  typespec-tests/tspconfig.yaml
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

test case
  typespec-tests/tsp/flatten.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

skip readonly and constant in payload flatten model
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

fix test example JSON
  typespec-tests/tsp/examples/2022-06-01-preview/FlattenOp_SendLong.json
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

re-generate test code
  typespec-tests/src/main/java/com/cadl/flatten/FlattenAsyncClient.java
  typespec-tests/src/main/java/com/cadl/flatten/FlattenClient.java
  typespec-tests/src/main/java/com/cadl/flatten/implementation/FlattenClientImpl.java
  typespec-tests/src/main/java/com/cadl/flatten/implementation/models/SendLongRequest.java
  typespec-tests/src/main/java/com/cadl/flatten/implementation/models/SendRequest.java
  typespec-tests/src/main/java/com/cadl/flatten/models/SendLongOptions.java
  typespec-tests/src/main/java/com/cadl/flatten/models/Status.java
  typespec-tests/src/main/java/com/cadl/flatten/models/TodoItem.java
  typespec-tests/src/samples/java/com/cadl/flatten/generated/FlattenOpSendLong.java
  typespec-tests/src/test/java/com/cadl/flatten/generated/FlattenOpSendLongTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

bump to 0.15.1
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update UT
  typespec-tests/src/test/java/com/cadl/flatten/FlattenTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, generic KeyCredentialPolicy ctor has 3 arguments
  javagen/src/main/java/com/azure/autorest/template/TemplateHelper.java
Owners: @weidongxu-microsoft, @srnagar

tsp, bug fix on grouping (#2612)
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-tests/package.json
  typespec-tests/src/main/java/com/cadl/flatten/FlattenAsyncClient.java
  typespec-tests/src/main/java/com/cadl/flatten/FlattenClient.java
  typespec-tests/src/main/java/com/cadl/flatten/implementation/FlattenClientImpl.java
  typespec-tests/src/main/java/com/cadl/flatten/implementation/models/SendLongRequest.java
  typespec-tests/src/main/java/com/cadl/flatten/implementation/models/SendRequest.java
  typespec-tests/src/main/java/com/cadl/flatten/models/SendLongOptions.java
  typespec-tests/src/main/java/com/cadl/flatten/models/Status.java
  typespec-tests/src/main/java/com/cadl/flatten/models/TodoItem.java
  typespec-tests/src/samples/java/com/cadl/flatten/generated/FlattenOpSendLong.java
  typespec-tests/src/test/java/com/cadl/flatten/FlattenTests.java
  typespec-tests/src/test/java/com/cadl/flatten/generated/FlattenOpSendLongTests.java
  typespec-tests/tsp/examples/2022-06-01-preview/FlattenOp_SendLong.json
  typespec-tests/tsp/flatten.tsp
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, generic KeyCredentialPolicy ctor has 3 arguments (#2613)
  javagen/src/main/java/com/azure/autorest/template/TemplateHelper.java
Owners: @weidongxu-microsoft, @srnagar

test case
  typespec-tests/tsp/examples/2022-06-01-preview/FlattenOp_Send.json
  typespec-tests/tsp/examples/2022-06-01-preview/FlattenOp_SendLong.json
  typespec-tests/tsp/multipart.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

ignore readonly in multipart
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
Owners: @weidongxu-microsoft, @srnagar

bump version 0.15.2
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

re-generate test code
  typespec-tests/src/main/java/com/cadl/multipart/MultipartAsyncClient.java
  typespec-tests/src/main/java/com/cadl/multipart/MultipartClient.java
  typespec-tests/src/main/java/com/cadl/multipart/implementation/models/UploadFileRequest.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, improve multipart, ignore readonly field (#2614)
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
  typespec-tests/src/main/java/com/cadl/multipart/MultipartAsyncClient.java
  typespec-tests/src/main/java/com/cadl/multipart/MultipartClient.java
  typespec-tests/src/main/java/com/cadl/multipart/implementation/models/UploadFileRequest.java
  typespec-tests/tsp/examples/2022-06-01-preview/FlattenOp_Send.json
  typespec-tests/tsp/examples/2022-06-01-preview/FlattenOp_SendLong.json
  typespec-tests/tsp/multipart.tsp
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

tsp, remove isErrorOrChildOfError
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, remove isErrorOrChildOfError (#2617)
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

.github/CODEOWNERS:

# default
*                           @weidongxu-microsoft @srnagar

# Git Hub bot rules
/.github/fabricbot.json     @jsquire @ronniegeraghty

# fluentgen
/fluent*                    @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/azure-tests                @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

# androidgen
/androidgen                 @JianpingChen @anuchandy

# protocol
/protocol*                  @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update-tests       @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar

# typespec
/typespec-extension         @srnagar @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/typespec-tests             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
