Repository Azure/autorest.java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @weidongxu-microsoft, @srnagar, @jsquire, @ronniegeraghty, @haolingdong-msft, @XiaofeiCao, @JianpingChen, @anuchandy

re-generate test code
  azure-dataplane-tests/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/models/DocumentWord.java
  vanilla-tests/src/main/java/fixtures/bodyformdataurlencoded/models/PathsPvivzlFormsdataurlencodedPartialconstantbodyPostRequestbodyContentApplicationXWwwFormUrlencodedSchema.java
Owners: @weidongxu-microsoft, @srnagar

Last cleanups
  androidgen/package.json
  fluentgen/package.json
  javagen/package.json
  package.json
  postprocessor/src/main/java/com/azure/autorest/postprocessor/implementation/CodeFormatterUtil.java
  typespec-extension/src/emitter.ts
  typespec-tests/readme.md
  typespec-tests/src/main/java/com/cadl/partialupdate/PartialUpdateAsyncClient.java
  typespec-tests/src/main/java/com/cadl/partialupdate/PartialUpdateClient.java
  typespec-tests/src/main/java/com/cadl/partialupdate/PartialUpdateClientBuilder.java
  typespec-tests/src/main/java/com/cadl/partialupdate/models/PartialUpdateModel.java
Owners: @JianpingChen, @anuchandy, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

Remove usage of Java 21 API
  postprocessor/src/main/java/com/azure/autorest/postprocessor/implementation/CodeFormatterUtil.java
Owners: @weidongxu-microsoft, @srnagar

Add cases to optional.tsp
  typespec-tests/tsp/optional.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Fix a few edge cases
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  vanilla-tests/src/main/java/fixtures/additionalproperties/models/PetAPTrue.java
  vanilla-tests/src/main/java/fixtures/modelflattening/models/Resource.java
  vanilla-tests/src/main/java/fixtures/requiredfieldsascotrargstransformation/models/TransformationAsParentRequiredFields.java
  vanilla-tests/src/main/java/fixtures/requiredfieldsascotrargstransformation/models/TransformationAsRequiredFields.java
Owners: @weidongxu-microsoft, @srnagar

Example of issue
  typespec-tests/src/main/java/com/cadl/optional/OptionalAsyncClient.java
  typespec-tests/src/main/java/com/cadl/optional/OptionalClient.java
  typespec-tests/src/main/java/com/cadl/optional/implementation/OptionalOpsImpl.java
  typespec-tests/src/main/java/com/cadl/optional/models/AllPropertiesOptional.java
  typespec-tests/src/main/java/com/cadl/optional/models/Optional.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Fix for package-private setters
  customization-tests/src/main/java/fixtures/bodycomplex/implementation/models/Salmon.java
  customization-tests/src/main/java/fixtures/bodycomplex/implementation/models/Shark.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  vanilla-tests/src/main/java/fixtures/bodycomplex/models/Salmon.java
  vanilla-tests/src/main/java/fixtures/bodycomplex/models/Shark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Salmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Shark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Salmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Shark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationimmutableoutput/models/Salmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationimmutableoutput/models/Shark.java
Owners: @weidongxu-microsoft, @srnagar

Fix extra builder parameters
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  typespec-tests/src/main/java/com/type/model/inheritance/nesteddiscriminator/models/GoblinShark.java
  typespec-tests/src/main/java/com/type/model/inheritance/nesteddiscriminator/models/SawShark.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Fix missing polymorphic discriminator name
  androidgen/src/main/java/com/azure/autorest/android/model/clientmodel/AndroidClientModel.java
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/NewPlugin.java
  fluentnamer/src/main/java/com/azure/autorest/fluent/util/FluentJavaSettings.java
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientModel.java
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
  postprocessor/src/main/java/com/azure/autorest/postprocessor/Postprocessor.java
  vanilla-tests/src/main/java/fixtures/inheritance/donotpassdiscriminator/models/MetricAlertCriteria.java
  vanilla-tests/src/main/java/fixtures/inheritance/donotpassdiscriminator/models/MetricAlertSingleResourceMultipleMetricCriteria.java
  vanilla-tests/src/main/java/fixtures/inheritance/passdiscriminator/models/MetricAlertCriteria.java
Owners: @JianpingChen, @anuchandy, @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Fix null polymorphic discriminator in base types and duplicate JSON property in Javadoc
  azure-dataplane-tests/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/models/OperationDetails.java
  customization-tests/src/main/java/fixtures/bodycomplex/implementation/models/DotFish.java
  customization-tests/src/main/java/fixtures/bodycomplex/implementation/models/Fish.java
  customization-tests/src/main/java/fixtures/bodycomplex/implementation/models/MyBaseType.java
  javagen/src/main/java/com/azure/autorest/mapper/ProxyMethodMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientMethodType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ServiceClientProperty.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  protocol-tests/src/main/java/fixtures/bodycomplex/PolymorphismAsyncClient.java
  protocol-tests/src/main/java/fixtures/bodycomplex/PolymorphismClient.java
  protocol-tests/src/main/java/fixtures/bodycomplex/implementation/PolymorphismsImpl.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/implementation/models/AbstractModel.java
  typespec-tests/src/main/java/com/cadl/naming/models/Data.java
  typespec-tests/src/main/java/com/cadl/patch/models/Fish.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumdiscriminator/models/Dog.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumdiscriminator/models/Snake.java
  typespec-tests/src/main/java/com/type/model/inheritance/nesteddiscriminator/models/Fish.java
  typespec-tests/src/main/java/com/type/model/inheritance/singlediscriminator/models/Bird.java
  typespec-tests/src/main/java/com/type/model/inheritance/singlediscriminator/models/Dinosaur.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/ExtendsUnknownAdditionalPropertiesDiscriminated.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/IsUnknownAdditionalPropertiesDiscriminated.java
  vanilla-tests/src/main/java/fixtures/bodycomplex/models/DotFish.java
  vanilla-tests/src/main/java/fixtures/bodycomplex/models/Fish.java
  vanilla-tests/src/main/java/fixtures/bodycomplex/models/MyBaseType.java
  vanilla-tests/src/main/java/fixtures/discriminatorflattening/clientflatten/models/MetricAlertCriteria.java
  vanilla-tests/src/main/java/fixtures/discriminatorflattening/models/MetricAlertCriteria.java
  vanilla-tests/src/main/java/fixtures/discriminatorflattening/noflatten/models/MetricAlertCriteria.java
  vanilla-tests/src/main/java/fixtures/discriminatorflattening/requirexmsflattened/models/MetricAlertCriteria.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/DotFish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Fish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/MyBaseType.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/DotFish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Fish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/MyBaseType.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationimmutableoutput/models/DotFish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationimmutableoutput/models/Fish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationimmutableoutput/models/MyBaseType.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

use union as extensible enum
  typespec-tests/tsp/enum.tsp
  typespec-tests/tsp/internal.tsp
  typespec-tests/tsp/lro.tsp
  typespec-tests/tsp/multipart.tsp
  typespec-tests/tsp/naming.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

cannot use lroStatus on union
  typespec-tests/tsp/enum.tsp
  typespec-tests/tsp/lro.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

handle UnionVariant as reference in enum case
  typespec-extension/src/code-model-builder.ts
  typespec-tests/src/main/java/com/cadl/enumservice/EnumServiceAsyncClient.java
  typespec-tests/src/main/java/com/cadl/enumservice/EnumServiceClient.java
  typespec-tests/src/main/java/com/cadl/enumservice/implementation/EnumServiceClientImpl.java
  typespec-tests/tsp/enum.tsp
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

bump version
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

exclude symbol type in name
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

lint reports if the case is not exact
  typespec-tests/src/main/java/com/cadl/longrunning/LongRunningAsyncClient.java
  typespec-tests/src/main/java/com/cadl/longrunning/LongRunningClient.java
  typespec-tests/src/main/java/com/cadl/longrunning/implementation/LongRunningClientImpl.java
  typespec-tests/src/main/java/com/cadl/longrunning/models/JobStatus.java
  typespec-tests/tsp/lro.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

handle access on union
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/type-utils.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

add naming override
  fluentnamer/src/main/java/com/azure/autorest/fluent/transformer/SchemaNameNormalization.java
  typespec-extension/src/main/java/com/azure/autorest/fluent/TypeSpecFluentPlugin.java
  typespec-tests/tsp/arm.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

re-generate test code
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/TopLevelArmResourceImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/IpRules.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/TopLevelArmResource.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/TopLevelArmResourceProperties.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/TopLevelArmResourceUpdate.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/TopLevelArmResourceUpdateProperties.java
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armresourceprovider-generated/reflect-config.json
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Add test for null map key value case for json-merge-patch
  typespec-tests/src/test/java/com/cadl/patch/PatchClientTest.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

not add word wrap now
  javagen/src/main/java/com/azure/autorest/template/ServiceAsyncClientTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientBuilderTemplate.java
Owners: @weidongxu-microsoft, @srnagar

handle UnionVariant as disciminator value
  typespec-extension/changelog.md
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

comment
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

rename variable
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaBlock.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaClass.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaContext.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaFile.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaInterface.java
  javagen/src/main/java/com/azure/autorest/template/WrapperClientMethodTemplate.java
Owners: @weidongxu-microsoft, @srnagar

rename
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaClass.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaInterface.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
Owners: @weidongxu-microsoft, @srnagar

minor changes
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

use explicit body
  typespec-tests/src/main/java/com/cadl/enumservice/EnumServiceAsyncClient.java
  typespec-tests/src/main/java/com/cadl/enumservice/EnumServiceClient.java
  typespec-tests/src/main/java/com/cadl/enumservice/implementation/EnumServiceClientImpl.java
  typespec-tests/tsp/enum.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

minor change
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update logic for JavaBlock
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaBlock.java
Owners: @weidongxu-microsoft, @srnagar

Add test for null map key value case for json-merge-patch (#2559)
  typespec-tests/src/test/java/com/cadl/patch/PatchClientTest.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, in test, use union as extensible enum (#2557)
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/type-utils.ts
  typespec-tests/package.json
  typespec-tests/src/main/java/com/cadl/longrunning/LongRunningAsyncClient.java
  typespec-tests/src/main/java/com/cadl/longrunning/LongRunningClient.java
  typespec-tests/src/main/java/com/cadl/longrunning/implementation/LongRunningClientImpl.java
  typespec-tests/src/main/java/com/cadl/longrunning/models/JobStatus.java
  typespec-tests/tsp/enum.tsp
  typespec-tests/tsp/internal.tsp
  typespec-tests/tsp/lro.tsp
  typespec-tests/tsp/multipart.tsp
  typespec-tests/tsp/naming.tsp
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

pick from https://github.com/Azure/autorest.java/pull/2557
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/type-utils.ts
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

refactor
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaBlock.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaClass.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaContext.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaFile.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaInterface.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaType.java
Owners: @weidongxu-microsoft, @srnagar

refactor a bit
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/fluentmodel/method/CollectionMethodOperationByIdTemplate.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaFile.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

remove m4 migration and added more test
  fluentnamer/src/main/java/com/azure/autorest/fluent/transformer/SchemaNameNormalization.java
  typespec-extension/src/main/java/com/azure/autorest/fluent/TypeSpecFluentPlugin.java
  typespec-tests/tsp/arm.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

update according to comments
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaClass.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaFile.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaInterface.java
Owners: @weidongxu-microsoft, @srnagar

re-generate test code
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/IpRules.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/TopLevelArmResourceProperties.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/TopLevelArmResourceUpdateProperties.java
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armresourceprovider-generated/reflect-config.json
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

make the methods package private
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaFileContents.java
Owners: @weidongxu-microsoft, @srnagar

refactor
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaClass.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaFile.java
Owners: @weidongxu-microsoft, @srnagar

regen
  customization-tests/src/main/java/fixtures/bodycomplex/ArrayClient.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaInterface.java
  partial-update-tests/generated/src/main/java/fixtures/bodystring/AutoRestSwaggerBatServiceClientBuilder.java
  partial-update-tests/generated/src/main/java/fixtures/bodystring/EnumAsyncClient.java
  partial-update-tests/generated/src/main/java/fixtures/bodystring/EnumClient.java
  partial-update-tests/generated/src/main/java/fixtures/bodystring/StringOperationAsyncClient.java
  partial-update-tests/generated/src/main/java/fixtures/bodystring/StringOperationClient.java
  typespec-tests/src/main/java/com/cadl/partialupdate/PartialUpdateAsyncClient.java
  typespec-tests/src/main/java/com/cadl/partialupdate/PartialUpdateClient.java
  typespec-tests/src/main/java/com/cadl/partialupdate/PartialUpdateClientBuilder.java
  typespec-tests/src/main/java/com/cadl/partialupdate/models/PartialUpdateModel.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

.github/CODEOWNERS:

# default
*                           @weidongxu-microsoft @srnagar

# Git Hub bot rules
/.github/fabricbot.json     @jsquire @ronniegeraghty

# fluentgen
/fluent*                    @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/azure-tests                @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

# androidgen
/androidgen                 @JianpingChen @anuchandy

# protocol
/protocol*                  @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update-tests       @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar

# typespec
/typespec-extension         @srnagar @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/typespec-tests             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
