Repository Azure/autorest.java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @weidongxu-microsoft, @srnagar, @jsquire, @ronniegeraghty, @haolingdong-msft, @XiaofeiCao, @JianpingChen, @anuchandy

test
  typespec-tests/src/main/java/com/type/property/valuetypes/NeverAsyncClient.java
  typespec-tests/src/main/java/com/type/property/valuetypes/NeverClient.java
  typespec-tests/src/main/java/com/type/property/valuetypes/implementation/NeversImpl.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/NeverProperty.java
  typespec-tests/src/test/java/com/type/property/valuetypes/NeverClientTest.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, allow empty model class in tsp (#2148)
  javagen/src/main/java/com/azure/autorest/mapper/ObjectMapper.java
  typespec-tests/src/main/java/com/type/property/valuetypes/NeverAsyncClient.java
  typespec-tests/src/main/java/com/type/property/valuetypes/NeverClient.java
  typespec-tests/src/main/java/com/type/property/valuetypes/implementation/NeversImpl.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/NeverProperty.java
  typespec-tests/src/test/java/com/type/property/valuetypes/NeverClientTest.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

tsp, bump version for 0.7.1
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, bump version for 0.7.1 (#2150)
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

add xmsVersioningAdded
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/CodeModelCustomConstructor.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/extensionmodel/XmsExtensions.java
  typespec-extension/src/code-model-builder.ts
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

poc on added
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientParameterMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientMethodParameter.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/Versioning.java
Owners: @weidongxu-microsoft, @srnagar

template to write validation
  extension-base/src/main/java/com/azure/autorest/extension/base/model/extensionmodel/XmsExtensions.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/Versioning.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceAsyncMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceSyncMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceSyncClientTemplate.java
Owners: @weidongxu-microsoft, @srnagar

regen and test
  typespec-tests/src/main/java/com/resiliency/servicedriven/ResiliencyServiceDrivenAsyncClient.java
  typespec-tests/src/main/java/com/resiliency/servicedriven/ResiliencyServiceDrivenClient.java
  typespec-tests/src/test/java/com/resiliency/servicedriven/ServiceDrivenTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

re-generate test code
  typespec-tests/src/main/java/com/encode/duration/DurationClientBuilder.java
  typespec-tests/src/main/java/com/encode/duration/HeaderAsyncClient.java
  typespec-tests/src/main/java/com/encode/duration/HeaderClient.java
  typespec-tests/src/main/java/com/encode/duration/implementation/DurationClientImpl.java
  typespec-tests/src/main/java/com/encode/duration/implementation/HeadersImpl.java
  typespec-tests/src/main/java/com/type/enums/extensible/ExtensibleAsyncClient.java
  typespec-tests/src/main/java/com/type/enums/extensible/models/DaysOfWeekExtensibleEnum.java
  typespec-tests/src/main/java/com/type/enums/fixed/FixedAsyncClient.java
  typespec-tests/src/main/java/com/type/enums/fixed/implementation/FixedClientImpl.java
  typespec-tests/src/main/java/com/type/enums/fixed/models/DaysOfWeekEnum.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

add test
  typespec-tests/src/test/java/com/encode/duration/EncodeDurationTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, refresh cadl-ranch (#2152)
  typespec-tests/src/main/java/com/encode/duration/DurationClientBuilder.java
  typespec-tests/src/main/java/com/encode/duration/HeaderAsyncClient.java
  typespec-tests/src/main/java/com/encode/duration/HeaderClient.java
  typespec-tests/src/main/java/com/encode/duration/implementation/DurationClientImpl.java
  typespec-tests/src/main/java/com/encode/duration/implementation/HeadersImpl.java
  typespec-tests/src/main/java/com/type/enums/extensible/ExtensibleAsyncClient.java
  typespec-tests/src/main/java/com/type/enums/extensible/models/DaysOfWeekExtensibleEnum.java
  typespec-tests/src/main/java/com/type/enums/fixed/FixedAsyncClient.java
  typespec-tests/src/main/java/com/type/enums/fixed/implementation/FixedClientImpl.java
  typespec-tests/src/main/java/com/type/enums/fixed/models/DaysOfWeekEnum.java
  typespec-tests/src/test/java/com/encode/duration/EncodeDurationTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

different reactor error for different return type
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceAsyncMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceSyncMethodTemplate.java
Owners: @weidongxu-microsoft, @srnagar

fix and UT for findOverloadedSignatures
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
  javagen/src/test/java/com/azure/autorest/mapper/ClientMethodMapperTests.java
Owners: @weidongxu-microsoft, @srnagar

process added in emitter
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/models.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

nit
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
Owners: @weidongxu-microsoft, @srnagar

improve UT
  javagen/src/test/java/com/azure/autorest/mapper/ClientMethodMapperTests.java
Owners: @weidongxu-microsoft, @srnagar

Fixed bugs with XML stream-style serialization
  javagen/src/main/java/com/azure/autorest/implementation/ClientModelPropertiesManager.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaClass.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
Owners: @weidongxu-microsoft, @srnagar

tsp, support is Record
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

client, fix NPE
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
Owners: @weidongxu-microsoft, @srnagar

client, fix NPE (#2154)
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
Owners: @weidongxu-microsoft, @srnagar

log on null pipeline
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientBuilderTrait.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientBuilderTemplate.java
  javagen/src/main/java/com/azure/autorest/util/TemplateUtil.java
Owners: @weidongxu-microsoft, @srnagar

bug fix
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientBuilderTrait.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientBuilderTemplate.java
Owners: @weidongxu-microsoft, @srnagar

logic to not generate anything for overload methods
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Support new XmlSerializable APIs, correct handling for root element name when type is polymorphic
  javagen/src/main/java/com/azure/autorest/implementation/ClientModelPropertiesManager.java
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ModelPropertyMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientModelProperty.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
Owners: @weidongxu-microsoft, @srnagar

tsp, support HEAD as boolean
  typespec-extension/src/code-model-builder.ts
  typespec-tests/tsp/response.tsp
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

re-generate test code
  typespec-tests/src/main/java/com/cadl/response/CoreClientBuilder.java
  typespec-tests/src/main/java/com/cadl/response/ResponseAsyncClient.java
  typespec-tests/src/main/java/com/cadl/response/ResponseClient.java
  typespec-tests/src/main/java/com/cadl/response/ResponseClientBuilder.java
  typespec-tests/src/main/java/com/cadl/response/ResponseServiceVersion.java
  typespec-tests/src/main/java/com/cadl/response/implementation/CoreClientImpl.java
  typespec-tests/src/main/java/com/cadl/response/implementation/ResponseClientImpl.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

comment
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

bump version
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, support head boolean (#2156)
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-tests/package.json
  typespec-tests/src/main/java/com/cadl/response/CoreClientBuilder.java
  typespec-tests/src/main/java/com/cadl/response/ResponseAsyncClient.java
  typespec-tests/src/main/java/com/cadl/response/ResponseClient.java
  typespec-tests/src/main/java/com/cadl/response/ResponseClientBuilder.java
  typespec-tests/src/main/java/com/cadl/response/ResponseServiceVersion.java
  typespec-tests/src/main/java/com/cadl/response/implementation/CoreClientImpl.java
  typespec-tests/src/main/java/com/cadl/response/implementation/ResponseClientImpl.java
  typespec-tests/tsp/response.tsp
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

comments
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

upgrade cadl-ranch
  typespec-tests/src/main/java/com/encode/duration/HeaderAsyncClient.java
  typespec-tests/src/main/java/com/encode/duration/HeaderClient.java
  typespec-tests/src/main/java/com/encode/duration/PropertyAsyncClient.java
  typespec-tests/src/main/java/com/encode/duration/PropertyClient.java
  typespec-tests/src/main/java/com/encode/duration/QueryAsyncClient.java
  typespec-tests/src/main/java/com/encode/duration/QueryClient.java
  typespec-tests/src/main/java/com/encode/duration/implementation/HeadersImpl.java
  typespec-tests/src/main/java/com/encode/duration/implementation/PropertiesImpl.java
  typespec-tests/src/main/java/com/encode/duration/implementation/QueriesImpl.java
  typespec-tests/src/main/java/com/encode/duration/models/FloatSecondsDurationArrayProperty.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

test
  typespec-tests/src/test/java/com/encode/duration/EncodeDurationTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update according to comments
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

re-generate test code
  typespec-tests/src/main/java/com/cadl/multicontenttypes/MultiContentTypesAsyncClient.java
  typespec-tests/src/main/java/com/cadl/multicontenttypes/MultiContentTypesClient.java
  typespec-tests/src/main/java/com/cadl/multicontenttypes/implementation/MultiContentTypesClientImpl.java
  typespec-tests/src/main/java/com/encode/duration/DurationClientBuilder.java
  typespec-tests/src/main/java/com/encode/duration/HeaderAsyncClient.java
  typespec-tests/src/main/java/com/encode/duration/HeaderClient.java
  typespec-tests/src/main/java/com/encode/duration/PropertyAsyncClient.java
  typespec-tests/src/main/java/com/encode/duration/PropertyClient.java
  typespec-tests/src/main/java/com/encode/duration/QueryClient.java
  typespec-tests/src/main/java/com/encode/duration/implementation/DurationClientImpl.java
  typespec-tests/src/main/java/com/encode/duration/implementation/HeadersImpl.java
  typespec-tests/src/main/java/com/encode/duration/implementation/QueriesImpl.java
  typespec-tests/src/main/java/com/encode/duration/models/FloatSecondsDurationArrayProperty.java
  typespec-tests/src/main/java/com/type/enums/extensible/ExtensibleAsyncClient.java
  typespec-tests/src/main/java/com/type/enums/extensible/ExtensibleClient.java
  typespec-tests/src/main/java/com/type/enums/extensible/implementation/ExtensibleClientImpl.java
  typespec-tests/src/main/java/com/type/enums/extensible/models/DaysOfWeekExtensibleEnum.java
  typespec-tests/src/main/java/com/type/enums/fixed/FixedAsyncClient.java
  typespec-tests/src/main/java/com/type/enums/fixed/FixedClient.java
  typespec-tests/src/main/java/com/type/enums/fixed/implementation/FixedClientImpl.java
  typespec-tests/src/main/java/com/type/enums/fixed/models/DaysOfWeekEnum.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, support "is Record<>" (#2153)
  typespec-extension/src/code-model-builder.ts
  typespec-tests/src/main/java/com/encode/duration/HeaderAsyncClient.java
  typespec-tests/src/main/java/com/encode/duration/HeaderClient.java
  typespec-tests/src/main/java/com/encode/duration/PropertyAsyncClient.java
  typespec-tests/src/main/java/com/encode/duration/PropertyClient.java
  typespec-tests/src/main/java/com/encode/duration/QueryAsyncClient.java
  typespec-tests/src/main/java/com/encode/duration/QueryClient.java
  typespec-tests/src/main/java/com/encode/duration/implementation/HeadersImpl.java
  typespec-tests/src/main/java/com/encode/duration/implementation/PropertiesImpl.java
  typespec-tests/src/main/java/com/encode/duration/implementation/QueriesImpl.java
  typespec-tests/src/main/java/com/encode/duration/models/FloatSecondsDurationArrayProperty.java
  typespec-tests/src/test/java/com/encode/duration/EncodeDurationTests.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

another stage of convertion of elememt client type to wire type, before iterator convert to String
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
Owners: @weidongxu-microsoft, @srnagar

regen
  typespec-tests/src/main/java/com/encode/duration/implementation/QueriesImpl.java
  typespec-tests/src/test/java/com/encode/duration/EncodeDurationTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, fix duration array in query/header (#2158)
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
  typespec-tests/src/main/java/com/encode/duration/implementation/QueriesImpl.java
  typespec-tests/src/test/java/com/encode/duration/EncodeDurationTests.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

checkstyle
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

format on tests
  typespec-tests/tsp/multi-content-types.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

.github/CODEOWNERS:

# default
*                           @weidongxu-microsoft @srnagar

# Git Hub bot rules
/.github/fabricbot.json     @jsquire @ronniegeraghty

# fluentgen
/fluent*                    @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/azure-tests                @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

# androidgen
/androidgen                 @JianpingChen @anuchandy

# protocol
/protocol*                  @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update-tests       @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar

# typespec
/typespec-extension         @srnagar @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/typespec-tests             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
