Repository Azure/autorest.java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @weidongxu-microsoft, @srnagar, @jsquire, @ronniegeraghty, @haolingdong-msft, @XiaofeiCao, @JianpingChen, @anuchandy

turn off new rule @typescript-eslint/no-unsafe-declaration-merging
  typespec-extension/.eslintrc.cjs
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, upgrade compiler 0.47 (#2263)
  typespec-extension/.eslintrc.cjs
  typespec-extension/package.json
  typespec-extension/readme.md
  typespec-tests/.prettierrc.yaml
  typespec-tests/package.json
  typespec-tests/tsp/flatten.tsp
  typespec-tests/tsp/multiple-apiversion.tsp
  typespec-tests/tsp/multiple-content-types.tsp
  typespec-tests/tsp/protocol-api-convenient-api.tsp
  typespec-tests/tsp/response.tsp
  typespec-tests/tsp/special-headers.tsp
  typespec-tests/tsp/union.tsp
  typespec-tests/tsp/versioning.tsp
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

test exception getValue
  typespec-tests/src/test/java/com/cadl/builtin/ExceptionTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

upgrade cadl-ranch
  typespec-tests/package.json
  typespec-tests/src/main/java/com/client/structure/service/implementation/ClientAClientImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/ClientBClientImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/Group2sImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/GroupsImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/RenamedOperationClientImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/ServiceClientClientImpl.java
  typespec-tests/src/main/java/com/payload/contentnegotiation/ContentNegotiationClientBuilder.java
  typespec-tests/src/main/java/com/payload/contentnegotiation/DifferentBodyAsyncClient.java
  typespec-tests/src/main/java/com/payload/contentnegotiation/DifferentBodyClient.java
  typespec-tests/src/main/java/com/payload/contentnegotiation/SameBodyAsyncClient.java
  typespec-tests/src/main/java/com/payload/contentnegotiation/SameBodyClient.java
  typespec-tests/src/main/java/com/payload/contentnegotiation/implementation/ContentNegotiationClientImpl.java
  typespec-tests/src/main/java/com/payload/contentnegotiation/implementation/DifferentBodiesImpl.java
  typespec-tests/src/main/java/com/payload/contentnegotiation/implementation/SameBodiesImpl.java
  typespec-tests/src/main/java/com/payload/contentnegotiation/implementation/package-info.java
  typespec-tests/src/main/java/com/payload/contentnegotiation/models/PngImageAsJson.java
  typespec-tests/src/main/java/com/payload/contentnegotiation/models/package-info.java
  typespec-tests/src/main/java/com/payload/contentnegotiation/package-info.java
  typespec-tests/src/main/resources/payload-contentnegotiation.properties
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

test for contentnegotiation
  typespec-tests/src/test/java/com/contentnegotiation/SharedRouteTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

bug fix for accept header in parameters
  typespec-extension/src/code-model-builder.ts
  typespec-tests/src/main/java/com/payload/contentnegotiation/implementation/DifferentBodiesImpl.java
  typespec-tests/src/main/java/com/payload/contentnegotiation/implementation/SameBodiesImpl.java
  typespec-tests/src/test/java/com/contentnegotiation/SharedRouteTests.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, upgrade cadl-ranch (#2264)
  typespec-extension/src/code-model-builder.ts
  typespec-tests/package.json
  typespec-tests/src/main/java/com/client/structure/service/implementation/ClientAClientImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/ClientBClientImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/Group1sImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/Group2sImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/GroupsImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/RenamedOperationClientImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/ServiceClientClientImpl.java
  typespec-tests/src/main/java/com/payload/contentnegotiation/ContentNegotiationClientBuilder.java
  typespec-tests/src/main/java/com/payload/contentnegotiation/DifferentBodyAsyncClient.java
  typespec-tests/src/main/java/com/payload/contentnegotiation/DifferentBodyClient.java
  typespec-tests/src/main/java/com/payload/contentnegotiation/SameBodyAsyncClient.java
  typespec-tests/src/main/java/com/payload/contentnegotiation/SameBodyClient.java
  typespec-tests/src/main/java/com/payload/contentnegotiation/implementation/ContentNegotiationClientImpl.java
  typespec-tests/src/main/java/com/payload/contentnegotiation/implementation/DifferentBodiesImpl.java
  typespec-tests/src/main/java/com/payload/contentnegotiation/implementation/SameBodiesImpl.java
  typespec-tests/src/main/java/com/payload/contentnegotiation/implementation/package-info.java
  typespec-tests/src/main/java/com/payload/contentnegotiation/models/PngImageAsJson.java
  typespec-tests/src/main/java/com/payload/contentnegotiation/models/package-info.java
  typespec-tests/src/main/java/com/payload/contentnegotiation/package-info.java
  typespec-tests/src/main/resources/payload-contentnegotiation.properties
  typespec-tests/src/test/java/com/cadl/builtin/ExceptionTests.java
  typespec-tests/src/test/java/com/contentnegotiation/SharedRouteTests.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

mgmt, deploymentStack in azure-resourcemanager-resources
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/examplemodel/FluentClientMethodExample.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

mgmt, deploymentStack in azure-resourcemanager-resources (#2265)
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/examplemodel/FluentClientMethodExample.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update core
  androidgen/pom.xml
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  fluent-tests/pom.xml
  fluentnamer/pom.xml
  javagen/pom.xml
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  partial-update-tests/pom.xml
  protocol-resilience-test/pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  protocol-tests/pom.xml
  typespec-extension/pom.xml
  typespec-tests/pom.xml
  vanilla-tests/pom.xml
Owners: @JianpingChen, @anuchandy, @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

bump version
  package.json
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

eng, sync dependency version include azure-core, also bump package version (#2266)
  androidgen/pom.xml
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  fluent-tests/pom.xml
  fluentnamer/pom.xml
  javagen/pom.xml
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  package.json
  partial-update-tests/pom.xml
  protocol-resilience-test/pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  protocol-tests/pom.xml
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-extension/pom.xml
  typespec-tests/package.json
  typespec-tests/pom.xml
  vanilla-tests/pom.xml
Owners: @JianpingChen, @anuchandy, @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

mgmt, protection for emtpy enum
  javagen/src/main/java/com/azure/autorest/util/ModelTestCaseUtil.java
Owners: @weidongxu-microsoft, @srnagar

mgmt, protection for emtpy enum (#2272)
  javagen/src/main/java/com/azure/autorest/util/ModelTestCaseUtil.java
Owners: @weidongxu-microsoft, @srnagar

setting resource-collection-association
  fluentnamer/src/main/java/com/azure/autorest/fluent/util/FluentJavaSettings.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

rename
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/ResourceParser.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

logic
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/FluentMapper.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/fluentmodel/create/ResourceCreate.java
  fluentnamer/src/main/java/com/azure/autorest/fluent/util/FluentJavaSettings.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

log
  fluentnamer/src/main/java/com/azure/autorest/fluent/util/FluentJavaSettings.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

handle EnumMember as type, treat is as Constant
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

add test case
  typespec-tests/tsp/enum.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

changelog
  typespec-extension/changelog.md
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update package-info comment
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
Owners: @weidongxu-microsoft, @srnagar

regen for test
  typespec-tests/src/main/java/com/cadl/enumservice/EnumServiceAsyncClient.java
  typespec-tests/src/main/java/com/cadl/enumservice/EnumServiceClient.java
  typespec-tests/src/main/java/com/cadl/enumservice/implementation/EnumServiceClientImpl.java
  typespec-tests/src/main/java/com/cadl/enumservice/models/Operation.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, support EnumMember as type (#2274)
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
  typespec-extension/changelog.md
  typespec-extension/src/code-model-builder.ts
  typespec-tests/src/main/java/com/cadl/enumservice/EnumServiceAsyncClient.java
  typespec-tests/src/main/java/com/cadl/enumservice/EnumServiceClient.java
  typespec-tests/src/main/java/com/cadl/enumservice/implementation/EnumServiceClientImpl.java
  typespec-tests/src/main/java/com/cadl/enumservice/models/Operation.java
  typespec-tests/tsp/enum.tsp
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

Revert "tsp, handle corner case for client type differs from wire type (#2261)"
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
  typespec-tests/Generate.ps1
  typespec-tests/customization/src/main/java/CustomizationEncodeBytes.java
  typespec-tests/src/main/java/com/cadl/wiretype/models/SubClass.java
  typespec-tests/src/main/java/com/cadl/wiretype/models/SubClassBothMismatch.java
  typespec-tests/src/main/java/com/cadl/wiretype/models/SubClassMismatch.java
  typespec-tests/src/main/java/com/cadl/wiretype/models/SuperClassMismatch.java
  typespec-tests/src/main/java/com/encode/bytes/models/Base64UrlArrayBytesProperty.java
  typespec-tests/src/main/java/com/encode/bytes/models/Base64UrlBytesProperty.java
  typespec-tests/src/main/java/com/encode/datetime/models/Rfc7231DatetimeProperty.java
  typespec-tests/src/main/java/com/encode/datetime/models/UnixTimestampArrayDatetimeProperty.java
  typespec-tests/src/main/java/com/encode/datetime/models/UnixTimestampDatetimeProperty.java
  typespec-tests/src/main/java/com/encode/duration/models/FloatSecondsDurationArrayProperty.java
  typespec-tests/src/main/java/com/encode/duration/models/FloatSecondsDurationProperty.java
  typespec-tests/src/main/java/com/encode/duration/models/Int32SecondsDurationProperty.java
  typespec-tests/src/test/java/com/encode/bytes/EncodeBytesTests.java
  vanilla-tests/src/main/java/fixtures/requiredfieldsascotrargstransformation/models/TransformationAsParentRequiredFields.java
  vanilla-tests/src/main/java/fixtures/requiredfieldsascotrargstransformation/models/TransformationAsRequiredFields.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

bump to 0.8.10
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

dpg, revert JsonCreator fromJson (#2275)
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-tests/Generate.ps1
  typespec-tests/customization/src/main/java/CustomizationEncodeBytes.java
  typespec-tests/package.json
  typespec-tests/src/main/java/com/cadl/wiretype/models/SubClass.java
  typespec-tests/src/main/java/com/cadl/wiretype/models/SubClassBothMismatch.java
  typespec-tests/src/main/java/com/cadl/wiretype/models/SubClassMismatch.java
  typespec-tests/src/main/java/com/cadl/wiretype/models/SuperClassMismatch.java
  typespec-tests/src/main/java/com/encode/bytes/models/Base64UrlArrayBytesProperty.java
  typespec-tests/src/main/java/com/encode/bytes/models/Base64UrlBytesProperty.java
  typespec-tests/src/main/java/com/encode/datetime/models/Rfc7231DatetimeProperty.java
  typespec-tests/src/main/java/com/encode/datetime/models/UnixTimestampArrayDatetimeProperty.java
  typespec-tests/src/main/java/com/encode/datetime/models/UnixTimestampDatetimeProperty.java
  typespec-tests/src/main/java/com/encode/duration/models/FloatSecondsDurationArrayProperty.java
  typespec-tests/src/main/java/com/encode/duration/models/FloatSecondsDurationProperty.java
  typespec-tests/src/main/java/com/encode/duration/models/Int32SecondsDurationProperty.java
  typespec-tests/src/test/java/com/encode/bytes/EncodeBytesTests.java
  vanilla-tests/src/main/java/fixtures/requiredfieldsascotrargstransformation/models/TransformationAsParentRequiredFields.java
  vanilla-tests/src/main/java/fixtures/requiredfieldsascotrargstransformation/models/TransformationAsRequiredFields.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

use list
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/FluentMapper.java
  fluentnamer/src/main/java/com/azure/autorest/fluent/model/ResourceCollectionAssociation.java
  fluentnamer/src/main/java/com/azure/autorest/fluent/util/FluentJavaSettings.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

disable NO_ASSOCIATION
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/FluentMapper.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/fluentmodel/create/ResourceCreate.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

test file generation
  javagen/src/main/java/com/azure/autorest/Javagen.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/TestContext.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaPackage.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTestTemplate.java
  typespec-tests/tspconfig.yaml
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

resource-collection-association -> resource-collection-associations
  fluentnamer/src/main/java/com/azure/autorest/fluent/util/FluentJavaSettings.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

readme
  readme.md
Owners: @weidongxu-microsoft, @srnagar

mgmt, resource collection association (#2276)
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/FluentMapper.java
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/ResourceParser.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/fluentmodel/create/ResourceCreate.java
  fluentnamer/src/main/java/com/azure/autorest/fluent/model/ResourceCollectionAssociation.java
  fluentnamer/src/main/java/com/azure/autorest/fluent/util/FluentJavaSettings.java
  readme.md
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

add enable-page-size option; hide maxpagesize from client method API
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
  javagen/src/main/java/com/azure/autorest/util/MethodUtil.java
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

client method template
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/util/MethodUtil.java
Owners: @weidongxu-microsoft, @srnagar

regen test
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/BasicAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/BasicClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/implementation/BasicClientImpl.java
  typespec-tests/src/test/java/com/_specs_/azure/core/basic/CoreTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

add comment to method
  javagen/src/main/java/com/azure/autorest/util/MethodUtil.java
Owners: @weidongxu-microsoft, @srnagar

generate test
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaPackage.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodSampleTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTestTemplate.java
  javagen/src/main/java/com/azure/autorest/template/example/ClientMethodExampleWriter.java
Owners: @weidongxu-microsoft, @srnagar

add a test for corner case of different serialized name
  typespec-tests/src/main/java/com/cadl/protocolandconvenient/ProtocolAndConvenientAsyncClient.java
  typespec-tests/src/main/java/com/cadl/protocolandconvenient/ProtocolAndConvenientClient.java
  typespec-tests/src/main/java/com/cadl/protocolandconvenient/implementation/ProtocolAndConvenientClientImpl.java
  typespec-tests/tsp/protocol-api-convenient-api.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, remove getAllModels
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

.github/CODEOWNERS:

# default
*                           @weidongxu-microsoft @srnagar

# Git Hub bot rules
/.github/fabricbot.json     @jsquire @ronniegeraghty

# fluentgen
/fluent*                    @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/azure-tests                @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

# androidgen
/androidgen                 @JianpingChen @anuchandy

# protocol
/protocol*                  @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update-tests       @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar

# typespec
/typespec-extension         @srnagar @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/typespec-tests             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
