Repository Azure/autorest.java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @weidongxu-microsoft, @srnagar, @jsquire, @ronniegeraghty, @haolingdong-msft, @XiaofeiCao, @JianpingChen, @anuchandy

.github/CODEOWNERS:

# default
*                           @weidongxu-microsoft @srnagar

# Git Hub bot rules
/.github/fabricbot.json     @jsquire @ronniegeraghty

# fluentgen
/fluent*                    @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/azure-tests                @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

# androidgen
/androidgen                 @JianpingChen @anuchandy

# protocol
/protocol*                  @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update-tests       @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar
/partial-update             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao @srnagar

# typespec
/typespec-extension         @srnagar @weidongxu-microsoft @haolingdong-msft @XiaofeiCao
/typespec-tests             @weidongxu-microsoft @haolingdong-msft @XiaofeiCao

tsp, use KeyCredential in test/sample (#2304)
  javagen/src/main/java/com/azure/autorest/template/example/ClientInitializationExampleWriter.java
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-tests/package.json
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

eng, remove functions-have-names
  package.json
  typespec-tests/package.json
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

tsp, use KeyCredential in test/sample (#2305)
  eng/pipelines/ci-typespec-java.yaml
  eng/pipelines/ci.yaml
  eng/pipelines/fluent_integration.yaml
  javagen/src/main/java/com/azure/autorest/template/example/ClientInitializationExampleWriter.java
  typespec-extension/changelog.md
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

eng, remove functions-have-names (#2306)
  package.json
  typespec-tests/package.json
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

mgmt, bug fix on lost properties from ProxyResource/Resource
  fluentnamer/src/main/java/com/azure/autorest/fluent/transformer/ResourceTypeNormalization.java
  package.json
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

test case
  fluent-tests/prepare-tests.bat
  fluent-tests/src/test/java/com/azure/mgmttest/LiteCompilationTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

mgmt, bug fix on lost properties from ProxyResource/Resource (#2307)
  fluent-tests/prepare-tests.bat
  fluent-tests/src/test/java/com/azure/mgmttest/LiteCompilationTests.java
  fluentnamer/src/main/java/com/azure/autorest/fluent/transformer/ResourceTypeNormalization.java
  package.json
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

Fixes for handling nullable, converted wire types (#2308)
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
Owners: @weidongxu-microsoft, @srnagar

skip convenience API for multipart/form-data
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/operation-utils.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

local test
  typespec-tests/src/main/java/com/cadl/multipart/MultipartAsyncClient.java
  typespec-tests/src/main/java/com/cadl/multipart/MultipartClient.java
  typespec-tests/src/main/java/com/cadl/multipart/MultipartClientBuilder.java
  typespec-tests/src/main/java/com/cadl/multipart/implementation/MultipartClientImpl.java
  typespec-tests/src/main/java/com/cadl/multipart/implementation/package-info.java
  typespec-tests/src/main/java/com/cadl/multipart/package-info.java
  typespec-tests/src/main/resources/cadl-multipart.properties
  typespec-tests/src/test/java/com/cadl/multipart/generated/MultipartClientTestBase.java
  typespec-tests/tsp/multipart.tsp
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

dpg, set use-key-credential=true
  azure-dataplane-tests/src/main/java/com/azure/ai/formrecognizer/documentanalysis/dpg/FormRecognizerClientBuilder.java
  javagen/src/main/resources/data-plane.md
  preprocessor/data-plane.md
Owners: @weidongxu-microsoft, @srnagar

mutlipart to internal
  typespec-extension/src/code-model-builder.ts
  typespec-tests/src/main/java/com/cadl/multipart/MultipartAsyncClient.java
  typespec-tests/src/main/java/com/cadl/multipart/MultipartClient.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

use codeModelOperation.generateProtocolApi instead
  typespec-extension/src/code-model-builder.ts
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

still use internalApi
  typespec-extension/src/code-model-builder.ts
  typespec-tests/src/main/java/com/cadl/multipart/implementation/models/Data.java
  typespec-tests/src/main/java/com/cadl/multipart/implementation/models/package-info.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

dpg, set use-key-credential=true (#2310)
  azure-dataplane-tests/src/main/java/com/azure/ai/formrecognizer/documentanalysis/dpg/FormRecognizerClientBuilder.java
  javagen/src/main/resources/data-plane.md
  preprocessor/data-plane.md
Owners: @weidongxu-microsoft, @srnagar

nit, change dev comment, as protocol API can be used, but require a different serialization process
  typespec-extension/src/code-model-builder.ts
  typespec-tests/src/main/java/com/cadl/multipart/MultipartAsyncClient.java
  typespec-tests/src/main/java/com/cadl/multipart/MultipartClient.java
  typespec-tests/src/main/java/com/cadl/multipart/implementation/models/FormData.java
  typespec-tests/tsp/multipart.tsp
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tsp, make API internal, for multipart/form-data (#2309)
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/operation-utils.ts
  typespec-tests/src/main/java/com/cadl/multipart/MultipartAsyncClient.java
  typespec-tests/src/main/java/com/cadl/multipart/MultipartClient.java
  typespec-tests/src/main/java/com/cadl/multipart/MultipartClientBuilder.java
  typespec-tests/src/main/java/com/cadl/multipart/implementation/MultipartClientImpl.java
  typespec-tests/src/main/java/com/cadl/multipart/implementation/models/FormData.java
  typespec-tests/src/main/java/com/cadl/multipart/implementation/models/package-info.java
  typespec-tests/src/main/java/com/cadl/multipart/implementation/package-info.java
  typespec-tests/src/main/java/com/cadl/multipart/package-info.java
  typespec-tests/src/main/resources/cadl-multipart.properties
  typespec-tests/src/test/java/com/cadl/multipart/generated/MultipartClientTestBase.java
  typespec-tests/tsp/multipart.tsp
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

add GraalVmConfig
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/Client.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/GraalVmConfig.java
Owners: @weidongxu-microsoft, @srnagar

add test
  fluent-tests/prepare-tests.bat
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

update fluent test
  fluent-tests/prepare-tests.bat
  fluent-tests/src/test/java/com/azure/mgmttest/CompilationTests.java
  fluent-tests/src/test/java/com/azure/mgmttest/LiteCompilationTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

revert https://github.com/Azure/autorest.java/pull/2235, as we later used a different solution https://github.com/Azure/autorest.java/pull/2245
  fluentgen/src/main/java/com/azure/autorest/fluent/template/FluentModelTemplate.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

tests
  fluent-tests/prepare-tests.bat
  fluent-tests/src/test/java/com/azure/mgmttest/CompilationTests.java
  fluent-tests/src/test/java/com/azure/mgmttest/LiteCompilationTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

bump version
  package.json
Owners: @weidongxu-microsoft, @srnagar

mgmt, bug fix on Error used both in exception and output (#2313)
  fluent-tests/prepare-tests.bat
  fluent-tests/src/test/java/com/azure/mgmttest/CompilationTests.java
  fluent-tests/src/test/java/com/azure/mgmttest/LiteCompilationTests.java
  fluentgen/src/main/java/com/azure/autorest/fluent/template/FluentModelTemplate.java
  package.json
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

handle proxy in ServiceClient
  javagen/src/main/java/com/azure/autorest/model/clientmodel/GraalVmConfig.java
Owners: @weidongxu-microsoft, @srnagar

output graalvmconfig
  fluentgen/src/main/java/com/azure/autorest/fluent/FluentGen.java
  javagen/src/main/java/com/azure/autorest/Javagen.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/Client.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/GraalVmConfig.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaPackage.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar

enum and exception
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/GraalVmConfig.java
Owners: @weidongxu-microsoft, @srnagar

Utils add private ctor
  fluentgen/src/main/java/com/azure/autorest/fluent/template/UtilsTemplate.java
  fluentgen/src/main/resources/Utils_PagedIterableImpl.txt
  fluentgen/src/main/resources/Utils_getValueFromIdByParameterName.txt
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

Utils add private ctor (#2315)
  fluentgen/src/main/java/com/azure/autorest/fluent/template/UtilsTemplate.java
  fluentgen/src/main/resources/Utils_PagedIterableImpl.txt
  fluentgen/src/main/resources/Utils_getValueFromIdByParameterName.txt
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

improve test
  typespec-tests/package.json
  typespec-tests/src/test/java/com/Utils.java
  typespec-tests/src/test/java/com/contentnegotiation/SharedRouteTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

regen
  typespec-tests/src/main/java/com/encode/bytes/BytesClientBuilder.java
  typespec-tests/src/main/java/com/encode/bytes/RequestBodyAsyncClient.java
  typespec-tests/src/main/java/com/encode/bytes/RequestBodyClient.java
  typespec-tests/src/main/java/com/encode/bytes/ResponseBodyAsyncClient.java
  typespec-tests/src/main/java/com/encode/bytes/ResponseBodyClient.java
  typespec-tests/src/main/java/com/encode/bytes/implementation/BytesClientImpl.java
  typespec-tests/src/main/java/com/encode/bytes/implementation/RequestBodiesImpl.java
  typespec-tests/src/main/java/com/encode/bytes/implementation/ResponseBodiesImpl.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

test
  typespec-tests/src/test/java/com/encode/bytes/EncodeBytesTests.java
  typespec-tests/src/test/java/com/encode/bytes/generated/BytesClientTestBase.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

consistent on binary / json
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ProxyMethodMapper.java
  javagen/src/main/java/com/azure/autorest/util/SchemaUtil.java
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/operation-utils.ts
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

handle byte[] response
  javagen/src/main/java/com/azure/autorest/mapper/ProxyParameterMapper.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceAsyncMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceSyncMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/util/SchemaUtil.java
  typespec-tests/src/main/java/com/encode/bytes/HeaderAsyncClient.java
  typespec-tests/src/main/java/com/encode/bytes/HeaderClient.java
  typespec-tests/src/main/java/com/encode/bytes/QueryAsyncClient.java
  typespec-tests/src/main/java/com/encode/bytes/QueryClient.java
  typespec-tests/src/main/java/com/encode/bytes/RequestBodyAsyncClient.java
  typespec-tests/src/main/java/com/encode/bytes/RequestBodyClient.java
  typespec-tests/src/main/java/com/encode/bytes/ResponseBodyAsyncClient.java
  typespec-tests/src/main/java/com/encode/bytes/ResponseBodyClient.java
  typespec-tests/src/main/java/com/encode/bytes/implementation/HeadersImpl.java
  typespec-tests/src/main/java/com/encode/bytes/implementation/QueriesImpl.java
  typespec-tests/src/main/java/com/encode/bytes/implementation/RequestBodiesImpl.java
  typespec-tests/src/main/java/com/encode/bytes/implementation/ResponseBodiesImpl.java
  typespec-tests/src/main/java/com/encode/bytes/models/Base64UrlArrayBytesProperty.java
  typespec-tests/src/test/java/com/encode/bytes/EncodeBytesTests.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

improve content-type
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/operation-utils.ts
  typespec-tests/src/main/java/com/encode/bytes/HeaderAsyncClient.java
  typespec-tests/src/main/java/com/encode/bytes/HeaderClient.java
  typespec-tests/src/main/java/com/encode/bytes/QueryAsyncClient.java
  typespec-tests/src/main/java/com/encode/bytes/QueryClient.java
  typespec-tests/src/main/java/com/encode/bytes/implementation/HeadersImpl.java
  typespec-tests/src/main/java/com/encode/bytes/implementation/QueriesImpl.java
  typespec-tests/src/test/java/com/encode/bytes/EncodeBytesTests.java
Owners: @srnagar, @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

revert mistake
  typespec-tests/src/main/java/com/encode/bytes/models/Base64UrlArrayBytesProperty.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

handle base64url
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  typespec-tests/src/main/java/com/encode/bytes/RequestBodyAsyncClient.java
  typespec-tests/src/main/java/com/encode/bytes/RequestBodyClient.java
  typespec-tests/src/test/java/com/encode/bytes/EncodeBytesTests.java
Owners: @weidongxu-microsoft, @srnagar, @haolingdong-msft, @XiaofeiCao

format
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
Owners: @weidongxu-microsoft, @srnagar

nit
  typespec-tests/src/test/java/com/encode/bytes/EncodeBytesTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao

regen
  partial-update-tests/generated/src/main/java/fixtures/bodystring/EnumAsyncClient.java
  partial-update-tests/generated/src/main/java/fixtures/bodystring/EnumClient.java
  partial-update-tests/generated/src/main/java/fixtures/bodystring/StringOperationAsyncClient.java
  partial-update-tests/generated/src/main/java/fixtures/bodystring/StringOperationClient.java
  partial-update-tests/generated/src/main/java/fixtures/bodystring/implementation/EnumsImpl.java
  partial-update-tests/generated/src/main/java/fixtures/bodystring/implementation/StringOperationsImpl.java
  protocol-tests/src/main/java/fixtures/bodystring/EnumAsyncClient.java
  protocol-tests/src/main/java/fixtures/bodystring/EnumClient.java
  protocol-tests/src/main/java/fixtures/bodystring/StringOperationAsyncClient.java
  protocol-tests/src/main/java/fixtures/bodystring/StringOperationClient.java
  protocol-tests/src/main/java/fixtures/bodystring/implementation/EnumsImpl.java
  protocol-tests/src/main/java/fixtures/bodystring/implementation/StringOperationsImpl.java
  protocol-tests/src/main/java/fixtures/httpinfrastructure/HttpFailureAsyncClient.java
  protocol-tests/src/main/java/fixtures/httpinfrastructure/HttpFailureClient.java
  protocol-tests/src/main/java/fixtures/httpinfrastructure/HttpRetryAsyncClient.java
  protocol-tests/src/main/java/fixtures/httpinfrastructure/HttpRetryClient.java
  protocol-tests/src/main/java/fixtures/httpinfrastructure/HttpSuccessAsyncClient.java
  protocol-tests/src/main/java/fixtures/httpinfrastructure/HttpSuccessClient.java
  protocol-tests/src/main/java/fixtures/httpinfrastructure/implementation/HttpFailuresImpl.java
  protocol-tests/src/main/java/fixtures/httpinfrastructure/implementation/HttpRetriesImpl.java
  protocol-tests/src/main/java/fixtures/httpinfrastructure/implementation/HttpSuccessImpl.java
  protocol-tests/src/samples/java/fixtures/bodystring/generated/EnumGetNotExpandable.java
  protocol-tests/src/samples/java/fixtures/bodystring/generated/EnumGetReferenced.java
  protocol-tests/src/test/java/fixtures/bodystring/EnumOperationsTests.java
  protocol-tests/src/test/java/fixtures/bodystring/StringOperationsTests.java
Owners: @weidongxu-microsoft, @haolingdong-msft, @XiaofeiCao, @srnagar
