Repository Azure/autorest.java, pull requests merged in 2020-12, with the labels that each got.

#826 v4 fluentlite, support resource with scope
  fluent-tests/prepare-tests.bat
  fluent-tests/report.md
  fluent-tests/src/test/java/com/azure/mgmttest/RuntimeTests.java
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/ResourceParser.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/arm/ModelCategory.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/arm/UrlPathSegments.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/fluentmodel/ResourceOperation.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/fluentmodel/create/ResourceCreate.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/fluentmodel/delete/ResourceDelete.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/fluentmodel/get/ResourceRefresh.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/fluentmodel/method/CollectionMethodOperationByIdTemplate.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/fluentmodel/method/FluentConstructorByInner.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/fluentmodel/method/FluentConstructorByName.java
  fluentgen/src/main/java/com/azure/autorest/fluent/template/FluentResourceModelImplementationTemplate.java
  fluentgen/src/main/java/com/azure/autorest/fluent/template/UtilsTemplate.java
  fluentgen/src/main/resources/Utils_getValueFromIdByName.txt
  fluentgen/src/main/resources/Utils_getValueFromIdByParameterName.txt
  fluentgen/src/test/java/com/azure/autorest/fluent/model/arm/UrlPathSegmentsTests.java
  fluentgen/src/test/java/com/azure/autorest/fluent/util/GeneratedUtilsClassWorkbenchTests.java
Labels: FluentGen, v4

#828 [Autorest.Android]: Fix generator to create chat with preview3 swagger; separate ChatClient and ChatThreadClient
  android-tests/app/src/androidTest/java/com/azure/autoresttest/BodyByteSyncClientTests.java
  android-tests/app/src/androidTest/java/com/azure/autoresttest/BodyStringSyncClientTests.java
  android-tests/app/src/androidTest/java/com/azure/autoresttest/CustomUrlSyncClientTests.java
  android-tests/app/src/androidTest/java/com/azure/autoresttest/TestConstants.java
  android-tests/app/src/main/java/com/azure/androidtest/fixtures/bodyarray/implementation/ArraysImpl.java
  android-tests/app/src/main/java/com/azure/androidtest/fixtures/bodybyte/implementation/ByteOperationsImpl.java
  android-tests/app/src/main/java/com/azure/androidtest/fixtures/bodydate/implementation/DateOperationsImpl.java
  android-tests/app/src/main/java/com/azure/androidtest/fixtures/bodydatetime/implementation/DatetimeOperationsImpl.java
  android-tests/app/src/main/java/com/azure/androidtest/fixtures/bodydatetimerfc1123/implementation/Datetimerfc1123sImpl.java
  android-tests/app/src/main/java/com/azure/androidtest/fixtures/bodyinteger/implementation/IntsImpl.java
  android-tests/app/src/main/java/com/azure/androidtest/fixtures/bodynumber/implementation/NumbersImpl.java
  android-tests/app/src/main/java/com/azure/androidtest/fixtures/bodystring/implementation/EnumsImpl.java
  android-tests/app/src/main/java/com/azure/androidtest/fixtures/bodystring/implementation/StringOperationsImpl.java
  android-tests/app/src/main/java/com/azure/androidtest/fixtures/custombaseurl/implementation/PathsImpl.java
  android-tests/app/src/main/java/com/azure/androidtest/fixtures/errorresponse/implementation/PetsImpl.java
  android-tests/app/src/main/java/com/azure/androidtest/fixtures/url/implementation/PathItemsImpl.java
  android-tests/app/src/main/java/com/azure/androidtest/fixtures/url/implementation/PathsImpl.java
  android-tests/app/src/main/java/com/azure/androidtest/fixtures/url/implementation/QueriesImpl.java
  android-tests/app/src/main/res/xml/network_security_config.xml
  androidgen/src/main/java/com/azure/autorest/android/mapper/AndroidClientMethodMapper.java
  androidgen/src/main/java/com/azure/autorest/android/model/AndroidMethodGroupClient.java
  androidgen/src/main/java/com/azure/autorest/android/template/AndroidClientMethodTemplate.java
  androidgen/src/main/java/com/azure/autorest/android/template/AndroidEmbeddedBuilderTemplate.java
  androidgen/src/main/java/com/azure/autorest/android/template/AndroidMethodGroupTemplate.java
  androidgen/src/main/java/com/azure/autorest/android/template/AndroidServiceAsyncClientTemplate.java
  androidgen/src/main/java/com/azure/autorest/android/template/AndroidServiceClientTemplate.java
  androidgen/src/main/java/com/azure/autorest/android/template/AndroidServiceSyncClientTemplate.java
  androidgen/src/main/java/com/azure/autorest/android/template/AsyncPageRetrieverTemplate.java
  androidgen/src/main/java/com/azure/autorest/android/template/PageResponseRetrieverTemplate.java
  androidgen/src/main/java/com/azure/autorest/android/template/PageRetrieverTemplate.java
Labels: Chat Preview3 Generator

#832 v4 fluentlite, test case for ResourceParser
  fluentgen/src/main/java/com/azure/autorest/fluent/FluentGen.java
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/ResourceParser.java
  fluentgen/src/test/java/com/azure/autorest/fluent/FluentGenAccessor.java
  fluentgen/src/test/java/com/azure/autorest/fluent/TestUtils.java
  fluentgen/src/test/java/com/azure/autorest/fluent/mapper/ResourceParserTests.java
  fluentgen/src/test/resources/code-model-fluentgen-search.yaml
  fluentgen/src/test/resources/logback-test.xml
Labels: FluentGen, v4

#831 v4, throw error when no shared common parent found for pagination operation
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
Labels: v4
